{include file='iot/header'}
<body style="background: url(./static/iot/images/index_bg.jpg) no-repeat fixed center; background-size: cover;">
<link rel="stylesheet" href="./static/iot/css/index.css">
<div class="whole">
    <div class="header">
        <div class="toplogo"><img src="./static/iot/images/top-logo.png" alt=""></div>
        <h2 class="title">邀请</h2>
    </div>
    <form action="">
        <div class="content">
            <div class="invite">
                <a href="{:Url('iot/resident')}">
                    <div class="invite-con invite-left">
                        <div><img src="./static/iot/images/icon_19.png" alt=""></div>
                        <p class="invite-text">常驻人员</p>
                    </div>
                </a>
                <a href="{:Url('iot/inviter')}">
                    <div class="invite-con invite-right">
                        <div><img src="./static/iot/images/icon_18.png" alt=""></div>
                        <p class="invite-text">来访人员</p>
                    </div>
                </a>
            </div>
        </div>
    </form>

</div>
{include file='iot/menu'}
</body>
</html>
