{include file="common/header"}
<!--<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>-->
<!--<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>-->
<body>
<div class="x-body">
    <table class="layui-table">
        <thead>
        <tr>
            <th>绑定驾驶证号</th>
            <th>绑定身份证号</th>
            <th>车牌号2</th>
            <th>拥有月卡</th>
            <th>未结订单</th>
            <th>违停次数</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {if empty($list['userVir'])}
            <td>空</td>
            <td>空</td>
            <td>空</td>
            {else}
            <td>{$list['userVir']['driverlicense']}</td>
            <td>{$list['userVir']['idcard']}</td>
            <td>{$list['userVir']['license']}</td>

            {/if}
            <td>{$list['userMonthCard']}</td>
            <td>{$list['userNotPayOrder']}</td>
            <td>{$list['userVioOrder']}</td>
        </tr>
        </tbody>
    </table>
</div>

<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<script type="text/javascript">
    layui.use(['layer','form','jquery','laypage','table'],function(){
        $ = layui.jquery;
        layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
    });
</script>
</body>
</html>