@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
img{ border:0;}
em{ font-style:normal;}
input{-webkit-appearance:none;outline:none}
html { height:100%;}
li{list-style:none;}
a { outline:none;}
area,area:hover{outline:none;}

.hechang_body1{ background:url(../img/hechang_bg01.png) no-repeat center bottom #08439a; width:100%; margin:0 auto;height:100%; }
.hechang_body2{ background:url(../img/hechang_bg02.png) no-repeat center bottom #08439a; width:100%; margin:0 auto;height:100%; }
.hechang_body3{ background:url(../img/hechang_bg03.png) no-repeat center bottom #08439a; width:100%; margin:0 auto;height:100%; }
.hechang_body4{ background:url(../img/hechang_bg04.png) no-repeat center top #08439a; width:100%; margin:0 auto;height:100%; }

.closediv{background:url(../img/fenxiang.png) no-repeat center top; width:100%; height:100%; }

.hechang_home_title{width:640px; max-width:640px; text-align:center; padding:20px 0;}
.hechang_home_title2{ height:233px; width:640px; max-width:640px; text-align:center; padding:0px 0;}
.hechang_home_title2 .hechang_home_pic_01{ width:189px; height:192px; margin:0 auto;}

.hechang_say_pic{ height:174px; width:640px; max-width:640px; padding:30px 0px 0px 0px; text-align:center;}
.hechang_say_pic .hechang_say_pic_01{ width:189px; height:174px;}


.baoli_font_centent{ width:80%; margin:0 auto; height:260px; max-height:260px; padding:20px 30px 40px 30px;color:#000000; font-size:1.6em; line-height:40px; background:rgba(255,255,255,0.4); border-radius:10px;}
.baoli_home_btn{width:640px; max-width:640px; text-align:center; padding:40px 0;}
.baoli_end_btn{ position:absolute; bottom:60px; z-index:999;}

.baoli_end_hongbao{ position:absolute; padding-left:0; padding-top:110px; left:200px; bottom:110px;width:214px; height:90px; background:url(../img/end_hongbao.png) no-repeat; -webkit-transform: rotate(20deg);-moz-transform: rotate(20deg); text-align:center;}
.baoli_end_hongbao span {color:#FFFFFF; font-size:2em; font-family:Arial, Helvetica, sans-serif; font-weight:800;}
.baoli_end_erweima{ position:absolute; bottom:140px; width:620px; max-width:640px; text-align:right; padding-right:20px;}

.hechang_home_title_move{-webkit-animation: bounceInDown 1.3s ease 1s 1 both; animation: bounceInDown 1.3s ease 1s 1 both}
.baoli_home_title2_move{-webkit-animation: bounceInDowna 1.3s ease 0s 1 both; animation: bounceInDowna 1.3s ease 0s 1 both}
.baoli_home_btn_move{-webkit-animation: bounceInDowna 1.3s ease 2s 1 both; animation: bounceInDowna 1.3s ease 2s 1 both}

.baoli_end_hongbao_move{-webkit-animation: bounceInDowna 1.3s ease 2s 1 both; animation: bounceInDowna 1.3s ease 2.2s 1 both}





.boli_dialogue_box{ position:relative; height:400px;}
.boli_dialogue_box .boli_dialogue_chuweiwang{ width:165px; height:161px; position:absolute; top:220px; left:80px;}

.boli_dialogue_box .boli_dialogue_chuweiwang_001{ width:140px; height:275px; position:absolute; top:20px; left:30px; background:url(../img/character_bottom_bg.png) no-repeat -10px 180px;}

.boli_dialogue_box .boli_dialogue_chuweiwang_002{ width:140px; height:275px; position:absolute; top:20px; right:10px; background:url(../img/character_bottom_bg.png) no-repeat 0px 220px; z-index:999;}

.boli_dialogue_box .boli_dialogue_miyue2{ width:189px; height:189px; position:absolute; top:160px;right:60px;}


.boli_dialogue_box .boli_dialogue_tianxiaren{ width:140px; height:275px; position:absolute; top:0; left:10px;}

.boli_dialogue_box .boli_dialogue_miyue10{ width:182px; height:275px; position:absolute; top:240px;right:10px; background:url(../img/character_bottom_bg.png) no-repeat 0px 220px;}

.boli_dialogue_box .boli_dialogue_01{ position:absolute; width:300px; top:110px; height:250px; left:40px;  background:url(../img/hechang_icon_01.png) no-repeat 80px 49px; padding-left:30px; z-index:10;}
.boli_dialogue_box .boli_dialogue_01 .boli_dialogue_shadow{ width:300px; min-height:40px; background-color:#c5e9fc; padding:6px; -webkit-border-radius: 15px; -moz-border-radius: 15px;  line-height:40px; font-size:1.6em;}



.move_duihuaa{-webkit-animation: bounceInDowna 0.4s ease 3s 1 both; animation: bounceInDowna 0.4s ease 2s 1 both}
.move_duihuab{-webkit-animation: bounceInDowna 0.4s ease 0s 1 both; animation: bounceInDowna 0.4s ease 0s 1 both}





.boli_footer{clear:both; display:block;margin:0px auto;  position:absolute;  bottom:0px; }
.boli_user_nav{ width:640px; max-width:640px; height:85px; background:url(../img/dialogue_nav_bg.png) no-repeat; text-align:center; padding-top:45px;}

.floor_hours{  clear:both; display:block; width:640px; max-width:640px; position:absolute;  bottom:-2px; text-align:center;}
.floor_hours a{ color:#666666; text-decoration:none;font-size:1.5em;line-height:80px;}

.hechang_list_nav{ height:306px; padding:80px 100px;}
.hechang_select_top{ height:306px; padding:40px 60px;}
.hechang_select_left{width:189px; float:left; text-align:center;}
.hechang_select_left .a_dis{ display:block;  height:240px;}
.hechang_select_left .a_dis_01{ display:block; width:194px; height:70px; padding-top:20px; background:url(../img/hechang_btn_03.png) no-repeat 0 20px; font-size:1.9em; font-weight:500; font-family:"黑体"; line-height:70px; color:#000000; text-decoration:none;}

.hechang_exit_left{width:200px; float:left; text-align:center; padding-top:50px;}
.a_dis_02{display:block;  height:267px; }
.hechang_select_right{ float:left; padding:40px 0 0 60px;}
.hechang_select_ul{ text-align:center;}
.hechang_select_ul ul li{ height:100px;}
.hechang_select_ul ul li a{ display:block; width:383px; height:70px; background:url(../img/hechang_btn_04.png) no-repeat; margin:0 auto; text-decoration:none; color:#FFFFFF; font-size:1.6em; font-weight:500; font-family:"黑体"; line-height:70px;}
.hechang_select_ul1{ text-align:center;}
.hechang_select_ul1 ul li{ height:100px;}

.hecahng_way{ width:540px; margin:0 auto; height:110px; color:#000000; font-size:1.9em; line-height:50px; background:rgba(255, 255, 255, 0.8) no-repeat;border-radius: 15px; padding:10px;}

.hechang_list_nav_left{width:200px; float:left; text-align:center; background:rgba(255, 255, 255, 0.6) no-repeat;border-radius: 15px;}
.hechang_list_nav_left a{ display:block;  height:240px;}

.hechang_list_nav_right{width:200px; float:right; text-align:center;background:rgba(255, 255, 255, 0.6) no-repeat;border-radius: 15px;}
.hechang_list_nav_right a{ display:block;  height:240px;}

.boli_dialogue_box .boli_dialogue_02{ position:absolute; width:500px; height:300px; top:-20px; left:60px; background:url(../img/hechang_icon_02.png) no-repeat 400px 109px; padding-right:40px;z-index:10;}
.boli_dialogue_box .boli_dialogue_02 .boli_dialogue_shadow2{ width:500px; background-color:#fca7eb; padding:6px; -webkit-border-radius: 15px; -moz-border-radius: 15px; line-height:40px; font-size:1.6em; min-height:100px;}

.box{
position: fixed;
width: 100%;
height: 100%;
display: none;
z-index:999;
}
.box1{
width: 100%;
height: 100%;
position: fixed;left:0; top:550px;

}
.tanchu_font_box{ height:230px; width:540px; margin:0 auto; border-radius: 25px; padding-top:20px;background:rgba(241, 90, 36, 0.8) no-repeat; text-align:center; padding-top:60px;}
.close{ position:absolute; top:0; left:0; width:100%; height:100%; z-index:0; }

.case_yes_box{ float:left; display:block; width:194px; height:70px; line-height:70px; color:#9e3e04; font-size:2em; background:url(../img/hechang_btn_03.png) no-repeat; text-decoration:none; font-weight:700; margin-left:48px;}

@-webkit-keyframes bounceInDown { 0% {
opacity:0;
-webkit-transform:translateY(-500px);
transform:translateY(-500px)
}
60% {
opacity:1;
-webkit-transform:translateY(-30px);
transform:translateY(-30px)
}
80% {
-webkit-transform:translateY(-10px);
transform:translateY(-10px)
}
100% {
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@keyframes bounceInDown { 0% {
opacity:0;
-webkit-transform:translateY(-500px);
-ms-transform:translateY(-500px);
transform:translateY(-500px)
}
60% {
opacity:1;
-webkit-transform:translateY(-30px);
-ms-transform:translateY(-30px);
transform:translateY(-30px)
}
80% {
-webkit-transform:translateY(-10px);
-ms-transform:translateY(-10px);
transform:translateY(-10px)
}
100% {
-webkit-transform:translateY(0);
-ms-transform:translateY(0);
transform:translateY(0)
}
}

@-webkit-keyframes bounceInDownb { 0% {
opacity:100;
-webkit-transform:translateX(-500px);
transform:translateX(-500px)
}

100% {
opacity:0;
-webkit-transform:translateX(0);
transform:translateX(0)
}
}
@keyframes bounceInDownb { 0% {
-webkit-transform:translateX(-500px);
-ms-transform:translateX(-500px);
transform:translateX(-500px)
}
100% {
-webkit-transform:translateX(0);
-ms-transform:translateX(0);
transform:translateX(0)
}
}


@-webkit-keyframes bounceInDowna { 0% {
opacity:0;
}
60% {
opacity:0.4;

}
80% {
opacity:0.6;
}
100% {
opacity:1;
}
}
@keyframes bounceInDowna { 0% {
opacity:0;
}
60% {
opacity:0.4;
}
80% {
opacity:0.6;
}
100% {
opacity:1;
}
}
