/*header*/
/*body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,li, dl, dt, dd, form, a, fieldset, input, th, td{margin: 0; padding: 0; border: 0; outline: none;}
ul, ol{list-style: none;}
a{color: #333333;text-decoration: none;}
a:hover {text-decoration: none; color: #333;}
html{font-family: "Microsoft YaHei",Arial; color: #333333;}
body{background: #f6f7f9; font-size: 14px;}*/

.top{
	width: 100%;
	/*height: 100%;*/
	zoom:1;
}
.warrp{
	width: 100%;
	min-height: 370px;
	/*margin-top: 73px;*/
}
.content{
	margin: 0 auto;
	width: 100%;
	background: white;
	padding: 0px 0px 10px 0px;
	margin-top: -3px;
}
@media screen and (max-width: 768px) and (min-width: 481px){
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,li, dl, dt, dd, form, a, fieldset, input, th, td{margin: 0; padding: 0; border: 0; outline: none;}
ul, ol{list-style: none;}
a{color: #333333;text-decoration: none;}
a:hover {text-decoration: none; color: #333;}
html{font-family: "Microsoft YaHei",Arial; color: #333333;}
body{background: #f6f7f9; font-size: 16px;}
html,body{height: 90%; min-height: 90%;}

header{
	width: 100%;
	height: 130px;
	background: url('../images/header_bg.jpg') no-repeat center top;
	background-size: 100%;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
	z-index: 1;
}

.warp{
	width: 100%;
	min-height: 70%;
	margin-top: 130px;
}
footer{
	width: 100%;
	height: 70px;
	background: #f9f9f9;
	background-size: 100%;
	box-shadow:inset 0px 15px 15px -15px #333,
               inset 0px -15px 15px -15px #333;
	position: fixed;
	bottom: 0;
}
.footer-nav ul{
	width: 100%;
	list-style: none;
}
.footer-nav ul li{
	float: left;
	width: 33%;
	text-align: center;
    padding-top: 2%;
}
.footer-nav ul li span{
	position: relative;
	bottom: 9px;
}
.footer-nav ul li img{
	width: 15%;
    padding-right: 6px;
}
.footer-nav ul li.navline{
	width: 1px;
	height: 30px;
	background: #cacaca;
	position: relative;
	top: 10px;
	left: 2px;
}
.bottom{
	margin-top: 5px;
	margin-bottom: 70px;
	width: 100%;
	height: 45px;
	background: url('../images/footerpic.png') no-repeat center top;
	background-size: 100%;
	font-size: 14px;
	text-align: center;
	padding-top: 20%;
	position: static;
	bottom: 0;
}
/*登录&注册底部*/
.foot{
	margin-top: 15px;
	/*margin-bottom: 70px;*/
	width: 100%;
	height: 45px;
	background: url('../images/footerpic.png') no-repeat center top;
	background-size: 100%;
	font-size: 14px;
	text-align: center;
	padding-top: 20%;
}
}

@media screen and (max-width: 480px) and (min-width: 377px){
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,li, dl, dt, dd, form, a, fieldset, input, th, td{margin: 0; padding: 0; border: 0; outline: none;}
ul, ol{list-style: none;}
a{color: #333333;text-decoration: none;}
a:hover {text-decoration: none; color: #333;}
html{font-family: "Microsoft YaHei",Arial; color: #333333;}
body{background: #f6f7f9; font-size: 14px;}
html,body{height: 94%; min-height: 94%;}

header{
	width: 100%;
	height: 73px;
	background: url('../images/header_bg.jpg') no-repeat center top;
	background-size: 100%;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
	z-index: 1;
}
/*body > .warp{height: 100%;}*/
.warp{
	width: 100%;
	min-height: 70%;
	margin-top: 73px;
}
footer{
	width: 100%;
	height: 70px;
	background: #f9f9f9;
	background-size: 100%;
	box-shadow:inset 0px 15px 15px -15px #333,
               inset 0px -15px 15px -15px #333;
	position: fixed;
	bottom: 0;
}
.footer-nav ul{
	width: 100%;
	list-style: none;
}
.footer-nav ul li{
	float: left;
	width: 33%;
	text-align: center;
    padding-top: 5%;
}
.footer-nav ul li span{
	position: relative;
	bottom: 9px;
}
.footer-nav ul li img{
	width: 24%;
    padding-right: 6px;
}
.footer-nav ul li.navline{
	width: 1px;
	height: 30px;
	background: #cacaca;
	position: relative;
	top: 10px;
	left: 2px;
}
.bottom{
	margin-top: 15px;
	margin-bottom: 70px;
	width: 100%;
	height: 45px;
	background: url('../images/footerpic.png') no-repeat center top;
	background-size: 100%;
	font-size: 12px;
	text-align: center;
	padding-top: 20%;
	position: static;
    bottom: 0;
}
/*登录&注册底部*/
.foot{
	margin-top: 5px;
	/*margin-bottom: 70px;*/
	width: 100%;
	height: 45px;
	background: url('../images/footerpic.png') no-repeat center top;
	background-size: 100%;
	font-size: 12px;
	text-align: center;
	padding-top: 20%;
}
}
@media screen and (max-width: 376px) and (min-width: 321px){
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,li, dl, dt, dd, form, a, fieldset, input, th, td{margin: 0; padding: 0; border: 0; outline: none;}
ul, ol{list-style: none;}
a{color: #333333;text-decoration: none;}
a:hover {text-decoration: none; color: #333;}
html{font-family: "Microsoft YaHei",Arial; color: #333333;}
body{background: #f6f7f9; font-size: 14px;}
html,body{height: 92%; min-height: 92%;}

header{
	width: 100%;
	height: 65px;
	background: url('../images/header_bg.jpg') no-repeat center top;
	background-size: 100%;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
	z-index: 1;
}

.warp{
	width: 100%;
	min-height: 70%;
	margin-top: 65px;
}
footer{
	width: 100%;
	height: 70px;
	background: #f9f9f9;
	background-size: 100%;
	box-shadow:inset 0px 15px 15px -15px #333,
               inset 0px -15px 15px -15px #333;
	position: fixed;
	bottom: 0;
}
.footer-nav ul{
	width: 100%;
	list-style: none;
}
.footer-nav ul li{
	float: left;
	width: 33%;
	text-align: center;
    padding-top: 5%;
}
.footer-nav ul li span{
	position: relative;
	bottom: 9px;
}
.footer-nav ul li img{
	width: 24%;
    padding-right: 6px;
}
.footer-nav ul li.navline{
	width: 1px;
	height: 30px;
	background: #cacaca;
	position: relative;
	top: 10px;
	left: 2px;
}
.bottom{
	margin-top: 15px;
	margin-bottom: 75px;
	width: 100%;
	height: 45px;
	background: url('../images/footerpic.png') no-repeat center top;
	background-size: 100%;
	font-size: 12px;
	text-align: center;
	padding-top: 20%;
	position: static;
    bottom: 0;
}
/*登录&注册底部*/
.foot{
	margin-top: 5px;
	/*margin-bottom: 70px;*/
	width: 100%;
	height: 45px;
	background: url('../images/footerpic.png') no-repeat center top;
	background-size: 100%;
	font-size: 12px;
	text-align: center;
	padding-top: 20%;
}
}

@media screen and (max-width: 320px){
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,li, dl, dt, dd, form, a, fieldset, input, th, td{margin: 0; padding: 0; border: 0; outline: none;}
ul, ol{list-style: none;}
a{color: #333333;text-decoration: none;}
a:hover {text-decoration: none; color: #333;}
html{font-family: "Microsoft YaHei",Arial; color: #333333;}
body{background: #f6f7f9; font-size: 12px;}
html,body{height: 88%; min-height: 88%;}

header{
	width: 100%;
	height: 58px;
	background: url('../images/header_bg.jpg') no-repeat center top;
	background-size: 100%;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
	z-index: 1;
}

.warp{
	width: 100%;
	min-height: 70%;
	margin-top: 58px;
}
footer{
	width: 100%;
	height: 60px;
	background: #f9f9f9;
	background-size: 100%;
	box-shadow:inset 0px 15px 15px -15px #333,
               inset 0px -15px 15px -15px #333;
	position: fixed;
	bottom: 0;
}
.footer-nav ul{
	width: 100%;
	list-style: none;
}
.footer-nav ul li{
	float: left;
	width: 33%;
	text-align: center;
    padding-top: 5%;
}
.footer-nav ul li span{
	position: relative;
	bottom: 9px;
}
.footer-nav ul li img{
	width: 24%;
    padding-right: 6px;
}
.footer-nav ul li.navline{
	width: 1px;
	height: 30px;
	background: #cacaca;
	position: relative;
	top: 10px;
	left: 2px;
}
.bottom{
	margin-top: 25px;
	margin-bottom: 70px;
	width: 100%;
	height: 45px;
	background: url('../images/footerpic.png') no-repeat center top;
	background-size: 100%;
	font-size: 12px;
	text-align: center;
	padding-top: 20%;
	position: static;
    bottom: 0;
}
/*登录&注册底部*/
.foot{
	margin-top: 5px;
	/*margin-bottom: 70px;*/
	width: 100%;
	height: 45px;
	background: url('../images/footerpic.png') no-repeat center top;
	background-size: 100%;
	font-size: 12px;
	text-align: center;
	padding-top: 20%;
}
}

.logo{
	float: left;
}
.logo img{
	width: 53%;
    position: absolute;
    top: 22%;
    left: 1%;
}
.plane{
	float: left;
}
.plane img{
	width: 57%;
    position: absolute;
    top: 5%;
    right: 5%;
}


.fl{
	float: left;
}
.fr{
	float: right;
}
.dis{
	display: inline-block;
}
.clear{
	clear: both;
}

.title{
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	color: #1b7ab6;
	text-align: center;
	/*font-weight: bold;*/
}
.title img{
	width: 7%;
	float: left;
	margin: 3% 0 0 2%;
}
input[type="checkbox"] {
text-indent:0;
margin: 0;
width: 17px;
height: 17px;
text-align:center;
display: inline-block;
vertical-align: middle;
line-height: 15px;
position: relative;
}
input[type="checkbox"]::before {
content: "";
position: absolute;
top: 0;
left: 0;
background: #fff;
width: 100%;
height: 100%; 
border: 1px solid #de991e;
}
input[type="checkbox"]:checked::before {
content: "\2713";
background-color: #de991e;
color: #fff;
position: absolute;
top: 0;
left: 0;
width: 100%;
font-size: 12px;
font-weight: bold;
outline: none;
border-color:#de991e; 
border: 1px solid #de991e;
}

select{
	margin: 5px 0;
	width: 35%;
	height: 40px;
	border: 1px solid #b2b2b2;
	border-radius: 5px;
}