/*内容*/
.container{
	width: 100%;
	height: 100%;
	/*min-height: 420px;
	padding: 1% 0 3%;*/
	background: white;
	display: inline-block;
	padding-bottom: 10px;
}


.store-list{
	margin: 0 auto;
	width: 95%;
	height: 100%;
	position: relative;
}
.store-list ul{
	display: block;
}
.store-list ul li {
    list-style-type: none;
    /*color: blue;*/
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #d0d0d0;
}
.store-list ul li a {
    position: relative;
    display: block;
}
.store-checkbox{
	margin: 0 auto;
	width: 100%;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #d0d0d0;
	/*padding: 5% 0;*/
}
.ck {
    float: left;
    width: 26px;
}
.time {
    color: red;
    width: 60px;
    height: 20px;
    float: right;
}
.dohovertree {
    font-size: 1em;
    margin-left: 5px;
}
.del {
	position: relative;
	right: 10px;
	top: 10px;
    padding: 7px 0;
    background-color: #ed5565;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    border: 0;
    color: #fff;
}
.add {
	position: relative;
	right: 20px;
	top: 10px;
    padding: 7px 0;
    background-color: #1b7ab6;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    border: 0;
    color: #fff;
}

.shop-sel{
	margin: 0 auto;
	width: 95%;
	border-bottom: 1px solid #d0d0d0;
	padding: 10px 0;
}
/*.shop-sel select{
	width: 30%;
}*/
.shop-input{
	margin: 0 auto;
	width: 95%;
	border-bottom: 1px solid #d0d0d0;
	padding: 10px 0;
}
.shop-input input{
	width: 65%;
	height: 40px;
    line-height: 40px;
}
.zbox-btn span{
	position: relative;
	bottom: 4px;
}
