<!DOCTYPE html>
<html>

<head>
    {include file="common/meta"}
</head>

<body class="gray-bg">
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-content"  id="list2">
        <video src="../../attachment/{$data.attachment}" controls=""></video>
        </div>
    </div>
</div>

<!-- 全局js -->
<script src="./static/hadmin/js/jquery.min.js?v=2.1.4"></script>
<script src="./static/hadmin/js/bootstrap.min.js?v=3.3.6"></script>
<!-- 自定义js -->
<script src="./static/hadmin/js/content.js?v=1.0.0"></script>
<!-- Bootstrap table -->
<script src="./static/hadmin/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="./static/hadmin/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="./static/hadmin/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="./static/hadmin/layui/layui.all.js"></script>
<script>
	var static = $(".static").val();
	var role = $(".role").val();
	$("#role").val(role);
	if(static == 0){
		$("#false").attr("checked","checked");
	}else{
		$("#true").attr("checked","checked");
	}
</script>
<script type="text/javascript">
    //KindEditor脚本
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('#image', {
        });
    });
</script>
<script>
	if(document.getElementByIdx_x('player')!=null)  
{  
 jwplayer('player').onReady(function() {});  
 jwplayer('player').onPlay(function() {});  
 //jwplayer('player').play(); //自动播放？  
 }  
</script>
</body>
</html>
