<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>规则管理</title>
    <link rel="stylesheet" href="./static/hadmin/assets/layui/css/layui.css">
    <link rel="stylesheet" href="./static/hadmin/assets/common.css"/>
</head>
<body>
<!-- <div class="layui-btn-group" style="margin-top: 12px;">
    <button style="background-color:#23b7e5;" class="layui-btn" id="btn-add" onclick="addMenu();">添加数据</button>
</div> -->

<table id="auth-table" class="layui-table" lay-filter="auth-table"></table>

<!-- 操作列 -->
<script type="text/html" id="auth-state">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit" onclick="edit('{{d.id}}');">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" onclick="del('{{d.id}}')">删除</a>
</script>

<script src="./static/hadmin/assets/layui/layui.js"></script>
<script src="./static/hadmin/assets/jquery-3.2.1.min.js"></script>
<script>
    layui.config({
        base: './static/hadmin/assets/module/'
    }).extend({
        treetable: 'treetable-lay/treetable'
    }).use(['table', 'treetable'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var treetable = layui.treetable;

        // 渲染表格
        layer.load(2);
        table.render({
            elem: '#auth-table',
            url: '{:Url("admin/PostalTaxNumber/getsubcatelist")}',
            page: false,
            cellMinWidth: 200,
            where: {
                cate_id: {$cate_id}
            },
            cols: [[
                {type: 'numbers', width:100, title: '序号'},
                {field: 'name', title: '名称'},
                {field: 'max_num', width:100, title: '数量限制'},
                {field: 'max_weight', width:100, title: '重量限制'},
                {field: 'keywords', title: '匹配关键词'},
                {field: 'numbers', title: '涵盖税号'},
                {field:'create_time', width:180, title:'创建时间'},
                {templet: '#auth-state', width:200, align: 'center', title: '操作'}
            ]],
            done: function () {
                layer.closeAll('loading');
            }
        });
    });
    function addMenu() {
        layer.open({
            type: 2,
            shadeClose:true,
            title:'添加种类',
            area:['803px','530px'],
            content: '{:Url("admin/PostalTaxNumber/cate_add")}'
        });
        return false;
    }

    function addSubMenu(pid) {
        layer.open({
            type: 2,
            shadeClose:true,
            cancel:function(){
                //location.reload();
            },
            title:'添加规则',
            area:['803px','530px'],
            content: '{:Url("admin/PostalTaxNumber/subcate_add")}&cate_id='+pid
        });
        return false;
    }
    

    function edit(id=0) {
        layer.open({
            type: 2,
            shadeClose:true,
            cancel:function(){
                //location.reload();
            },
            title:'编辑规则',
            area:['100%','100%'],
            content: '{:Url("admin/PostalTaxNumber/subcate_edit")}&id='+id
        });
        return false;
    }

    function del(id) {
        $.ajax({
            url:"{:Url('admin/PostalTaxNumber/subcate_del')}",
            type:"GET",
            dataType:"json",
            data:{id:id},
            success:function (res) {
                layer.msg(res.msg);
                if (res.code==0){
                    setTimeout(function () {
                        location.reload();
                    },2000);
                }
            },
            error:function (xhr) {
                layer.msg('连接服务器错误！');
            }
        });
        return false;
    }
</script>
</body>
</html>