
<div id="bottom_one">

<!--菜单开始-->
<a href="{php echo $this->createMobileUrl('fengmian');}">
<div id="bottom_one_a"><img src="{MODULE_URL}public/images/bottom2.png"/>附近</div>
</a>
<!--菜单结束-->

<!--菜单开始-->
<a href="{php echo $this->createMobileUrl('chat');}">
<div id="bottom_one_a"><img src="{MODULE_URL}public/images/bottom4.png"/>聊天</div>
</a>
<!--菜单结束-->


<a href="{php echo $this->createMobileUrl('active');}">
<div id="bottom_one_a"><img src="{MODULE_URL}public/images/bottom6.png"/>活动</div>
</a>



<a href="{php echo $this->createMobileUrl('talk');}">
<div id="bottom_one_a"><img src="{MODULE_URL}public/images/bottom8.png"/>同城圈</div>
</a>


<!--菜单开始-->
<a href="{php echo $this->createMobileUrl('my');}">
<div id="bottom_one_a"><img src="{MODULE_URL}public/images/bottom10.png"/>我</div>
</a>
<!--菜单结束-->

</div>
  
 </body>

 <script type="text/javascript">

 function likethis(){

document.getElementById("view_one_c_2").innerHTML="已喜欢";

	 //alert(123);
 
 }
 </script>


</html>
