{loop $user $key $user}
<!--用户开始-->
<div id="loveuser_list">
{if $user['ureal']=='2'}
<div class="loveuser_list_renzheng"><img src="{MODULE_URL}public/images/renzheng.jpg"/></div>
{else}{/if}
<!---->
<a href="{php echo $this->createMobileUrl('view',array('uid'=>$user['uid']));}">
<div id="loveuser_list_a">
<div class="loveuser_list_a_1">
{if ($user['upid']=='4')&&($user['vip_endtime']>=$_W['timestamp'])}
<img src="{MODULE_URL}public/images/vip.png"/>
{else}{/if}
</div>
<div class="loveuser_list_a_2"><img src="{$user['avatar']}"/></div>
</div>
<!---->

<!---->
<div id="loveuser_list_b">

<div class="loveuser_list_b_1">
<div class="loveuser_list_b_1_1">
{if $user['sex']=='1'}
<img src="{MODULE_URL}public/images/boy2.png"/>
{elseif $user['sex']=='2'}
<img src="{MODULE_URL}public/images/girl2.png"/>
{else}{/if}
</div>
<div class="loveuser_list_b_1_2">{$user['nickname']}</div>
</div>

<div class="loveuser_list_b_2">
<div class="loveuser_list_b_2_1"><?php echo getpurpose($user['purpose']);?></div>
<div class="loveuser_list_b_2_2">{php echo getage($user['age'],$user['bornyear']);}岁/{$user['height']}CM/{$user['weight']}KG</div>
</div>
<div class="loveuser_list_b_3">{$user['content']}</div>
</div>
</a>
<!---->

<!---->
<div id="loveuser_list_c">

<a href="{php echo $this->createMobileUrl('news',array('news_openid'=>$user['openid']));}">
<div class="loveuser_list_c_1">
<div class="loveuser_list_c_1_style">
<div class="loveuser_list_c_1_style_img"><img src="{MODULE_URL}public/images/h1.png"/></div>
<div class="loveuser_list_c_1_style_p">聊一聊</div>
</div>
</div>
</a>

<a href="{php echo $this->createMobileUrl('gift',array('gift_openid'=>$user['openid']));}">
<div class="loveuser_list_c_2">
<div class="loveuser_list_c_1_style">
<div class="loveuser_list_c_1_style_img"><img src="{MODULE_URL}public/images/h2.png"/></div>
<div class="loveuser_list_c_1_style_p">送礼物</div>
</div>
</div>
</a>

<div class="loveuser_list_c_3"><?php echo gettimegap($user['logintime']);?></div>

</div>
<!---->

</div>
<!--用户结束-->
{/loop}