*, *:before, *:after {
		box-sizing: content-box;
		outline: none;
	}
	.clear{clear: both;}
	/*.wx_box{height: auto;}
	.footer{position: relative;}*/
	.weui-cell__ft{color: green;}
	.layui-form-item .layui-input-inline{margin: 0 0 5px 12px;}

	.weui-form-preview__bd{border-bottom: 1px solid silver;margin: 3px auto;}
	.dates span{float: left;margin-left: 5px;}
	.weui-form-preview__ft{height: 30px;}
	.weui-navbar{position: fixed;top: 0.1px;}
	.weui-tabbar{position: fixed;bottom: 0.1px;}
	.weui-input{width: 62%;border: 1px solid saddlebrown;}
	.yuan{margin-left: 1px;}
	.nodata{
		font-size: 18px;font-weight: bold;color:silver;
		width: 100%;text-align: center;
		margin: 0.4rem auto;
	}
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-tap-highlight-color: transparent;
		outline: none;
	}

	*:not(input) {
		-webkit-user-select: none;
	}
	input{
		-webkit-user-select: auto;
	}

	.titlebg{background: #43a4e2; float: left; width: 100%;}
	.patt{width: 100%; text-align: center; line-height: 0.3rem; font-size: 0.18rem; margin-top: 5px; color: white;}
	.ui-icon-return{color: white;}
	.layui-btn{background-color: #1b7ab6;}
	.layui-btn-danger {background-color: #de991e;}
	.layui-form-label{text-align: center;float: left; display: block; padding: 9px 15px; width: 100%; font-weight: 400; line-height: 20px; font-size: 14px; margin: 0 0 0 0.1rem;}
	.layui-inline{/*border: 1px solid #e6e6e6; border-radius: 5px;*/ width: 100%; padding-bottom: 20px;}
	.layui-btn-sm {height: 0.4rem;line-height: 0.4rem;padding: 0 0.3rem;font-size: 12px; border-radius: 5px;}

	.wx_box{ width:100%; max-width:768px; margin:0 auto; position:relative;}
	.banner{width: 100%; position: relative;}
	.notice_b{width: 100%;height:52px; overflow:hidden;position: absolute;bottom: 0; z-index: 99; opacity: 0.8;}
	.notice{ padding:0.09rem 0.42rem 0.08rem 0.44rem; background:#000 url(../addons/ewei_shopv2/static/css/images/img/tips_icon.png) no-repeat 0.15rem 0.12rem; background-size:0.16rem auto; color:#fff; font-size:0.13rem; line-height:0.2rem; overflow:hidden; position:relative; height:0.4rem; }
	.notice>div{ height:0.4rem; overflow:hidden;}
	.notice ul{ float:left; overflow:hidden;}
	.notice ul li{ padding-right:0.16rem; text-align:justify;}
	.notice ul li a{ color:#fff; opacity: 1;}
	.notice em{ display:block; width:0.42rem; position:absolute; right:0; top:0.09rem; height:0.4rem; text-align:center; line-height:0.4rem; background:url(../addons/ewei_shopv2/static/images/img/close.png) no-repeat center;
		background-size:0.16rem auto; border-left:1px solid rgba(255,255,255,0.23);}
	.focus{overflow:hidden;position:relative; height:1.6rem; background:#ccc;}
	.focus img{ width:100%;height:1.6rem; vertical-align:middle;}
	.focus ul{-webkit-padding-start:0px;}
	.focus>ol{height:0.06rem;position:absolute;z-index:10;text-align:center; width:100%; bottom:0.1rem; font-size:0;}
	.focus>ol>li{display:inline-block;width:0.06rem;height:0.06rem;background-color:#D5D0CC;border-radius:0.08rem; margin-right:0.06rem; border:1px solid #D5D0CC;}
	.focus>ol>li.on{background-color:#ffffff; border:1px solid #3D8CE8;}
	.focus>ol>li:last-child{ margin-right:0;}
	.wx_logo{background: #fff; height: 0.5rem; width: 100%; text-align: center; line-height: 0.5rem; font-size: 0.18rem; color: #1b7ab6;}
	.wx_logo span{position: absolute; left: 0.1rem; top: 0.05rem;}
	.wx_logo img{width: 0.4rem; }
	.nav{ height:0.65rem; line-height:0.5rem;overflow:hidden; background:#fff; font-size:0.14rem; padding: 2% 0 0;}
	.nav li{ float:left; box-sizing:border-box; width:33%; background-size:0.15rem 0.15rem !important; text-indent:0rem; }
	.nav li:nth-child(1){/* width:0.4rem; height: 0.4rem;*/ border-left:none; border-right:none; /*border-radius: 50%;*/ background: url(../addons/ewei_shopv2/static/css/images/img/lisicon_05.png) no-repeat 0.53rem 0.09rem;}
	.nav li:nth-child(2){/* width:0.4rem; height: 0.4rem;*/ border-left:none; border-right:none; /*border-radius: 50%; */background: url(../addons/ewei_shopv2/static/css/images/img/lisicon_06.png) no-repeat 0.53rem 0.09rem;}
	.nav li:nth-child(3){ /*width:0.4rem; height: 0.4rem;*/ border-left:none; border-right:none; /*border-radius: 50%;*/ background: url(../addons/ewei_shopv2/static/css/images/img/lisicon_07.png) no-repeat 0.53rem 0.09rem;}
	.nav_icon01{ background:none;}
	.nav_icon02{ background:none;}
	.nav_icon03{ background:none;}
	.nav_icon01 div{width:0.3rem; height: 0.3rem;border-radius: 50%; border: 1px solid #4aa8e4; margin: 0 0.45rem;}
	.nav_icon02 div{width:0.3rem; height: 0.3rem;border-radius: 50%; border: 1px solid #e44a4a; margin: 0 0.45rem;}
	.nav_icon03 div{width:0.3rem; height: 0.3rem;border-radius: 50%; border: 1px solid #e4c94a; margin: 0 0.45rem;}
	.nav_p{text-align: center; line-height: 30px;}
	.footer{ line-height:0.61rem; height:0.61rem;font-family: PingFang-SC-Bold;font-size:0.12rem;color: #333333;background:none;
		background-size:0.48rem auto;width:100%; position:absolute; bottom:0px; text-indent:1.22rem;}
	.footer_placeholder{ height:0.61rem; width:100%;}
	/*底部滚动*/
	.mes{ width: 100%;height:35px; /*background:#000;*/ overflow:hidden;position: absolute;bottom: 0;opacity:.8;filter:alpha(opacity=60);}
	.t_news{ height:19px; color:#fff; padding-left:10px; margin:8px 0; overflow:hidden; position:relative;}
	.t_news b{ line-height:19px; font-weight:bold; display:inline-block;}
	.t_news b img{width: 20%;}
	.news_li,.swap{ line-height:19px; display:inline-block; position:absolute; top:0; left:0;}
	.news_li a,.swap a{color:#333;}
	.swap{top:19px;}

	.bot{width: 100%; text-align: center; position: absolute;bottom: 40px;}
	.bot img{width: 20%; display: initial;}
	.layui-form-selectup dl {
		bottom: auto;
	}