body,html{overflow-x:hidden;width:100%;height: 100%;max-width: 750px;margin:0 auto;}
input{outline:0}
body{position:relative;overflow-x:hidden;background:#fff;color:#333;font-size:.24rem;font-family:"Microsoft Yahei"; }
a{color:#333;cursor:pointer}
a:hover{text-decoration:none}
img{vertical-align:middle;height: auto;}
.img-responsive{display:block;width:100%;max-width:100%}
*{-webkit-box-sizing:border-box;box-sizing:border-box}
.box_content{-webkit-box-sizing:content-box;box-sizing:content-box}
body{background:#fff;}
.header{text-align: center;font-size: .3rem;height: .8rem;line-height: .8rem;background: #333;color: #fff;}
.main{padding: 0;}
.upBar{background: #00A5FF;text-align: center;color: #fff;font-size: .26rem;padding: .2rem 0;margin-bottom: .3rem;}
.upBar .iconfont{display: inline-block;margin: 0 .5rem;font-size: .25rem;}
.up_bg{height: 3.5rem;border:1px dashed #ccc;border-radius:.1rem;position: relative;}
.up_bg input[type=file]{position: absolute;left:0;top:0;right: 0;bottom: 0;opacity: 0;}
.upItem{margin-bottom: .3rem;cursor:pointer;text-align: center}
.upItem h3{font-size: .3rem;}
.upItem p{color: #888;font-size: .26rem;padding-top: .1rem;}
.upBox{padding: .2rem .7rem;}
.submit_btn{display: block;background: #00A5FF;color: #fff;padding: .2rem 0;width: 100%;cursor:pointer;margin-top: .5rem;border-radius: .1rem;font-size: .26rem;letter-spacing: .1rem;}
.tips{background: rgba(0, 0, 0, .6);color: #fff;width: 2.5rem;padding: .2rem 0;border-radius: .05rem;z-index: 20;text-align:  center;}
.upImg img{width: 100%;height: auto;}
.upImg1 img{width: 100%;height: auto;}


/* 月卡 */
.card_main{padding: .3rem;}
.cardBox{background: #fff;}
.cardBox h2{padding: .2rem;font-size: .28rem;}
.card{width: 5.88rem;margin: 0 auto;height: 1.9rem;color: #fff;background: url('../images/card.jpg') no-repeat;background-size: cover;padding: 0 1rem;font-size: .25rem;}
.card p{padding-top: .2rem;}
.card_fee{padding: .22rem 0;}
.cred{color: #f00;}
.card_list{margin-top: .2rem;}
.card_list li{padding: .2rem;border-top: 1px solid #eee;}
.card_bot{position: fixed;left:0;right: 0;bottom: 0;max-width: 750px;margin: 0 auto;background: #fff;box-shadow: 0 0 3px rgba(0, 0, 0, .3);font-size: .27rem; height: .9rem;line-height: .9rem;z-index: 20;padding: 0 .25rem;}
.card_bot span{display: inline-block;margin-left: .2rem;}
.pay_btn{position: absolute;right: 0;top:0;bottom: 0;padding: 0 .2rem;background: #f00;color: #fff;}

/*全日卡*/
.card_all{margin:.3rem 0;background: #fff;border-radius: .1rem;}
.card_p{background:url(../images/qr.png) no-repeat;height: 1.72rem;background-size: 100% 100%;position: relative;}
.card_date{padding: .24rem;}
.card_date span{display: inline-block;margin-right: .3rem;}
.card_p_a{padding:0 .24rem;height: 1rem;display: flex;align-items: center;}
.card_p_a .cp{height: .66rem;line-height: .66rem;width: .66rem;background: #444;border-radius: 50%;color: #59b4fb;font-size:.4rem;margin-right: .4rem;text-align: center;font-weight: bold;}
.card_p_a .desc{color: #fff;font-size:.25rem;}
.card_p_a .desc span{margin-right:.3rem;}
.all_more{position: absolute;right: .15rem;bottom: .3rem;color: #fff;padding: .05rem .5rem;border-radius: .08rem;color: #fff;border:1px solid #fff;z-index: 2;font-size: .25rem;}

@media screen and (min-width: 750px){
	html{font-size: 100px !important;}
}


/* 我的卡 */
.myBox{padding:0 .2rem;}
.my_card_item{padding:.1rem}
.my_card_item,.card_date_a{display: flex;}
.card_ta{width: 4.4rem;margin-right:.2rem;}
.card_ta .card_p{height:1.2rem; }
.card_date_a{justify-content: space-between;padding: .2rem;}
.all_more_a{border:none;bottom:.15rem;right: .2rem;padding-right: 0;}
.card_tb{padding-top: .18rem;}
.card_tb .status{background: #2c8bff;color: #fff;border-radius: .03rem;padding:.03rem .1rem;display: inline-block;margin-top:.1rem;}
.q_date{color: #999;margin-top: .4rem;font-size: .23rem;}
.my_tips{margin: .5rem 0;color: #999;}
.card_none{border:1px solid #2c8bff;width: 60%;margin: 0 auto;height: 3.5rem;position: relative;text-align: center;background: #fff;}
.card_none .iconfont{font-size: .4rem;}
.card_none p{padding-top: .3rem;color: #666;}
@media screen and (min-width: 750px){
	html{font-size: 100px !important;}
}

