<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/layui/css/layui.css"/>
	<script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>
	<style>
		.header span{background: #009688;margin-left: 30px;padding: 10px;color: #fff;}
		.header div{border-bottom:solid 2px #009688;margin-top: 8px;}
		.header button{float: right;margin-top: -5px;}
		#formli {width: 100%;float: left;}
		#formli li{float: left;}
		
		#formli2 {width: 100%;float: left;}
		#formli2 li{float: left;margin-right: 10px;}
	</style>
</head>
<body style="padding: 10px;">
	
	<div class="header">
		<span>电商平台信息</span>
		<!--<button class="layui-btn layui-btn-xs" style="float: right;" onclick="add();">添加</button>-->
		<div></div>
	</div>
	
	<div style="margin: 15px 0px;"></div>
	
	<form class="layui-form layui-form-pane" id="form1">
		
		<!--<input type="hidden" name="id" value="1">-->
		
	  	<ul id="formli">
	  		<li>
			  	
	  			<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">电商企业名称:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[CnAddr]" value="<?php if(isset($info['CnAddr'])){echo $info['CnAddr'];}?>" placeholder="请输入企业备案编号"/>
			  		</div>
			  	</div>
			  	
			  	<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">统一信用代码:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[licenseId]" value="<?php if(isset($info['licenseId'])){echo $info['licenseId'];}?>" placeholder="请输入检验检疫传输类型"/>
			  		</div>
			  	</div>
	  			
	  			<!--div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">跨境角色:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[role]" readonly="true" value="<?php if(isset($info['role'])){echo $info['role'];}?>" placeholder="请输入接口调用密钥"/>
			  		</div>
			  	</div>
			  	
			  	<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">许可业务:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[Qualify]" readonly="true" value="<?php if(isset($info['Qualify'])){echo $info['Qualify'];}?>" placeholder="请输入企业EDI账号"/>
			  		</div>
			  	</div-->
			  	
			  	<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">单一窗口编号:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[gzeportCode]" value="<?php if(isset($info['gzeportCode'])){echo $info['gzeportCode'];}?>" placeholder="请输入企业EDI账号"/>
			  		</div>
			  	</div>
			  	
			  	<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">中国海关DXP编号:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[dxpId]" value="<?php if(isset($info['dxpId'])){echo $info['dxpId'];}?>" placeholder="请输入企业证书编号"/>
			  		</div>
			  	</div>
			  	
			  	<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">电信增值许可证:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[license]" value="<?php if(isset($info['license'])){echo $info['license'];}?>" placeholder="请输入增值业务许可证"/>
			  		</div>
			  	</div>
			  	
			  	<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">电商平台简称:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[platform]" value="<?php if(isset($info['platform'])){echo $info['platform'];}?>" placeholder="请输入电商平台简称"/>
			  		</div>
			  	</div>
			  	
	  		</li>
	  		
	  		
	  		<li>
	  			<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">EDI账号:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[ediCode]" value="<?php if(isset($info['ediCode'])){echo $info['ediCode'];}?>" placeholder="请输入企业EDI账号"/>
			  		</div>
			  	</div>
			  	
			  	<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">Http Key:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[HttpKey]" value="<?php if(isset($info['HttpKey'])){echo $info['HttpKey'];}?>" placeholder="请输入广州海关传输类型"/>
			  		</div>
			  	</div>
			  	
	  			<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">调用密钥:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[httpapiKey]" value="<?php if(isset($info['httpapiKey'])){echo $info['httpapiKey'];}?>" placeholder="请输入广州海关传输类型"/>
			  		</div>
			  	</div>
			  	
			  	<!--div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">证书编号:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[certificate]" readonly="true" value="<?php if(isset($info['certificate'])){echo $info['certificate'];}?>" placeholder="请输入企业证书编号"/>
			  		</div>
			  	</div-->
			  	
			  	
			  	<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">检验检疫DXP编号:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[ciqDxpCode]" value="<?php if(isset($info['ciqDxpCode'])){echo $info['ciqDxpCode'];}?>" placeholder="请输入企业证书编号"/>
			  		</div>
			  	</div>
			  	
			  	<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">机构代码:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[OrgNo]" value="<?php if(isset($info['OrgNo'])){echo $info['OrgNo'];}?>" placeholder="请输入检验检疫传输编号"/>
			  		</div>
			  	</div>
			  	
			  	<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">电商平台网址:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[website]" value="<?php if(isset($info['website'])){echo $info['website'];}?>" placeholder="请输入电商平台网址"/>
			  		</div>
			  	</div>
			  	
	  		</li>
	  		
	  		<li>
		  		<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">中国检验检疫编号:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[ciqCode]" value="<?php if(isset($info['ciqCode'])){echo $info['ciqCode'];}?>" placeholder="请输入黄埔海关传输类型"/>
			  		</div>
			  	</div>
			  	
	  			<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">中国海关注册编码:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[gzCusCode]" value="<?php if(isset($info['gzCusCode'])){echo $info['gzCusCode'];}?>" placeholder="请输入黄埔海关传输编号"/>
			  		</div>
			  	</div>
			  	
			  	<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">海关关区代码:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[gzCustomsCode]" value="<?php if(isset($info['gzCustomsCode'])){echo $info['gzCustomsCode'];}?>" placeholder="请输入黄埔海关传输编号"/>
			  		</div>
			  	</div>
			  	
			  	<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">检疫关区代码:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[ciqOrgCode]" value="<?php if(isset($info['ciqOrgCode'])){echo $info['ciqOrgCode'];}?>" placeholder="请输入黄埔海关传输编号"/>
			  		</div>
			  	</div>
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 150px;">电商企业邮箱:</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" name="domain[email]" value="<?php if(isset($info['email'])){echo $info['email'];}?>" placeholder="请填写接受信息的邮箱"/>
					</div>
				</div>
	  		</li>
	  		
			<!--li>
				<div class="layui-form-item">
					<label class="layui-form-label">物流企业名称:</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" name="domain[EHSEntName]" value="<?php if(isset($info['EHSEntName'])){echo $info['EHSEntName'];}?>" placeholder="请输入物流企业名称"/>
					</div>
				</div>
			</li>
			<li>
				<div class="layui-form-item">
					<label class="layui-form-label">物流企业代码:</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" name="domain[EHSEntNo]" value="<?php if(isset($info['EHSEntNo'])){echo $info['EHSEntNo'];}?>" placeholder="请输入物流企业代码"/>
					</div>
				</div>
			</li-->
	  	</ul>
	</form>
	
	<div class="layui-form-item">
		<div class="layui-input-block">
			
			<button class="layui-btn layui-btn-lx" onclick="save()">保 存</button>
			
			<button type="reset" class="layui-btn layui-btn-danger layui-btn-lx">重 置</button>
		</div>
	</div>
	
	
	<script type="text/javascript">
		layui.use(['layer','form','jquery'],function(){
			form = layui.form;
			layer = layui.layer;
			$ = layui.jquery;
		});

		// 保存管理员
		function save() {
			var id = parseInt($('input[name="id"]').val());
			var username = $.trim($('input[name="user_mobile"]').val());
			var gid = $('select[name="gid"]').val();
			var truename = $.trim($('input[name="user_name"]').val());

//			if(username == ''){
//				layer.alert('请输入用户名',{icon:2});
//				return false;
//			}
//			
//			if(gid == 0){
//				layer.alert('请选择角色',{icon:2});
//				return false;
//			}
//			if(truename == ''){
//				layer.alert('请输入真实姓名',{icon:2});
//				return false;
//			}

			$.post("{:Url('Record/save')}",$('#form1').serialize(),function(res){
				console.dir(res);
				
				if(res.code > 0){
					layer.alert(res.msg,{icon:2});
				} else {
					layer.msg(res.msg,{icon:1});
//					setTimeout(function(){
//						parent.window.location.reload();
//					},1000);
				}
			});
		}

	</script>
	
</body>
</html>