<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海关申报系统菜单管理</title>
    <link rel="stylesheet" href="./static/hadmin/assets/layui/css/layui.css">
    <link rel="stylesheet" href="./static/hadmin/assets/common.css"/>
    <style>
        .layui-form-label{
            width:114px;
        }
        .layui-input-block {
            margin-left: 145px;
        }
        .reason{display: none;}
    </style>
</head>
<body>

<form class="layui-form" action="">

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <input type="hidden" name="id" value="{$data['id']}">
    </div>
    {if $data['type']==2}
        {if in_array('1',$need_upload_document['need_upload_document'])}
        <div class="layui-form-item">
            <label class="layui-form-label">公司营业执照</label>
            <div class="layui-input-block">
                {foreach $data['post_data']['business_file'] as $key => $val}
                <a href="http://declare.gogo198.cn/{$val}" target="_blank" style="color:#FF5555;">[公司营业执照{$key+1}下载]</a>
                {/foreach}
            </div>
        </div>
        {/if}
        {if in_array('2',$need_upload_document['need_upload_document'])}
            <div class="layui-form-item">
                <label class="layui-form-label">公司章程</label>
                <div class="layui-input-block">
                    {foreach $data['post_data']['business_association'] as $key => $val}
                    <a href="http://declare.gogo198.cn/{$val}" target="_blank" style="color:#FF5555;">[公司章程{$key+1}下载]</a>
                    {/foreach}
                </div>
            </div>
        {/if}
        {if in_array('3',$need_upload_document['need_upload_document'])}
            <div class="layui-form-item">
                <label class="layui-form-label">法人或董事会成员身份证</label>
                <div class="layui-input-block">
                    {foreach $data['post_data']['corporate_idcard'] as $key => $val}
                    <a href="http://declare.gogo198.cn/{$val}" target="_blank" style="color:#FF5555;">[法人身份证{$key+1}下载]</a>
                    {/foreach}
                </div>
            </div>
        {/if}
        {if in_array('4',$need_upload_document['need_upload_document'])}
            <div class="layui-form-item">
                <label class="layui-form-label">25%持股股东身份证</label>
                <div class="layui-input-block">
                    {foreach $data['post_data']['shareholder_idcard'] as $key => $val}
                    <a href="http://declare.gogo198.cn/{$val}" target="_blank" style="color:#FF5555;">[股东身份证{$key+1}下载]</a>
                    {/foreach}
                </div>
            </div>
        {/if}
        {if in_array('5',$need_upload_document['need_upload_document'])}
            <div class="layui-form-item">
                <label class="layui-form-label">交易授权人身份证</label>
                <div class="layui-input-block">
                    {foreach $data['post_data']['transaction_authorizer_idcard'] as $key => $val}
                    <a href="http://declare.gogo198.cn/{$val}" target="_blank" style="color:#FF5555;">[授权人身份证{$key+1}下载]</a>
                    {/foreach}
                </div>
            </div>
        {/if}
        {if in_array('6',$need_upload_document['need_upload_document'])}
            <div class="layui-form-item">
                <label class="layui-form-label">国内最新一期完税证明</label>
                <div class="layui-input-block">
                    {foreach $data['post_data']['tax_payment_certificate'] as $key => $val}
                    <a href="http://declare.gogo198.cn/{$val}" target="_blank" style="color:#FF5555;">[完税证明{$key+1}下载]</a>
                    {/foreach}
                </div>
            </div>
        {/if}
        {if in_array('7',$need_upload_document['need_upload_document'])}
            <div class="layui-form-item">
                <label class="layui-form-label">最近3个月银行月结单</label>
                <div class="layui-input-block">
                    {foreach $data['post_data']['monthly_bank_statement'] as $key => $val}
                    <a href="http://declare.gogo198.cn/{$val}" target="_blank" style="color:#FF5555;">[银行月结单{$key+1}下载]</a>
                    {/foreach}
                </div>
            </div>
        {/if}
        {if in_array('8',$need_upload_document['need_upload_document'])}
            <div class="layui-form-item">
                <label class="layui-form-label">VA申请表</label>
                <div class="layui-input-block">
                    {foreach $data['post_data']['va_application'] as $key => $val}
                    <a href="http://declare.gogo198.cn/{$val}" target="_blank" style="color:#FF5555;">[VA申请表{$key+1}下载]</a>
                    {/foreach}
                </div>
            </div>
        {/if}
        {if in_array('9',$need_upload_document['need_upload_document'])}
            <div class="layui-form-item">
                <label class="layui-form-label">服务协议</label>
                <div class="layui-input-block">
                    {foreach $data['post_data']['service_agreement'] as $key => $val}
                    <a href="http://declare.gogo198.cn/{$val}" target="_blank" style="color:#FF5555;">[服务协议{$key+1}下载]</a>
                    {/foreach}
                </div>
            </div>
        {/if}
        {if in_array('10',$need_upload_document['need_upload_document'])}
            <div class="layui-form-item">
                <label class="layui-form-label">公司搜索报告</label>
                <div class="layui-input-block">
                    {foreach $data['post_data']['search_repord'] as $key => $val}
                    <a href="http://declare.gogo198.cn/{$val}" target="_blank" style="color:#FF5555;">[搜索报告{$key+1}下载]</a>
                    {/foreach}
                </div>
            </div>
        {/if}
        {if in_array('11',$need_upload_document['need_upload_document'])}
            <div class="layui-form-item">
                <label class="layui-form-label">公司注册证明</label>
                <div class="layui-input-block">
                    {foreach $data['post_data']['certificate'] as $key => $val}
                    <a href="http://declare.gogo198.cn/{$val}" target="_blank" style="color:#FF5555;">[注册证明{$key+1}下载]</a>
                    {/foreach}
                </div>
            </div>
        {/if}
        {if in_array('12',$need_upload_document['need_upload_document'])}
            <div class="layui-form-item">
                <label class="layui-form-label">商业登记证</label>
                <div class="layui-input-block">
                    {foreach $data['post_data']['registration_certificate'] as $key => $val}
                    <a href="http://declare.gogo198.cn/{$val}" target="_blank" style="color:#FF5555;">[商业登记证{$key+1}下载]</a>
                    {/foreach}
                </div>
            </div>
        {/if}
        {if in_array('13',$need_upload_document['need_upload_document'])}
            <div class="layui-form-item">
                <label class="layui-form-label">持有公司25%或以上股份的所有董事和股东的身份证和地址信息</label>
                <div class="layui-input-block">
                    {foreach $data['post_data']['shareholder_idcard_address_info'] as $key => $val}
                    <a href="http://declare.gogo198.cn/{$val}" target="_blank" style="color:#FF5555;">[信息{$key+1}下载]</a>
                    {/foreach}
                </div>
            </div>
        {/if}
    {/if}
    {if $data['type']==1}
        <div class="layui-form-item">
            <label class="layui-form-label">公司中文名称</label>
            <div class="layui-input-block">
                {$data['company_name']}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">公司英文名称</label>
            <div class="layui-input-block">
                {$data['company_name_en']}
            </div>
        </div>
        <!--公司名称-启信宝查询的信息-->
        <div class="layui-form-item companyTable">
        <div class="layui-inline" style="margin-right:0;">
            <table id="demo" class="layui-table" lay-even lay-skin="line" lay-size="lg">
                <thead>
                <tr>
                    <th>公司名称</th>
                    <th>公司地址</th>
                    <th>企业法定代表人</th>
                    <th>企业状态</th>
                    <th>企业类型</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="name">{$qxb_company_info['name']}</td>
                    <td class="address">{$qxb_company_info['address']}</td>
                    <td class="operName">{$qxb_company_info['operName']}</td>
                    <td class="status">{$qxb_company_info['status']}</td>
                    <td class="econKind">{$qxb_company_info['econKind']}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {/if}
    <div class="layui-form-item">
        <label class="layui-form-label">开户文件</label>
        <div class="layui-input-block">
            <a href="https://decl.gogo198.cn/{$data['zip_url']}" target="_blank" style="color:#FF5555;">[下载开户文件_zip]</a>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">审核状态</label>
        <div class="layui-input-block">
            <select name="status" lay-filter="status" lay-verify="required">
                <option value="0" {if condition="$data['status'] eq 0"} selected {/if}>待审核</option>
                <option value="1"  {if condition="$data['status'] eq 1"} selected {/if}>后台已审核，第三方审查</option>
                <option value="1"  {if condition="$data['status'] eq 3"} selected {/if}>通过</option>
                <option value="2"  {if condition="$data['status'] eq 2"} selected {/if}>不通过</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item {$data['status']==2?'':'reason'}">
        <label class="layui-form-label">不通过原因</label>
        <div class="layui-input-block">
            <textarea name="check_remark" id="check_remark" cols="30" rows="10" placeholder="请输入不通过原因">{$data['check_remark']}</textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">编辑数据</button>
            <button type="reset" class="layui-btn layui-btn-danger">重置数据</button>
            <a class="layui-btn btn-info" href="{:url('admin/sendmail/gosend')}&isSendMyCompany=1" style="background:#23b7e5;">发送邮件</a>
        </div>
    </div>
</form>

</body>
<script src="./static/hadmin/assets/layui/layui.js"></script>
<script src="./static/hadmin/assets/jquery-3.2.1.min.js"></script>

<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        form.on('select(status)', function(data){
            if(data.value == 2){
                $('.reason').show();
                form.render('select');
            }else{
                $('.reason').hide();
                $('.reason').find('#check_remark').val('');
                form.render('select');//select是固定写法 不是选择器
            }
        });

        //监听提交
        form.on('submit(formDemo)', function(data){
            if(data.field.status=='2' && data.field.check_remark==''){
                layer.msg('请输入不通过原因');
                return false;
            }

            $.ajax({
                url:"{:Url('admin/elec/offshore_account_document_edit')}",
                type:"POST",
                dataType:"json",
                data:data.field,
                success:function (res) {
                    // var red = JSON.parse(res);
                    console.log(res.code);
                    if(res.code < 1) {
                        layer.msg(res.msg);
                        return false;
                    }
                    layer.msg(res.msg);
                    setTimeout(function(){
                        // layer.closeAll();
                        // parent.window.location.reload();
                        parent.window.table.bootstrapTable('refresh');
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    },1200)
                },
                error:function (xhr) {
                    layer.msg('链接服务错误..');
                }
            });
            return false;
        });
    });
</script>
</html>
