<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/plugins/layui/css/layui.css"/>
    <script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>
    <style>
        .header span{background: #009688;margin-left: 30px;padding: 10px;color: #fff;}
        .header div{border-bottom:solid 2px #009688;margin-top: 8px;}
        .header button{float: right;margin-top: -5px;}
        .ths{font-size: 22px;font-weight: bold}
        .boys{font-size: 16px;}
    </style>
</head>
<body style="padding-top: 10px;">
<div class="header">
    <span>证件号为：{$idCard}</span>
    <!--<button class="layui-btn layui-btn-sm" onclick="add();">添加</button>-->
    <div></div>
</div>

<table class="layui-table">
    <thead>
    <tr class="ths">
        <th>订购产品链接</th>
    </tr>
    </thead>

    <tbody>

    {volist name="data" id="vo"}
        <tr class="boys">
            <td>{$vo}</td>
        </tr>
    {/volist}
    </tbody>
</table>

</body>
</html>