<!DOCTYPE html>
<html>
<head>
    {include file="common/meta"}
</head>
<body class="gray-bg">
<div class="col-sm-12">

    <div class="ibox float-e-margins">
        <div class="ibox-content" style="display:block;" id="list1">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>提单号</th>
                    <th>订单号</th>
                    <th>状态</th>
                    <th>返回信息</th>
                    <th>时间</th>
                </tr>
                </thead>
                <tbody>
                {volist name='list' id='vo'}
                <tr>
                    <td>{$vo->bill_num}</td>
                    <td>{$vo->orderId}</td>
                    <td>{$status[$vo->status]}</td>
                    <td>{$vo->error}</td>
                    <td>{$vo->create_at|date='Y-m-d H:i:s',###}</td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
