{template 'htdemo/common_header'}

    <title>商户登录</title>

    <link href="./resource/htdemo/css/bootstrap.min.css" rel="stylesheet">
    <link href="./resource/htdemo/css/style.min.css" rel="stylesheet">
    <link href="./resource/htdemo/css/login.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>
        if(window.top!==window.self){window.top.location=window.location};
    </script>

</head>

<body class="signin">
    <div class="signinpanel">
        <div class="row">
            <div class="col-sm-6 center-block text-center" style="float:none;">
                <form method="post" action="">
                    <h4 class="no-margins text-info">商户后台登录</h4>
                    <p class="m-t-md text-success">欢迎登录到后台。</p>
                    <input type="text" class="form-control uname" placeholder="用户名" name="username" />
                    <input type="password" class="form-control pword m-b" placeholder="密码" name="pwd" />
                    <a href="#">忘记密码了？</a> <a href="{php echo url('htdemo/user/register');}">注册商户</a>
                    <button class="btn btn-success btn-block">登录</button>
                </form>
            </div>
        </div>
        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2017 All Rights Reserved. 
            </div>
        </div>
    </div>
</body>

</html>
