{template 'htdemo/common_header'}

    <title>流水订单管理</title>
</head>

<body class="gray-bg">

    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="row">
            <div class="col-sm-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>流水订单列表</h5>
                        <!--<div class="ibox-tools">
                            <a href="article_detail.php" class="btn btn-primary btn-xs">添加新文章</a>
                        </div>-->
                    </div>
                    <div class="ibox-content">
                        <div class="row m-b-sm m-t-sm">
                            <div class="col-md-1">
                                <!--<button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> 刷新</button>-->
                                <span>选择订单时间：</span>
                                <!--<div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">-->
                            </div>

                            <div class="col-md-11">
                                <!--<div class="input-group">-->
                                    <!--<input type="text" placeholder="请输入文章名称" class="input-sm form-control"> <span class="input-group-btn">-->                                    
                                    <!--<button type="button" class="btn btn-sm btn-primary"> 搜索</button> </span>-->
                                <!--</div>-->
                                <div class="input-group">
                                	<input type="date" name="datetime" class="input-sm form-control"/> <span class="input-group-btn">
                                		<input type="button" name="" id="" value="查 询" class="btn btn-sm btn-primary" />
                                	</span>
                                </div>
                                
                            </div>
                        </div>

                        <div class="project-list">
                            <table class="table table-hover" style="text-align:center">
                                <tbody>
                                  <tr>
                                      <th style="display: none;">ID</th>
                                      <th>
                                      	<!--<i class="fa fa-header"></i>-->
                                      	订单号</th>
                                      <th>用户手机号</th>
                                      <!--<th>公司英文名称</th>-->
                                      <th>
                                      	<!--<i class="fa fa-eye">-->
                                      	产品描述</th>
                                      <!--<th>交易金额</th>-->
                                      <th>支付类型</th>
                                      <th>支付方式</th>
                                      <!--<th>-->
                                      	<!--<i class="fa fa-clock-o">-->
                                      	<!--订单时间</th>-->
                                      <th>交易流水号</th>
                                      <th>收款商户号</th>
                                      <th>支付币种</th>
                                      <th>流水交易金额</th>
                                      <!--<th>支付方式</th>-->
                                      <th>流水交易支付时间</th>
                                       <th>交易状态</th>
                                      
                                      	
                                     
                                  </tr>
                                    <tr>
                                        <td style="display: none;">1</td>
                                        <td >
                                            <!--<a href="article_detail.php">php之路</a>-->GGO9919820171107abcde
                                        </td>
                                        <td >13322556688</td>
                                        <!--<td>xibo1231212123</td>-->
                                        <td>停车费</td>
                                        <!--<td>￥20.06</td>-->
                                        <td>免密支付</td>
                                        <td>微信支付</td>
                                        <!--<td>2017-11-07 11:26:56</td>-->
                                        <td >GGP99198201711070021abcd</td>
                                        <td>mchid123123</td>
                                        <td>人民币</td>
                                        <td>￥20.06</td>
                                        <!--<td>微信支付</td>-->
                                        <td>2017-11-07 11:26:59</td>
                                        <td>成功</td>
                                        <!--<td>
                                            <a href="article_detail.php" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> 编辑 </a>                                        
                                            <a href="javascript:void(0)" class="btn btn-white btn-sm del"><i class="fa fa-trash"></i> 删除 </a>
                                        </td>-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="editable_paginate" class="dataTables_paginate paging_simple_numbers"><ul class="pagination"><li id="editable_previous"   class="paginate_button previous"><a href="#">上一页</a></li><li  class="paginate_button "><a href="#">1</a></li><li   class="paginate_button "><a href="#">2</a></li><li   class="paginate_button "><a href="#">3</a></li><li   class="paginate_button "><a href="#">4</a></li><li   class="paginate_button "><a href="#">5</a></li><li   class="paginate_button "><a href="#">6</a></li><li id="editable_next"   class="paginate_button"><a href="#">下一页</a></li></ul></div>
                    </div>
                </div>
            </div>
        </div>
{template 'htdemo/common_js'}
    <script>
          $(".del").click(function() {
              swal({
                  title: "您确定要删除这篇文章吗",
                  text: "删除后将无法恢复，请谨慎操作！",
                  type: "warning",
                  showCancelButton: true,
                  confirmButtonColor: "#1647a1",
                  confirmButtonText: "确定",
                  cancelButtonText: "取消",
                  closeOnConfirm: false,
                  closeOnCancel: false
              }, function(isConfirm) {
                  if (isConfirm) {
                      swal("删除成功！", "您已经永久删除了这条信息。", "success")
                  } else {
                      swal("已取消", "您取消了删除操作！", "error")
                  }
              })
      });

       $(document).ready(function(){$("#loading-example-btn").click(function(){btn=$(this);simpleLoad(btn,true);simpleLoad(btn,false)})});function simpleLoad(btn,state){if(state){btn.children().addClass("fa-spin");btn.contents().last().replaceWith(" Loading")}else{setTimeout(function(){btn.children().removeClass("fa-spin");btn.contents().last().replaceWith(" Refresh")},2000)}};
       $('#loading-example-btn').click(function(){
        location.reload();
       })
    </script>
    </body>

<!-- Mirrored from www.zi-han.net/theme/hplus/projects.php by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:19:44 GMT -->
</html>
