<div class="nav-close"><i class="fa fa-times-circle"></i>
</div>
<div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
        <li class="nav-header">
            <div class="dropdown profile-element">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="clear">
                        <span class="block m-t-xs" style="font-size:20px;">
                            <img style="width: 64px;height: 28px;" src="./favicon.ico">
                            <strong class="font-bold">总后台</strong>
                        </span>
                    </span>
                </a>
            </div>
            <div class="logo-element">Gogo</div>
        </li>
        <li>
            <a href="#"><i class="fa fa-user"></i> <span class="nav-label">注册管理</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li><a class="J_menuItem" href="{:Url('agents/admin/list')}">代理注册管理</a></li>
                <li>
                    <a href="#"><span class="nav-label">商户注册管理</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level ">
                        <li>
                            <a class="J_menuItem" href="{:url('buss/account/list')}">跨境商家管理</a>
                            <a class="J_menuItem" href="{:Url('admin/customssystem/declUserManage')}">申报系统商户管理</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-ra"></i> <span class="nav-label">申报管理</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#"><span class="nav-label">进口申报</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li><a class="J_menuItem" href="{:url('admin/elec/bollist')}">待申报列表</a></li>
                        <li><a class="J_menuItem" href="{:url('admin/order/orderDeclChangeIndex')}">申报修改管理</a></li>
                        <li><a class="J_menuItem" href="{:url('admin/elec/schedules')}">进度状态</a></li>
                        <li><a class="J_menuItem" href="{:Url('admin/elec/yzerror')}">验证失败</a></li>
                        <li><a class="J_menuItem" href="{:Url('admin/elec/dsb')}">待申报</a></li>
                        <li><a class="J_menuItem" href="{:Url('admin/elec/ysb')}">已申报</a></li>
                        <!--<li><a class="J_menuItem" href="">申报查询</a></li>-->
                    </ul>
                </li>
                
                <li>
                    <a href="#"> <span class="nav-label">出口申报</span><span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li>
                            <a href="#">
                                <span class="nav-label">电商企业</span>
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-third-level">
                                <li><a class="J_menuItem" href="{:url('admin/export/orderExportLadingView')}">电子订单</a></li>
                                <li><a class="J_menuItem" href="{:url('admin/export/paymentSlipExportLadingView')}">支付单</a></li>
                            </ul>
                        </li>
                        
                        <li>
                            <a href="#">
                                <span class="nav-label">物流企业</span>
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-third-level">
                                <li><a class="J_menuItem" href="{:url('admin/export/logisticsWaybillExportLadingView')}">物流运单</a></li>
                                <li><a class="J_menuItem" href="{:url('admin/export/logisticsDepartureListLading')}">离境单申报</a></li>
                            </ul>
                        </li>
                        
                        <li>
                            <a href="#">
                                <span class="nav-label">报关企业</span>
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-third-level">
                                <li><a class="J_menuItem" href="{:url('admin/export/inventoryExportLadingView')}">清单申报</a></li>
                                <li><a class="J_menuItem" href="{:url('admin/export/inventoryExportCancelLadingView')}">撤销申请单</a></li>
                                <li><a class="J_menuItem" href="{:url('admin/export/inventoryTotalScoreExportLading')}">总运单申报</a></li>
                                <li><a class="J_menuItem" href="{:url('admin/export/collectApplyLading')}">汇总单申报</a></li>
                                <li><a class="J_menuItem" href="{:url('admin/export/customsDeclarationList')}">报关单</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
        </li>

    </ul>
</div>
