.laytitle{
	margin: 11px 0 0 0;
	float: left;
}
.laytitle span{
	color: white;
	padding: 10px 15px;
	background-color: #1E9FFF;
}
.kuai{
	margin: 20px 0 0 20px;
}
.kuai span{
	color: white;
	padding: 10px;
	background-color: #1E9FFF;
}
.addcon{
	width: 100%;
}
.layback a{
	float: right;
	color: white;
    padding: 10px 15px;
    background-color: #1E9FFF;
    margin-bottom: 2px;
}
.choose{
	width: 90%;
	display: inline-block;
	margin-left: 85px;
	line-height: 24px;
	margin: 10px 0;
}
.line{
	border-top: 1px solid rgba(255,255,255,.7);
	border-bottom: 1px solid rgba(255,255,255,.7);
}
.layui-logo img{
	width: 100%
}