/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: 0;*/
/*    font: inherit;*/
/*    font-size: 100%;*/
/*    vertical-align: baseline*/
/*}*/

/*html {*/
/*    line-height: 1*/
/*}*/

/*ol, ul {*/
/*    list-style: none*/
/*}*/

/*table {*/
/*    border-collapse: collapse;*/
/*    border-spacing: 0*/
/*}*/

caption{
    text-align: left;
    font-weight: 400;
    vertical-align: middle
}

q, blockquote {
    quotes: none
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
    .border-1px::after {
        -moz-transform: scaleY(.65);
        -ms-transform: scaleY(.65);
        -webkit-transform: scaleY(.65);
        transform: scaleY(.65)
    }
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
    .border-1px::after {
        -moz-transform: scaleY(.5);
        -ms-transform: scaleY(.5);
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5)
    }
}

@media (-webkit-min-device-pixel-ratio: 2.5),(min-device-pixel-ratio: 2.5) {
    .border-1px::after {
        -moz-transform: scaleY(.4);
        -ms-transform: scaleY(.4);
        -webkit-transform: scaleY(.4);
        transform: scaleY(.4)
    }
}

@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    .border-1px::after {
        -moz-transform: scaleY(.33);
        -ms-transform: scaleY(.33);
        -webkit-transform: scaleY(.33);
        transform: scaleY(.33)
    }
}

.cpt-dw-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.cpt-selectCenterMenu {
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    position: fixed;
    width: 320px;
    height: auto;
    background: #fff;
    top: 50%;
    left: 50%;
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    z-index: 11111;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

.cpt-selectCenterMenu .li-selectCenterMenu {
    cursor: pointer;
    width: 100%;
    height: auto;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.cpt-selectCenterMenu .li-selectCenterMenu:active {
    background: #eee
}

.cpt-selectCenterMenu .li-selectCenterMenu.border-1px {
    position: relative
}

.cpt-selectCenterMenu .li-selectCenterMenu.border-1px:after {
    display: block;
    width: 100%;
    position: absolute;
    background: rgba(17, 27, 37, .1) !important;
    left: 0;
    bottom: 0;
    border-top: 1px solid rgba(17, 27, 37, .1) !important;
    content: ''
}

.cpt-selectCenterMenu .li-selectCenterMenu:last-child:after {
    display: none
}