.details-img{
	width: 100%;
	height: auto;
	background: #ccc;
}
.details-img img{
	width: 100%;
}
.details-title{
	padding: 10px;
}
.details-c{
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #d0d0d0;
	display: inline-table;
}
.details-price{
	color: #c6000b;
	float: left;
	padding-left: 10px;
}
.details-stock{
	color: #999999;
	float: right;
	font-size: 12px;
	padding-right: 10px;
}
.details-num{
	float: left;
	padding-left: 10px;
}
.details-row{
	float: right;
	padding-right: 10px;
}
.details-tab{

}

.details-wrap{
	background:white;
}
ul,li{ list-style:none;}
.tab{ 
	width:100%; 
	margin:0 auto 50px;
}
.tab-hd { 
	background:white; 
	overflow:hidden; 
	zoom:1; 
}
.tab-hd li{ 
	float:left; 
	width:33%; 
	color:#666; 
	text-align:center; 
	cursor:pointer; 
	border-right: 1px solid #d0d0d0; 
	border-bottom: 1px solid #d0d0d0;
	padding: 3% 0;
}
.tab-hd li.active{ 
	color: #c6000b;
	border-bottom: 1px solid white;
}
.tab-bd li{
	display:none; 
	padding:10px 5px; 
}
.tab-bd li.thisclass{ display:list-item;}
.tab-bd li img{
	width: 100%;
}
.parameter{
	width: 98%;
	padding: 10px 1%;
	border-bottom: 1px solid #d0d0d0;
}
.evaluate{
	width: 98%;
	margin: 10px 1%;
	border-bottom: 1px solid #d0d0d0;
}
.details-name{
	width: 100%;
}
.details-warp{
	margin: 7px 1% 10px;
	width: 98%;
	line-height: 18px;
}
.details-pic img{
	width: 10% !important;
}
.details-date{
	float: right;
	font-size: 12px;
	line-height: 38px;
	color: #999;
}
.det-name{
	line-height: 24px;
	position: relative;
    top: 0;
}
.menus{
	width: 100%;
	position: relative;
}
.menus ul{
	width: 100%;
	position: fixed;
	bottom: 0;
}
.menus ul li{
	float: left;
	height: 50px;
}
.menus ul li a{
	color: #fff;
}
.menus ul li:nth-child(1){
	width: 20%;
	background: #bbb;
	text-align: center;
	color: white;
}
.menus ul li:nth-child(2){
	width: 20%;
	background: #bbb;
	text-align: center;
	color: white;
}
.menus ul li:nth-child(3){
	width: 30%;
	background: #c6000b;
	text-align: center;
	color: white;
	line-height: 50px;
	font-size: 16px;
}
.menus ul li:nth-child(4){
	width: 30%;
	background: #de991e;
	text-align: center;
	color: white;
	line-height: 50px;
	font-size: 16px;
}
.taobao{height:auto;/*background-color:#D58512;*/bottom:0;display:none;z-index:1001;position:fixed;bottom:50px;background:#f9f9f9;left:0;right:0; padding-bottom: 20px;}
.chose_a{height:100px;}
.poward{position:relative;}
.imitation{background-color:#FFFFFF;height:100px;position:absolute;width:100px;border-radius:5px;border:1px solid #CCCCCC;/*margin-left:10px;top:;*/left:10px;top:-15px;z-index:999;}
.concent_a{height:25px;font-size:14px;line-height:25px;margin-top:10px;color:red;}
.concent_b{height:25px;font-size:14px;line-height:25px;}
.concent_c{height:25px;font-size:14px;line-height:25px;}
.laisi{color:#000000;font-size:14px;width:95%;margin-left:2.5%;margin-top:10px; height: 40px; line-height: 40px;}
.laisi1{color:#000000;font-size:14px;width:95%;margin-left:2.5%;margin-top:10px; height: 40px; line-height: 40px;}
.laisigo{width:95%;margin-left:2.5%;margin-top:15px;}
.laisigoh{width:95%;margin-left:2.5%;margin-top:15px;border-bottom:1px solid #CCCCCC;height:50px;}
.sosos{font-size:12px;}
.zcxs{width:95%;margin-left:2.5%;margin-top:10px;}
.jia{width:95%;margin-left:2.5%;}
.zcxs{display:none;}
.shoujihao{border-bottom:1px solid #CCCCCC; border-top:1px solid #CCCCCC;height:40px;}
.shoujihao1{border-bottom:1px solid #CCCCCC; height:40px;}
.rr{display:none;margin-top:10px;width:95%;margin-left:2.5%;}
.shuliang{width:95%;margin-left:2.5%;margin-top:15px;}
.shuliang ul li{float: left;}
.duigou{height:50px;}
.dingbu{height:50px;opacity:;}
.gray{height:1px;background-color:#CCCCCC;}
.evaluate{/*height:50px;line-height:50px;*/text-align:left;}
.evaluate1{height:150px;line-height:50px;text-align:center;z-index:1000;background-color:#FFFFFF;}
.chose_noll{display:none;}
.row span{padding-left: 8rem;}
.chose_c{
	text-align: right;
    position: absolute;
    top: 10px;
    right: 0;
}
.chose_input{
	width: 65%;
	line-height: 38px;
	margin-left: 2px;
	background: #f9f9f9;
}
.chose_b{
	width: 100%;
    margin-left: 10%;
}
