.register{
	margin: 20px auto;
	width: 95%;
}
.register ul{
	width: 100%;
	border-bottom: 1px solid #d0d0d0;
	display: inline-block;
}
.register ul li{
	float: left;
}
.reg-pic{
	width: 20%;
	text-align: center;
}
.reg-pic img{
	width: 50%;
	margin-top: 5px;
}
.reg-input{
	width: 75%;
}
.reg-red {
	position: relative;
	right: 10px;
    width: 110%;
    height: 35px;
    line-height: 35px;
    background-color: #ed5565;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    border: 0;
    color: #fff;
}
.reg-btn{
	width: 80%;
	margin: 10% auto 5%;
	text-align: center;
}
.reg-btn button {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #1b7ab6;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    border: 0;
    color: #fff;
}

input[type="text"]{
	width: 145%;
	height: 40px;
	line-height: 40px;
}