.waylist{
	width: 95%;
	margin: 0 auto;
}
.waylist ul{
	width: 100%;
	display: inline-block;
}
.waylist ul li{
	line-height: 24px;
	padding: 10px 0 10px 10px;
	border-bottom: 1px solid #d0d0d0;
}
.waylist ul li img{
	width: 5%;
	float: right;
	margin-top: 2px;
	margin-right: 5px;
}
.waybill{
	width: 95%;
	margin: 20px auto;
}
.waybill ul{
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #d0d0d0;
}
.waybill ul li{
	float: left;
	line-height: 24px;
	padding: 10px 0 10px 10px;
}
.row{
	color: #c6000b;
	margin: 0 0 10px;
}
.row img{
	float: right;
	width: 7%;
}
.waybill-btn{
	width: 90%;
    text-align: right;
}
.waybill-btn button{
    width: 25%;
    border-radius: 5px;
    background-color: #ed5565;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    border: 0;
    color: #fff;
    height: 40px;
    line-height: 40px;
}
.waybill-btn button img{
	width: 35%;
	margin-right: 5px;
}