{include file="common/header_inner_new"}
<!--百度富文本-->
<script type="text/javascript" src="static/cklein/plugins/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="static/cklein/plugins/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" src="static/cklein/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
<style>
    .disf{display:flex;align-items: center;}
    .layui-card-header{background:#0a8ddf;color:#fff;}
    .other_link,.other_navbar,.other_pic,.other_msg{display:none;}
</style>
<body style="padding: 10px;background-color: #f2f2f2;">
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <form class="layui-form" action="" method="post" lay-filter="component-form-element">
            <input type="text" style="display:none;" name="id" id="id" value="{$id}">
            <input type="text" style="display:none;" name="country_id" id="country_id" value="{$country_id}">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-form-item">
                            <div class="layui-form-label">支付类型</div>
                            <div class="layui-input-block">
                                <select name="type">
                                    <option value="1" {if $data['type']==1}selected{/if}>余额支付</option>
                                    <option value="2" {if $data['type']==2}selected{/if}>银行转账</option>
                                    <option value="3" {if $data['type']==3}selected{/if}>网上支付</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">类别名称</div>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" name="name" value="{$data['name']}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="margin-top: 25px;text-align: center;">
                <div>
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="component-form-element">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>

<script type="text/javascript">
    layui.use(['layer','form','laydate','upload'],function(){
        var laydate = layui.laydate,
            layer = layui.layer,
            form  = layui.form,
            $ = layui.jquery,
            upload = layui.upload;

        form.on('submit(component-form-element)', function(data){
            // JSON.stringify()
            // console.log(data.field);return false;

            $.ajax({
                url:"{:Url('admin/shopping/save_cashier_category')}",
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    layer.msg(res.msg,{time:2000}, function () {
                        if(res.code == 0)
                        {
                            parent.location.reload();
                        }
                    });
                },
                error:function (data) {
                    layer.msg('系统错误',{time:2000});
                }
            });
            return false;
        });
    });
</script>
</body>
</html>