{include file="common/header_inner_new"}
<!--百度富文本-->
<script type="text/javascript" src="static/cklein/plugins/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="static/cklein/plugins/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" src="static/cklein/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
<style>
    .disf{display:flex;align-items: center;}
    .layui-card-header{background:#0a8ddf;color:#fff;}
    .other_link,.other_navbar,.other_pic,.other_msg{display:none;}
</style>
<body style="padding: 10px;background-color: #f2f2f2;">
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <form class="layui-form" action="" method="post" lay-filter="component-form-element">
            <input type="text" style="display:none;" name="id" id="id" value="{$id}">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-form-item">
                            <div class="layui-form-label">排序</div>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" lay-verify="required" name="displayorder" value="{$data['displayorder']}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">热搜标题</div>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" lay-verify="required" name="name" value="{$data['name']}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">热搜描述</div>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" lay-verify="required" name="desc" value="{$data['desc']}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">关键词(以“、”分开)</div>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" lay-verify="" name="keywords" value="{$data['keywords']}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">爬取时间</div>
                            <div class="layui-input-block disf">
                                <input type="text" class="layui-input" id="starttime" name="starttime" value="{$data['starttime']}">
                                <input type="text" class="layui-input" id="endtime" name="endtime" value="{$data['endtime']}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">背景类型</div>
                            <div class="layui-input-block">
                                <select name="type" id="type" lay-filter="type">
                                    <option value="1" {if $data['type']==1}selected{/if}>图片</option>
                                    <option value="2" {if $data['type']==2}selected{/if}>颜色</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item back_img" style="display:{if $data['type']==1}block{else}none{/if};">
                            <div class="layui-form-label">背景图(770*440)</div>
                            <div class="layui-input-block">
                                <div class="layui-upload" style="margin-top: 10px;">
                                    <button type="button" class="layui-btn" id="img_file-upload">上传图片(一张)</button>
                                    <blockquote class="layui-elem-quote layui-quote-nm yulan" style="margin-top: 10px;">
                                        预览图：
                                        <div class="layui-upload-list" id="img_file-upload-list">
                                            {if !empty($data['background'])}
                                            <div style="display: inline-block;">
                                                <img onclick="seePic(this);" src="/{$data['background']}" class="layui-upload-img" style="width:80px;height:80px;">
                                                <button type="button" onclick="delPic(this);" class="layui-btn layui-btn-xs layui-btn-danger" style="position: relative;left: -45px;top: -39px;">删除</button>
                                                <input type="hidden" name="background" value="{$data['background']}">
                                            </div>
                                            {/if}
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item back_color" style="display:{if $data['type']==2}block{else}none{/if};">
                            <div class="layui-form-label">背景色</div>
                            <div class="layui-input-block">
                                <div id="color"></div>
                                <input type="hidden" name="color" value="{$data['color']}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">跳转链接</div>
                            <div class="layui-input-block">
                                <select name="go_other" lay-filter="go_other">
                                    <option value="0">否</option>
                                    <option value="1" {if $data['go_other']==1}selected{/if}>其他链接</option>
                                    <option value="2" {if $data['go_other']==2}selected{/if}>应用链接</option>
                                    <option value="3" {if $data['go_other']==3}selected{/if}>图文链接</option>
                                    <option value="4" {if $data['go_other']==4}selected{/if}>消息链接</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item other_link" {if $data['go_other']==1}style="display:block;"{/if}>
                        <div class="layui-form-label">第三方链接</div>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" name="link" placeholder="请输入第三方链接" value="{$data['link']}">
                        </div>
                    </div>
                    <div class="layui-form-item other_navbar" {if $data['go_other']==2}style="display:block;"{/if}>
                        <div class="layui-form-label">应用链接</div>
                        <div class="layui-input-block">
                            <select name="other_navbar" lay-search>
                                <option value="">请选择应用</option>
                                {volist name="list" id="vo"}
                                <option value="{$vo.id}" {if $data['other_navbar']==$vo.id}selected{/if}>{$vo.name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item other_pic" {if $data['go_other']==3}style="display:block;"{/if}>
                        <div class="layui-form-label">图文链接</div>
                        <div class="layui-input-block">
                            <select name="other_pic" lay-search>
                                <option value="">请选择图文</option>
                                {volist name="pic_list" id="vo"}
                                <option value="{$vo.id}" {if $data['other_pic']==$vo.id}selected{/if}>{$vo.name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item other_msg" {if $data['go_other']==4}style="display:block;"{/if}>
                        <div class="layui-form-label">消息链接</div>
                        <div class="layui-input-block">
                            <select name="other_msg" lay-search>
                                <option value="">请选择消息</option>
                                {volist name="msg_list" id="vo"}
                                <option value="{$vo.id}" {if $data['other_msg']==$vo.id}selected{/if}>{$vo.name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-form-label">是否显示</div>
                        <div class="layui-input-block">
                            <select name="is_show" id="is_show">
                                <option value="1" {if $data['is_show']==1}selected{/if}>显示</option>
                                <option value="0" {if $data['is_show']==0}selected{/if}>隐藏</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="margin-top: 25px;text-align: center;">
            <div>
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="component-form-element">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
</div>
</body>

<script type="text/javascript">
    layui.use(['layer','form','laydate','upload','colorpicker'],function(){
        var laydate = layui.laydate,
            layer = layui.layer,
            form  = layui.form,
            $ = layui.jquery,
            colorpicker = layui.colorpicker,
            upload = layui.upload;

        laydate.render({
            elem: '#starttime',
            type:'datetime'//指定元素
        });
        laydate.render({
            elem: '#endtime',
            type:'datetime'//指定元素
        });

        {if $id>0}
            colorpicker.render({
                elem:'#color',
                alpha:true,
                size:'lg',
                predefine:true,
                color:"{$data['color']}",
                done:function(color){
                    $('input[name="color"]').val(color);
                }
            });
        {else}
            colorpicker.render({
                elem:'#color',
                alpha:true,
                size:'lg',
                predefine:true,
                done:function(color){
                    $('input[name="color"]').val(color);
                }
            });
        {/if}
        form.on('select(type)',function(data){
            let val = data.value;
            if(val==1){
                $('.back_img').show();
                $('.back_color').hide();
            }else{
                $('.back_img').hide();
                $('.back_color').show();
            }
        });

        form.on('select(go_other)',function(data){
            let val = data.value;
            if(val==0){
                $('.other_link').hide();
                $('.other_navbar').hide();
                $('.other_pic').hide();
                $('.other_msg').hide();
            }else if(val==1){
                $('.other_link').show();
                $('.other_navbar').hide();
                $('.other_pic').hide();
                $('.other_msg').hide();
            }else if(val==2){
                $('.other_link').hide();
                $('.other_pic').hide();
                $('.other_msg').hide();
                $('.other_navbar').show();
            }else if(val==3){
                $('.other_link').hide();
                $('.other_pic').show();
                $('.other_msg').hide();
                $('.other_navbar').hide();
            }else if(val==4){
                $('.other_link').hide();
                $('.other_pic').hide();
                $('.other_msg').show();
                $('.other_navbar').hide();
            }
        });

        form.on('submit(component-form-element)', function(data){
            // JSON.stringify()
            // console.log(data.field);return false;
            // if( $('#img_file-upload-list').children().length == 0 )
            // {
            //     layer.msg('请上传轮播图！');
            //     return false;
            // }

            $.ajax({
                url:"{:Url('admin/shopping/save_hotsearch')}",
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    layer.msg(res.msg,{time:2000}, function () {
                        if(res.code == 0)
                        {
                            parent.location.reload();
                        }
                    });
                },
                error:function (data) {
                    layer.msg('系统错误',{time:2000});
                }
            });
            return false;
        });

        // 轮播图文件
        upload.render({
            elem: '#img_file-upload'
            ,url: '{:Url("admin/basic/upload_file")}'
            ,accept: 'image'
            ,data: { folder: 'centralize', type: 'website_index'}
            ,multiple: false
            ,number:1
            ,before: function(obj){
                layer.load(); //上传loading
            }
            ,done: function(res){
                layer.closeAll('loading'); //关闭loading
                if(res.code == 1)
                {

                    $('#img_file-upload-list').append('<div style="display: inline-block;"><img onclick="seePic(this);" src="/'+ res.file_path +'" class="layui-upload-img" style="width:80px;height:80px;"><button type="button" onclick="delPic(this);" class="layui-btn layui-btn-xs layui-btn-danger" style="position: relative;left: -45px;top: -39px;">删除</button><input type="hidden" name="background" value="'+res.file_path+'"></div>')
                }
            }
        });
    });

    function delPic(obj)
    {
        var layer = layui.layer,$ = layui.$;
        layer.confirm('确认要删除该附件？', {
            btn: ['删除','取消']
        }, function(){
            $(obj).parent().remove();
            layer.closeAll();
        }, function(){

        });
    }

</script>
</body>
</html>