{include file="common/header_inner_new"}
<!--百度富文本-->
<script type="text/javascript" src="static/cklein/plugins/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="static/cklein/plugins/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" src="static/cklein/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
<style>
    .disf{display:flex;align-items: center;}
    .layui-card-header{background:#0a8ddf;color:#fff;}
</style>
<body style="padding: 10px;background-color: #f2f2f2;">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <form class="layui-form" action="" method="post" lay-filter="component-form-element">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <!--废弃 START-->
                            <div class="layui-form-item" style="display: none;">
                                <div class="layui-form-label">右侧浮窗广告图(280*630)</div>
                                <div class="layui-input-block">
                                    <div class="layui-upload" style="margin-top: 10px;">
                                        <button type="button" class="layui-btn" id="img_file-upload">上传图片(一张)</button>
                                        <blockquote class="layui-elem-quote layui-quote-nm yulan" style="margin-top: 10px;">
                                            预览图：
                                            <div class="layui-upload-list" id="img_file-upload-list">
                                                {if !empty($adv[0]['img'])}
                                                <div style="display: inline-block;">
                                                    <img onclick="seePic(this);" src="/{$adv[0]['img']}" class="layui-upload-img" style="width:80px;height:80px;">
                                                    <button type="button" onclick="delPic(this);" class="layui-btn layui-btn-xs layui-btn-danger" style="position: relative;left: -45px;top: -39px;">删除</button>
                                                    <input type="hidden" name="leftimg[]" value="{$adv[0]['img']}">
                                                </div>
                                                {/if}
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item"style="display: none;">
                                <div class="layui-form-label">右侧浮窗链接</div>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" name="leftlink" placeholder="请输入链接" value="{$adv[0]['link']}">
                                </div>
                            </div>
                            <!--废弃 END-->

                            <!--搜索浮窗广告图-->
                            <div class="layui-form-item" >
                                <div class="layui-form-label">搜索浮窗广告图(280*630)</div>
                                <div class="layui-input-block">
                                    <div class="layui-upload" style="margin-top: 10px;">
                                        <button type="button" class="layui-btn" id="img2_file-upload">上传图片(一张)</button>
                                        <blockquote class="layui-elem-quote layui-quote-nm yulan" style="margin-top: 10px;">
                                            预览图：
                                            <div class="layui-upload-list" id="img2_file-upload-list">
                                                {if !empty($adv[1]['img'])}
                                                <div style="display: inline-block;">
                                                    <img onclick="seePic(this);" src="/{$adv[1]['img']}" class="layui-upload-img" style="width:80px;height:80px;">
                                                    <button type="button" onclick="delPic(this);" class="layui-btn layui-btn-xs layui-btn-danger" style="position: relative;left: -45px;top: -39px;">删除</button>
                                                    <input type="hidden" name="searchimg[]" value="{$adv[1]['img']}">
                                                </div>
                                                {/if}
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item" >
                                <div class="layui-form-label">搜索浮窗链接</div>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" name="searchlink" placeholder="请输入链接" value="{$adv[1]['link']}">
                                </div>
                            </div>
                            <!--搜索浮窗广告图-->

                            <!--系统提示框广告图-->
                            <div class="layui-form-item" >
                                <div class="layui-form-label">系统提示框广告图(180*400)</div>
                                <div class="layui-input-block">
                                    <div class="layui-upload" style="margin-top: 10px;">
                                        <button type="button" class="layui-btn" id="img3_file-upload">上传图片(一张)</button>
                                        <blockquote class="layui-elem-quote layui-quote-nm yulan" style="margin-top: 10px;">
                                            预览图：
                                            <div class="layui-upload-list" id="img3_file-upload-list">
                                                {if !empty($adv[2]['img'])}
                                                <div style="display: inline-block;">
                                                    <img onclick="seePic(this);" src="/{$adv[2]['img']}" class="layui-upload-img" style="width:80px;height:80px;">
                                                    <button type="button" onclick="delPic(this);" class="layui-btn layui-btn-xs layui-btn-danger" style="position: relative;left: -45px;top: -39px;">删除</button>
                                                    <input type="hidden" name="systemimg[]" value="{$adv[2]['img']}">
                                                </div>
                                                {/if}
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item" >
                                <div class="layui-form-label">系统提示框链接</div>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input" name="systemlink" placeholder="请输入链接" value="{$adv[2]['link']}">
                                </div>
                            </div>
                            <!--系统提示框广告图-->

                        </div>
                    </div>
                </div>
                <div class="layui-form-item" style="margin-top: 25px;text-align: center;">
                    <div>
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="component-form-element">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

<script type="text/javascript">
    layui.use(['layer','form','laydate','upload'],function(){
        var laydate = layui.laydate,
            layer = layui.layer,
            form  = layui.form,
            $ = layui.jquery,
            upload = layui.upload;

        form.on('submit(component-form-element)', function(data){
            // JSON.stringify()
            // console.log(data.field);return false;
            if( $('#img_file-upload-list').children().length == 0 || $('#img2_file-upload-list').children().length == 0 )
            {
                layer.msg('请上传广告图！');
                return false;
            }

            $.ajax({
                url:"{:Url('admin/shopping/save_frameadv')}",
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    layer.msg(res.msg,{time:2000}, function () {
                        if(res.code == 0)
                        {
                            parent.location.reload();
                        }
                    });
                },
                error:function (data) {
                    layer.msg('系统错误',{time:2000});
                }
            });
            return false;
        });

        // 左侧栏
        upload.render({
            elem: '#img_file-upload'
            ,url: '{:Url("admin/basic/upload_file")}'
            ,accept: 'image'
            ,data: { folder: 'centralize', type: 'website_rotate'}
            ,multiple: false
            ,number:1
            ,before: function(obj){
                layer.load(); //上传loading
            }
            ,done: function(res){
                layer.closeAll('loading'); //关闭loading
                if(res.code == 1)
                {

                    $('#img_file-upload-list').append('<div style="display: inline-block;"><img onclick="seePic(this);" src="/'+ res.file_path +'" class="layui-upload-img" style="width:80px;height:80px;"><button type="button" onclick="delPic(this);" class="layui-btn layui-btn-xs layui-btn-danger" style="position: relative;left: -45px;top: -39px;">删除</button><input type="hidden" name="leftimg[]" value="'+res.file_path+'"></div>');
                }
            }
        });

        //搜索栏
        upload.render({
            elem: '#img2_file-upload'
            ,url: '{:Url("admin/basic/upload_file")}'
            ,accept: 'image'
            ,data: { folder: 'centralize', type: 'website_rotate'}
            ,multiple: false
            ,number:1
            ,before: function(obj){
                layer.load(); //上传loading
            }
            ,done: function(res){
                layer.closeAll('loading'); //关闭loading
                if(res.code == 1)
                {

                    $('#img2_file-upload-list').append('<div style="display: inline-block;"><img onclick="seePic(this);" src="/'+ res.file_path +'" class="layui-upload-img" style="width:80px;height:80px;"><button type="button" onclick="delPic(this);" class="layui-btn layui-btn-xs layui-btn-danger" style="position: relative;left: -45px;top: -39px;">删除</button><input type="hidden" name="searchimg[]" value="'+res.file_path+'"></div>');
                }
            }
        });

        //系统提示框
        upload.render({
            elem: '#img3_file-upload'
            ,url: '{:Url("admin/basic/upload_file")}'
            ,accept: 'image'
            ,data: { folder: 'centralize', type: 'website_rotate'}
            ,multiple: false
            ,number:1
            ,before: function(obj){
                layer.load(); //上传loading
            }
            ,done: function(res){
                layer.closeAll('loading'); //关闭loading
                if(res.code == 1)
                {

                    $('#img3_file-upload-list').append('<div style="display: inline-block;"><img onclick="seePic(this);" src="/'+ res.file_path +'" class="layui-upload-img" style="width:80px;height:80px;"><button type="button" onclick="delPic(this);" class="layui-btn layui-btn-xs layui-btn-danger" style="position: relative;left: -45px;top: -39px;">删除</button><input type="hidden" name="systemimg[]" value="'+res.file_path+'"></div>');
                }
            }
        });
    });

    function delPic(obj)
    {
        var layer = layui.layer,$ = layui.$;
        layer.confirm('确认要删除该附件？', {
            btn: ['删除','取消']
        }, function(){
            $(obj).parent().remove();
            layer.closeAll();
        }, function(){

        });
    }

</script>
</body>
</html>