<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="./static/iot/css/common.css">
    <link rel="stylesheet" href="./static/iot/css/login.css">
    <link rel="stylesheet" href="./static/iot/css/setup.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function showMsg(str=null){
            var tip = window.document.getElementById('tip');
            tip.innerHTML=str;
            tip.style.display='block';
            setTimeout(function () {
                tip.style.display='none';
            },1500);
        }
    </script>
</head>
