@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
img{ border:0;}
em{ font-style:normal;}
li{list-style:none;}
html { height:100%;}
a,a:hover{ text-decoration:none;}

.wap_body1{background: radial-gradient(#578896, #31505d );}

.xinda_logo_box{ height:192px; width:100%; max-width:640px; text-align:center; padding-top:34px;}
.xinda_ctn_box{width:100%; max-width:640px; min-height:900px;}
.xinda_ctn_box .xinda_ctn{ padding:0 65px;}

.xinda_info{ height:160px; margin-top:10px;}
.xinda_info_phone{ width:152px; height:152px; float:left; background-color:#ffe16c; padding:4px; border-radius:8px;}
.xinda_info_phone .xinda_info_pic{width:152px; height:152px;border-radius:6px;}

.xinda_info_user_box{ float:left; margin-left:40px; width:310px; overflow:hidden;}
.xinda_info_user_box p{ line-height:42px; color:#fff; font-size:30px; font-weight:700;}
.xinda_info_user_box p span{ color:#ffe16c; font-size:24px;}
.xinda_info_user_box p img{vertical-align:middle;}

.xinda_xinxi{ margin-top:30px; text-align:center;}
.xinda_input_01{ margin-top:20px; font-size:24px; color:#ffe16c; font-weight:700;}
.xinda_input_01 span{ line-height:40px;}
.xinda_input_01 input{ height:40px; line-height:40px; background-color:#ededed;border-radius:4px; width:290px; border:none; font-size:24px; padding:0 10px;}
.xinda_input_01 textarea{ height:300px; line-height:40px; background-color:#ededed;border-radius:4px; width:380px; border:none; font-size:24px; padding:0 10px; vertical-align:text-top; overflow-x:hidden;}
.xinda_input_radio{ margin-top:20px;font-size:24px; color:#ffe16c; font-weight:700;}
.xinda_input_radio input{ background-color:#FFFFFF; width:30px; height:30px; vertical-align:text-top;}
.xinda_input_select{ margin-top:20px;font-size:24px; color:#ffe16c; font-weight:700;}
.xinda_input_select select{ width:320px; height:40px; line-height:40px; font-size:24px; background-color:#ededed;border-radius:4px;}
.xinda_input_text_01{margin-top:20px;font-size:24px; color:#ffe16c; font-weight:700;}
.xinda_input_text_01 input{ height:40px; line-height:40px; background-color:#ededed;border-radius:4px; border:none; font-size:24px; padding:0 4px;}

.xinda_btn_tijiao{ text-align:center; margin-top:30px;}
.xinda_text_01{ line-height:42px; text-align:center; font-size:24px; color:#ffe16c;}


.xinda_nav{ position:fixed; left:0; bottom:0; height:89px; width:100%; max-width:640px;}
.xinda_nav a{ display:block; float:left; width:25%; text-align:center; color:#ffe16c; font-size:32px; font-weight:bold; line-height:89px;}
.xinda_nav a:hover,.xinda_nav a{ text-decoration:none;}
.xinda_nav .nav_a1{ background:url(../img/btn_pic_03.png) no-repeat;}
.xinda_nav .nav_a2{ background:url(../img/btn_pic_04.png) no-repeat;}
.xinda_line{ text-align:center;}
.xinda_text_02{color:#fff; font-size:30px; font-weight:700;}
.xinda_text_02 span{color:#ffe16c; font-size:24px;}
.xinda_text_float{}
.xinda_text_float ul li{ width:50%; float:left;}
.bianji_a{color:#ffe16c; font-size:30px; background:url(../img/btn_pic_05.png) no-repeat; display:block; line-height:67px; width:244px; height:67px; margin:0 auto;}
.anniu_a{color:#ffe16c; font-size:30px; background:url(../img/btn_pic_06.png) no-repeat; display:block; line-height:45px; width:240px; height:45px; margin:0 auto;}
.anniu_a2{color:#ffe16c; font-size:30px; background:url(../img/btn_pic_06.png) no-repeat; display:block; line-height:45px; width:240px; height:45px; }


.juan_box{ height:60px; background:url(../img/icon_01.png) no-repeat 30px 10px; padding-left:84px; line-height:60px; color:#ffe16c; font-size:36px; font-weight:700;}
.line_02_box{ font-size:26px;color:#ffe16c; background:url(../img/line_02.png) no-repeat 10px 20px;}
.line_02_box span{ color:#FF0000; font-size:36px; font-weight:bold;}
.line_03_box{ font-size:32px;color:#fff; width:500px;display:block;word-break: break-all;word-wrap: break-word;}
.line_03_box p{ color:#ffe16c; font-size:36px; font-weight:bold;}
.position_01{ position:relative;}
.absolute_01{ width:71px; height:21px; position:absolute; top:10px; right:0;}
.absolute_02{ width:71px; height:21px; position:absolute; top:10px; left:10px;}

.font_css_01{ color:#ffe16c; font-size:36px; font-weight:bold;}
.input_css_01{ background-color:#ededed;  border:none; height:50px; line-height:50px; font-size:28px; text-align:center; border-radius:4px; width:400px;}
.btn_guanli{ text-align:center; padding-top:40px;}
.btn_guanli a{ display:block; width:355px; height:67px; background:url(../img/btn_pic_07.png) no-repeat; margin:0 auto; font-size:34px; color:#ffe16c; line-height:67px;}

.font_shadow_01{ font-size:56px; color:#ffe16c; line-height:70px; text-shadow: 5px 5px 15px #000; font-weight:700;}

.title_font_zhuti{ height:60px; padding-left:14px; line-height:60px; color:#fff; font-size:36px; font-weight:700; position:relative;}
.title_font_zhuti span{color:#ffe16c;}
.title_font_zhuti .right_font_riqi{ color:#fff; font-size:24px; position:absolute; right:0px; top:4px;}

.line_04_box{ font-size:26px;color:#ffe16c; background:url(../img/line_03.png) no-repeat 100px 20px; text-align:right;}
.line_04_box span{ color:#FF0000; font-size:36px; font-weight:bold;}

.xinda_input_11{ margin-top:20px; font-size:24px; color:#ffe16c; font-weight:700; height:100px;}
.shangchuan_title{ display:block; float:left; width:88px;font-size:24px; color:#ffe16c; font-weight:700;}
.shangchuan{ float:left;}
.shangchuan01{ display:block;height:40px; line-height:40px;  background-color:#ededed;border-radius:4px;width:392px;}

.kongzhi_input{color:#ffe16c; font-size:24px;background:url(../img/btn_pic_06.png) no-repeat; border:none;width:240px; height:45px; margin-top:20px; text-align:center; cursor:pointer;}

.margin_30{ margin-top:30px;}
.margin_20{ margin-top:20px;}
.margin_12{ margin-top:12px;}

.a-upload {
    color:#ffe16c; font-size:24px;background:url(../img/btn_pic_06.png) no-repeat; border:none;width:240px; height:45px; margin-top:20px; text-align:center;
	line-height:45px;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    font-size: 24px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
	background:none;

}

.a-upload:hover {
    text-decoration: none
}