{include file='iot/header'}
<body style="background: url(./static/iot/images/index_bg.jpg) no-repeat fixed center; background-size: cover;">
<div class="whole">
    <div class="header">
        <div class="toplogo"><img src="./static/iot/images/top-logo.png" alt=""></div>
        <h2 class="title">个人中心</h2>
        <a id=HyperLink3  href="{:Url('iot/logout')}" class="quit" >退出</a>
    </div>
    <div class="content top" >
        <div class="personal grey_bg" style="margin-top:0%;">
            <div class="per_left"><img src="./static/iot/images/head_icon.png" alt=""></div>
            <div class="per_right">
                <p>{$user['name']}</p>
                <p>账号：{$user['phone']}</p>
            </div>
        </div>
        <a href="{:Url('iot/permanentuser')}">
            <div class="box grey_bg" style="margin-top: 3%;">
                <img src="./static/iot/images/icon_05.png" alt="" class="icon">
                <span class="per_text">人员管理</span>
                <span class="row"><img src="./static/iot/images/icon_row.png" alt=""></span>
            </div>
        </a>
        <a href="{:Url('iot/visitlog')}">
            <div class="box grey_bg" style="margin-top: 2%;">
                <img src="./static/iot/images/icon_05.png" alt="" class="icon">
                <span class="per_text">访客管理</span>
                <span class="row"><img src="./static/iot/images/icon_row.png" alt=""></span>
            </div>
        </a>
    </div>
</div>
{include file='iot/menu'}
</body>
</html>
