{include file='iot/header'}
<body>
<div class="whole">
    <div class="header">
        <div class="toplogo"><img src="./static/iot/images/top-logo.png" alt=""></div>
        <h2 class="title">人员管理</h2>
        <a href="#" onClick="javascript :history.back(-1);" class="quit">返回</a>
    </div>
    <div class="content" style="margin-top: 17%; display: inline-block;">
        {volist name='list' id='vo'}
        <div class="log grey_bg">
            <div class="log_left"><img src="./static/iot/images/head_icon.png" alt=""></div>
            <div class="log_mid">
                <p><span class="lightgary">常驻访客：</span>{$vo.name}</p>
                <p><span class="lightgary">访客时限：</span>{$vo.expire_time} {$timeType[$vo.expire_type]}</p>
            </div>
        </div>
        {/volist}
    </div>
</div>
{include file='iot/menu'}
</body>
<script type="text/javascript">
    //滚动加载
    let [page,url] = [0,'{:Url("iot/askpermanentuser")}'];
    window.onscroll = function () {
        page++
        console.log(page);
        var height = document.body.scrollHeight - document.body.scrollTop - window.innerHeight
        if (height < 900&&page!=1) {
            askData();
        }
    }
    //异步请求数据
    function askData() {
        $.ajax({
            type:"get",
            url: url+"&page="+page,
            dataType: 'json',
            async:true,
            success: function (res) {
                console.log(res);
                if (res.data.data!=''){
                    loadDOM(res.data);
                }
            },
            error: function (err) {
                console.log(err)
            }
        });
    }
    //加载数据到页面
    function loadDOM (data) {
        for (let i in data) {
            let html = `<div class="log grey_bg">
            <div class="log_left"><img src="./static/iot/images/head_icon.png" alt=""></div>
            <div class="log_mid">
                <p><span class="lightgary">常驻访客：</span>`+data[i].name+`</p>
                <p><span class="lightgary">访客时限：</span>`+data[i].expire_time+data[i].expire_type+`</p>
            </div>
        </div>`;
            $(html).appendTo('.content')
        }
    }
</script>
</html>
