{template '_headers'}
<div class="warp">
    <div class="container">
        <form action="" id="forms">

            <div class="shop-sel">
                选择角色：
                <select name="roleId" id="roleId">
                    {loop $role $index $item}
                    <option value="{$item['id']}" {if $info['roleId'] == $item['id']} selected {/if}>{$item['roleName']}</option>
                    {/loop}
                </select>
            </div>

            <div class="shop-sel">
                账户类型：
                <select name="cusTypes" id="cusTypes">
                    <option value="Territory" {if $info['cusTypes'] == 'Territory'} selected {/if}>中国境内用户</option>
                    <option value="Abroad" {if $info['cusTypes'] == 'Abroad'} selected {/if}>中国境外用户</option>
                </select>
            </div>

            <div class="shop-input">
                {if $info['phone'] != ''}
                    <span id="pmt">手机号码：</span> <input type="text" id="pm" value="{$info['phone']}" readonly>
                {/if}
                {if $info['email'] != ''}
                <span id="pmt">电子邮箱：</span> <input type="text" id="pm" value="{$info['email']}" readonly>
                {/if}
            </div>

            <div class="shop-input">
                用户姓名： <input type="text" name="userName" id="userName" value="{$info['userName']}">
            </div>

            <input type="hidden" name="methods" value="edit">
            <input type="hidden" name="oldName" value="{$info['userName']}">
            <input type="hidden" name="uid" value="{$id}">

            <div class="login-btn">
                <button id="alertBtn" type="button" class="zbox-btn zbox-btn-blue zbox-btn-outlined login">编辑</button>
            </div>
        </form>
    </div>

</div>

<script>

    $('#cusTypes').change(function() {
        if($(this).val() == 'Territory') {
            $('#pmt').text('手机号码：');
            $('#pm').attr('name','phone')
            $('#pm').attr('placeholder','请输入手机号码')
        } else if($(this).val()) {
            $('#pmt').text('电子邮箱：');
            $('#pm').attr('name','email')
            $('#pm').attr('placeholder','请输入电子邮箱')
        }
    })

    // 提交数据
    $('#alertBtn').click(function() {

        if($('#pm').val() == '')        {$.DialogByZ.Alert({Title: "提示", Content: "请填写手机号码或电子邮箱！", BtnL: "确定", FunL: alerts});return false;}
        if($('#code').val() == '')      {$.DialogByZ.Alert({Title: "提示", Content: "请输入验证码！", BtnL: "确定", FunL: alerts});return false;}
        if($('#userName').val() == '')  {$.DialogByZ.Alert({Title: "提示", Content: "请输入用户名！", BtnL: "确定", FunL: alerts});return false;}

        var formData = $('#forms').serialize();
        // 获取验证码地址
        var urls = "{php echo url('entry',array('do'=>'index','p'=>'adddousers','m'=>'mer_chats'))}";
        // Ajax  获取验证码
        $.ajax({
            url:urls,
            type:'POST',
            data:formData,
            success:function(red) {
                // 获取成功改变按钮
                var req = JSON.parse(red);
                console.log(req)
                if(!req.code) {
                    $.DialogByZ.Alert({Title: "提示", Content: req.msg,BtnL:"确定",FunL:alerts})
                    return false;
                }

                $.DialogByZ.Alert({Title: "提示", Content: req.msg,BtnL:"确定",FunL:alerts})
                /*setTimeout(function() {
                    window.location.href = "{php echo url('entry',array('do'=>'index','p'=>'usersconf','m'=>'mer_chats'))}";
                },1200);*/
            }
        });
    })


    var maxtime = 60; //倒计时60秒
    function CountDown() {
        if (maxtime >= 1) {
            msg = maxtime+"秒后获取";
            $('#getcode').text(msg);
            $('#getcode').attr("disabled",true);
            --maxtime;
        } else {
            clearInterval(timer);
            $('#getcode').text('获取验证码');
            $('#getcode').attr("disabled",false);
        }
    }


    // 获取验证码
    $('#getcode').click(function() {

        var names = $('#pm').attr('name');
        var val  = $('#pm').val();
        if(val == null) {
            $.DialogByZ.Alert({Title: "提示", Content: '请输入手机号码或电子邮箱',BtnL:"确定",FunL:alerts})
            return false;
        }

        // 获取验证码地址
        var urls = "{php echo url('entry',array('do'=>'Yzm','m'=>'mer_chats'))}";
        // Ajax  获取验证码
        $.ajax({url:urls, type:'POST',
            data:{
                'type':names,// 类型 手机，邮箱
                'val':val,// 值
            },
            success:function(req) {
                var res = JSON.parse(req);
                // 获取成功改变按钮
                if(!res.code) {
                    $.DialogByZ.Alert({Title: "提示", Content: res.msg,BtnL:"确定",FunL:alerts})
                    return false;
                }
                timer = setInterval("CountDown()", 1000);
            }
        });

    });


</script>

{template '_footers'}