<!DOCTYPE html>
<html><head>
        <meta charset="UTF-8">
        <title>温馨服务</title>
         <script src="{$modulePublic}shop/js/SetSize.js"></script>
        <style>body,input,textarea{font-size:12px;}</style>
        <meta name="screen-orientation" content="portrait/landscape">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
       <link href="{$modulePublic}shop/css/content.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            .aboutUspanel{}
            .aboutUspanel .inforlist{ display:block;  padding:1em 1em 1em 4em; position:relative; border-bottom:1px solid #e3e3e3;}
            .aboutUspanel .inforlist.hasmore:after{content:""; display:block; position:absolute; top:50%; right:1em; content:''; width:0.8em; height:0.8em; margin:-0.4em 0 0; border:solid #b5b5b5; border-width:0 1px 1px 0; transform:rotate(-45deg); -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg); -o-transform:rotate(-45deg); }
            .aboutUspanel .inforlist i{ display:block; position:absolute; left:1em; top:1em; width:1.6em; height:1.6em; border:1px solid currentColor; padding:0.3em;; border-radius:3em}
            .aboutUspanel .inforlist i.iconcolor01{ color:#576dcd}
            .aboutUspanel .inforlist i.iconcolor02{ color:#4ccac0}
            .aboutUspanel .inforlist i.iconcolor03{ color:#c5dc8c}
            .aboutUspanel .inforlist i.iconcolor04{ color:#d992e4}
            .aboutUspanel .inforlist i.iconcolor05{ color:#e9a85c}
            .aboutUspanel .inforlist i svg{ display:block; width:100%; height:100%; fill:currentColor}
            .aboutUspanel .inforlist em{ font-size:1.5em; color:#333; font-weight:bold; line-height:1.8em}
            .aboutUspanel .inforlist span{ font-size:1.4em;color:#666;line-height:1.8em}
        </style>
    </head>
    <body>
    <script>
            document.body.style.fontSize = SetSize.getScreenRatio() * 10 + 'px';
        </script>
        <script src="{$modulePublic}shop/js/svgPackage.js"></script>

        <header id="header"><div class="titleField">	<h2>关于我们</h2></div><div class="btnField">	<a href="javascript:history.go(-1);" class="btn back"><i></i></a>	<a href="javascript:location.reload();" class="btn"><i><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_reload_1"></use></svg></i></a></div></header><section id="main">
            <div class="aboutUspanel">
                <div class="inforlist">
                    <i class="iconcolor01"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_intro_1"></use></svg></i>
                    <em>关于我们</em>
                </div>
                <div class="inforlist">
                    <img src="{$modulePublic}shijing/shijing1.jpg" style="width:98%"/>
					<br/><br/>
                    <p style="font-size:1.3em;">星达城购物中心位于合肥经开区翡翠路与丹霞路交口，紧邻合肥地铁三号线丹霞路站，坐享大学城成熟商圈。</p>
					
					<br/> 
					<p style="font-size:1.3em";>
					
			星达城购物中心是点亮中国中产消费者精彩生活的一颗美丽星辰，以“让消费更欢乐，让消费更轻松”为使命，定位为“青春MALL 潮拜地 艺术城”，创造性地将文化、艺术、娱乐元素融入到购物中心和商业街区中，为消费者提供极致的消费体验。
			商场设计了富有情趣的购物动线，走路距离不超过100米。大小中庭的设计，让商品和空间互为映衬，移步换景，相得益彰。
			星达城购物中心的建筑各自带有独特的设计风格，时尚之芯是合肥年轻人最爱的自拍地，叹为观止的水滴舞让艺术不在高冷，玻璃桥让你尽情体验高空惊叫。
                    
					</p><br/>
					<p style="font-size:1.3em";>
					此外，商场还为提供多项贴心服务。在商场的公共区域，摆放有各种创意造型的休闲座椅。商场的一楼，配置有服务台，提供快速充电、主题童车租用、轮椅租用、咨询等各项服务。商场的二楼至四楼，配置了贴心且舒适度极佳的化妆间、卫生间、休息室、母婴室等配套设施。</p>
           
                </div>

                <div class="inforlist">
                    <i class="iconcolor02"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_office_1"></use></svg></i>
                    <em>商场名称：</em><span>星达城购物中心</span>
                </div>

                <div class="inforlist">
                    <i class="iconcolor03"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_map_1"></use></svg></i>
                    <em>地址：</em><span>合肥经开区翡翠路与丹霞路交口</span>
                </div>
                <a class="inforlist hasmore" href="tel:01058799000">
                    <i class="iconcolor04"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_telephone_1"></use></svg></i>
                    <em>电话：</em><span>0551-63808303</span>
                </a>
<!--                <a class="inforlist hasmore" href="aboutus_zhizhao">
                    <i class="iconcolor05"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_yingyezhizhao_1"></use></svg></i>
                    <span>营业执照</span>
                </a>-->
            </div>

        </section>
        <nav id="nav" class="mainNav">
            <div class="linkField">
                <ul>
                    <li>
                        <a href="{php echo $this->createMobileUrl('index2')}" class="current">
                            <i><svg><use xlink:href = "#icon_index_1"/></svg></i>
                            <span>首页</span>
                        </a>
                    </li>
                    <li >
                        <a href="{php echo $this->createMobileUrl('shop_activity_list')}" >
                            <i><svg><use xlink:href = "#icon_star_1"/></svg></i>
                            <span>活动</span>
                        </a>
                    </li>

                    <li>
                        <a href="{php echo $this->createMobileUrl('award_list')}">
                            <i><svg><use xlink:href = "#icon_gift_1"/></svg></i>
                            <span>换礼品</span>
                        </a>
                    </li>

                    <li>
                        <a href="{php echo $this->createMobileUrl('index')}" >
                            <i><svg><use xlink:href = "#icon_user_2"/></svg></i>
                            <span>我</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <script src="{$modulePublic}shop/js/idangerous.swiper.min.js"></script>
        <script src="{$modulePublic}shop/js/PRselector.js"></script>
        <script src="{$modulePublic}shop/js/PullLoad.js"></script>
        <script src="{$modulePublic}shop/js/notification.js"></script> 
        <script src="{$modulePublic}shop/js/statistics.js?t=31"></script>
        <script src="{$modulePublic}shop/js/Sharebox.js"></script>
    </body>
</html>