<!DOCTYPE html>
<html>

<head>
    {include file="common/meta"}
</head>
<body class="gray-bg">
<div class="col-sm-8" style="margin-top: 10px;">
    <div class="input-group">
        <input type="text" id="time" name="times" value="" placeholder="" class="input-sm form-control" style="height: 38px; margin-bottom: 5px;">
        <span class="input-group-btn">
        <button type="button" class="btn btn-sm layui-btn" onclick="search();" style="height: 38px; margin-bottom: 5px;">查看</button> </span>
    </div>
</div>
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-content" style="display:block;" id="list1">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>总商户名称</th>
                    <th>企业名称</th>
                    <th>总查验率</th>
                    <th>总扣件率</th>
                    <th>总退件率</th>
                    <th>总放行率</th>
                </tr>
                </thead>
                <tbody>
                {volist name='list' id='vo'}
                <tr>
                    <td>{$vo['user_name']}</td>
                    <td>{$vo['company_name']}</td>
                    <td>{$vo['rate']['check_num']}</td>
                    <td>{$vo['rate']['fasteners_num']}</td>
                    <td>{$vo['rate']['return_num']}</td>
                    <td>{$vo['rate']['release_num']}</td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="layui-box layui-laypage layui-laypage-default">{$page}</div>
</body>
<link href="./static/hadmin/layui/css/layui.css" rel="stylesheet">
<script src="./static/hadmin/layui/layui.all.js"></script>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#time' //指定元素
            ,range: "|"
        });
    });
    function search(){
        var dtime = $("#time").val();
        window.location.href='{:Url("admin/billrate/grandtotal")}&time='+dtime;
    }
</script>
</html>
