
{include file="public/header_new" /}


<body class="gray-bg">
    <div class="animated fadeInRight">

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">
                        <form class="form form-horizontal" id="form" >
                        <input type="hidden" name="form_user_id" value="{$formuser.id}">
                        <input type="hidden" name="collect_id" value="{$collectdata.id}">
						<div class="form-group">
                            <label class="col-sm-2 control-label">发起商户</label>
                            <div class="col-md-5">
                                <p class="form-control-static">姓名:{$formuser.user_name}</p>
                                <p class="form-control-static">手机:{$formuser.user_tel}</p>
                                <p class="form-control-static">公司名称:{$formuser.company_name}</p>
                                <p class="form-control-static">联系地址:{$formuser.address}</p>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">揽收商户</label>
                            <div class="col-md-5">
                                <p class="form-control-static">姓名:{$touser.user_name}</p>
                                <p class="form-control-static">手机:{$touser.user_tel}</p>
                                <p class="form-control-static">公司名称:{$touser.company_name}</p>
                                <p class="form-control-static">联系地址:{$touser.address}</p>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">包裹详情</label>
                            <div class="col-md-5">
                                
                                {volist name="collectdata.order_goods" id="vo"}
                                  <p class="form-control-static">运单号{$vo.ordersn},共有{$vo.goods_num}件商品</p>
                                  <p class="form-control-static">包含的商品有:</p>
                                  {volist name="vo.orderdata" id="vos"}
                                    <p class="form-control-static">{$vos.title}</p>
                                  {/volist}
                                {/volist}
                            </div>
                        </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
