{include file="common/header"}
<style>
    /**价格查询&包裹追踪**/
    .index_query{width: 100%;height: 360px;border-radius: 30px;margin-top:180px;}
    .index_query .hd{height:84px;}
    .index_query .hd ul{padding:0 18px;}
    .index_query .hd ul li{width: 50%;float:left;height:84px;line-height: 50px;padding-left: 12px;padding-top:20px;font-size: 18px;cursor: pointer;}
    .index_query .hd ul li.on{border-bottom:rgb(186,33,38) solid 2px;}
    .index_query .bd{margin-left:9px;margin-right: 9px;}
    /*.index_query .bd .boxx{border-top:#333 solid 1px;}*/
    .index_query tr,td{padding:13px 5px;font-weight:500;color:#000;font-size: 13px;}
    .index_query a{color:#F60;}
    .index_query input{line-height:26px;border:#999 solid 1px;color:#666;padding:1px 3px;}
    .index_query .button{font-size: 16px;
        padding: 8px 35px;
        display: inline-block;
        line-height: 20px;
        transition: all 1s cubic-bezier(0.175,0.885,0.32,1) 0s;
        cursor: pointer;
        color:#FFF;
    }
    .index_query .button:hover{background:#FFF;color:#000;}
    .index_query .bd{margin-left:9px;margin-right: 9px;}
    .index_query .bd .box{border-top:#333 solid 1px;}
    .index_query .padding{display:none;}
    .index_query .button.bg-blue{background:rgb(1,142,215);border-radius:30px;border:1px solid rgb(1,142,215);}
    @media screen and (max-width: 768px){
        .index_query{margin-top:100px;}
    }
</style>

<div class="index_query">
    <div class="bd">
        <div class="boxx padding-top">
            <div class="form-group" style="text-align:center;">
                <textarea name="txtNo" id="txtNo" class="input" rows="8" placeholder="请输入订单号或追踪号..." data-validate="required:必填" style="width:80%;margin-top:10px;padding:15px;box-sizing:border-box;"></textarea>
            </div>
            <div class="form-group" style="text-align: center;">
                <input class="button x6 x3-move bg-blue text-big radius-rounded" type="submit" value="包裹状态查询" onclick="return TrackCheck();">
            </div>
        </div>
    </div>
</div>

{include file="common/footer"}