<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>管理</title>
    <link rel="stylesheet" href="./static/plugins/layui/css/layui.css">
</head>
<body class="layui-layout-body">
{block name="hea"}
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">业务监管</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>

        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <!--<img src="http://t.cn/RCzsdCq" class="layui-nav-img">-->
                    管理
                </a>
            </li>
            <li class="layui-nav-item"><a href="">登出</a></li>
        </ul>
    </div>
{/block}
    {block name="menu"}
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->

            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">抽签管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{:Url('superadmin/pool_list')}">号池管理</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a href="{:Url('superadmin/round_menagem')}">轮次管理</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a href="{:Url('superadmin/lottery_menagem')}">中签管理</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a href="{:Url('superadmin/say_menage')}">意见管理</a></dd>
                    </dl>
                </li>
            </ul>

        </div>
    </div>
    {/block}
    <div class="layui-body">
        <!-- 内容主体区域 -->
        {block name="main"}
        <div style="padding: 15px;">内容主体区域</div>
        {/block}
    </div>

    <div class="layui-footer">
        {block name="footer"} {/block}
        <!-- 底部固定区域 -->
    </div>
</div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</html>