<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台操作系统</title>
    <link href="./static/index/admin/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="./static/index/admin/css/site.css" rel="stylesheet">-->
    <script src="./static/index/admin/js/jquery.min.js"></script>
    <!-- <link href="/static/admincss/font-awesome/4.4.0/css/font-awesome.min.css"  rel="stylesheet" type="text/css"> -->
</head>
</head>
<body style="min-width:790px;">
<style>
    .alert{
        position: fixed !important;z-index: 1000;width: 98%;top: 2%;
    }
</style>
<div class="container-fluid">
    <div id="alert"></div>
    <div class="wrap">
        <ul class="nav nav-tabs">
            <li><a href="{:Url('index/user_manage')}">用户管理</a></li>
            <li class="active"><a href="{:Url('index/user_create')}">增加用户</a></li>
        </ul>
        <div class="site-signup">
            <div class="row">
                <form class="form-horizontal" action="{:Url('index/user_create')}" method="post">
                    <div class="form-group">
                        <label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 用户名 </label>
                        <div class="col-sm-9">
                            <input type="text" class="rcol-xs-10 col-sm-5" value="" name="user_name" style="height:33px;">
                            <span class="help-inline col-xs-12 col-sm-7"></span>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label no-padding-right" for="form-field-6"> 电话号码 </label>
                        <div class="col-sm-9">
                            <input type="text" name="phone" id="phone" placeholder="电话号码" class="col-xs-10 col-sm-5" value="" style="height: 33px;">
                            <span class="help-inline col-xs-12 col-sm-7"><span class="middle"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label no-padding-right"> 状态 </label>
                        <div class="col-sm-9">
                            <select id="sex" name="status" class="multiselect" style="width: 380px;">
                                <option value="1">启用</option>
                                <option value="0">禁用</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label no-padding-right"> 所属角色 </label>
                        <div class="col-sm-9">
                            <select id="sex" name="role_id" class="multiselect" style="width: 380px;">
                                {volist name="list" id="vo"}
                                <option value="{$vo.id}">{$vo.name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="col-md-offset-2 col-md-9">
                        <button class="btn btn-info" type="submit">
                            <i class="icon-ok bigger-110"></i>
                            提交
                        </button>
                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="icon-undo bigger-110"></i>
                            重置
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="./static/index/admin/js/cmsinfo.js"></script>
<script src="./static/index/default/js/jquery-form.js" type="text/javascript"></script>
<!--弹出框-->
<!--<script src="/static/admindefault/prettify/lhgdialog.min.js" type="text/javascript"></script>-->
<script src="./static/index/admin/js/bootstrap.min.js"></script>
{include file="common/header"}