@charset "utf-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border:0 none;
    margin:0;
    padding:0;
	list-style-type:none;
    vertical-align:baseline;
	background: transparent;
	font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}
/*elements*/
div,a,input,button,select,textarea{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);-webkit-tap-highlight-color:transparent;}
input,select,textarea{outline:0;font-size:0.14rem;border:0 none;margin:0;padding:0;-webkit-appearance:none;border-radius:0; color:#333; font-family:Helvetica;}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {-webkit-text-size-adjust:none}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
a{text-decoration:none;color:#333;}
body{font-family:Helvetica;-webkit-text-size-adjust:none;-webkit-user-select:none;font-size:14px;color:#333; background:#F6F7F9;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-moz-font-feature-settings: "liga" on;}
table{border-collapse:collapse;border-spacing:0;}
img{border:0;vertical-align:middle;}
i,em{ font-style:normal;}
.green{color: #00A699;}
.red{ color:#FF2D55;}
.blue{ color:#3389EE;}
.gray{ color:#BABABA;}
.greenBg{background:#26CD5B; }
.blueBg{background:#3389EE; }
.redBg{ background:#FF2D55;}
.wx_box{ width:100%; max-width:768px; margin:0 auto; position:relative;}
.whiteBg{ background:#fff;}
.hide{ display:none;}
.title_h1{ height:0.42rem; line-height:0.41rem; border-bottom:1px solid #e9e9e9; background:#fff; padding:0 0.15rem; text-align:center; position:relative; font-size:0.18rem;}
.title_h1_return{ position:absolute; left:0.15rem; display:block; width:0.09rem;}
.title_h1_return img{ width:100%;}
.title_h1_service{ position:absolute; right:0.15rem; top:0; font-size:0.1rem; display:block; background:url(../images/img/title_service.png) no-repeat center 0.05rem; background-size:0.18rem auto; padding-top:0.24rem; line-height:0.1rem; color:#008CD5; font-size:0.12rem;}
.notice{ padding:0.09rem 0.42rem 0.08rem 0.44rem; background:#575A74 url(../images/img/tips_icon.png) no-repeat 0.15rem 0.12rem; background-size:0.16rem auto; color:#fff;
font-size:0.13rem; line-height:0.2rem; overflow:hidden; position:relative; height:0.4rem;}
.notice>div{ height:0.4rem; overflow:hidden;}
.notice ul{ float:left; overflow:hidden;}
.notice ul li{ padding-right:0.16rem; text-align:justify;}
.notice ul li a{ color:#fff;}
.notice em{ display:block; width:0.42rem; position:absolute; right:0; top:0.09rem; height:0.4rem; text-align:center; line-height:0.4rem; background:url(../images/close.png) no-repeat center;
background-size:0.16rem auto; border-left:1px solid rgba(255,255,255,0.23);}
.focus{overflow:hidden;position:relative; height:1.6rem; background:#ccc;}
.focus img{ width:100%;height:1.6rem; vertical-align:middle;}
.focus ul{-webkit-padding-start:0px;}
.focus>ol{height:0.06rem;position:absolute;z-index:10;text-align:center; width:100%; bottom:0.1rem; font-size:0;}
.focus>ol>li{display:inline-block;width:0.06rem;height:0.06rem;background-color:#D5D0CC;border-radius:0.08rem; margin-right:0.06rem; border:1px solid #D5D0CC;}
.focus>ol>li.on{background-color:#ffffff; border:1px solid #3D8CE8;}
.focus>ol>li:last-child{ margin-right:0;}
.nav{ height:0.5rem; line-height:0.5rem;overflow:hidden; background:#fff; font-size:0.14rem;}
.nav li{ float:left; box-sizing:border-box; width:33%; background-size:0.17rem 0.17rem !important; text-indent:0.47rem;}
.nav li:nth-child(2){ width:34%; border-left:1px solid #E9E9E9; border-right:1px solid #E9E9E9;}
.nav_icon01{ background:url(../images/img/nav_icon01.png) no-repeat 0.22rem center;}
.nav_icon02{ background:url(../images/img/nav_icon02.png) no-repeat 0.22rem center;}
.nav_icon03{ background:url(../images/img/nav_icon03.png) no-repeat 0.22rem center;}
.title_h3{ line-height:0.44rem; text-align:center; font-size:0.16rem;}
.title_h3 span{ display:inline-block; padding:0 0.15rem; position:relative;}
.title_h3 span:before{ content:""; height:2px; width:0.1rem; position:absolute; left:-0.09rem; background:#CDCDCE; top:50%; margin-top:-1px;}
.title_h3 span:after{ content:""; height:2px; width:0.1rem; position:absolute; right:-0.09rem; background:#CDCDCE; top:50%; margin-top:-1px;}
.order_list li{ background:#FFFFFF;border-bottom:1px solid #E9E9E9; margin-bottom:0.05rem;}
.order_title{ background:#FFFFFF;height:0.44rem; line-height:0.44rem;border-bottom:1px solid #E9E9E9; padding:0 0.15rem; font-size:0.18rem;}
.order_list_details{ padding:0 0.15rem;}
.order_list_details dt{ line-height:0.34rem; color:#666666; font-size:0.12rem; overflow:hidden;border-bottom:1px solid #E9E9E9;}
.order_list_details dt span { float:left;}
.order_list_details dt span i{ margin-left:0.04rem;}
.order_list_details dt em{ float:right;}
.order_list_details dd{ padding:0.1rem 0.88rem 0.05rem 0; position:relative;font-size:0.12rem; overflow:hidden;}
.order_list_details dd h5{ font-size:0.2rem; line-height:0.24rem; margin-bottom:0.07rem;}
.order_list_times{  color:#666; line-height:0.16rem; margin-bottom:0.075rem;}
.order_list_times span{ display:inline-block;height:0.16rem; line-height:0.16rem; border-radius:0.16rem; width:0.3rem; font-size:0.1rem; text-align:center;color:#fff; margin-left:0.08rem;}
.order_list_tips{ font-size:0.12rem; line-height:0.14rem; margin-bottom:0.15rem;}
.order_list_tips span{ margin-left:0.02rem;}
.order_list_font01{ line-height:0.12rem; margin-bottom:0.1rem;}
.chakan{ display:block; width:0.88rem; height:0.4rem; line-height:0.4rem; border-radius:0.4rem; text-align:center;color:#fff; font-size:0.16rem; position:absolute; bottom:0.15rem; right:0;}
.order_list li:last-child{ margin-bottom:0;}




/**授权扣费**/
.license_Fee{ overflow:hidden;}
.license_Fee dl{ background:#fff; margin-bottom:0.1rem;}
.license_Fee dl dt{ height:0.44rem; line-height:0.44rem; padding:0 0.16rem; border-bottom:1px solid #E9E9E9; font-size:0.14rem; color:#666;}
.license_Fee dl dd{ padding:0 0.15rem;}
.license_Fee dl dd p{ line-height:0.5rem;border-bottom:1px solid #E9E9E9; overflow:hidden; font-size:0.14rem;}
.license_Fee dl dd p img{ float:left; width:0.26rem; position:relative; top:0.12rem; margin-right:0.11rem;}
.license_Fee dl dd p span{ float:left;}
.license_Fee dl dd p a{ float:right;margin-left:0.11rem;}
.license_Fee dl dd p i{ float:right; }
.license_Fee dl dd p:last-child{ border-bottom:0;}
.license_Fee dl:last-child{ margin-bottom:0;}
.license_Fee_arrow{ display:block; float:right; width:0.14rem; height:0.44rem; background:url(../images/img/arrow.png) no-repeat center; background-size:0.14rem auto;}
.license_Fee_arrow02{ transform:rotate(180deg);}
.footer{ line-height:0.61rem; height:0.61rem;font-family: PingFang-SC-Bold;font-size:0.12rem;color: #333333;background:url(../images/img/logo.png) no-repeat 2.08rem 0.21rem;
background-size:0.48rem auto;width:100%; position:absolute; bottom:0px; text-indent:1.22rem;}
.footer_placeholder{ height:0.61rem; width:100%;}
.black_bg{ width:100%; max-width:768px; height:100%; position:fixed; top:0; background:rgba(0,0,0,0.5); z-index:99;display:none;}
.popup{ width:2.75rem; height:3.08rem; background:#fff; position:fixed; top:50%; left:50%; transform:translate(-50%,-50%); z-index:999; border-radius:0.05rem; padding:0 0.3rem; box-sizing:border-box;display:none;}
.popup h3{ font-size:0.18rem; text-align:center; padding:0.2rem 0;}
.popup p img{ display:block; width:2.15rem; height:2.15rem;}
/**手机验证**/
.login h3{ padding:0.4rem 0 0.24rem 0;}
.login h3 span{ display:block; height:1.25rem; width:1.25rem; border-radius:50%; margin:0 auto; overflow:hidden; border:1px solid #000;}
.login h3 span img{ width:100%; height:100%;}
.login_ul{ padding:0 0.15rem;}
.login_ul li{ padding:0.1rem 0; height:0.34rem; line-height:0.34rem; border-bottom:1px solid #eee;}
.login_ul li input{ width:100%; height:0.34rem; font-size:0.14rem; background:none;}
.login_ul_li01{ margin-bottom:0.2rem;}
.login_ul_li01 p{ float:left; width:2.4rem;}
.login_ul_li01 span{ float:left; display:block; width:0.95rem; height:0.34rem; border:1px solid #e9e9e9; box-sizing:border-box; text-align:center;}
.login_ul_li02{ text-align:center;background:#00A5FF;}
.login_ul_li02 a{ display:block; width:100%; border-radius:0.02rem; font-size:0.16rem; color:#fff;}
.login_isAgree{ text-align:center; padding:0.2rem 0 0.3rem 0; color:#666; font-size:0;margin:0 0.15rem;line-height:0.12rem; font-size:0;}
.login_isAgree a{ text-decoration:underline;}
.login_isAgree label{ display:inline-block; position:relative; font-size:0.12rem; padding-left:0.2rem;}
.login_isAgree input{ width:0.12rem; height:0.12rem; position:absolute; top:0; left:0; z-index:9;}
.login_isAgree input + i{ position:absolute; top:0; left:0; display:block; width:0.12rem; height:0.12rem;background:url(../images/img/check.png) no-repeat center; background-size:100% !important;}
.login_isAgree input[type="checkbox"]:checked + i{ background:url(../images/img/checked.png) no-repeat center;}
.login_service{ margin:0 0.15rem; height:0.5rem;border:1px solid #eee; line-height:0.5rem; text-align:center; font-size:0.14rem; color:#333; text-align:center;}
.login_service a{ display:inline-block; background:url(../images/img/nav_icon01.png) no-repeat left center; background-size:0.16rem auto; width:0.8rem; text-indent:0.23rem; white-space:nowrap; }
.login_gray{color:#999;pointer-events:none;}
.login_white{color:rgba(255,255,255,0.5) !important;pointer-events:none;}
.login_tips{ width:1.65rem; height:0.44rem; line-height:0.44rem; text-align:center; background:rgba(0,0,0,0.7); color:#fff; border-radius:0.03rem; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);
font-size:0.15rem;}
/**停车确认**/
.order_tab{ background:#fff;font-size:0.14rem;}
.order_tab h4{ font-size:0.12rem; text-align:center; line-height:0.28rem; color:#666;}
.order_tab h4 span{ display:inline-block; background:url(../images/img/tab_icon.png) no-repeat left 0.06rem; background-size:0.14rem auto; padding-left:0.2rem;}
.order_tab_ul{ padding-left:0.08rem; overflow:hidden;}
.order_tab_ul li{ float:left; width:1.75rem;}
.order_tab_ul li span{ display:block; height:0.43rem; line-height:0.43rem; text-align:center; width:1.75rem;background: #F7F7F7;border:1px solid #E9E9E9;border-radius:0.04rem 0.04rem 0 0;
color:#999999; box-sizing:border-box;}
.order_tab_ul li:first-child{ margin-right:0.1rem;}
.order_tab_ul li:first-child .on{ background:#3389EE;border:1px solid #3389EE; color:#fff;}
.order_tab_ul li:last-child .on{ background:#FAAE32;border:1px solid #FAAE32; color:#fff;}
.order_tab_box{ border-radius:0.02rem; background:#F6F7F9;}
.order_tab_box:nth-of-type(1){ border:0.02rem solid #3389EE;}
.order_tab_box:nth-of-type(2){ border:0.02rem solid #FAAE32;}
.order_tab_box dl dt{ border-bottom:1px solid #E9E9E9;line-height:0.44rem;font-size:0.14rem; padding:0 0.13rem;background:#fff; overflow:hidden;}
.order_tab_box dl dd{ padding:0 0.13rem; background:#fff; margin-bottom:0.1rem; font-size:0.14rem;}
.order_tab_box dl dd p{ line-height:0.44rem; height:0.44rem; border-bottom:1px solid #E9E9E9; overflow:hidden;}
.otb_font01{ display:block; float:left; white-space:nowrap; width:0.56rem;}
.otb_font02{ display:block; float:right;} 
.otb_font03{ display:block; float:right; width:0.6rem; height:0.3rem; line-height:0.3rem;background: #3389EE; border-radius:0.02rem; text-align:center; color:#fff; margin:0.07rem 0 0 0.11rem;}
.order_tab_box dl dd .gray{ background:url(../images/img/arrow_right.png) no-repeat center right; background-size:0.08rem auto; padding-right:0.2rem;}
.order_tab_box dl dd:last-child{ margin:0;}
.order_tab_box dl dd:last-child p:last-child{ border-bottom:0;}
.otb_arrow{ display:block; float:right; width:0.12rem;}
.otb_arrow img{ width:100%;}
.otb_li{ line-height:0.44rem; height:0.44rem; border-bottom:1px solid #E9E9E9; overflow:hidden;}
.otb_li_time{ overflow:hidden; float:left;}
.otb_li_time > div{ float:left; overflow:hidden; width:0.81rem; height:0.2rem; border:1px solid #E9E9E9; margin:0.12rem 0.1rem 0 0.3rem; overflow:hidden; line-height:0.18rem;}

.otb_li_time i{ display:block; float:left; width:0.2rem; text-align:center; height:0.2rem;}
.otb_li_time i img{ width:0.07rem;}
.otb_li_time input{ float:left; width:0.39rem; text-align:center;border-left:1px solid #E9E9E9;border-right:1px solid #E9E9E9; height:0.2rem; font-size:0.12rem;}
.otblt_minus{/* background:url(../images/minus.png) no-repeat center;background-size:0.07rem 0.07rem;*/}
.otblt_add{/*background:url(../images/add.png) no-repeat center;background-size:0.07rem 0.07rem;*/}

.otb_li_price{ float:right; color:#FF2D55;}
.order_tab_button{ display:block; margin:0.21rem 0.15rem; height:0.53rem; line-height:0.53rem; text-align:center; color:#fff; font-size:0.16rem;background: #00A5FF;border-radius:0.02rem; color:#fff;}
.popup_code{ background:#F9F9F9; width:100%; max-width:768px; position:fixed; bottom:0; display:none; z-index:999;}
.popup_code h3{ height:0.5rem; line-height:0.5rem; font-size: 0.16rem;text-align: center; position:relative; border-bottom:1px solid #E9E9E9;}
.popup_code_close{ position:absolute; top:0; left:0.2rem; display:block; width:0.12rem;}
.popup_code_close img{ width:100%;}
.popup_code_pay{ position:relative; margin:0.3rem 0.15rem;}
.popup_code_pay ul{border:1px solid #E9E9E9; background:#fff; display:box; display:-webkit-box; display:-moz-box;}
.popup_code_pay ul li{ width:0.57rem; height:0.57rem;border-right:1px solid #E9E9E9;box-flex:1;-moz-box-flex:1;-webkit-box-flex:1; text-align:center; line-height:0.66rem; color:#000; font-size:0.22rem;
font-weight:bold;}
.popup_code_pay ul li:last-child{ border-right:0;}
.popup_code_pay input{ opacity:0; position:absolute; top:0rem; left:0rem; height:0.58rem; width:100%; z-index:1;}
.popup_code_tips{ font-size:0.12rem; text-align:center; line-height:0.28rem; color:#666;}
.popup_code_tips span{ display:inline-block; background:url(../images/img/tab_icon.png) no-repeat left 0.06rem; background-size:0.14rem auto; padding-left:0.2rem;}
.popup_tips{ padding: 0 0.15rem; height:0.44rem; line-height:0.44rem; text-align:center; background:rgba(0,0,0,0.7); color:#fff; border-radius:0.03rem; position:fixed; top:50%; left:50%; transform:translate(-50%,-50%);font-size:0.15rem; display: none; z-index: 999; white-space:nowrap;} 
.popup_code_button{ display:block; margin:0.21rem 0.15rem; height:0.53rem; line-height:0.53rem; text-align:center; color:#fff; font-size:0.16rem;background: #00A5FF;border-radius:0.02rem; color:#fff;}
.popup_select{background:#F0EFF7; width:100%; max-width:768px; position:fixed; bottom:0;z-index:999; font-size:0.14rem; display:none;}
.popup_select ul{ margin-bottom:0.08rem;}
.popup_select ul li{ line-height:0.44rem; border-bottom:1px solid #eee; box-sizing:border-box; text-align:center; background:#FFFFFF; color:#666;}
.popup_select_cancel{ line-height:0.44rem; border-top:1px solid #eee; box-sizing:border-box; text-align:center; background:#FFFFFF; font-weight:bold;}
/**缴费页面**/
.payment{ padding:0.1rem 0 0.5rem 0; overflow:hidden;}
.payment dl { padding-left:0.15rem; background:#fff; margin-bottom:0.4rem;}
.payment dl dt{ line-height:0.54rem;overflow:hidden; border-bottom:1px solid #E9E9E9; padding-right:0.15rem;}
.payment dl dt span{ float:left;font-size:0.15rem;color: #585858;}
.payment dl dt i{ float:right;font-size:0.24rem;color: #232323;}
.payment dl dd{ padding:0.05rem 0;}
.payment dl dd p{font-size:0.14rem;color: #888888; line-height:0.2rem; padding:0.1rem 0; overflow:hidden; padding-right:0.15rem;}
.payment dl dd p span{ display:block; float:left;}
.payment dl dd p i{ float:right;}
.payment_service{ margin:0 0.15rem; height:0.5rem; line-height:0.5rem; border:1px solid #E9E9E9; font-size:0.14rem;background:#fff url(../images/img/nav_icon01.png) no-repeat 1.32rem center; background-size:0.16rem auto;
 text-indent:1.57rem;}
.payment_service a{ display:block; width:100%;}
.payment_price{ width:100%; max-width:768px; position:fixed; bottom:0; height:0.5rem; padding:0.1rem 1.37rem 0 0; background:#fff;border-top:1px solid #E9E9E9; box-sizing:border-box;}
.payment_price p{font-size:0.1rem;color: #888888;text-align: right;line-height:0.12rem;}
.payment_price_font01{ line-height:0.14rem; margin-bottom:0.06rem;}
.payment_price_font01 i{ font-size:0.14rem; color:#F76260;}
.payment_price_pay{ display:block; height:0.5rem; line-height:0.5rem;background: #F85959; color:#fff; font-size:0.18rem; text-align:center; position:absolute; top:0; right:0; width:1.2rem;} 
.payment_price_pay_none{ background:#ccc; pointer-events:none;}
/**收银台**/
.cashier{ overflow:hidden; padding-bottom:0.5rem;}
.cashier dl { margin-bottom:0.4rem;}
.cashier dl dt{  background:#fff;line-height:0.54rem;overflow:hidden; border-bottom:1px solid #E9E9E9; padding:0 0.15rem; text-align:right; font-size:0.15rem;color: #585858; margin-bottom:0.1rem;}
.cashier dl dt i{ font-size:0.18rem;color: #F85959;}
.cashier dl dd{ background:#fff;margin-bottom:0.1rem;}
.cashier dl dd h4{font-size:0.14rem;color: #666666;text-align: left; padding:0 0.15rem;line-height:0.44rem; border-bottom:1px solid #E9E9E9;}
.cashier dl dd p{font-size:0.14rem;color: #888888; line-height:0.26rem; overflow:hidden; padding:0.12rem 0.15rem 0.12rem 0; margin-left:0.15rem; border-bottom:1px solid #E9E9E9; font-size:0.14rem;}
.cashier dl dd p em{ display:block; float:left; width:0.28rem; height:0.26rem; margin-right:0.08rem;}
.cashier dl dd p em img{ width:0.26rem; float:left;}
.cashier dl dd p i{ display:block; float:right; width:0.24rem; height:0.24rem;background: #FFFFFF; border:1px solid #AAAAAA; box-sizing:border-box; border-radius:50%; margin-top:0.01rem;}
.cashier dl dd p:last-child{ border-bottom:0;}
.cashier_font01{ height:0.3rem;}
.cashier_font01 span{ display:block; float:left; line-height:0.14rem;font-size:0.14rem;}
.cashier_font01 span b{ display:block; line-height:0.12rem; font-size:0.1rem; margin-top:0.06rem; color:#999999;}
.cashier_font01 em img{ margin-top:0.02rem;}
.cashier_font02 em img{ margin-top:0.05rem;}
.cashier dl dd p .cashier_checked{ background:url(../images/img/cashier_check.png) no-repeat center; border:0; background-size:100%;}
.cashier_pay{ height:0.5rem; line-height:0.5rem;background: #F85959; color:#fff; font-size:0.18rem; text-align:center; position:fixed; bottom:0; width:100%; max-width:768px;} 
.cashier_pay_none{ background:#ccc; pointer-events:none;}
/**在线管理系统**/
.manager{ overflow:hidden;}
.manager_top{ min-height:0.64rem; overflow:hidden; padding:0.32rem 0.15rem 0.32rem 0.94rem; background:#FFFFFF; margin-bottom:0.1rem; position:relative;}
.manager_top img{ position:absolute; top:0.4rem; left:0.15rem; width:0.64rem; height:0.64rem; border-radius:50%;}
.manager_top h3{ font-size:0.16rem; line-height:0.21rem; margin-bottom:0.02rem; height:0.21rem; overflow:hidden;}
.manager_top p{ font-size:0.12rem; color:#999; line-height:0.21rem; height:0.21rem; overflow:hidden;}
.manager_ul{ overflow:hidden; width:100%;}
.manager_ul li{ width:33%; float:left; overflow:hidden;}
.manager_ul li:nth-child(3n-1){ width:34%;}
.manager_ul li img{ width:100%; height:1.12rem;}
/**权限设定角色**/
.manager_content{ margin-bottom:0.2rem; background:#fff; padding-left:0.15rem;}
.manager_content_li{padding:0.12rem 0.15rem 0.12rem 0; font-size:0.14rem; line-height:0.2rem; overflow:hidden; position:relative; border-bottom:1px solid #D9D9D9;}
.manager_content_li span{ display:block; width:0.86rem; float:left;height:0.2rem; line-height:0.2rem; overflow:hidden; color:#585858;}
.manager_content_li input{ height:0.14rem; border:0; color:#000; width:2.4rem;}
.manager_content_li em{ display:block; float:left; height:0.14rem;}
.manager_content_li:last-child{ margin-bottom:0;}
.manager_content_select{ float:right; font-size:0; position:absolute; right:0.15rem; top:0.07rem;}
.manager_content_select i{ display:inline-block; height:0.3rem; line-height:0.3rem; text-align:center; width:0.5rem; border:1px solid #aaa; border-radius:0.02rem; box-sizing:border-box; font-size:0.1rem; margin-left:0.1rem;
color:#666666; background:url(../images/img/manager_content_li_icon01.png) no-repeat right bottom; background-size:0.135rem auto !important; overflow:hidden;}
.manager_content_select .on{ border:1px solid #00A699; background:url(../images/img/manager_content_li_icon02.png) no-repeat right bottom;}
.manager_tab_close{ position:absolute; top:0.13rem; right:0.14rem;}
.manager_tab_close img{ width:0.16rem;}
.manager_content_submit{ padding:0 0.15rem; height:0.58rem; font-size:0;}
.manager_content_submit span{ display:inline-block;height:0.58rem; line-height:0.58rem; font-size:0.18rem; width:1.675rem; text-align:center; box-sizing:border-box; margin-right:0.1rem;}
.manager_content_submit span:last-child{ margin:0;}
.save{background: #008CD5;border-radius:0.02rem;color: #fff;border: 1px solid #008CD5;}
.back{background: #fff;border-radius:0.02rem;color: #666;border: 1px solid #E9E9E9;}
/**设计方案**/
.design_plan{ margin-top:0.1rem;}
.design_plan_content{background:#fff; padding-left:0.15rem; margin-bottom:0.1rem;}
.design_plan_detalis h3{line-height:0.35rem;padding-top:0.1rem;}
.design_plan_ul{ background:#fff; padding-left:0.15rem;}
.design_plan_ul li{padding:0.12rem 0rem; font-size:0.14rem; line-height:0.2rem; overflow:hidden; position:relative; border-bottom:1px solid #e9e9e9;}
.design_plan_ul li span{ display:block; width:0.86rem; float:left;height:0.2rem; line-height:0.2rem; overflow:hidden; color:#585858;}
.design_plan_ul li input{ height:0.2rem; border:0; color:#000; width:2.4rem;}
.design_plan_ul li em{ display:block; float:left;}
.design_plan_ul li .on{ color:#000;}
.design_plan_ul li:last-child{ margin-bottom:0;}
.design_plan_ul li .otb_li_time{ margin-right:0.15rem;}
.design_plan_ul li .otb_li_time > div{ margin:0 0.1rem 0 0;}
.design_plan_ul li .otb_li_time > div input{ width:0.39rem; height:0.2rem;border-left: 1px solid #E9E9E9;border-right: 1px solid #E9E9E9;}
.design_plan_submit{ padding:0 0.15rem; height:0.58rem; font-size:0; margin-top:0.2rem;}
.design_plan_submit span{ display:inline-block;height:0.58rem; line-height:0.58rem; font-size:0.18rem; width:1.675rem; text-align:center; box-sizing:border-box; margin-right:0.1rem;}
.design_plan_submit span:last-child{ margin:0;}
.design_plan_select{ width:2.6rem; background:url(../images/img/arrow_right.png) no-repeat center right;background-size: 0.08rem auto; color:#333;}
.design_plan_park{ background:#fff;} 
.design_plan_park li{border-bottom:1px solid #D9D9D9; overflow:hidden; font-size:0.15rem; line-height:0.16rem;}
.design_plan_park li div{ height:0.68rem; float:left; padding:0.13rem 0 0 0.15rem; box-sizing:border-box;}
.design_plan_park li div span{ display:block; margin-bottom:0.08rem;}
.design_plan_park li div input{ width:100%; height:0.18rem; font-size:0.15rem;}
.design_plan_park_left{ width:40%;}
.design_plan_park_center{ width:42%; border-left:1px solid #D9D9D9; border-right:1px solid #e9e9e9;}
.design_plan_park_right{ width:17.8%; font-size:0; padding:0.25rem 0 0 0 !important; text-align:center;}
.design_plan_park_right em{ display:inline-block; width:0.14rem; height:0.14rem; vertical-align:middle;}
.design_plan_park_right em:nth-child(2){ margin-left:0.16rem;}
.design_plan_park_right em img{ width:100%;}
