{template 'common/header'}
<link rel="stylesheet" href="{MODULE_URL}template/web/public.css">
<script type="text/javascript" src="{MODULE_URL}template/web/js.js"></script>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">基本资料</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">择偶要求</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">照片</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">付费查看他的联系方式</a></li>
	<li role="presentation"><a href="#one" aria-controls="one" role="tab" data-toggle="tab">打赏</a></li>
	<li role="presentation"><a href="#two" aria-controls="two" role="tab" data-toggle="tab">收到的礼物</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">{template 'web/page/user_view_1'}</div>
    <div role="tabpanel" class="tab-pane" id="profile">{template 'web/page/user_view_2'}</div>
    <div role="tabpanel" class="tab-pane" id="messages">{template 'web/page/user_view_3'}</div>
    <div role="tabpanel" class="tab-pane" id="settings">

		<!--列表开始-->
	<div class="panel panel-info">
<div class="panel-heading">查看联系方式记录</div>
<table class="table table-hover">
<thead>
{template 'web/banner/contact'}
<thead>
<tbody>
{loop $contact $key $contact}
{template 'web/page/contact_list'}
{/loop}
</tbody>
</table>
{template 'web/banner/page'}
</div>
	<!--列表结束-->
	
	</div>
	<div role="tabpanel" class="tab-pane" id="one">

		<!--列表开始-->
	<div class="panel panel-info">
<div class="panel-heading">打赏记录</div>
<table class="table table-hover">
<thead>
{template 'web/banner/enjoy'}
<thead>
<tbody>
{loop $enjoy $key $enjoy}
{template 'web/page/enjoy_list'}
{/loop}
</tbody>
</table>
{template 'web/banner/page'}
</div>
	<!--列表结束-->

	</div>
	<div role="tabpanel" class="tab-pane" id="two">

	<!--列表开始-->
	<div class="panel panel-info">
<div class="panel-heading">礼物赠送记录</div>
<table class="table table-hover">
<thead>
{template 'web/banner/receive'}
<thead>
<tbody>
{loop $receive $key $receive}
{template 'web/page/receive_list'}
{/loop}
</tbody>
</table>
{template 'web/banner/page'}
</div>
	<!--列表结束-->

	</div>
  </div>

</div>

{template 'common/footer'}