<!DOCTYPE html>
<html>

<head>
    {include file="common/meta"}
    <link rel="stylesheet" href="./static/hadmin/layui/css/layui.css"></link>
</head>
<body class="gray-bg">
<div class="col-sm-12">
    <div class="ibox float-e-margins">
       
        <div class="ibox-content" style="display:block;" id="list1">
            <input style="float: left;width:20%;" type="text" name="search" value="" id="where" required lay-verify="required" placeholder="请输入货号,名称,品牌" autocomplete="off" class="layui-input">
            <a class="btn btn-info" href="#"  type="button" id="search" style="line-height:28px;"><i class="fa fa-file-excel-o"></i>搜索</a>
            <a class="btn btn-info" href="#"  type="button" id="load" style="line-height:28px;background-color: #009688;"><i class="fa fa-file-excel-o"></i>批量(导入,更新)</a>
            <table class="layui-table">
                <thead>
                <tr>
                    <th>商品货号</th>
                    <th>商品名称</th>
                    <th>hs编码</th>
                    <th>品牌</th>
                    <th>原产国</th>
                    <th>单价</th>
                    <th>计量单位</th>
                    <th>规格</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="vo"}
                <tr>
                    <td>{$vo.EntGoodsNo}</td>
                    <td>{$vo.GoodsName}</td>
                    <td>{$vo.HSCode}</td>
                    <td>{$vo.Brand}</td>
                    <td>{$vo.OriginCountry}</td>
                    <td>{$vo.RegPrice}</td>
                    <td>{$vo.GUnit}</td>
                    <td>{$vo.GoodsStyle}</td>
                    <td>
                        <a class="btn btn-danger " href="" type="button" onclick="del(this,'{$vo.id}');return false;"><i class="fa fa-paste"></i> 删除</a>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="layui-box layui-laypage layui-laypage-default">{$page}</div>
        </div>
    </div>
</div>


</body>
<!-- 全局js -->
<script src="./static/hadmin/js/jquery.min.js?v=2.1.4"></script>
<script src="./static/hadmin/js/bootstrap.min.js?v=3.3.6"></script>
<!-- Bootstrap table -->
<script src="./static/hadmin/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="./static/hadmin/layui/layui.all.js"></script>
<script>
    // admin/goods/add

    layui.use(['upload','form','laydate'], function () {
        upload = layui.upload;
        form = layui.form;
        var laydate = layui.laydate;
    });


    $('#load').bind("click",function () {
        layer.open({
            type: 1,        //弹窗类型
            title: false,   //显示标题
            closeBtn: 1,     //是否显示关闭按钮
            shadeClose: true, //显示模态窗口
            area: ['390px', '189px'], //宽高
            content: '<div class="col-sm-12" id="upload">\n' +
                '        <div class="ibox float-e-margins">\n' +
                '            <div class="ibox-content">\n' +
                '                <div class="page-container">\n' +
                '                    <button type="button" class="layui-btn" id="file2">\n' +
                '                        <i class="layui-icon">&#xe67c;</i>请上传商品文件格式,最大上限5000条\n' +
                '                    </button>\n' +
                '                </div>\n' +
                '            </div>\n' +
                '        </div>\n' +
                '</div>', //弹窗内容
            cancel:function () {
                // $('#f').css('display','none');
                window.location.reload();
            }

        });
        var uploadInst = upload.render({
            elem: '#file2' //绑定元素
            ,accept:"file"
            , url: '{:Url("")}' //上传接口
            ,data:{
                code:function () {
                    return $('#code').val();
                }
            }
            ,before: function(obj){
                layer.load(); //上传loading
            }
            , done: function (res) {
                layer.closeAll('loading');
                if (res.code==0){
                    parent.layer.msg(res.message, {icon: 6});
                } else{
                    parent.layer.msg(res.message, {icon: 5});
                }
            }
            , error: function () {
                //请求异常回调
                parent.layer.msg('请求异常', {icon: 5});
            }
        });
        form.render();
    });
  
    // function del(obj,id) {
    //     layer.open({
    //         content: '是否确定删除？',
    //         yes: function(index, layero){
    //             //do something
    //             $.ajax({
    //                 url: "",
    //                 type:'get',
    //                 dataType:'json',
    //                 success:function (res) {
    //                     if (res.code==0){
    //                         layer.msg(res.message, {icon: 6});
    //                         $(obj).parent().parent().remove();
    //                     } else{
    //                         layer.msg(res.message, {icon: 5});
    //                     }
    //                 } ,
    //                 error:function (err) {
    //                     layer.msg('链接服务错误!', {icon: 5});
    //                 }
    //             })
    //         },
    //         no:function () {
    //             layer.close(index); //如果设定了yes回调，需进行手工关闭
    //         }
    //     });
    //     return false;
    // }

    // $("#search").bind('click',function () {
    //     var searchType = $("#searchType").val();
    //     var v = $('#where').val();
    //     var status = $('#status').val();
    //     var stime = $('#stime').val();
    //     var etime = $('#etime').val();
    //    window.location.href="{:Url('admin/goods/list')}&searchVal="+v+"&searchType="+searchType+"&status="+status+"&stime="+stime+"&etime="+etime;
    // });
</script>
</html>

