<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/plugins/layui/css/layui.css"/>
    <script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>
    <style>
        .header span{background: #009688;margin-left: 30px;padding: 10px;color: #fff;}
        .header div{border-bottom:solid 2px #009688;margin-top: 8px;}
        .header button{float: right;margin-top: -5px;}
        .ths{font-size: 22px;font-weight: bold}
        .boys{font-size: 16px;}
    </style>
</head>
<body style="padding-top: 10px;">
<div class="header">
    <span>{$title}</span>
    <!--<button class="layui-btn layui-btn-sm" onclick="add();">添加</button>-->
    <div></div>
</div>
<form class="layui-form" action="post">

    <div class="layui-form-item"></div>

    <div class="layui-form-item">

        <div class="layui-form-item">
            <label class="layui-form-label">对账日预警值:</label>
            <div class="layui-input-block">
                <input type="text" name="day" value="{$data['day']}" required class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">对账月预警值:</label>
            <div class="layui-input-block">
                <input type="text" name="month" value="{$data['month']}" required  lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>

        <input type="hidden" name="id" value="{$data['id']}">

    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" id="sub" lay-submit lay-filter="formDemo">确认设置</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置信息</button>
        </div>
    </div>
</form>

<script>

    var flag = false;
    //Demo
    layui.use(['layer','jquery','form'],function(){
        layer = layui.layer;
        var form = layui.form
        $ = layui.jquery;

        //监听提交
        form.on('submit(formDemo)', function(data){

            if(flag) {
                return false;
            }

            //layer.msg(JSON.stringify(data.field));
            var id = data.field.id;
            var day    = data.field.day;
            var month  = data.field.month;

            if(day == '') {
                layer.msg('对账日不能为空',{icon:1});
            }
            if(month == '') {
                layer.msg('对账月不能为空',{icon:1});
            }

            $('#sub').attr('disabled',true);
            flag = true;

            $.ajax({
                url:"{:Url('admin/fina/store')}",
                type:'post',
                dataType:'json',
                data:{'id':id,'day':day,'month':month},
                success:function(data) {
                    var d = JSON.parse(data);
                    if(d.code == 1 ) {
                        layer.msg(d.msg,{icon:1});
                    } else {
                        layer.msg(d.msg,{icon:2});
                    }

                    setTimeout(function() {
                        var index = parent.layer.getFrameIndex(window.name);
                        // 关闭父级窗口
                        parent.layer.close(index);
                        window.location.reload();
                    },1000);

                },
                error:function(er) {
                    //console.log(er)
                }
            })

            return false;
        });
    });
</script>
</body>
</html>