<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/layui/css/layui.css"/>
	<script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>
	<style>
		.header span{background: #009688;margin-left: 30px;padding: 10px;color: #fff;}
		.header div{border-bottom:solid 2px #009688;margin-top: 8px;}
		.header button{float: right;margin-top: -5px;}
		#formli {width: 100%;float: left;}
		#formli li{float: left;}
		
		#formli2 {width: 100%;float: left;}
		#formli2 li{float: left;margin-right: 10px;}
	</style>
</head>
<body style="padding: 10px;">
	
	<div class="header">
		<span>支付企业信息</span>
		<!--<button class="layui-btn layui-btn-xs" style="float: right;" onclick="add();">添加</button>-->
		<div></div>
	</div>
	
	<div style="margin: 15px 0px;"></div>
	
	<form class="layui-form layui-form-pane" id="form1">
		
	  	<ul id="formli">
	  		<li>
	  			<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">企业编号:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[gzeportCode]" id="" value="<?php if(isset($info['gzeportCode'])){echo $info['gzeportCode'];}?>" placeholder="请输入企业备案编号"/>
			  		</div>
			  	</div>
			  	
			  	<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">EDI账号:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[ediCode]" value="<?php if(isset($info['ediCode'])){echo $info['ediCode'];}?>" placeholder="请输入检验检疫传输类型"/>
			  		</div>
			  	</div>
			  	
			  	<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">Http Key:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[HttpKey]" value="<?php if(isset($info['HttpKey'])){echo $info['HttpKey'];}?>" placeholder="请输入Http Key"/>
			  		</div>
			  	</div>
	  			
	  			<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">调用密钥:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[httpapiKey]" value="<?php if(isset($info['httpapiKey'])){echo $info['httpapiKey'];}?>" placeholder="请输入调用密钥"/>
			  		</div>
			  	</div>
	  		</li>
	  		
	  		<li>
	  			<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">检验检疫备案编号:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[ciqCode]" value="<?php if(isset($info['ciqCode'])){echo $info['ciqCode'];}?>" placeholder="请输入检验检疫备案编号"/>
			  		</div>
			  	</div>
			  	
	  			<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">中国海关备案编号:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[gzCusCode]" value="<?php if(isset($info['gzCusCode'])){echo $info['gzCusCode'];}?>" placeholder="请输入中国海关备案编号"/>
			  		</div>
			  	</div>
			  	
			  	<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">海关关区代码:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[gzCustomsCode]" value="<?php if(isset($info['gzCustomsCode'])){echo $info['gzCustomsCode'];}?>" placeholder="请输入海关关区代码"/>
			  		</div>
			  	</div>
			  	
	  			<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">检验检疫代码:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[ciqOrgCode]" value="<?php if(isset($info['ciqOrgCode'])){echo $info['ciqOrgCode'];}?>" placeholder="请输入检验检疫代码"/>
			  		</div>
			  	</div>
			  	
	  		</li>
	  		
	  		<li>
	  			<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">证书编号:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[certificate]" value="<?php if(isset($info['certificate'])){echo $info['certificate'];}?>" placeholder="请输入证书编号"/>
			  		</div>
			  	</div>
			  	
			  	<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">检验检疫DXP编号:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[ciqDxpCode]" value="<?php if(isset($info['ciqDxpCode'])){echo $info['ciqDxpCode'];}?>" placeholder="请输入检验检疫DXP编号"/>
			  		</div>
			  	</div>
			  	
	  			<div class="layui-form-item">
			  		<label class="layui-form-label" style="width: 150px;">中国海关DXP编号:</label>
			  		<div class="layui-input-inline">
			  			<input type="text" class="layui-input" name="domain[dxpId]" value="<?php if(isset($info['dxpId'])){echo $info['dxpId'];}?>" placeholder="请输入中国海关DXP编号"/>
			  		</div>
			  	</div>
	  		</li>
	  		
	  	</ul>
	  	
	</form>
	
	<div class="layui-form-item">
		<div class="layui-input-block">
			
			<button class="layui-btn layui-btn-lx" onclick="save()">保 存</button>
			
			<button type="reset" class="layui-btn layui-btn-danger layui-btn-lx">重 置</button>
		</div>
	</div>
	
	
	<script type="text/javascript">
	
		layui.use(['layer','form','jquery'],function(){
			form = layui.form;
			layer = layui.layer;
			$ = layui.jquery;
		});

		// 保存管理员
		function save() {
//			var id = parseInt($('input[name="id"]').val());
			var gzeportCode = $.trim($('input[name="domain[gzeportCode]"]').val());//企业编号
			var ediCode = $.trim($('input[name="domain[ediCode]"]').val());//EDI
			var HttpKey = $.trim($('input[name="domain[HttpKey]"]').val());//Http Key
			var httpapiKey = $.trim($('input[name="domain[httpapiKey]"]').val());//调用密钥
			var ciqCode = $.trim($('input[name="domain[ciqCode]"]').val());//检验检疫备案编号
			var gzCusCode = $.trim($('input[name="domain[gzCusCode]"]').val());//中国海关备案编号
			var gzCustomsCode = $.trim($('input[name="domain[gzCustomsCode]"]').val());//海关关区代码
			var ciqOrgCode = $.trim($('input[name="domain[ciqOrgCode]"]').val());//检验检疫代码
			var certificate = $.trim($('input[name="domain[certificate]"]').val());//证书编号
			var ciqDxpCode = $.trim($('input[name="domain[ciqDxpCode]"]').val());//检验检疫DXP编号
			var dxpId = $.trim($('input[name="domain[dxpId]"]').val());//中国海关DXP编号

			if(gzeportCode == ''){
				layer.alert('请输入企业编号',{icon:2});
				return false;
			}
			
			if(ediCode == ''){
				layer.alert('请输入EDI编号',{icon:2});
				return false;
			}
			if(HttpKey == ''){
				layer.alert('请输入HttpKey',{icon:2});
				return false;
			}
			if(httpapiKey == ''){
				layer.alert('请输入调用密钥',{icon:2});
				return false;
			}
			if(ciqCode == ''){
				layer.alert('请输入检验检疫备案编号',{icon:2});
				return false;
			}
			if(gzCusCode == ''){
				layer.alert('请输入中国海关备案编号',{icon:2});
				return false;
			}
			if(gzCustomsCode == ''){
				layer.alert('请输入海关关区代码',{icon:2});
				return false;
			}
			if(ciqOrgCode == ''){
				layer.alert('请输入检验检疫代码',{icon:2});
				return false;
			}
			if(certificate == ''){
				layer.alert('请输入证书编号',{icon:2});
				return false;
			}
			if(ciqDxpCode == ''){
				layer.alert('请输入检验检疫DXP编号',{icon:2});
				return false;
			}
			if(dxpId == ''){
				layer.alert('请输入中国海关DXP编号',{icon:2});
				return false;
			}

			$.post("{:Url('Record/messagesSave')}",$('#form1').serialize(),function(res){
				console.dir(res);
				
				if(res.code > 0){
					layer.alert(res.msg,{icon:2});
				} else {
					layer.msg(res.msg,{icon:1});
					setTimeout(function(){
						window.location.reload();
					},1000);
				}
			});
		}

	</script>
</body>
</html>