<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>汇率配置</title>
    <link rel="stylesheet" href="./static/hadmin/assets/layui/css/layui.css">
    <link rel="stylesheet" href="./static/hadmin/assets/common.css"/>
    <style>
        form{
            margin-top: 47px;
            margin-right: 32px;
        }
    </style>
</head>
<body>

    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-header">币种汇率 每百(币种)兑人民币</div>
              <div class="layui-card-body">
                <table class="layui-hide" id="test-table-cellEdit" lay-filter="test-table-cellEdit"></table>
              </div>
            </div>
          </div>
        </div>
      </div>

</body>
<script src="./static/hadmin/assets/layui/layui.js"></script>
<script src="./static/hadmin/assets/jquery-3.2.1.min.js"></script>

<script>
    layui.use(['form','table'], function(){
        var form = layui.form
        ,table = layui.table;

        table.render({
            elem: '#test-table-cellEdit'
            ,url: '{:Url("admin/defaultInfo/getCurrency")}'
            ,cols: [[
                {type:'numbers'}
                ,{field:'rate', title:'汇率', width:80, edit: 'text'}
                ,{field:'code_value', title:'币种'}
                ,{field:'code_name', title:'币种名称'}
                
            ]]
        });

        //监听单元格编辑
        table.on('edit(test-table-cellEdit)', function(obj){
            var value = obj.value //得到修改后的值
            ,data = obj.data //得到所在行所有键值
            ,field = obj.field; //得到字段
            $.ajax({
                url:'{:Url("admin/defaultInfo/exchange_rate")}',
                type:"POST",
                dataType:"json",
                data:{rate:value, code_value:data.code_value},
                success:function (res) {
                    layer.msg(res.message);
                },
                error:function (xhr) {
                    layer.msg('链接服务错误..');
                }
            });
        });

    });
</script>
</html>
