{include file="common/header_new"}

<style>
    img{ width:20px;height:20px;}
</style>
<body class="gray-bg">

<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <h3 style="text-align: center;">业务配置列表</h3>
                <div id="toolbar" class="btn-group" style="margin-top: 10px;margin-bottom: 10px;line-height: 34px;">
                    <button type="button" href="javascript:;" onclick="create();" class="btn btn-default">
                        新增业务
                    </button>
                </div>
                <table id="table"

                /*默认排序项*/
                data-sort-name="id"
                data-sort-order="desc"
                /*工具栏相关*/
                data-toolbar="#toolbar"
                data-search="false"          /*搜索框*/
                data-search-on-enter-key="false"
                data-show-refresh="true"    /*刷新按钮*/
                /*分页相关*/
                data-side-pagination="server"
                data-pagination="true"      /*显示分页*/
                data-page-size="10"         /*每页显示条数*/
                /*移动端相关*/
                data-mobile-responsive="true"
                data-card-view="true"
                data-show-columns="true"
                /*radio or checkbox字段名称*/
                data-select-item-name="id" >

                <thead>
                <tr>
                    <th data-field="checkbox"
                        data-align="center"
                        data-checkbox="true"></th>
                    <th data-field="id"
                        data-align="center"
                        data-sortable="true"
                        data-visible="true">序号</th>
                    <th data-field="name"
                        data-align="center"
                        data-sortable="true"
                        data-visible="true">业务名称</th>
                    <th data-field="manage"
                        data-align="center"
                        data-sortable="true"
                        data-formatter="actionFormatter">操作</th>
                </tr>
                </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var table;

    $(document).ready(function(){
        table = $('#table').bootstrapTable({
            url: "{:url('admin/operaweb/buss_list')}",
            queryParams: queryParams,
        });
        $('.form-control').attr('placeholder','搜索轮播图名称');
    });

    queryParams = function (params) {
        var temp = {
            sort: params.sort,
            order: params.order,
            limit: params.limit,            //页面大小
            offset: params.offset,          //页码
            search: params.search,
        };
        return temp;
    };

    //操作栏的格式化
    function actionFormatter(value, row, index) {
        var id = row.id;
        var title = row.name;

        var result = "";

        result += '<button style="margin-right: 5px;" type="button" onclick="openWindow('+id+',\''+title+'\',1)" class="btn btn-warning btn-xs">编辑</button>';
        result += '<button style="margin-right: 5px;" type="button" onclick="openWindow('+id+',\''+title+'\',2)" class="btn btn-info btn-xs">询价表单</button>';
        result += '<button style="margin-right: 5px;" type="button" onclick="openWindow('+id+',\''+title+'\',3)" class="btn btn-primary btn-xs">报价表单</button>';
        result += '<button style="margin-right: 5px;" type="button" onclick="del('+id+',\''+title+'\')" class="btn btn-danger btn-xs">删除</button>';

        return result;
    }

    function create(id,name){
        var index = layer.open({
            type: 2,
            title: '新增询价模板',
            area:['100%','100%'],
            content: "{:url('admin/operaweb/save_buss')}"
        });
        // layer.full(index);
    }

    function openWindow(id,title,typ){
        let url = '';
        if(typ==1){
            url = "{:Url('admin/operaweb/save_buss')}&id="+id;
        }
        else if(typ==2){
            url = "{:Url('admin/operaweb/inquiry_list')}&id="+id;
        }
        else if(typ==3){
            url = "{:Url('admin/operaweb/quote_list')}&id="+id;
        }
        else if(typ==4){
            url = "{:Url('admin/operaweb/distr_manage')}";
        }

        if(url!=''){
            var index = layer.open({
                type: 2,
                title: title,
                area:['100%','100%'],
                content: url+'&id='+id
            });
        }
    }

    function del(id,title){
        layer.confirm('确认删除该业务吗？',function(index){
            $.ajax({
                url: "<?php echo Url('admin/operaweb/del_buss'); ?>",
                data:{'id':id},
                type:'post',
                cache:false,
                dataType:'json',
                success:function(data){
                    if(data.code==0)
                    {
                        layer.msg(data.msg, {
                            icon: 1,
                            time: 2000
                        }, function(){
                            window.location.reload();
                        });
                        return true;
                    }else {
                        layer.msg(data.msg, {icon:2, time:2000});
                        return false;
                    }
                },
                error:function() {
                    layer.msg('系统出错,请重试',{icon:2,time:1000});
                }
            });
        });
    }

</script>

</body>
</html>
