{include file="common/header_inner_new"}
<!--百度富文本-->
<script type="text/javascript" src="static/cklein/plugins/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="static/cklein/plugins/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" src="static/cklein/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
<style>
    .disf{display:flex;align-items: center;}
    .layui-card-header{background:#0a8ddf;color:#fff;}
    .seo_content,.url{display:none;}
</style>
<body style="padding: 10px;background-color: #f2f2f2;">
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <form class="layui-form" action="" method="post" lay-filter="component-form-element">
            <input type="text" style="display:none;" name="id" id="id" value="{$id}">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-form-item">
                            <div class="layui-form-label">选择板块</div>
                            <div class="layui-input-block">
                                <select name="navbar_id" id="navbar_id" lay-search lay-verify="required">
                                    <option value="">请选择菜单</option>
                                    {volist name="list" id="vo"}
                                        <option value="{$vo.id}" {if $data['navbar_id']==$vo.id}selected{/if}>{$vo.name}</option>
                                        {if !empty($vo.childMenu)}
                                            {volist name="vo.childMenu" id="vo2"}
                                                <option value="{$vo2.id}" {if $data['navbar_id']==$vo2.id}selected{/if}>--{$vo2.name}</option>
                                                {if !empty($vo2.childMenu)}
                                                    {volist name="vo2.childMenu" id="vo3"}
                                                        <option value="{$vo3.id}" {if $data['navbar_id']==$vo3.id}selected{/if}>----{$vo3.name}</option>
                                                        {if !empty($vo3.childMenu)}
                                                            {volist name="vo3.childMenu" id="vo4"}
                                                                <option value="{$vo4.id}" {if $data['navbar_id']==$vo4.id}selected{/if}>------{$vo4.name}</option>
                                                            {/volist}
                                                        {/if}
                                                    {/volist}
                                                {/if}
                                            {/volist}
                                        {/if}
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">轮播图标题(简)</div>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" lay-verify="required" name="title[zh]" value="{$data['title']['zh']}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">轮播图标题(繁)</div>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" lay-verify="required" name="title[cht]" value="{$data['title']['cht']}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">轮播图标题(英)</div>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" lay-verify="required" name="title[en]" value="{$data['title']['en']}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">首页轮播图(1200*465)</div>
                            <div class="layui-input-block">
                                <div class="layui-upload" style="margin-top: 10px;">
                                    <button type="button" class="layui-btn" id="img_file-upload">上传图片(一张)</button>
                                    <blockquote class="layui-elem-quote layui-quote-nm yulan" style="margin-top: 10px;">
                                        预览图：
                                        <div class="layui-upload-list" id="img_file-upload-list">
                                            {if !empty($data['thumb'])}
                                            <div style="display: inline-block;">
                                                <img onclick="seePic(this);" src="/{$data['thumb']}" class="layui-upload-img" style="width:80px;height:80px;">
                                                <button type="button" onclick="delPic(this);" class="layui-btn layui-btn-xs layui-btn-danger" style="position: relative;left: -45px;top: -39px;">删除</button>
                                                <input type="hidden" name="thumb[]" value="{$data['thumb']}">
                                            </div>
                                            {/if}
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">内页seo优化</div>
                            <div class="layui-input-block">
                                <select name="seo_type" id="seo_type" lay-filter="seo_type">
                                    <option value="1" {if $data['seo_type']==1}selected{/if}>暂不优化</option>
                                    <option value="2" {if $data['seo_type']==2}selected{/if}>马上优化</option>
                                </select>
                            </div>
                        </div>
                        <div class="seo_content" {if $data['seo_type']==2}style="display:block;"{/if}>
                            <fieldset class="layui-elem-field">
                                <legend>内页标题</legend>
                                <div class="layui-field-box">
                                    <div class="layui-form-item">
                                        <div class="layui-form-label">内页标题(简)</div>
                                        <div class="layui-input-block">
                                            <input type="text" class="layui-input" name="seo_content[title][zh]" value="{$data['seo_content']['title']['zh']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-form-label">内页标题(繁)</div>
                                        <div class="layui-input-block">
                                            <input type="text" class="layui-input" name="seo_content[title][cht]" value="{$data['seo_content']['title']['cht']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-form-label">内页标题(英)</div>
                                        <div class="layui-input-block">
                                            <input type="text" class="layui-input" name="seo_content[title][en]" value="{$data['seo_content']['title']['en']}">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="layui-elem-field">
                                <legend>内页关键词</legend>
                                <div class="layui-field-box">
                                    <div class="layui-form-item">
                                        <div class="layui-form-label">内页关键词(简)</div>
                                        <div class="layui-input-block">
                                            <input type="text" class="layui-input" name="seo_content[keywords][zh]" value="{$data['seo_content']['keywords']['zh']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-form-label">内页关键词(繁)</div>
                                        <div class="layui-input-block">
                                            <input type="text" class="layui-input" name="seo_content[keywords][cht]" value="{$data['seo_content']['keywords']['cht']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-form-label">内页关键词(英)</div>
                                        <div class="layui-input-block">
                                            <input type="text" class="layui-input" name="seo_content[keywords][en]" value="{$data['seo_content']['keywords']['en']}">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="layui-elem-field">
                                <legend>内页描述</legend>
                                <div class="layui-field-box">
                                    <div class="layui-form-item">
                                        <div class="layui-form-label">内页描述(简)</div>
                                        <div class="layui-input-block">
                                            <input type="text" class="layui-input" name="seo_content[desc][zh]" value="{$data['seo_content']['desc']['zh']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-form-label">内页描述(繁)</div>
                                        <div class="layui-input-block">
                                            <input type="text" class="layui-input" name="seo_content[desc][cht]" value="{$data['seo_content']['desc']['cht']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-form-label">内页描述(英)</div>
                                        <div class="layui-input-block">
                                            <input type="text" class="layui-input" name="seo_content[desc][en]" value="{$data['seo_content']['desc']['en']}">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">我要服务链接</div>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" name="url" value="{$data['url']}">
                            </div>
                        </div>
                        <fieldset class="layui-elem-field">
                        <legend>内容</legend>
                        <div class="layui-field-box">
                            <div class="layui-form-item">
                                <div class="layui-form-label">内容(简)</div>
                                <div class="layui-input-block">
                                    <script id="content_zh" name="content_zh" type="text/plain" style="width:100%;height:400px;">
                                            {if !empty($data['content']['zh'])}
                                                {$data['content']['zh']|htmlspecialchars_decode|stripslashes}
                                            {/if}
                                        </script>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-form-label">内容(繁)</div>
                                <div class="layui-input-block">
                                    <script id="content_cht" name="content_cht" type="text/plain" style="width:100%;height:400px;">
                                                {if !empty($data['content']['cht'])}
                                                    {$data['content']['cht']|htmlspecialchars_decode|stripslashes}
                                                {/if}
                                            </script>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-form-label">内容(英)</div>
                                <div class="layui-input-block">
                                    <script id="content_en" name="content_en" type="text/plain" style="width:100%;height:400px;">
                                                {if !empty($data['content']['en'])}
                                                    {$data['content']['en']|htmlspecialchars_decode|stripslashes}
                                                {/if}
                                            </script>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="margin-top: 25px;text-align: center;">
                <div>
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="component-form-element">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>

<script type="text/javascript">
    layui.use(['layer','form','laydate','upload'],function(){
        laydate = layui.laydate;
        layer = layui.layer;
        var form  = layui.form;
        $ = layui.jquery;
        var upload = layui.upload;

        //seo优化
        form.on('select(seo_type)',function(data){
            let val = data.value;
            if(val==2){
                $('.seo_content').show();
            }else{
                $('.seo_content').hide();
            }
        });

        UE.getEditor('content_zh', {
            initialFrameHeight: 400,
            serverUrl: 'static/cklein/plugins/ueditor/php/controller.php'
        });

        UE.getEditor('content_cht', {
            initialFrameHeight: 400,
            serverUrl: 'static/cklein/plugins/ueditor/php/controller.php'
        });

        UE.getEditor('content_en', {
            initialFrameHeight: 400,
            serverUrl: 'static/cklein/plugins/ueditor/php/controller.php'
        });

        form.on('submit(component-form-element)', function(data){
                    // JSON.stringify()
                    // console.log(data.field);return false;
                    if( $('#img_file-upload-list').children().length == 0 )
                    {
                        layer.msg('请上传轮播图！');
                        return false;
                    }

                    $.ajax({
                        url:"{:Url('admin/operaweb/save_rotateinner')}",
                        method:'post',
                        data:data.field,
                        dataType:'JSON',
                        success:function(res){
                            layer.msg(res.msg,{time:2000}, function () {
                                if(res.code == 0)
                                {
                                    parent.location.reload();
                                }
                            });
                        },
                        error:function (data) {
                            layer.msg('系统错误',{time:2000});
                        }
                    });
                    return false;
                });

        // 轮播图文件
        upload.render({
            elem: '#img_file-upload'
            ,url: '{:Url("admin/basic/upload_file")}'
            ,accept: 'image'
            ,data: { folder: 'centralize', type: 'website_rotateinner'}
            ,multiple: false
            ,number:1
            ,before: function(obj){
                layer.load(); //上传loading
            }
            ,done: function(res){
                layer.closeAll('loading'); //关闭loading
                if(res.code == 1)
                {

                    $('#img_file-upload-list').append('<div style="display: inline-block;"><img onclick="seePic(this);" src="/'+ res.file_path +'" class="layui-upload-img" style="width:80px;height:80px;"><button type="button" onclick="delPic(this);" class="layui-btn layui-btn-xs layui-btn-danger" style="position: relative;left: -45px;top: -39px;">删除</button><input type="hidden" name="thumb[]" value="'+res.file_path+'"></div>')
                }
            }
        });
    });

    function delPic(obj)
    {
        var layer = layui.layer,$ = layui.$;
        layer.confirm('确认要删除该附件？', {
            btn: ['删除','取消']
        }, function(){
            $(obj).parent().remove();
            layer.closeAll();
        }, function(){

        });
    }

</script>
</body>
</html>