{include file="common/header_inner_new"}
<!--百度富文本-->
<script type="text/javascript" src="static/cklein/plugins/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="static/cklein/plugins/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" src="static/cklein/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
<style>
    .disf{display:flex;align-items: center;}
    .layui-card-header{background:#0a8ddf;color:#fff;}
    .seo_content,.url{display:none;}
</style>
<body style="padding: 10px;background-color: #f2f2f2;">
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <form class="layui-form" action="" method="post" lay-filter="component-form-element">
            <input type="text" style="display:none;" name="id" id="id" value="{$id}">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-form-item">
                            <div class="layui-form-label">选择商户</div>
                            <div class="layui-input-block">
                                <select name="merchid" id="merchid" lay-filter="merchid" lay-search>
                                    <option value="">请选择商户</option>
                                    {volist name="merch" id="vo"}
                                    <option value="{$vo['id']}">{if !empty($vo['realname'])}{$vo['realname']}{else}{$vo['nickname']}{/if}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">订单类型</div>
                            <div class="layui-input-block">
                                <select name="order_type" id="order_type" lay-filter="order_type">
<!--                                    <option value="1">集运订单</option>-->
                                    <option value="2">商城订单</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">订单编号</div>
                            <div class="layui-input-block">
<!--                                <select name="ordersn" id="ordersn" lay-filter="order">-->

<!--                                </select>-->
                                <input type="text" class="layui-input" lay-verify="required" name="ordersn" value="">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">订单金额</div>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" lay-verify="required" name="totalmoney" value="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="margin-top: 25px;text-align: center;">
                <div>
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="component-form-element2">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>

<script type="text/javascript">
    layui.use(['layer','form','laydate','upload'],function(){
        laydate = layui.laydate;
        layer = layui.layer;
        var form  = layui.form;
        $ = layui.jquery;
        var upload = layui.upload;


        form.on('submit(component-form-element2)', function(data){
            // JSON.stringify()
            // console.log(data.field);return false;
            $.ajax({
                url:"{:Url('admin/operaweb/save_ordersure')}",
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    layer.msg(res.msg,{time:2000}, function () {
                        if(res.code == 0)
                        {
                            parent.location.reload();
                        }
                    });
                },
                error:function (data) {
                    layer.msg('系统错误',{time:2000});
                }
            });
            return false;
        });
    });

    function delPic(obj)
    {
        var layer = layui.layer,$ = layui.$;
        layer.confirm('确认要删除该附件？', {
            btn: ['删除','取消']
        }, function(){
            $(obj).parent().remove();
            layer.closeAll();
        }, function(){

        });
    }

</script>
</body>
</html>