<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .html_info{padding:15px;box-sizing: border-box;}
        .diff-html-added{color:#fff;background:#0dab54;}
        .diff-html-removed{color:#fff;background:#c3be22;}
    </style>
</head>
<body>
<div class="html_info">
    <div style="display:flex;"><h3 class="diff-html-removed">黄色代表：原来的</h3>&nbsp;&nbsp;&nbsp;&nbsp;<h3 class="diff-html-added">绿色代表：新增的</h3></div>
    <hr>
    {$con}
</div>
</body>
</html>