<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>集运状态</title>
    <link rel="stylesheet" href="./static/hadmin/assets/layui/css/layui.css">
    <link rel="stylesheet" href="./static/hadmin/assets/common.css"/>
</head>
<body>
<form class="layui-form" action="">
    <input type="hidden" name="id" id="id" value="{$id}">
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" required value="{$data['name']}" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态代码</label>
        <div class="layui-input-block">
            <input type="text" name="code" value="{$data['code']}" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="0" title="隐藏" {if $data['status']==0}checked{/if}>
            <input type="radio" name="status" value="1" title="显示" {if $data['status']==1}checked{/if}>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
        </div>
    </div>
</form>

</body>
<script src="./static/hadmin/assets/layui/layui.js"></script>
<script src="./static/hadmin/assets/jquery-3.2.1.min.js"></script>

<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            $.ajax({
                url:"{:Url('centralize/index/edit_colstatus')}",
                type:"POST",
                dataType:"json",
                data:data.field,
                success:function (res) {
                    layer.msg(res.msg);
                },
                error:function (xhr) {
                    layer.msg('链接服务错误..');
                }
            });
            // admin/customssystem/declMenuCreate
            return false;
        });
    });
</script>
</html>
