{include file="public/header"}

<style>
    .disf{display:flex;align-items: center;}
    .layui-card-header{background:#0a8ddf;color:#fff;}
    .layui-form-label{width:20%;}
    .layui-input, .layui-textarea{width:80%;}
</style>
<body style="padding: 10px;background-color: #f2f2f2;">
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <form class="layui-form" action="" method="post" lay-filter="component-form-element">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-form-item">
                            <div class="layui-form-label">新用户注册送积分</div>
                            <div class="layui-input-block">
                                <input type="number" class="layui-input" lay-verify="required" name="register_send_points" id="register_send_points" value="{$data['content']['register_send_points']}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">完成集运订单(已评价)送积分</div>
                            <div class="layui-input-block">
                                <input type="number" class="layui-input" lay-verify="required" name="complete_centralize_order_points" id="complete_centralize_order_points" value="{$data['content']['complete_centralize_order_points']}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">分销商推广下线成功注册送积分</div>
                            <div class="layui-input-block">
                                <input type="number" class="layui-input" lay-verify="required" name="promotion_offline_register_points" id="promotion_offline_register_points" value="{$data['content']['promotion_offline_register_points']}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="margin-top: 25px;text-align: center;">
                <div>
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="component-form-element">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>

<script type="text/javascript">
    layui.use(['layer','form','laydate','upload'],function(){
        laydate = layui.laydate;
        layer = layui.layer;
        var form  = layui.form;
        $ = layui.jquery;
        var upload = layui.upload;

        form.on('submit(component-form-element)', function(data){
            // JSON.stringify()
            // console.log(data.field);return false;

            $.ajax({
                url:"{:Url('centralize/index/integral_rule')}",
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    layer.msg(res.msg,{time:2000}, function () {
                        if(res.code == 0)
                        {
                            parent.location.reload();
                        }
                    });
                },
                error:function (data) {
                    layer.msg('系统错误',{time:2000});
                }
            });
            return false;
        });
    });
</script>
</body>
</html>