	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./static/order/css/font.css">
	<link rel="stylesheet" href="./static/order/css/xadmin.css">
	<link rel="stylesheet" href="./static/order/css/swiper.min.css">
	<script type="text/javascript" src="./static/order/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="./static/order/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./static/order/js/xadmin.js"></script>