<!-- 右侧主体开始 -->
        <div class="page-content">
          <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
			<iframe src="http://shop.gogo198.cn/foll/public/?s=order/order&type=wechat&typeId=4" width="100%" frameborder="0" scrolling="no" id="test" height="500px"></iframe>
			
			
			<script type="text/javascript">				
			function reinitIframe()
			{
				var iframe = document.getElementById("test");
				try{
					var bHeight = iframe.contentWindow.document.body.scrollHeight;
					var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
					var height = Math.max(bHeight, dHeight);
					iframe.height = height;				
				}catch (ex){}
			}
//				window.setInterval("reinitIframe()", 200);
			</script>
			
			
          <!-- 右侧内容框架，更改从这里结束 -->
          </div>
        </div>
        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
    
    <script type="text/javascript">
    	function getClickUrl(res)
    	{
    		var linkUrl = res.attributes.jumplink.value;
    		var classOpen = res.classList[0]
    		var classActive = res.classList[1]
    		var iframe = document.getElementById("test");
    		if(res)
    		{
    			
    		}
    		console.dir(iframe.attr(""));
    		console.dir(iframe.attrbutes.src = linkUrl);
//  		res.className = 'active';
    		
    		
//  		active 
    	}
    </script>