{extend name='public/public' /}
{block name='main'}
<div class="layui-form">
    <div>运营审核列表
    </div>
    <table class="layui-table">
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>方案名</th>
            <th>已申请</th>
            <th>已受理</th>
            <th>已审核</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name='list' id='item'}
        <tr>
            <td>{$item.scheme_name}</td>
            <td>{$item.appNum}</td>
            <td>
                {$item.acceptNum}
            </td>
            <td>{$item.poolNum}</td>
            {if $item.poolNum != 0}
            <td><a class="layui-btn layui-btn-normal" onclick="lockPool(this,'{$item.id}')">封闭号池</a></td>
            {else}
            <td>不可操作</td>
            {/if}

        </tr>
        {/volist}

        </tbody>
    </table>
</div>

<script src="./static/plugins/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('layer', function(){
         layer = layui.layer;

    });
    function lockPool(obj,id) {
        console.log(id)
        layer.open({
            type: 2,
            title: '设定本号池抽签管理',
            shadeClose: true,
            shade: 0.8,
            area: ['900px', '90%'],
            content: '{:Url("superadmin/setlotteryround")}&mid='+id //iframe的url
        });

    }

</script>
{/block}