{extend name='public/public' /}
{block name='main'}
<div class="layui-form">
    <table class="layui-table">
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>昵称</th>
            <th>信息</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name='$list.data' id='vo'}
        <tr>
            <td>{$vo.user_name}</td>
            <td>{$vo.message}</td>
            <td>{$vo.create_at|date='Y-m-d H:i',###}</td>
            <td><a class="layui-btn" onclick="msg('{$vo['id']}')">回复</a></td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>

<script src="./static/plugins/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use(['layer','form'], function(){
        layer = layui.layer;
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            // JSON.stringify(data.field)
            axios.post("{:Url('superadmin/say_menage')}",{msg:JSON.stringify(data.field)}).then(function (reason) {
                console.log(reason.data);
                layer.msg(reason.data.msg);
                setTimeout(function () {
                    layer.closeAll();
                },2000);
            }).catch(function (err) {
                layer.msg(err);
            })
            return false;
        });
    });
    function msg(id) {
        layer.open({
            type: 1,
            area:['400px','300px'],
            content: '<form class="layui-form layui-form-pane" action="">\n' +
            '  <div class="layui-form-item layui-form-text">\n' +
            '    <label class="layui-form-label">回复：</label>\n' +
            '    <div class="layui-input-block"><input type="hidden" name="id" value="'+id+'">\n' +
            '      <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>\n' +
            '    </div>\n' +
            '  </div>\n' +
            '  <div class="layui-form-item">\n' +
            '    <div class="layui-input-block">\n' +
            '      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>\n' +
            '    </div>\n' +
            '  </div>\n' +
            '</form>' //注意，如果str是object，那么需要字符拼接。
        });
        return false;
    }

</script>
{/block}