<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>温馨服务</title>
        <script src="{$modulePublic}shop/js/SetSize.js"></script>
        <style>body,input,textarea{font-size:10px;}</style>
        <script src="{$modulePublic}shop/js/template.js"></script>
        <meta name="screen-orientation" content="portrait/landscape">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <link href="{$modulePublic}shop/css/content.css" rel="stylesheet" type="text/css">

    </head>
    <body>
        <script>
            document.body.style.fontSize = SetSize.getScreenRatio() * 10 + 'px';
        </script>
        <script src="{$modulePublic}shop/js/svgPackage.js"></script>
        <header id="header"><div class="titleField"><h2>温馨服务</h2></div><div class="btnField">	<a href="javascript:history.go(-1);" class="btn back"><i></i></a>	<a href="javascript:location.reload();" class="btn"><i><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_reload_1"></use></svg></i></a></div></header>
        <section id="main">
            <div class="introPanel_01">
                <div class="textField">
                    <div class="text">
                        
                        <p><img src="{$modulePublic}/fuwu/fuwu.jpg" width="98%"></p>
                    </div>
                </div>
            </div>
        </section>
        <nav id="nav" class="mainNav">
            <div class="linkField">
                <ul>
                    <li>
                        <a href="{php echo $this->createMobileUrl('index2')}" class="current">
                            <i><svg><use xlink:href = "#icon_index_1"/></svg></i>
                            <span>首页</span>
                        </a>
                    </li>
                    <li >
                        <a href="{php echo $this->createMobileUrl('shop_activity_list')}" >
                            <i><svg><use xlink:href = "#icon_star_1"/></svg></i>
                            <span>活动</span>
                        </a>
                    </li>

                    <li>
                        <a href="{php echo $this->createMobileUrl('award_list')}">
                            <i><svg><use xlink:href = "#icon_gift_1"/></svg></i>
                            <span>换礼品</span>
                        </a>
                    </li>

                    <li>
                        <a href="{php echo $this->createMobileUrl('index')}" >
                            <i><svg><use xlink:href = "#icon_user_2"/></svg></i>
                            <span>我</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>


        <script src="{$modulePublic}shop/js/idangerous.swiper.min.js"></script>
        <script src="{$modulePublic}shop/js/PRselector.js"></script>
        <script src="{$modulePublic}shop/js/PullLoad.js"></script>
        <script src="{$modulePublic}shop/js/notification.js"></script> 
        <script src="{$modulePublic}shop/js/statistics.js?t=31"></script>
        <script src="{$modulePublic}shop/js/Sharebox.js"></script>
        <script>

            //定义页面内按钮调用的方法
            (function ($) {
                var navBtn = $('#header .btnField .btnNav'),
                        navMask = $('#header .navField .mask'),
                        sideBtn = $('#sideBtn .btnUp'),
                        navClass = 'showNav',
                        showNav = function () {
                            if ($(document.body).hasClass(navClass)) {
                                hideNav();
                            } else {
                                $(document.body).addClass(navClass);
                            }
                        },
                        hideNav = function () {
                            $(document.body).removeClass(navClass);
                        },
                        scrollHandler = function () {
                            var scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
                            if (scrollTop > SetSize.getFontSize()) {
                                sideBtn.show();
                            } else {
                                sideBtn.hide();
                            }
                            hideNav();
                        },
                        scrollToTop = function () {
                            window.scrollTo(0, 0);
                        };
                navBtn.on('click', showNav);
                navMask.on('click', hideNav);
                $(document).on('scroll', scrollHandler);
                sideBtn.on('click', scrollToTop);
            })(PRselector);
            CeilingIsGod.nothings("pv", 0, getMallTag());
        </script>
    </body>
</html>
