{template 'web/link'}
    <style>
        hr{
            margin: 9px 0;
        }
        .layui-input{
            width:49%;
        }
        .layui-form select{
            display:block;
            border-color: #e6e6e6;
            padding-left: 10px;
            height: 38px;
            line-height: 1.3;
            line-height: 38px\9;
            border-radius: 2px;
        }
        .layui-form-label{
            width: 120px;
        }
        .layui-elem-field{
            border-color: #1E9FFF;
        }
        .layui-elem-field legend{
            font-size: 16px;
            color: #1E9FFF;
        }
        .layui-form-item{
            margin-top: 15px;
        }
    </style>

<form class="layui-form" action="" id="forms">
        <div class="layui-form-item">
            <label class="layui-form-label">角色名称：</label>
            <div class="layui-input-block">
                <input type="text" name="roleName" lay-verify="title" autocomplete="off" placeholder="请输入角色名称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">角色权限：</label>
            <div class="layui-input-inline">
                <select name="rolePermiss">
                    <option value="rw" selected>可读可写</option>
                    <!--option value="">可读禁写</option-->
                    <option value="n">禁读禁写</option>
                </select>
            </div>
        </div>

        <input type="hidden" name="method" value="add">
        <input type="hidden" name="sysType" value="system">
</form>

<div class="layui-form-item">
    <div class="layui-input-block">
        <button class="layui-btn" onclick="submits();">确认添加</button>
    </div>
</div>


<script>
    layui.use('layer',function(){
        var layer = layui.layer;
    })

    function submits() {
        var roleName = $('input[name="roleName"]').val();
        if(roleName == '') {
            layer.msg('请填写角色名称')
            return false;
        }

        var formData = $('#forms').serialize();

        var urls = "{php echo WebUrl('mer_chats',array('m'=>'mer_chats','do'=>'index','p'=>'addroles'))}";
        $.ajax({
            url:urls,
            type:'POST',
            data:formData,
            success:function(red) {
                var res = JSON.parse(red);
                if(res.code != 1){
                    layer.msg(res.msg);
                    return false;
                }
                layer.msg(res.msg);
                setTimeout(function(){
                    parent.layer.closeAll();
                    parent.window.location.reload();
                },1500);
            }
        });
    }

</script>