@charset "UTF-8";
/*全局样式*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, span, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td, section, nav, header, footer{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;text-align:inherit;line-height:inherit;}
html{ width:100%; -webkit-text-size-adjust:100%;}
::-webkit-scrollbar{ width:0;}
body{ color:#666; background:#022f59; line-height:1.5em; font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;}
strong{ font-weight:bold;}
a{ text-decoration:none; text-transform:none; color:#666;}
a img{ border:0;}
a:hover{ }
a span{ cursor:pointer;}
em{ text-transform:none; color:#666; font-weight:bold; font-style:normal;}
.noFloat::after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
textarea{ resize:none;}
input,textarea,button,select{ -webkit-appearance:none;}
input:focus,textarea:focus,select:focus{ outline:none;}
ul, ol, dl{ list-style:none; display:block;}
dd, dt, li{ display:block;}

/*区域样式*/


#nav{ height:5.4em; position:relative; max-width:64em; width:100%; margin:0 auto;}
#nav .linkField{ position:fixed; bottom:0; left:50%; max-width:64em; width:100%; height:5.4em; z-index:4; box-shadow:0 0 2em rgba(4,77,127,0.1); border-top:1px solid #c5c5c5; background:#fff; padding-top:1px; -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%); transform:translateX(-50%);}
#nav .linkField ul{ height:100%; background:rgba(240,240,240,1); display:-webkit-box; display:-moz-box;  display:-ms-flexbox; display:box; display:flex;}
#nav .linkField li{ -webkit-box-flex:1.0; -moz-box-flex:1.0; box-flex:1.0; width:100%; height:100%;}
#nav .linkField a{ display:block; width:100%; height:100%; color:#5f646e;}
#nav .linkField a i{ display:block; width:2.2em; height:2.2em; margin:0 auto; padding:0.6em 0;}
#nav .linkField a i svg{ display:block; width:100%; height:100%; fill:currentColor;}
#nav .linkField a span{ display:block; text-align:center; font-size:1.2em; line-height:1em; padding-bottom:0.25em;}
#nav .linkField a.current,#nav .linkField a:active{ color:#e22a2c;}


@media screen and (min-aspect-ratio:15/16){
	#nav .linkField{ position:absolute;}
}



#location{ max-width:62em; margin:0 auto; height:3.5em; padding:0 1em; background:#044d7f; position:relative; overflow:hidden;}
#location .btnField{ width:100%; height:100%; line-height:3.6em; position:relative;}
#location .btnField .btn{ display:inline-block; color:#fff;}
#location .btnField .btn i{ display:inline-block; width:1.8em; height:1.8em; vertical-align:middle;}
#location .btnField .btn svg{ display:block; width:100%; height:100%; fill:currentColor}
#location .btnField .btn span{ display:inline-block; font-size:1.2em; vertical-align:middle;}
#location .btnField .btn span em{ color:#ffea66; margin-left:0.5em; font-weight:normal;}
#location .btnField .btn2{ float:right;}
 
#header{ max-width:62em; margin:0 auto; height:0.7rem; padding:0.18rem 1em 0; position:relative; overflow:hidden; border-bottom:0.2em solid #00418e; background:#fff; overflow:hidden;}
#header:after{ position:absolute; bottom:50%; left:1.25rem; margin-bottom:-0.75em; display:none; text-align:center; line-height:1.5em; font-size:0.6em; letter-spacing:0; background:#fff; width:3.2em; height:1.5em; color:#999; content:'BETA';}

#header .logoField{ display:inline-block; vertical-align:bottom; height:0.5rem; letter-spacing:-0.3em; margin-left:-0.12rem; position:relative;}
#header .logoField a{ display:inline-block; vertical-align:top; height:100%; padding:0 2.4em 0 0.12rem; position:relative;}
#header .logoField a::after{ display:block; content:''; position:absolute; right:0; top:50%; width:0.8em; height:0.8em; margin:-0.7em 0.5em 0; border:solid #044d7f; border-width:0 0 0.1em 0.1em; -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg); -o-transform:rotate(-45deg); transform:rotate(-45deg);}
#header .logoField a::before{ display:none; content:'beta'; position:absolute; right:-2.5em; top:0; line-height:1.25em; font-size:0.8em; letter-spacing:0; color:#f60}
#header .logoField img{ display:block; height:100%; width:auto;}

#header .btnField{ position:absolute; right:0.3em; top:0.16rem; margin-top: -0.5em; letter-spacing:-0.3em;}
#header .btnField .btn{ display:inline-block; width:0.4rem; min-width:3.2em; height:0.4rem; padding:0.05rem 0.05rem 0.15rem; margin:0 0.1rem; position:relative; color:#5f646e;}
#header .btnField .btn i,#header .btnField .btn svg{ display:block; height:100%; width:0.4rem; margin:0 auto;}
#header .btnField .btn span{ display:block; position:absolute; top:0.44rem; left:0; right:0; line-height:1.5em; letter-spacing:0; text-align:center;}
#header .btnField .btn svg{ fill:currentColor;}


#main{ max-width:64em; margin:0 auto; padding-bottom:0.2rem; background:#f4f4f4; position:relative; z-index:1; overflow:hidden;}


#footer{ max-width:64em; margin:-1px auto 0; position:relative; z-index:0; overflow:hidden; background:#f4f4f4;}
#footer .infoField{ padding:0.3rem 0.2rem; position:relative; background:#fff;}
#footer .infoField .detail{ line-height:2em;}
#footer .infoField .detail a,#footer .infoField .detail span{ display:block; font-size:1.1em; color:#666;}
#footer .infoField .detail a{ color:#e22a2c;}
#footer .infoField .detail i{ display:inline-block; width:1.5em; height:1.5em; vertical-align:middle; font-size:0.9em; margin:-0.1em 0.5em 0 0;}
#footer .infoField .detail i svg{ display:block; width:100%; height:100%; fill:currentColor;}

#footer .infoField .btns{ position:absolute; right:0.2rem; bottom:0.3rem;}
#footer .infoField .btns .btn{ display:inline-block; text-align:right; width:3.5em; height:3.5em; margin:0 0 0 0.4em; background:#cacaca; border-radius:0.5em;}
#footer .infoField .btns .btn i{ display:block; width:2.9em; height:2.9em; padding:0.3em;}
#footer .infoField .btns .btn svg{ display:block; width:100%; height:100%; fill:#fff;}

#footer .linkField{ height:3.6em; line-height:3.6em; background:#022f59; border-bottom:1px solid #011b37;}
#footer .linkField .links{ font-size:1.3em; text-align:center;}
#footer .linkField a{ padding:0 0.4em; border-right:1px solid #034880; color:#85a9cb;}
#footer .linkField a:last-child{ border-right:0;}


#footer .copyrightField{ line-height:1.8em; padding:1.5em 0.15rem 2em; background:#022f59; border-top:1px solid #034075;}
#footer .copyrightField p{ font-size:1.2em; text-align:center; color:rgba(255,255,255,0.25)}


#sideBar{ position:fixed; bottom:1rem; left:0.2rem; width:5em; height:5em; z-index:3;}
#sideBar .btn{ position:relative; z-index:2; display:block; width:3em; height:3em; padding:0.3em; border:0.5em solid #eee; border-radius:5em; background:#fff;}
#sideBar .btn i{ display:block; width:100%; height:100%; border-radius:5em; overflow:hidden;}
#sideBar .btn i:nth-child(2){ display:none;}
#sideBar .btn .sup{ top:-0.6em; right:-0.6em;}
#sideBar .btn svg{ display:block; width:100%; height:100%;}
#sideBar .btn i:nth-child(2) svg{ fill:#fff;}
#sideBar .nav{ position:absolute; z-index:1; padding:0.5em 0 5em; width:3.6em; height:0; padding-bottom:3em; overflow:hidden; bottom:0.5em; left:0.5em; border-radius:5em; background:rgba(0,70,118,0.9); -webkit-transition:height 0.3s; -moz-transition:height 0.3s; -ms-transition:height 0.3s; -o-transition:height 0.3s; transition:height 0.3s;}
#sideBar .nav a{ display:block; width:2.8em; height:2.8em; padding:0.8em 0.4em; position:relative;}
#sideBar .nav a i{ display:block; width:100%; height:100%;}
#sideBar .nav a .sup{ top:0.4em; right:0;}
#sideBar .nav a svg{ display:block; width:100%; height:100%; fill:#fff;}
#sideBar.show .btn{ background:#ee3a33;}
#sideBar.show .btn i:nth-child(1){ display:none;}
#sideBar.show .btn i:nth-child(2){ display:block;}
#sideBar.show .btn svg use{ fill:#fff;}
#sideBar.show .btn .sup{ display:none;}
#sideBar.show .nav{ height:25em;}


/*首页提示*/
#tip{ position:fixed; left:0; right:0; top:0; bottom:0; background:rgba(0,0,0,0.8); z-index:10; opacity:0;}
#tip .icon{ position:absolute; width:0.48rem; height:0.48rem; padding:0.1rem; left:50%; top:3.5em; margin:0.11rem 0 0 2.43rem; background:#fff; border-radius:1rem;}
#tip .icon a{ display:block; width:100%; height:100%; padding:0.1rem; margin:-0.1rem;}
#tip .icon a svg{ display:block; width:100%; height:100%; fill:#9c9c9c;}
#tip .img{ position:absolute; width:3.5rem; height:2.8rem; left:50%; top:1rem; margin-left:-1rem; padding-top:3.5em;}
#tip .img img{ display:block; width:100%; height:100%;}


/*公用样式*/
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

/*标题*/
.titleType_01{ line-height:4em; position:relative; color:#333;}
.titleType_01 a{ display:block; position:relative; color:#333;}
.titleType_01 a::after{ display:block; content:''; position:absolute; right:1.2em; top:50%; width:0.7em; height:0.7em; margin:-0.4em 0 0; border:solid #aaa; border-width:0 0.2em 0.2em 0; -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg); -o-transform:rotate(-45deg); transform:rotate(-45deg);}
.titleType_01 h2{ font-size:1.4em; padding:0 0.25rem;}


/*上标*/
.sup{ display:block; position:absolute; top:-0.02rem; right:0.04rem; font-size:1em; line-height:1.4em; min-width:0.6em; text-align:center; padding:0 0.4em; height:1.4em; color:#fff; background:#f00; border-radius:1.4em; letter-spacing:0;}

/*加载*/
.loading{ text-align:center; padding:1em 3em 1em 1.5em;}
.loading .loaderIcon{ display:inline-block; vertical-align:middle; width:2em; height:2em; position:relative; margin-right:0.8em;}
.loading .loaderIcon i{ display:block; position:absolute; left:0; right:0; top:0; bottom:0;
    -webkit-transform-origin:center;
    -moz-transform-origin:center;
    -ms-transform-origin:center;
    -o-transform-origin:center;
    transform-origin:center;
    -webkit-animation: loadingRotate 2s linear 0s both infinite;
    -moz-animation: loadingRotate 2s linear 0s both infinite;
    -ms-animation: loadingRotate 2s linear 0s both infinite;
    -o-animation: loadingRotate 2s linear 0s both infinite;
    animation: loadingRotate 2s linear 0s both infinite;
}
.loading .loaderIcon svg{ display:block; width:100%; height:100%; fill:#ccc;}
.loading::after{ content:'加载中...'; font-size:1.2em;}
@-webkit-keyframes loadingRotate{0%{ -webkit-transform:rotate(0)} 100%{ -webkit-transform:rotate(360deg)}}
@-moz-keyframes loadingRotate{0%{ -moz-transform:rotate(0)} 100%{ -moz-transform:rotate(360deg)}}
@-ms-keyframes loadingRotate{0%{ -ms-transform:rotate(0)} 100%{ -ms-transform:rotate(360deg)}}
@-o-keyframes loadingRotate{0%{ -o-transform:rotate(0)} 100%{ -o-transform:rotate(360deg)}}
@keyframes loadingRotate{0%{ transform:rotate(0)} 100%{ transform:rotate(360deg)}}


/*内容样式*/
.bannerPanel_01{ width:100%; height:3rem; position:relative; background:#fff;}
.bannerPanel_01 .listField{ width:100%; height:100%; overflow:hidden;}
.bannerPanel_01 .listField ul,.bannerPanel_01 .listField li{ display:block; width:100%; height:100%; overflow:hidden;}
.bannerPanel_01 .listField img{  display:block; width:100%; height:auto;}

.bannerPanel_01 .controlField{ position:absolute; bottom:0.12rem; right:0; left:0; text-align:center;}
.bannerPanel_01 .controlField span{ display:inline-block; margin:0 0.4em; width:0.6em; height:0.6em; border:0.1em solid #fff; border-radius:0.6em;}
.bannerPanel_01 .controlField span.swiper-active-switch{ background:#fff;}


.quickLinkPanel_01{ width:100%; background:#fff; position:relative;}
.quickLinkPanel_01 .listField{ width:100%; height:3.6rem; overflow:hidden;}
.quickLinkPanel_01 .listField ul{}
.quickLinkPanel_01 .listField li{ text-align:center; padding:0.3rem 0.06rem 0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;}
.quickLinkPanel_01 .listField li .link{ display:inline-block; width:1.3rem; height:1.5rem; margin:0 0.1rem; vertical-align:top;}
.quickLinkPanel_01 .listField li i{ display:block; width:0.5rem; height:0.5rem; padding:0.2rem; margin:0 auto; border-radius:1rem; position:relative;}

.quickLinkPanel_01 .listField li .link1 i{ background:#009e42;}
.quickLinkPanel_01 .listField li .link2 i{ background:#e60021;}
.quickLinkPanel_01 .listField li .link3 i{ background:#00418e;}
.quickLinkPanel_01 .listField li .link4 i{ background:#21c063;}
.quickLinkPanel_01 .listField li .link5 i{ background:#ea156f;}
.quickLinkPanel_01 .listField li .link6 i{ background:#186acb;}
.quickLinkPanel_01 .listField li .link7 i{ background:#2bca6d;}
.quickLinkPanel_01 .listField li .link8 i{ background:#e3364f;}

.quickLinkPanel_01 .listField li .link9 i{ background:#0f5eae;}
.quickLinkPanel_01 .listField li .link10 i{ background:#3bd487;}
.quickLinkPanel_01 .listField li .link11 i{ background:#206cc8;}
.quickLinkPanel_01 .listField li .link12 i{ background:#e30e2a;}
.quickLinkPanel_01 .listField li .link13 i{ background:#b5384a;}
.quickLinkPanel_01 .listField li .link14 i{ background:#3484e1;}
.quickLinkPanel_01 .listField li .link15 i{ background:#2ebe67;}
.quickLinkPanel_01 .listField li .link16 i{ background:#0e58a8;}


.quickLinkPanel_01 .listField li .link17 i{ background:#186acb;}
.quickLinkPanel_01 .listField li .link18 i{ background:#e60021;}
.quickLinkPanel_01 .listField li .link19 i{ background:#3bd487;}
.quickLinkPanel_01 .listField li .link20 i{ background:#f55f01;}


.quickLinkPanel_01 .listField li svg{ display:block; width:100%; height:100%; fill:#fff;}
.quickLinkPanel_01 .listField li span{ display:block; font-size:1.2em; line-height:2em;}

.quickLinkPanel_01 .controlField{ position:absolute; bottom:0.12rem; right:0; left:0; text-align:center;}
.quickLinkPanel_01 .controlField span{ display:inline-block; margin:0 0.4em; width:0.8em; height:0.8em; background:#ccc; border-radius:0.8em;}
.quickLinkPanel_01 .controlField span.swiper-active-switch{ background:#044d7f;}


.secKillPanel_01{ background:#fff; margin:0.2rem 0 0;}
.secKillPanel_01 a{ display:block; color:#999; padding:0.5em; position:relative;}
.secKillPanel_01 a::after{ display:block; content:''; position:absolute; right:1.2em; top:50%; width:0.7em; height:0.7em; margin:-0.4em 0.15rem 0 0; border:solid currentColor; border-width:0 0.2em 0.2em 0; -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg); -o-transform:rotate(-45deg); transform:rotate(-45deg);}
.secKillPanel_01 .img{ display:inline-block; vertical-align:middle; width:7.5em; max-height:7.5em; overflow:hidden;}
.secKillPanel_01 .img img{ display:block; width:100%; height:auto;}
.secKillPanel_01 .detail{ display:inline-block; vertical-align:middle;}
.secKillPanel_01 .detail h3{ font-size:1.5em; line-height:1.2em; font-weight:bold; color:#333; padding-bottom:0.3em;}
.secKillPanel_01 .detail h3 em{ font-weight:normal; color:#ff5015; padding:0 0.06rem;}
.secKillPanel_01 .detail h3 .icon{ display:inline-block; vertical-align:top; border:1px solid #ff5015; font-weight:normal; font-size:0.8em; color:#ff5015; padding:0 0.06rem; border-radius:0.08rem;}
.secKillPanel_01 .detail > div{ font-size:1.2em; line-height:2.2em;}
.secKillPanel_01 .detail .cell{ display:inline-block; vertical-align:middle; text-align:center; margin:-0.2em 0.2em 0; line-height:2em; min-width:1.6em; padding:0 0.2em; font-size:0.8em; border-radius:0.4em; height:2em; background:#666; color:#fff;}


.advPanel_02{ background:#fff; margin:0.2rem 0 0;}
.advPanel_02 a{ display:block; color:#999; position:relative;}
.advPanel_02 a::after{ display:block; content:''; position:absolute; right:1.2em; top:50%; width:0.7em; height:0.7em; margin:-0.4em 0 0 0; border:solid currentColor; border-width:0 0.2em 0.2em 0; -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg); -o-transform:rotate(-45deg); transform:rotate(-45deg);}
.advPanel_02 .img{ display:block; height:6em; width:auto; overflow:hidden;}
.advPanel_02 .img img{ display:block; width:auto; height:100%;}
.advPanel_02.miaoxingStyle{margin:0 0 0.2rem;}
.advPanel_02.miaoxingStyle.noMarginBottom{margin-bottom:0;}
.advPanel_02.miaoxingStyle a::after{display:none;}
.advPanel_02.miaoxingStyle .img{height:3.5rem; width:100%;}
.advPanel_02.miaoxingStyle .img img{ display:block; width:100%; height:auto;}


.eventPanel_01{ background:#fff; margin:0.2rem 0 0;}
.eventPanel_01 .listField{}
.eventPanel_01 .listField ul{}
.eventPanel_01 .listField ul::after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
.eventPanel_01 .listField li{  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; padding:1px 1px 0 0; position:relative; width:50%; float:left;}
.eventPanel_01 .listField li::before{ display:block; content:''; position:absolute; top:0; left:0; width:100%; height:1px; z-index:1; background-color:rgb(232, 232, 232);}
.eventPanel_01 .listField li::after{ display:block; content:''; position:absolute; right:0; top:0; width:1px; height:100%; z-index:1; background-color:rgb(232, 232, 232);}
.eventPanel_01 .listField a{ display:block; width:100%; height:7.5em; position:relative;}
.eventPanel_01 .listField a::before{ display:inline-block; content:''; height:100%; width:0; vertical-align:middle;}
.eventPanel_01 .listField .detail{ display:inline-block; vertical-align:middle; padding-left:0.15rem;}
.eventPanel_01 .listField .detail h3{ font-size:1.6em; line-height:1.2em; padding-bottom:0.2em;}
.eventPanel_01 .listField .detail p{ color:#999; font-size:1em;}

.eventPanel_01 .listField .img{ display:block; height:7.5em; position:absolute; right:0.15rem; top:0;}
.eventPanel_01 .listField .img img{ display:block; width:auto; height:100%;}

.eventPanel_01 .listField li:first-child{ padding:0; width:100%;}
.eventPanel_01 .listField li:first-child::before,.eventPanel_01 .listField li:first-child::after{ display:none;}
.eventPanel_01 .listField li:last-child{ padding-right:0;}
.eventPanel_01 .listField li:last-child::after{ display:none;}

.eventPanel_01 .listField li:nth-child(1) h3{ color:#7687f1; font-size:2em;}
.eventPanel_01 .listField li:nth-child(2) h3{ color:#f13d81;}
.eventPanel_01 .listField li:nth-child(3) h3{ color:#ff7f60;}



.brandListPanel_01{ margin:0.2rem 0 0; background:#fff;}
.brandListPanel_01.hasMarginBottom{ margin-bottom:0.2rem;}
.brandListPanel_01 .listField{ width:100%; overflow:hidden;}
.brandListPanel_01 .listField ul{ width:100%; border-top:1px solid rgb(232, 232, 232);}
.brandListPanel_01 .listField ul::after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
.brandListPanel_01 .listField .brand{ -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; width:25%; height:1.12rem; padding:0 1px 1px 0; position:relative; float:left;}
.brandListPanel_01 .listField .brand::before{ display:block; content:''; position:absolute; bottom:0; left:0; width:100%; height:1px; z-index:1; background-color:rgb(232, 232, 232);}
.brandListPanel_01 .listField .brand::after{ display:block; content:''; position:absolute; right:0; top:0; width:1px; height:100%; z-index:1; background-color:rgb(232, 232, 232);}
.brandListPanel_01 .listField .brand a{ display:block; height:100%; overflow:hidden;}
.brandListPanel_01 .listField .brand img{ display:block; width:100%; height:auto;}
.brandListPanel_01 .listField .brand:nth-child(4n){ padding-right:0;}
.brandListPanel_01 .listField .brand:nth-child(4n)::after{ display:none;}
.brandListPanel_01 .listField .single{ width:50%; height:2.6rem; padding-bottom:0;}
.brandListPanel_01 .listField .single::before{ display:none;}
.brandListPanel_01 .listField .single:nth-child(2n){ padding-right:0;}
.brandListPanel_01 .listField .single:nth-child(2n)::after{ display:none;}


.advPanel_01{ margin:0.2rem 0 0; background:#fff;}
.advPanel_01 .listField{ padding:0 0.15rem 0.2rem;}
.advPanel_01 .listField ul{ position:relative;}
.advPanel_01 .listField ul::after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
.advPanel_01 .listField li{ -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;}

/*advPanel中各种排版方式*/
.advPanel_01 .listField .one{ padding-bottom:0.1rem;}
.advPanel_01 .listField .one li{ position:static; padding:0 0.1rem;}

.advPanel_01 .listField .two{ padding:0 0 0 0.1rem;}
.advPanel_01 .listField .two li{ padding:0 0.1rem 0.1rem 0; width:50%; float:left;}

.advPanel_01 .listField .three1st{ padding:0 0 0 0.1rem;}
.advPanel_01 .listField .three1st li{ padding:0 0.1rem 0.1rem 0; width:50%;}
.advPanel_01 .listField .three1st li:first-child{ padding:0 0.1rem 0.1rem 0; width:50%; float:right;}

.advPanel_01 .listField .three2nd{ padding:0 0 0 0.1rem;}
.advPanel_01 .listField .three2nd li{ padding:0 0.1rem 0.1rem 0; width:50%; float:left;}
.advPanel_01 .listField .three2nd li:first-child{ padding:0 0.1rem 0.1rem 0; width:100%;}

.advPanel_01 .listField .three3rd{ padding:0 0 0 0.1rem;}
.advPanel_01 .listField .three3rd li{ padding:0 0.1rem 0.1rem 0; width:33.33%; float:left;}


.advPanel_01 .listField a{ display:block; width:100%; height:100%; overflow:hidden;}
.advPanel_01 .listField img{ display:block; width:100%; height:auto;}



.favoratePanel_01{ margin:0.2rem 0 0; background:#fff;}


.favoratePanel_01 .listField{ position:relative;}
.favoratePanel_01 .listField ul{ padding-left:0.25rem;}
.favoratePanel_01 .listField li{ border-top:1px solid #eaeaea;}
.favoratePanel_01 .listField li a{ display:block; position:relative; padding:0.36rem 0.25rem 0.36rem 0;}
.favoratePanel_01 .listField li a::after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
.favoratePanel_01 .listField .img{ float:left; width:9em; height:6.5em; overflow:hidden; background:#f3f4f5;}
.favoratePanel_01 .listField .img img{ display:block; width:100%; height:auto; min-height:100%;}

.favoratePanel_01 .listField .detail{ margin-left:10em; overflow:hidden; position:relative; min-height:4.5em; padding:0 0 2em;}
.favoratePanel_01 .listField .detail h2{ font-size:1.4em; color:#333; font-weight:normal; line-height:1.4em}
.favoratePanel_01 .listField .detail p{ position: absolute; left:0; right:0; bottom:0; font-size:1.2em}
.favoratePanel_01 .listField .detail p em{ color:#666; font-weight:normal}
.favoratePanel_01 .listField .detail p .price{ }
.favoratePanel_01 .listField .detail p .price i{ color:#ff622d; font-size:1.2em; padding:0 0.5em; font-style:normal}
.favoratePanel_01 .listField .detail p .price del{ color:#b5b5b5}
.favoratePanel_01 .listField .detail p .location{position: absolute; right: 0;bottom: 0;display: block;margin: 0; color:#b5b5b5}
.favoratePanel_01 .listField .detail p .location i{ display:inline-block; width:1.4em; height:1.4em; vertical-align:bottom;}
.favoratePanel_01 .listField .detail p .location i svg{ display:block; width:100%; height:100%; fill:#666;}

/****2016-10-11猜你喜欢，改版仿喵星，猜你喜欢****/
.favoratePanel_01.likeMiaoxing .listField ul{background:#fff; overflow:hidden; padding:0;}
.favoratePanel_01.likeMiaoxing .listField li{width:50%; float:left; box-sizing:border-box; border:none;}
.favoratePanel_01.likeMiaoxing .listField li:nth-child(2n+1){padding-right:0.05rem;}
.favoratePanel_01.likeMiaoxing .listField li:nth-child(2n){padding-left:0.05rem;}
.favoratePanel_01.likeMiaoxing .listField li a{padding:0;}
.favoratePanel_01.likeMiaoxing .listField .img{float:none; width:100%; height:1.9rem;}

.favoratePanel_01.likeMiaoxing .listField .detail{padding:0.5em 0 1.4em; margin:0; min-height:auto;}
.favoratePanel_01.likeMiaoxing .listField .detail h2{color:#000; width:100%; box-sizing:border-box; padding:0 0.2rem; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.favoratePanel_01.likeMiaoxing .listField .detail p{position:relative; left:auto; right:auto; top:auto; bottom:auto; line-height:0.3rem; margin:0 0.2rem;}
.favoratePanel_01.likeMiaoxing .listField .detail p em{ color:#c2c2c2;}
.favoratePanel_01.likeMiaoxing .listField .detail p .price del{ color:#c2c2c2}
.favoratePanel_01.likeMiaoxing .listField .detail p .location{color:#c2c2c2}
.favoratePanel_01.likeMiaoxing .listField .detail p .location i svg{fill:#c2c2c2;}


/****2016-10-11首页，改版放喵星，活动广告位***/
.marketPanel_01{padding:;}
.marketPanel_01 .listField{padding:0; background:#fff;}
.marketPanel_01 .listField ul li{width:100%;padding-bottom: 1em; background:#f5f5f5;}
.marketPanel_01 .listField ul li:last-child{padding-bottom:0;}
.marketPanel_01 .listField .link{display:block;width:100%; position:relative;}
.marketPanel_01 .listField .link i{ position:absolute; left:0; top:0; display:block; width:2.25em; height:2.25em; padding:0.5em; font-size:1.4em; text-align:center; line-height:1.125em; font-style:normal; background-color:#dcdcdc; color:#fff;}
.marketPanel_01 .listField .link .icon1{ background-color:#ff622d;}
.marketPanel_01 .listField .link .icon2{ background-color:#f0b928;}
.marketPanel_01 .listField .link .icon3{ background-color:#5eb22d;}
.marketPanel_01 .listField .link .icon4{ background-color:#44bbb9;}
.marketPanel_01 .listField .link .icon5{ background-color:#4faaeb;}
.marketPanel_01 .listField .link .icon6{ background-color:#cb53c3;}
.marketPanel_01 .listField .link .img{display:block;width:100%; max-height:3.5rem; background:#eee; overflow:hidden;}
.marketPanel_01 .listField .link .img img{display:block;width:100%;height:auto;}
.marketPanel_01 .listField .link h3{height:0.6rem; background:#fff; color:#333; line-height:0.6rem;font-size: 1.4em;padding-left: 1em; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}


.miaoxingSkillServe{padding:0.3rem 0.2rem; background:#f5f5f5;}
.miaoxingSkillServe_i{display:block; width:1.1rem; margin:0 auto; overflow:hidden;}
.miaoxingSkillServe_i img{display:block; width:100%;}
.miaoxingSkillServe_h6{font-size:1.3em; color:#cdcdcd; line-height:0.4rem; text-align:center;}
/****2016-10-11首页，改版放喵星，活动广告位，结束***/
/**弹框样式，开始**/

.dialogue{ position:fixed; left:0; right:0; top:0; bottom:0; background:rgba(0,0,0,0.5); text-align:center;}
.dialogue .dialogueField{ position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%); transform:translate(-50%,-50%); display:block; width:80%; max-width:51.2em; height:auto; background:#fff; border-radius:0.6em; margin-bottom:-0.8em;}
.dialogue .dialogueField h1{ font-size:1.8em; line-height:1.5em; padding:0.75em 1em 0; text-align:center; color:##454545; font-weight:bold;}
.dialogue .dialogueField .content{ font-size:1.4em; line-height:1.6em; padding:1em 0.8em 0.8em;}
.dialogue .dialogueField .btns{ display:-webkit-box; display:-moz-box;  display:-ms-flexbox; display:box; display:flex; border-top:1px solid #eaeaea;}
.dialogue .dialogueField .btns .btn{ display:block; -webkit-box-flex:1.0; -moz-box-flex:1.0; box-flex:1.0; font-size:1.6em; width:100%; height:2.8125em; line-height:2.8125em; border-right:1px solid #eaeaea; background:transparent; color:#007aff; font-weight:normal;}
.dialogue .dialogueField .btns .btn:last-child{ border:0 none;}
.dialogue .dialogueField .btns .btn2{ font-weight:bold;}
.dialogue .dialogueField .content em{ display:block; color:#e22a2c; padding:0 0 1em; margin:0 0 1em; border-bottom:1px solid #eee;}
.dialogue .dialogueField .content em:last-child{ padding:0; margin:0; border:0;}
.dialogue .dialogueField .content span{ display:block; }

.dialogue .dialogueField.pics .content{ margin-bottom:0.8em; padding-bottom:0; max-height:5.5rem; overflow:hidden;}
.dialogue .dialogueField.pics .content img{ display:block; max-width:100%; max-height:5.5rem; width:auto; height:auto; margin:0 auto;}

.dialogue .loading{ position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%); transform:translate(-50%,-50%); font-size:1.25em; color:#fff; padding:0; margin:0;}
.dialogue .loading:only-child{ margin:0;}
.dialogue .loading i{ display:inline-block; vertical-align:middle; width:1.6em; height:1.6em; margin:-0.2em 0.5em 0;
    -webkit-transform-origin:center;
    -moz-transform-origin:center;
    -ms-transform-origin:center;
    -o-transform-origin:center;
    transform-origin:center;
    -webkit-animation: loadingRotate 2s linear 0s both infinite;
    -moz-animation: loadingRotate 2s linear 0s both infinite;
    -ms-animation: loadingRotate 2s linear 0s both infinite;
    -o-animation: loadingRotate 2s linear 0s both infinite;
    animation: loadingRotate 2s linear 0s both infinite;
}
.dialogue .loading svg{ display:block; width:100%; height:100%; fill:#fff;}

.dialogue .dlAlertTable{ width:100%; display:table;}
.dialogue .dlAlertTable .theadField,.dialogue .dlAlertTable .trField{ display:table-row;}
.dialogue .dlAlertTable .theadField span,.dialogue .dlAlertTable .trField span{ display:table-cell; line-height:1.5em; height:1.5em; padding:0.5em; text-align:center;}
.dialogue .dlAlertTable .theadField span{ background:#f2f2f2; vertical-align:top;}
.dialogue .dlAlertTable .trField span{ border-bottom:1px solid #eaeaea;}
.dialogue .dlAlertTable .trField:last-child span{ border-bottom:0;}
.dialogue .dlAlertTable .trRadioLabel .radio{ display:none;}
.dialogue .dlAlertTable .trRadioLabel span:last-child{ text-align:right;}
.dialogue .dlAlertTable .trRadioLabel .radio:checked + span i{ display:inline-block; vertical-align:top; width:1.5em; height:1.5em; background:#e22a2c; border-radius:1.5em; position:relative;}
.dialogue .dlAlertTable .trRadioLabel .radio:checked + span i::after{ position:absolute; left:50%; top:50%; margin:-0.5em 0 0 -0.3em; width:0.4em; height:0.75em; border:solid #fff; border-width:0 1px 1px 0; -webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg); content:'';}

/**弹框样式，结束**/



/**2016-12-01，凯德为商场首页圣诞新年，皮肤样式**/
#header.indexHeader_forChrismas{background:url(../img/indexHead_forChrismas_bg.jpg) right center no-repeat; background-size:100%;}

.quickLinkPanel_01.indexQuickLink_forChrismas{/*padding-Top:2.5rem;*/ background:url(../img/indexQuickLink_forChrismas_bg.jpg) center bottom no-repeat; background-size:100% auto;}
.quickLinkPanel_01.indexQuickLink_forChrismas:before{display:none; content:""; position:absolute; left:0; top:0; right:0; height:2.5rem; background:url(../img/indexbanner_forChrismas.jpg) center bottom no-repeat; background-size:100% auto;}

.logoField .logoField_logoDivideLine{display:block; position:absolute; left:1.36rem; top:-0.18rem;}
#header.indexHeader_forChrismas .logoField .logoField_logoDivideLine img{width:100%; height:auto;}
.indexHeader_forChrismas .logoField .logoField_logoDivideLine{width:0.54rem; margin-left:-0.27rem;}


.quickLinkPanel_01.indexQuickLink_forChrismas .listField li .link i svg{position:relative;}
.quickLinkPanel_01.indexQuickLink_forChrismas .listField li .link i{background:none;}
.quickLinkPanel_01.indexQuickLink_forChrismas .listField li .link i:before{display:block; content:""; position:absolute; left:0; right:0; bottom:0; top:-0.16rem; background:url(../img/quickLink_chrismas_btnBg1.png) center bottom no-repeat; background-size:100% auto;}
.quickLinkPanel_01.indexQuickLink_forChrismas .listField li .link1 i:before{background:url(../img/quickLink_chrismas_btnBg1.png) center bottom no-repeat; background-size:100% auto;}
.quickLinkPanel_01.indexQuickLink_forChrismas .listField li .link2 i:before{background:url(../img/quickLink_chrismas_btnBg2.png) center bottom no-repeat; background-size:100% auto;}
.quickLinkPanel_01.indexQuickLink_forChrismas .listField li .link3 i:before{background:url(../img/quickLink_chrismas_btnBg3.png) center bottom no-repeat; background-size:100% auto;}
.quickLinkPanel_01.indexQuickLink_forChrismas .listField li .link4 i:before{background:url(../img/quickLink_chrismas_btnBg4.png) center bottom no-repeat; background-size:100% auto;}
.quickLinkPanel_01.indexQuickLink_forChrismas .listField li .link5 i:before{background:url(../img/quickLink_chrismas_btnBg5.png) center bottom no-repeat; background-size:100% auto;}
.quickLinkPanel_01.indexQuickLink_forChrismas .listField li .link6 i:before{background:url(../img/quickLink_chrismas_btnBg6.png) center bottom no-repeat; background-size:100% auto;}
.quickLinkPanel_01.indexQuickLink_forChrismas .listField li .link7 i:before{background:url(../img/quickLink_chrismas_btnBg7.png) center bottom no-repeat; background-size:100% auto;}
.quickLinkPanel_01.indexQuickLink_forChrismas .listField li .link8 i:before{background:url(../img/quickLink_chrismas_btnBg8.png) center bottom no-repeat; background-size:100% auto;}

.quickLinkPanel_01.indexQuickLink_forChrismas .listField li .link9 i:before{background:url(../img/quickLink_chrismas_btnBg1.png) center bottom no-repeat; background-size:100% auto;}
.quickLinkPanel_01.indexQuickLink_forChrismas .listField li .link10 i:before{background:url(../img/quickLink_chrismas_btnBg2.png) center bottom no-repeat; background-size:100% auto;}
.quickLinkPanel_01.indexQuickLink_forChrismas .listField li .link11 i:before{background:url(../img/quickLink_chrismas_btnBg3.png) center bottom no-repeat; background-size:100% auto;}
.quickLinkPanel_01.indexQuickLink_forChrismas .listField li .link12 i:before{background:url(../img/quickLink_chrismas_btnBg4.png) center bottom no-repeat; background-size:100% auto;}
.quickLinkPanel_01.indexQuickLink_forChrismas .listField li .link13 i:before{background:url(../img/quickLink_chrismas_btnBg5.png) center bottom no-repeat; background-size:100% auto;}
.quickLinkPanel_01.indexQuickLink_forChrismas .listField li .link14 i:before{background:url(../img/quickLink_chrismas_btnBg6.png) center bottom no-repeat; background-size:100% auto;}
.quickLinkPanel_01.indexQuickLink_forChrismas .listField li .link15 i:before{background:url(../img/quickLink_chrismas_btnBg7.png) center bottom no-repeat; background-size:100% auto;}
.quickLinkPanel_01.indexQuickLink_forChrismas .listField li .link16 i:before{background:url(../img/quickLink_chrismas_btnBg8.png) center bottom no-repeat; background-size:100% auto;}


#header.indexHeader_forNewYear{background:url(../img/indexHead_forNewYear_bg.jpg) right center #fff no-repeat; background-size:auto 100%;}

#header.indexHeader_forNewYear .logoField .logoField_logoDivideLine img{width:100%; height:auto;}
/*.indexHeader_forNewYear .logoField .logoField_logoDivideLine{width:0.36rem; margin-left:-0.18rem;}*/
.indexHeader_forNewYear .logoField .logoField_logoDivideLine{width:0.36rem; margin-left:0; margin-right:-0.46rem; right:0; left:auto;}

.quickLinkPanel_01.indexQuickLink_forNewYear{/*padding-Top:2.5rem;*/ background:url(../img/indexQuickLink_forNewYear_bg.jpg) center bottom no-repeat; background-size:100% auto;}
.quickLinkPanel_01.indexQuickLink_forNewYear:before{display:none; content:""; position:absolute; left:0; top:0; right:0; height:2.5rem; background:url(../img/indexbanner_forNewYear.png) center bottom no-repeat; background-size:100% auto;}

.quickLinkPanel_01.indexQuickLink_forNewYear .listField li .link i svg{position:relative;}
.quickLinkPanel_01.indexQuickLink_forNewYear .listField li .link i{background:none;}
.quickLinkPanel_01.indexQuickLink_forNewYear .listField li .link i:before{display:block; content:""; position:absolute; left:0; right:0; bottom:0; top:-0.16rem; background:url(../img/quickLink_newYear_btnBg.png) center bottom no-repeat; background-size:100% auto;}

.quickLinkPanel_01.indexQuickLink_forNewYear .listField li .link:nth-child(5) i:before,
.quickLinkPanel_01.indexQuickLink_forNewYear .listField li .link:nth-child(6) i:before,
.quickLinkPanel_01.indexQuickLink_forNewYear .listField li .link:nth-child(7) i:before,
.quickLinkPanel_01.indexQuickLink_forNewYear .listField li .link:nth-child(8) i:before{top:-0.04rem;}