<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{if !empty($title['daili'])}{$title['daili']}{else}代理加盟-{$setting['company']}{/if}</title>
<meta name="keywords" content="{$setting['keywords']}" />
<meta name="description" content="{$setting['description']}" />
{if !empty($setting['icon'])}
<link rel="shortcut icon" href="{$_W['attachurl']}{$setting['icon']}" />
{/if}
<meta name="format-detection" content="telephone=no"/>
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<link href="../addons/mogucms_guanwang/template/style/css/common.css" type="text/css" rel="stylesheet">
<link href="../addons/mogucms_guanwang/template/style/css/style.css" type="text/css" rel="stylesheet">
<script src="../addons/mogucms_guanwang/template/style/js/jquery.js"></script>
<script src="../addons/mogucms_guanwang/template/style/js/wow.min.js"></script>
<script src="../addons/mogucms_guanwang/template/style/js/jquery.lazyload.js"></script>
<script src="../addons/mogucms_guanwang/template/style/js/comloding.js"></script>
<script src="../addons/mogucms_guanwang/template/style/js/common.js"></script>
<!--[if lt IE 9]>
<script src="../addons/mogucms_guanwang/template/style/js/html5.js"></script>
<![endif]-->
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript">
  wx.config({
	  debug: false,
      appId: "{$jssdk['appId']}",
      timestamp: "{$jssdk['timestamp']}",
      nonceStr: "{$jssdk['nonceStr']}",
      signature: "{$jssdk['signature']}",
      jsApiList: [
		'checkJsApi',
        'onMenuShareTimeline',
        'onMenuShareAppMessage'
      ]
  });
  wx.ready(function () {
  
    var shareData = {
    title: "{if !empty($title['daili'])}{$title['daili']}{else}首页-{$setting['company']}{/if}",
    desc: "{$setting['keywords']}",
    link: "{$jssdk['url']}",
    imgUrl: "{if $setting['logo2']}{$_W['attachurl']}{$setting['logo2']}{elseif $fdset['logo2']}{$_W['attachurl']}{$fdset['logo2']}{else}../addons/mogucms_guanwang/template/style/images/logo2.png{/if}",
  };
 
  wx.onMenuShareAppMessage({
      title: shareData.title,
      desc: shareData.desc,
      link: shareData.link,
      imgUrl:shareData.imgUrl,
      success: function (res) {
      }
    });
  wx.onMenuShareTimeline({
      title: shareData.title+"---"+shareData.desc,
      link: shareData.link,
      imgUrl:shareData.imgUrl,
      success: function (res) {
      }
    }); 
  });
</script>
</head>
{if !empty($setting['shangqiao']) && $setting['isshangqiao']=="1"}{php echo html_entity_decode($setting['shangqiao'])}{/if}
<body>
{template 'default/header'}
<div class="container">
    <div id="banner" class="banner" style="background:url({if !empty($banner['daili'])}{$_W['attachurl']}{$banner['daili']}{else}../addons/mogucms_guanwang/template/style/images/xiaochengxu_banner.jpg{/if}) no-repeat center center; background-size:cover;">
    	<div class="wrapper">
        	<div class="jjfa_bantxt">
            	<h2 class="wow fadeInUp">{if !empty($banner['dailititle'])}{$banner['dailititle']}{else}代理加盟{/if}<span></span></h2>
                 <div class="wow fadeInUp animated delay-2s bannerp">
				{php echo $content}
				</div>
				<h3 class="wow fadeInUp animated delay-5s"><a class="ban_a" href="http://wpa.qq.com/msgrd?v=3&uin={$setting['qq']}&site=qq&menu=yes" target="_blank">申请成为代理商</a></h3>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="wrapper">
            <div class="ntitle"><h2>{if !empty($daili["title1"])}{$daili["title1"]}{else}市场分析{/if}</h2><p>{if !empty($daili["title2"])}{$daili["title2"]}{else}MARKET ANALYSIS{/if}</p></div>
            <div class="scfx_txt wow fadeInUp">{if !empty($title3)}{$title3}{else}2017年1月9日微信小程序正式上线，引发各界关注，千亿市场马上到来。<br>
腾讯公布了2017年全年业绩，腾讯全年收入2377.60亿元！<br>
微信活跃用户近10亿，日均活跃账号7.68亿，娱乐。购物。公众号所占微信收入比例高达90%。<br>
腾讯几乎影响了中国所有网民，巨大的用户基数是微信小程序发展的根基与前景。{/if}
</div>
        </div>
    </div>
    <div class="content bgf9">
        <div class="wrapper">
            <div class="ntitle"><h2>{if !empty($daili["title4"])}{$daili["title4"]}{else}合作，你能获得什么？{/if}</h2><p>{if !empty($daili["title5"])}{$daili["title5"]}{else}WHAT TO GAIN{/if}</p></div>
            <div class="xcxdl_box">
            	<ul>
                	<li class="wow fadeInUp"><h3><img src="{if !empty($daili['title6'])}{$_W['attachurl']}{$daili['title6']}{else}../addons/mogucms_guanwang/template/style/images/dl_ico1.png{/if}" /></h3><h2>{if !empty($daili["title7"])}{$daili["title7"]}{else}平台支持{/if}</h2><p>{if !empty($daili["title8"])}{$daili["title8"]}{else}OEM贴牌式/赠送整套系统权限/独立合伙人系统{/if}</p></li>
                	<li class="wow fadeInUp"><h3><img src="{if !empty($daili['title9'])}{$_W['attachurl']}{$daili['title9']}{else}../addons/mogucms_guanwang/template/style/images/dl_ico2.png{/if}" /></h3><h2>{if !empty($daili["title10"])}{$daili["title10"]}{else}市场支持{/if}</h2><p>{if !empty($daili["title11"])}{$daili["title11"]}{else}合作商经验交流，月度交流会，线上 沙龙{/if}</p></li>
                	<li class="wow fadeInUp"><h3><img src="{if !empty($daili['title12'])}{$_W['attachurl']}{$daili['title12']}{else}../addons/mogucms_guanwang/template/style/images/dl_ico3.png{/if}" /></h3><h2>{if !empty($daili["title13"])}{$daili["title13"]}{else}资源支持{/if}</h2><p>{if !empty($daili["title14"])}{$daili["title14"]}{else}共享合伙人客户案例，市场推广建议{/if}</p></li>
                	<li class="wow fadeInUp"><h3><img src="{if !empty($daili['title15'])}{$_W['attachurl']}{$daili['title15']}{else}../addons/mogucms_guanwang/template/style/images/dl_ico4.png{/if}" /></h3><h2>{if !empty($daili["title16"])}{$daili["title16"]}{else}培训支持{/if}</h2><p>{if !empty($daili["title17"])}{$daili["title17"]}{else}专业的研发团队，优先处理合伙人的 反馈&需要&定制{/if}</p></li>
                	<li class="wow fadeInUp"><h3><img src="{if !empty($daili['title18'])}{$_W['attachurl']}{$daili['title18']}{else}../addons/mogucms_guanwang/template/style/images/dl_ico5.png{/if}" /></h3><h2>{if !empty($daili["title19"])}{$daili["title19"]}{else}售后支持{/if}</h2><p>{if !empty($daili["title20"])}{$daili["title20"]}{else}提供技术顾问7*24小时售后咨询{/if}</p></li>
                	<li class="wow fadeInUp"><h3><img src="{if !empty($daili['title21'])}{$_W['attachurl']}{$daili['title21']}{else}../addons/mogucms_guanwang/template/style/images/dl_ico6.png{/if}" /></h3><h2>{if !empty($daili["title22"])}{$daili["title22"]}{else}物料支持{/if}</h2><p>{if !empty($daili["title23"])}{$daili["title23"]}{else}宣传海报/宣传彩页，产品手册，产品 操作/招商手册（电子版）{/if}</p></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="wrapper">
            <div class="ntitle"><h2>{if !empty($daili["title24"])}{$daili["title24"]}{else}我们需要这样的你{/if}</h2><p>{if !empty($daili["title25"])}{$daili["title25"]}{else}NEED CONDITION{/if}</p></div>
            <div class="xcxdl_xqbox wow fadeInUp">
            	<p class="xqp">① {if !empty($daili["title26"])}{$daili["title26"]}{else}注册资金10万以上{/if}</p>
            	<p class="xqp">② {if !empty($daili["title27"])}{$daili["title27"]}{else}团队核心成员5人以上{/if}</p>
            	<p class="xqp">③ {if !empty($daili["title28"])}{$daili["title28"]}{else}优先考虑有设计能力或者拥有设计师团队的代理商{/if}</p>
            	<p class="xqp">④ {if !empty($daili["title29"])}{$daili["title29"]}{else}有互联网行业经验优先，具备管理经验者优先{/if}</p>
            </div>
            <div class="xcxdl_jrbtn"><a href="http://wpa.qq.com/msgrd?v=3&uin={$setting['qq']}&site=qq&menu=yes" target="_blank">加入我们</a></div>
        </div>
    </div>
</div>

{template 'default/footer'}