<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>备案商品详细</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  	<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/layui/css/layui.css"/>
	<script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>
</head>
<body style="padding: 10px;">
	
<form class="layui-form">
	
	<div class="layui-form-item">
		<label class="layui-form-label">订单ID：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="id" value="{$data.id}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">商品货号：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="EntGoodsNo" value="{$data.EntGoodsNo}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">备案编号：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="CIQGoodsNo" value="{$data.CIQGoodsNo}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">海关编号：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="CusGoodsNo" value="{$data.CusGoodsNo}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">账册编号：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="EmsNo" value="{$data.EmsNo}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">保税项号：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="ItemNo" value="{$data.ItemNo}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">商品名称：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="ShelfGName" value="{$data.ShelfGName}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">商品分类：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="NcadCode" value="{$data.NcadCode}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">HS编码：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="HSCode" value="{$data.HSCode}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">商品条形码：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="BarCode" value="{$data.BarCode}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">商品名称：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="GoodsName" value="{$data.GoodsName}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">商品规格：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="GoodsStyle" value="{$data.GoodsStyle}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">商品品牌：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="Brand" value="{$data.Brand}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">计量单位：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="GUnit" value="{$data.GUnit}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">第一计量：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="StdUnit" value="{$data.StdUnit}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">第二计量：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="SecUnit" value="{$data.SecUnit}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">商品单价：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="RegPrice" value="{$data.RegPrice}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">原产国家：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="OriginCountry" value="{$data.OriginCountry}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">品质说明：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="Quality" value="{$data.Quality}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">品质证明：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="QualityCertify" value="{$data.QualityCertify}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">生产厂家：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="Manufactory" value="{$data.Manufactory}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">商品净重：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="NetWt" value="{$data.NetWt}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">商品毛重：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="GrossWt" value="{$data.GrossWt}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">商品备注：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="Notes" value="{$data.Notes}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">备案状态：</label>
		<div class="layui-input-block">
			{if condition="$data.CIQGRegStatus eq 'C'"}
				<input type="text" class="layui-input" maxlength="11" name="CIQGRegStatus" value="备案成功">
			{else/}
				<input type="text" class="layui-input" maxlength="11" name="CIQGRegStatus" value="备案失败">
			{/if}
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">国检审核：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="CIQNotes" value="{$data.CIQNotes}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">变更状态：</label>
		<div class="layui-input-block">
			
			{if condition="$data.OpType eq 1"}
				<input type="text" class="layui-input" maxlength="11" name="OpType" value="新增操作">
			{elseif condition="$data.OpType eq 2"}
				<input type="text" class="layui-input" maxlength="11" name="OpType" value="变更操作">
			{elseif condition="$data.OpType eq 3"}
				<input type="text" class="layui-input" maxlength="11" name="OpType" value="删除操作">
			{else/}
				<input type="text" class="layui-input" maxlength="11" name="OpType" value="暂无操作">
			{/if}
			
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">企业编号：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="DeclEntNo" value="{$data.DeclEntNo}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">备案申请号：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="EPortGoodsNo" value="{$data.EPortGoodsNo}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">操作时间：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="OpTime" value="{$data.OpTime}">
		</div>
	</div>
	
</form>

</body>
</html>