@charset "utf-8";
/* CSS Document */
.brandListPanel_01 .listField .takePlace_a .img{padding:0;}
.brandListPanel_01 .listField .takePlace_a .detail span i,
.brandListPanel_01 .listField .takePlace_a .detail span small{vertical-align:middle;}
.brandListPanel_01 .listField li .takePlace_a{position:relative; padding:1em 0;}
.brandListPanel_01 .listField .takePlace_a .detail .location{height:auto;}
.brandListPanel_01 .listField .takePlace_a .detail span .link2 i{width:1.2em; height:1.2em; fill:#fff; padding:0 0.2em 0.2em 0;}
.brandListPanel_01 .listField .takePlace_a .detail span .link2 i svg{fill:#fff;}
.brandListPanel_01 .listField .takePlace_a .detail span .link2{margin-left:0.8em; height:auto;}

.brandListPanel_01 .listField .takePlace_a .detail .hasMarginTop{margin-top:1.5em;}

.brandListPanel_01 .listField .takePlace_a .detail h3{line-height:1.2em;}
.brandListPanel_01 .listField .takePlace_a .detail h3 a{padding:0.7em 0 0.2em;}

.receivePanel_01.noPaddingBottom{padding-bottom:0;}
.receivePanel_01 .btnField.collection{margin:0 -0.75em;}
.receivePanel_01 .btnField.collection.allLineWiderBtn{margin:0; padding:1em 0;}
.receivePanel_01 .btnField.collection .btn{width:50%; float:left; margin:0; padding:0; border-radius:0; border-top:solid 1px #e6e6e6;}
.receivePanel_01 .btnField.collection .btn:first-child{background-color:#fff; color:#333;}
.receivePanel_01 .btnField.collection .btn:first-child svg{fill:#555;}
.receivePanel_01 .btnField.collection .btn.stored:first-child{color:#e22a2c;}
.receivePanel_01 .btnField.collection .btn.stored:first-child svg{fill:#e22a2c;}
.receivePanel_01 .btnField.collection .btn.used{background-color:#868686;}
.receivePanel_01 .btnField.collection.allLineWiderBtn .btn{width:100%; background:#e22a2c; color:#fff; border-radius:0.2em;}
.receivePanel_01 .btnField.collection.allLineWiderBtn .btn.used{width:100%; background:#868686; color:#fff; border-radius:0.2em;}
.btnField.collection svg{display:inline-block; vertical-align:middle; width:0.3rem; height:0.3rem; fill:#fff; margin-right:0.12rem;}
.btnField.collection .storeBtnZone.noCanStoreUp .beforeStoreUp{display:none;}
.btnField.collection .storeBtnZone.canStoreUp .storedUp{display:none;}
#main .btnField.collection .btn.storeBtnZone svg{fill:#e22a2c;}

.shopInfoPanel_01.addStoreUp{padding-bottom:0;}

.shopLinkPanel_01 a i.storeIcon svg{fill:#e22a2c;}
.shopLinkPanel_01 a i.storeIcon.canStoreUp .storedUp{display:none;}
.shopLinkPanel_01 a i.storeIcon.noCanStoreUp .beforeStoreUp{display:none;}

.addStoreUp .btnField{overflow:hidden;}
.addStoreUp .btnField .btn{display:block;float:right; padding:0 1.6em; height:2.7em;line-height:2.7em;border-radius:0.25em;background-color:#e22a2c;text-align:center;font-size:1.4em;color:#ffffff;}
.addStoreUp .btnField.collection{margin:0.7em -0.75em 0;}
.addStoreUp .btnField.collection .btn{width:50%; float:left; margin:0; padding:0; border-radius:0; border-top:solid 1px #e6e6e6;}
.addStoreUp .btnField.collection .btn:first-child{background-color:#fff; color:#333;}
.addStoreUp .btnField.collection .btn:first-child svg{fill:#555;}
.addStoreUp .btnField.collection .btn.stored:first-child{color:#e22a2c;}
.addStoreUp .btnField.collection .btn.stored:first-child svg{fill:#e22a2c;}
.addStoreUp .btnField.collection .btn.used{background-color:#868686;}
.addStoreUp .btnField.collection .btn.likeAndZan{background-color:#fff; box-sizing:border-box; border-left:solid 1px #e6e6e6; color:#e60012;}
.addStoreUp .btnField.collection .btn.likeAndZan svg{fill:#e60012;}


.menuLinkType_01 .left_title i.icon11 svg{fill:#a7d43c;}

.userInfoPanel_01{background:url(../img/userTop_bg.jpg) center center no-repeat; background-size:cover;}
.userInfoPanel_01 .infoField2{display:block; position:relative;}
.userInfoPanel_01 .infoField2 .linkToUserCenter{display:block; padding:1.6em 0 0 0.8em; margin-right:1.3rem; height:7em; position:relative;}
.userInfoPanel_01 .infoField2 .img{display:block; float:left; margin:0 0 0 0.7em; width:5.4em; height:5.4em; border-radius:5.5em; overflow:hidden; border:solid 0.1em #d1e2fc;}
.userInfoPanel_01 .infoField2 .img img{display:block; width:100%;}
.userInfoPanel_01 .infoField2 .info{display:block; margin-left:8em; padding-top:1.8em; color:#fff; line-height:2em;}
.userInfoPanel_01 .infoField2 .info big,
.userInfoPanel_01 .infoField2 .info small{display:block; font-size:1.4em;}
.userInfoPanel_01 .infoField2 .info big{ width:100%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.userInfoPanel_01 .infoField2 .changeBg{display:block; width:1.1rem; font-size:1.2em; color:rgba(255,255,255,0.6); line-height:0.56rem; height:0.56rem; position:absolute; right:0; top:50%; margin-top:-0.28rem;}
.userInfoPanel_01 .infoField2 .changeBg::after{display:block; position:absolute; right:1.2em; top:50%; margin-top:-0.7em; content:""; width:1.4em; height:1.4em; border:solid rgba(255,255,255,0.5); border-width:1px 1px 0 0; transform:rotate(45deg); -o-transform:rotate(45deg); -ms-transform:rotate(45deg); -moz-transform:rotate(45deg); -webkit-transform:rotate(45deg);}

.marketPanel_01 .listField .link .iconRed{ position:absolute; right:0em; bottom:0.75em; display:block; width:2.25em; height:2.25em; padding:0.5em; font-size:1.4em; text-align:center; line-height:1.125em; font-style:normal; background-color:#ff612c; color:#fff;}
.marketPanel_01 .listField .link .iconRed.collected{background-color:#959595;}

.marketPanel_01 .listField .link h3.hasMarginRight{padding-right:4em; height:4em; line-height:4em;}

.marketPanel_01 .listField.paddingTopEight{padding-top:8.75em;}

.brandListPanel_01.noPaddingTop{padding-top:0em;}


#chooseImgMask{position:fixed; display:none; left:0; top:0; right:0; bottom:0; background-color:rgba(0,0,0,0.9);}
#chooseImgMask.show{display:block;}
#chooseImgMask .content{width:22em; padding:0.6em 1.7em; background-color:#fff; border-radius:0.3em; margin:2.8em auto 0;}
#chooseImgMask .content a{display:block; border-bottom:solid 1px #c9c9c9;}
#chooseImgMask .content span{font-size:1.3em; color:#000; line-height:2.54em;}
#chooseImgMask .content label{display:block; position:relative;}
#chooseImgMask .content label input{opacity:0; position:absolute; left:0; top:0; right:0; bottom:0;}

.brandListPanel_01 .listField li{position:relative;}
.brandListPanel_01 .listField li a.link2{display:inline-block; vertical-align:middle; width:7.71em; height:2.04em; border-radius:0.36em; font-size:0.83em; line-height:2.04em; text-align:center; background:#e22a2c; color:#fff; padding:0;}

#main.whiteBg{background-color:#fff;}
.backParentsBtn{background-color:#f5f5f5; height:4.3em; position:relative; padding:0 1.5em; border-bottom:solid 1px #e1e1e1;}
.backParentsBtn a{display:inline-block; font-size:1.4em; color:#000; line-height:3.07em; position:relative; padding-left:1.6em;}
.backParentsBtn a:before{display:block; content:""; width:0.72em; height:0.72em; position:absolute; left:0; top:50%; margin-top:-0.36em; border:solid 1px #000; border-color:#000 transparent transparent #000; transform:rotate(-45deg); -o-transform:rotate(-45deg); -ms-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -webkit-transform:rotate(-45deg);}

.receiveAddListBox{background-color:#fff; min-height:100%;}
.receiveAddList{padding:0 1.5em;}
.receiveAddList li{padding:1.3em 0; border-bottom:solid 1px #e1e1e1;}
.receiveAddList li a{display:block; position:relative; padding-right:1.8em;}
.receiveAddList li a:after{display:block; content:""; width:1em; height:1em; position:absolute; right:0; top:50%; margin-top:-0.7em; border:solid 0.1em #b5b5b5; border-color:#b5b5b5 #b5b5b5 transparent transparent; transform:rotate(45deg); -o-transform:rotate(45deg); -ms-transform:rotate(45deg); -moz-transform:rotate(45deg); -webkit-transform:rotate(45deg);}
.receiveAddList li a h6{overflow:hidden; margin-bottom:0.58em; font-size:1.4em; color:#000; line-height:1.42em;}
.receiveAddList li a h6 span{display:inline-block;}
.receiveAddList li a h6 .name{float:left;}
.receiveAddList li a h6 .phone{float:right;}
.receiveAddList li a .receiveAdd{position:relative;}
.receiveAddList li a .receiveAdd .beSpan{display:block; font-size:1.2em; color:#000; line-height:1.5em;}
.receiveAddList li.firstChoice a .receiveAdd .beSpan{margin-left:3.16em;}
.receiveAddList li a .receiveAdd .firstChoiceSpan{display:none; font-size:1.2em; color:#e22a2c; line-height:1.5em; position:absolute; left:0; top:0;}
.receiveAddList li.firstChoice a .receiveAdd .firstChoiceSpan{display:block;}
.addReceiveAdd{display:block; font-size:1.2em; color:#fff; line-height:2.5em; text-align:center; background-color:#e0292b; border-radius:0.25em; margin:1.66em 1.25em 0;}

.receiveAddList .focusOnLi .focusOnBtn{display:block; width:5.8em; height:2em; float:right; padding:0;}
.receiveAddList .focusOnLi .focusOnBtn:after{display:none;}
.receiveAddList .focusOnLi .focusOnBtn a{display:none; width:100%; height:100%; padding:0; font-size:1em; color:#fff; line-height:2em; text-align:center; border:none 0; border-radius:0.3em;}
.receiveAddList .focusOnLi .focusOnBtn a:after{display:none;}
.receiveAddList .focusOnLi .focusOnBtn a.focus{background-color:#e0292b;}
.receiveAddList .focusOnLi .focusOnBtn a.cancleFocus{background-color:#898989;}
.receiveAddList .focusOnLi .focusOnBtn.canCancle a.cancleFocus{display:block;}
.receiveAddList .focusOnLi .focusOnBtn.canFocus a.focus{display:block;}
.receiveAddList .focusOnLi .mallName{display:block; font-size:1.2em; color:#606163; line-height:1.66em; margin-right:5em; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.alertFocusMask{position:fixed; display:none; left:0; top:0; right:0; bottom:0; background-color:rgba(0,0,0,0.9);}
.alertFocusMask.show{display:block;}
.alertFocusMask .content{width:27em; height:19.4em; position:absolute; left:50%; top:40%; margin:-9.7em 0 0 -13.5em; border-radius:0.5em; text-align:center; background-color:#fff;}
.alertFocusMask .content .alertTitle{font-size:1.8em; color:#5f646e; line-height:2.5em; padding-top:0.1em; border-bottom:solid 0.15em #eeeff4;}
.alertFocusMask .content .alertParagraph{padding-top:2em;}
.alertFocusMask .content .alertParagraph p{font-size:1.5em; color:#5f646e; line-height:1.86em;}
.alertFocusMask .content .alertParagraph div{margin-top:2.3em;}
.alertFocusMask .content .alertParagraph div a{display:inline-block; width:9em; border-radius:0.3em; font-size:1.3em; color:#fff; line-height:2.30em; margin:0 0.35em;}
.alertFocusMask .content .alertParagraph div a:first-child{background-color:#e22a2c;}
.alertFocusMask .content .alertParagraph div a:last-child{background-color:#d4d4d4;}