{include file="common/header_inner_new"}

<style>

</style>
<!--百度富文本-->
<script type="text/javascript" src="static/cklein/plugins/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="static/cklein/plugins/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" src="static/cklein/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>

<body style="padding: 10px;background-color: #f2f2f2;">
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <form class="layui-form" action="" method="post" lay-filter="component-form-element">
            <input type="text" style="display:none;" name="id" id="id" value="{$id}">

            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-form-item">
                            <div class="layui-form-label">操作名称</div>
                            <div class="layui-input-block">
                                <select name="type" id="type" lay-filter="type">
                                    {volist name="typename" id="vo"}
                                    <option value="{$vo['id']}" {if $data['type']==$vo['id']}selected{/if}>{$vo['name']}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-form-label">内容</div>
                            <div class="layui-input-block">
                                <script id="cont" type="text/plain" style="width:100%;height:100px;">
                                    {$data['content']}
                                </script>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item" style="margin-top: 25px;text-align: center;">
                <div>
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="component-form-element">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>

<script type="text/javascript">
    layui.use(['layer','form','laydate','upload','colorpicker'],function(){
        var laydate = layui.laydate
            ,layer = layui.layer
            ,form  = layui.form
            ,$ = layui.jquery
            ,upload = layui.upload
            ,colorpicker = layui.colorpicker;

            UE.getEditor('cont', {
                initialFrameHeight: 200,
                serverUrl: 'static/cklein/plugins/ueditor/php/controller.php'
            });

            var c1 = setInterval(function(){
                let i = document.getElementById('ueditor_textarea_editorValue').setAttribute('name','cont');
                document.getElementById('ueditor_textarea_editorValue').setAttribute('id','ueditor_textarea_editorValue');
                if(typeof(i)=='undefined'){
                    clearInterval(c1);
                }
            },1000);

            form.on('submit(component-form-element)', function(data){
                // JSON.stringify()
                // console.log(data.field);return false;

                // if(data.field['editorValue']==''){
                //     layer.msg('请输入内容！');
                //     return false;
                // }

                // if( $('#img_file-upload-list').children().length == 0 )
                // {
                //     layer.msg('请上传菜单图片！');
                //     return false;
                // }

                $.ajax({
                    url:"{:Url('centralize/miniprogram/save_campaign_opera')}",
                    method:'post',
                    data:data.field,
                    dataType:'JSON',
                    success:function(res){
                        layer.msg(res.msg,{time:2000}, function () {
                            if(res.code == 0)
                            {
                                parent.location.reload();
                            }
                        });
                    },
                    error:function (data) {
                        layer.msg('系统错误',{time:2000});
                    }
                });
                return false;
            });
        });

    function delPic(obj)
    {
        var layer = layui.layer,$ = layui.$;
        layer.confirm('确认要删除该附件？', {
            btn: ['删除','取消']
        }, function(){
            $(obj).parent().remove();
            layer.closeAll();
        }, function(){

        });
    }
</script>
</body>
</html>
