{include file="common/header_new"}

<style>
    img{ width:20px;height:20px;}
</style>
<body class="gray-bg">

<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <h3 style="text-align: center;">代码配置</h3>
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#tab1" role="tab" data-toggle="tab">境内行政区域</a></li>
                    <li><a href="#tab2" role="tab" data-toggle="tab">境外行政区域</a></li>
                    <li><a href="#tab3" role="tab" data-toggle="tab">计量单位</a></li>
                    <li><a href="#tab4" role="tab"  data-toggle="tab">快递企业</a></li>
                    <li><a href="#tab5" role="tab" data-toggle="tab">关区</a></li>
                    <li><a href="#tab6" role="tab" data-toggle="tab">检验检疫机构</a></li>
                    <li><a href="#tab7" role="tab" data-toggle="tab">国家</a></li>
                    <li><a href="#tab8" role="tab" data-toggle="tab">港口</a></li>
                    <li><a href="#tab9" role="tab" data-toggle="tab">监管场所</a></li>
                    <li><a href="#tab10" role="tab" data-toggle="tab">监管点</a></li>
                    <li><a href="#tab11" role="tab" data-toggle="tab">口岸</a></li>
                    <li><a href="#tab12" role="tab" data-toggle="tab">运输工具</a></li>
                    <li><a href="#tab13" role="tab" data-toggle="tab">包装种类</a></li>
                    <li><a href="#tab14" role="tab" data-toggle="tab">币值</a></li>
                    <li><a href="#tab15" role="tab" data-toggle="tab">贸易方式</a></li>
                    <li><a href="#tab16" role="tab" data-toggle="tab">用途代码</a></li>
                    <li><a href="#tab17" role="tab" data-toggle="tab">成交方式</a></li>
                    <li><a href="#tab18" role="tab" data-toggle="tab">减征税方式</a></li>
                    <li><a href="#tab19" role="tab" data-toggle="tab">物品税号</a></li>
                    <li><a href="#tab20" role="tab" data-toggle="tab">奢侈品牌</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <div id="toolbar1" class="btn-group" style="margin-top: 10px;margin-bottom: 10px;line-height: 34px;float: left;">
                            <button type="button" href="javascript:;" onclick="openWindow(0);" class="btn btn-default">
                                导入Excel
                            </button>
                        </div>
                        <table id="table"
                        /*默认排序项*/
                        data-sort-name="id"
                        data-sort-order="desc"
                        /*工具栏相关*/
                        data-toolbar="#toolbar"
                        data-search="false"          /*搜索框*/
                        data-search-on-enter-key="true"
                        data-show-refresh="true"    /*刷新按钮*/
                        /*分页相关*/
                        data-side-pagination="server"
                        data-pagination="true"      /*显示分页*/
                        data-page-size="10"         /*每页显示条数*/
                        /*移动端相关*/
                        data-mobile-responsive="true"
                        data-card-view="true"
                        data-show-columns="true"
                        /*radio or checkbox字段名称*/
                        data-select-item-name="id" >
                        <thead>
                        <tr>
                            <th data-field="code_value"
                                data-align="center"
                                data-sortable="true"
                                data-visible="true">区域编码</th>
                            <th data-field="code_name"
                                data-align="center"
                                data-sortable="true">区域名称</th>
                        </tr>
                        </thead>
                        </table>
                    </div>
                    <div class="tab-pane " id="tab2">
                        <div id="toolbar2" class="btn-group" style="margin-top: 10px;margin-bottom: 10px;line-height: 34px;float: left;">
                            <button type="button" href="javascript:;" onclick="openWindow(2);" class="btn btn-default">
                                导入Excel
                            </button>
                        </div>
                        <table id="table2"
                        /*默认排序项*/
                        data-sort-name="id"
                        data-sort-order="desc"
                        /*工具栏相关*/
                        data-toolbar="#toolbar"
                        data-search="false"          /*搜索框*/
                        data-search-on-enter-key="true"
                        data-show-refresh="true"    /*刷新按钮*/
                        /*分页相关*/
                        data-side-pagination="server"
                        data-pagination="true"      /*显示分页*/
                        data-page-size="10"         /*每页显示条数*/
                        /*移动端相关*/
                        data-mobile-responsive="true"
                        data-card-view="true"
                        data-show-columns="true"
                        /*radio or checkbox字段名称*/
                        data-select-item-name="id" >
                        <thead>
                        <tr>
                            <th data-field="code_name"
                                data-align="center"
                                data-sortable="true"
                                data-visible="true">编码名称</th>
                            <th data-field="code_value"
                                data-align="center"
                                data-sortable="true">编码值</th>
                        </tr>
                        </thead>
                        </table>
                    </div>
                    <div class="tab-pane " id="tab3">
                        <div id="toolbar3" class="btn-group" style="margin-top: 10px;margin-bottom: 10px;line-height: 34px;float: left;">
                            <button type="button" href="javascript:;" onclick="openWindow(3);" class="btn btn-default">
                                导入Excel
                            </button>
                        </div>
                        <table id="table3"
                        /*默认排序项*/
                        data-sort-name="id"
                        data-sort-order="desc"
                        /*工具栏相关*/
                        data-toolbar="#toolbar"
                        data-search="false"          /*搜索框*/
                        data-search-on-enter-key="true"
                        data-show-refresh="true"    /*刷新按钮*/
                        /*分页相关*/
                        data-side-pagination="server"
                        data-pagination="true"      /*显示分页*/
                        data-page-size="10"         /*每页显示条数*/
                        /*移动端相关*/
                        data-mobile-responsive="true"
                        data-card-view="true"
                        data-show-columns="true"
                        /*radio or checkbox字段名称*/
                        data-select-item-name="id" >
                        <thead>
                        <tr>
                            <th data-field="code_name"
                                data-align="center"
                                data-sortable="true"
                                data-visible="true">编码名称</th>
                            <th data-field="code_value"
                                data-align="center"
                                data-sortable="true">编码值</th>
                        </tr>
                        </thead>
                        </table>
                    </div>
                    <div class="tab-pane " id="tab4">
                        <div id="toolbar4" class="btn-group" style="margin-top: 10px;margin-bottom: 10px;line-height: 34px;float: left;">
                            <button type="button" href="javascript:;" onclick="openWindow(4);" class="btn btn-default">
                                导入Excel
                            </button>
                        </div>
                        <table id="table4"
                        /*默认排序项*/
                        data-sort-name="id"
                        data-sort-order="desc"
                        /*工具栏相关*/
                        data-toolbar="#toolbar"
                        data-search="false"          /*搜索框*/
                        data-search-on-enter-key="true"
                        data-show-refresh="true"    /*刷新按钮*/
                        /*分页相关*/
                        data-side-pagination="server"
                        data-pagination="true"      /*显示分页*/
                        data-page-size="10"         /*每页显示条数*/
                        /*移动端相关*/
                        data-mobile-responsive="true"
                        data-card-view="true"
                        data-show-columns="true"
                        /*radio or checkbox字段名称*/
                        data-select-item-name="id" >
                        <thead>
                        <tr>
                            <th data-field="name"
                                data-align="center"
                                data-sortable="true"
                                data-visible="true">编码名称</th>
                            <th data-field="code"
                                data-align="center"
                                data-sortable="true">编码值</th>
                        </tr>
                        </thead>
                        </table>
                    </div>
                    <div class="tab-pane " id="tab5">
                        <div id="toolbar5" class="btn-group" style="margin-top: 10px;margin-bottom: 10px;line-height: 34px;float: left;">
                            <button type="button" href="javascript:;" onclick="openWindow(5);" class="btn btn-default">
                                导入Excel
                            </button>
                        </div>
                        <table id="table5"
                        /*默认排序项*/
                        data-sort-name="id"
                        data-sort-order="desc"
                        /*工具栏相关*/
                        data-toolbar="#toolbar"
                        data-search="false"          /*搜索框*/
                        data-search-on-enter-key="true"
                        data-show-refresh="true"    /*刷新按钮*/
                        /*分页相关*/
                        data-side-pagination="server"
                        data-pagination="true"      /*显示分页*/
                        data-page-size="10"         /*每页显示条数*/
                        /*移动端相关*/
                        data-mobile-responsive="true"
                        data-card-view="true"
                        data-show-columns="true"
                        /*radio or checkbox字段名称*/
                        data-select-item-name="id" >
                        <thead>
                        <tr>
                            <th data-field="code_name"
                                data-align="center"
                                data-sortable="true"
                                data-visible="true">编码名称</th>
                            <th data-field="code_value"
                                data-align="center"
                                data-sortable="true">编码值</th>
                        </tr>
                        </thead>
                        </table>
                    </div>
                    <div class="tab-pane " id="tab6">
                        <div id="toolbar6" class="btn-group" style="margin-top: 10px;margin-bottom: 10px;line-height: 34px;float: left;">
                            <button type="button" href="javascript:;" onclick="openWindow(6);" class="btn btn-default">
                                导入Excel
                            </button>
                        </div>
                        <table id="table6"
                        /*默认排序项*/
                        data-sort-name="id"
                        data-sort-order="desc"
                        /*工具栏相关*/
                        data-toolbar="#toolbar"
                        data-search="false"          /*搜索框*/
                        data-search-on-enter-key="true"
                        data-show-refresh="true"    /*刷新按钮*/
                        /*分页相关*/
                        data-side-pagination="server"
                        data-pagination="true"      /*显示分页*/
                        data-page-size="10"         /*每页显示条数*/
                        /*移动端相关*/
                        data-mobile-responsive="true"
                        data-card-view="true"
                        data-show-columns="true"
                        /*radio or checkbox字段名称*/
                        data-select-item-name="id" >
                        <thead>
                        <tr>
                            <th data-field="code_name"
                                data-align="center"
                                data-sortable="true"
                                data-visible="true">编码名称</th>
                            <th data-field="code_value"
                                data-align="center"
                                data-sortable="true">编码值</th>
                        </tr>
                        </thead>
                        </table>
                    </div>
                    <div class="tab-pane " id="tab7">
                        <div id="toolbar7" class="btn-group" style="margin-top: 10px;margin-bottom: 10px;line-height: 34px;float: left;">
                            <button type="button" href="javascript:;" onclick="openWindow(7);" class="btn btn-default">
                                导入Excel
                            </button>
                        </div>
                        <table id="table7"
                        /*默认排序项*/
                        data-sort-name="id"
                        data-sort-order="desc"
                        /*工具栏相关*/
                        data-toolbar="#toolbar"
                        data-search="false"          /*搜索框*/
                        data-search-on-enter-key="true"
                        data-show-refresh="true"    /*刷新按钮*/
                        /*分页相关*/
                        data-side-pagination="server"
                        data-pagination="true"      /*显示分页*/
                        data-page-size="10"         /*每页显示条数*/
                        /*移动端相关*/
                        data-mobile-responsive="true"
                        data-card-view="true"
                        data-show-columns="true"
                        /*radio or checkbox字段名称*/
                        data-select-item-name="id" >
                        <thead>
                        <tr>
                            <th data-field="code_name"
                                data-align="center"
                                data-sortable="true"
                                data-visible="true">编码名称</th>
                            <th data-field="code_value"
                                data-align="center"
                                data-sortable="true">编码值</th>
                        </tr>
                        </thead>
                        </table>
                    </div>
                    <div class="tab-pane " id="tab8">
                        <div id="toolbar8" class="btn-group" style="margin-top: 10px;margin-bottom: 10px;line-height: 34px;float: left;">
                            <button type="button" href="javascript:;" onclick="openWindow(8);" class="btn btn-default">
                                导入Excel
                            </button>
                        </div>
                        <table id="table8"
                        /*默认排序项*/
                        data-sort-name="id"
                        data-sort-order="desc"
                        /*工具栏相关*/
                        data-toolbar="#toolbar"
                        data-search="false"          /*搜索框*/
                        data-search-on-enter-key="true"
                        data-show-refresh="true"    /*刷新按钮*/
                        /*分页相关*/
                        data-side-pagination="server"
                        data-pagination="true"      /*显示分页*/
                        data-page-size="10"         /*每页显示条数*/
                        /*移动端相关*/
                        data-mobile-responsive="true"
                        data-card-view="true"
                        data-show-columns="true"
                        /*radio or checkbox字段名称*/
                        data-select-item-name="id" >
                        <thead>
                        <tr>
                            <th data-field="code_name"
                                data-align="center"
                                data-sortable="true"
                                data-visible="true">编码名称</th>
                            <th data-field="code_value"
                                data-align="center"
                                data-sortable="true">编码值</th>
                        </tr>
                        </thead>
                        </table>
                    </div>
                    <div class="tab-pane " id="tab9">
                        <div id="toolbar9" class="btn-group" style="margin-top: 10px;margin-bottom: 10px;line-height: 34px;float: left;">
                            <button type="button" href="javascript:;" onclick="openWindow(9);" class="btn btn-default">
                                导入Excel
                            </button>
                        </div>
                        <table id="table9"
                        /*默认排序项*/
                        data-sort-name="id"
                        data-sort-order="desc"
                        /*工具栏相关*/
                        data-toolbar="#toolbar"
                        data-search="false"          /*搜索框*/
                        data-search-on-enter-key="true"
                        data-show-refresh="true"    /*刷新按钮*/
                        /*分页相关*/
                        data-side-pagination="server"
                        data-pagination="true"      /*显示分页*/
                        data-page-size="10"         /*每页显示条数*/
                        /*移动端相关*/
                        data-mobile-responsive="true"
                        data-card-view="true"
                        data-show-columns="true"
                        /*radio or checkbox字段名称*/
                        data-select-item-name="id" >
                        <thead>
                        <tr>
                            <th data-field="code_name"
                                data-align="center"
                                data-sortable="true"
                                data-visible="true">编码名称</th>
                            <th data-field="code_value"
                                data-align="center"
                                data-sortable="true">编码值</th>
                        </tr>
                        </thead>
                        </table>
                    </div>
                    <div class="tab-pane " id="tab10">
                        <div id="toolbar10" class="btn-group" style="margin-top: 10px;margin-bottom: 10px;line-height: 34px;float: left;">
                            <button type="button" href="javascript:;" onclick="openWindow(10);" class="btn btn-default">
                                导入Excel
                            </button>
                        </div>
                        <table id="table10"
                        /*默认排序项*/
                        data-sort-name="id"
                        data-sort-order="desc"
                        /*工具栏相关*/
                        data-toolbar="#toolbar"
                        data-search="false"          /*搜索框*/
                        data-search-on-enter-key="true"
                        data-show-refresh="true"    /*刷新按钮*/
                        /*分页相关*/
                        data-side-pagination="server"
                        data-pagination="true"      /*显示分页*/
                        data-page-size="10"         /*每页显示条数*/
                        /*移动端相关*/
                        data-mobile-responsive="true"
                        data-card-view="true"
                        data-show-columns="true"
                        /*radio or checkbox字段名称*/
                        data-select-item-name="id" >
                        <thead>
                        <tr>
                            <th data-field="code_name"
                                data-align="center"
                                data-sortable="true"
                                data-visible="true">编码名称</th>
                            <th data-field="code_value"
                                data-align="center"
                                data-sortable="true">编码值</th>
                        </tr>
                        </thead>
                        </table>
                    </div>
                    <div class="tab-pane " id="tab11">
                        <div id="toolbar11" class="btn-group" style="margin-top: 10px;margin-bottom: 10px;line-height: 34px;float: left;">
                            <button type="button" href="javascript:;" onclick="openWindow(11);" class="btn btn-default">
                                导入Excel
                            </button>
                        </div>
                        <table id="table11"
                        /*默认排序项*/
                        data-sort-name="id"
                        data-sort-order="desc"
                        /*工具栏相关*/
                        data-toolbar="#toolbar"
                        data-search="false"          /*搜索框*/
                        data-search-on-enter-key="true"
                        data-show-refresh="true"    /*刷新按钮*/
                        /*分页相关*/
                        data-side-pagination="server"
                        data-pagination="true"      /*显示分页*/
                        data-page-size="10"         /*每页显示条数*/
                        /*移动端相关*/
                        data-mobile-responsive="true"
                        data-card-view="true"
                        data-show-columns="true"
                        /*radio or checkbox字段名称*/
                        data-select-item-name="id" >
                        <thead>
                        <tr>
                            <th data-field="code_name"
                                data-align="center"
                                data-sortable="true"
                                data-visible="true">编码名称</th>
                            <th data-field="code_value"
                                data-align="center"
                                data-sortable="true">编码值</th>
                        </tr>
                        </thead>
                        </table>
                    </div>
                    <div class="tab-pane " id="tab12">
                        <div id="toolbar12" class="btn-group" style="margin-top: 10px;margin-bottom: 10px;line-height: 34px;float: left;">
                            <button type="button" href="javascript:;" onclick="openWindow(12);" class="btn btn-default">
                                导入Excel
                            </button>
                        </div>
                        <table id="table12"
                        /*默认排序项*/
                        data-sort-name="id"
                        data-sort-order="desc"
                        /*工具栏相关*/
                        data-toolbar="#toolbar"
                        data-search="false"          /*搜索框*/
                        data-search-on-enter-key="true"
                        data-show-refresh="true"    /*刷新按钮*/
                        /*分页相关*/
                        data-side-pagination="server"
                        data-pagination="true"      /*显示分页*/
                        data-page-size="10"         /*每页显示条数*/
                        /*移动端相关*/
                        data-mobile-responsive="true"
                        data-card-view="true"
                        data-show-columns="true"
                        /*radio or checkbox字段名称*/
                        data-select-item-name="id" >
                        <thead>
                        <tr>
                            <th data-field="code_name"
                                data-align="center"
                                data-sortable="true"
                                data-visible="true">编码名称</th>
                            <th data-field="code_value"
                                data-align="center"
                                data-sortable="true">编码值</th>
                        </tr>
                        </thead>
                        </table>
                    </div>
                    <div class="tab-pane " id="tab13">
                        <div id="toolbar13" class="btn-group" style="margin-top: 10px;margin-bottom: 10px;line-height: 34px;float: left;">
                            <button type="button" href="javascript:;" onclick="openWindow(13);" class="btn btn-default">
                                导入Excel
                            </button>
                        </div>
                        <table id="table13"
                        /*默认排序项*/
                        data-sort-name="id"
                        data-sort-order="desc"
                        /*工具栏相关*/
                        data-toolbar="#toolbar"
                        data-search="false"          /*搜索框*/
                        data-search-on-enter-key="true"
                        data-show-refresh="true"    /*刷新按钮*/
                        /*分页相关*/
                        data-side-pagination="server"
                        data-pagination="true"      /*显示分页*/
                        data-page-size="10"         /*每页显示条数*/
                        /*移动端相关*/
                        data-mobile-responsive="true"
                        data-card-view="true"
                        data-show-columns="true"
                        /*radio or checkbox字段名称*/
                        data-select-item-name="id" >
                        <thead>
                        <tr>
                            <th data-field="code_name"
                                data-align="center"
                                data-sortable="true"
                                data-visible="true">编码名称</th>
                            <th data-field="code_value"
                                data-align="center"
                                data-sortable="true">编码值</th>
                        </tr>
                        </thead>
                        </table>
                    </div>
                    <div class="tab-pane " id="tab14">
                        <div id="toolbar14" class="btn-group" style="margin-top: 10px;margin-bottom: 10px;line-height: 34px;float: left;">
                            <button type="button" href="javascript:;" onclick="openWindow(14);" class="btn btn-default">
                                导入Excel
                            </button>
                        </div>
                        <table id="table14"
                        /*默认排序项*/
                        data-sort-name="id"
                        data-sort-order="desc"
                        /*工具栏相关*/
                        data-toolbar="#toolbar"
                        data-search="false"          /*搜索框*/
                        data-search-on-enter-key="true"
                        data-show-refresh="true"    /*刷新按钮*/
                        /*分页相关*/
                        data-side-pagination="server"
                        data-pagination="true"      /*显示分页*/
                        data-page-size="10"         /*每页显示条数*/
                        /*移动端相关*/
                        data-mobile-responsive="true"
                        data-card-view="true"
                        data-show-columns="true"
                        /*radio or checkbox字段名称*/
                        data-select-item-name="id" >
                        <thead>
                        <tr>
                            <th data-field="code_name"
                                data-align="center"
                                data-sortable="true"
                                data-visible="true">编码名称</th>
                            <th data-field="code_value"
                                data-align="center"
                                data-sortable="true">编码值</th>
                        </tr>
                        </thead>
                        </table>
                    </div>
                    <div class="tab-pane " id="tab15">
                        <div id="toolbar15" class="btn-group" style="margin-top: 10px;margin-bottom: 10px;line-height: 34px;float: left;">
                            <button type="button" href="javascript:;" onclick="openWindow(15);" class="btn btn-default">
                                导入Excel
                            </button>
                        </div>
                        <table id="table15"
                        /*默认排序项*/
                        data-sort-name="id"
                        data-sort-order="desc"
                        /*工具栏相关*/
                        data-toolbar="#toolbar"
                        data-search="false"          /*搜索框*/
                        data-search-on-enter-key="true"
                        data-show-refresh="true"    /*刷新按钮*/
                        /*分页相关*/
                        data-side-pagination="server"
                        data-pagination="true"      /*显示分页*/
                        data-page-size="10"         /*每页显示条数*/
                        /*移动端相关*/
                        data-mobile-responsive="true"
                        data-card-view="true"
                        data-show-columns="true"
                        /*radio or checkbox字段名称*/
                        data-select-item-name="id" >
                        <thead>
                        <tr>
                            <th data-field="code_name"
                                data-align="center"
                                data-sortable="true"
                                data-visible="true">编码名称</th>
                            <th data-field="code_value"
                                data-align="center"
                                data-sortable="true">编码值</th>
                        </tr>
                        </thead>
                        </table>
                    </div>
                    <div class="tab-pane " id="tab16">
                        <div id="toolbar16" class="btn-group" style="margin-top: 10px;margin-bottom: 10px;line-height: 34px;float: left;">
                            <button type="button" href="javascript:;" onclick="openWindow(16);" class="btn btn-default">
                                导入Excel
                            </button>
                        </div>
                        <table id="table16"
                        /*默认排序项*/
                        data-sort-name="id"
                        data-sort-order="desc"
                        /*工具栏相关*/
                        data-toolbar="#toolbar"
                        data-search="false"          /*搜索框*/
                        data-search-on-enter-key="true"
                        data-show-refresh="true"    /*刷新按钮*/
                        /*分页相关*/
                        data-side-pagination="server"
                        data-pagination="true"      /*显示分页*/
                        data-page-size="10"         /*每页显示条数*/
                        /*移动端相关*/
                        data-mobile-responsive="true"
                        data-card-view="true"
                        data-show-columns="true"
                        /*radio or checkbox字段名称*/
                        data-select-item-name="id" >
                        <thead>
                        <tr>
                            <th data-field="code_name"
                                data-align="center"
                                data-sortable="true"
                                data-visible="true">编码名称</th>
                            <th data-field="code_value"
                                data-align="center"
                                data-sortable="true">编码值</th>
                        </tr>
                        </thead>
                        </table>
                    </div>
                    <div class="tab-pane " id="tab17">
                        <div id="toolbar17" class="btn-group" style="margin-top: 10px;margin-bottom: 10px;line-height: 34px;float: left;">
                            <button type="button" href="javascript:;" onclick="openWindow(17);" class="btn btn-default">
                                导入Excel
                            </button>
                        </div>
                        <table id="table17"
                        /*默认排序项*/
                        data-sort-name="id"
                        data-sort-order="desc"
                        /*工具栏相关*/
                        data-toolbar="#toolbar"
                        data-search="false"          /*搜索框*/
                        data-search-on-enter-key="true"
                        data-show-refresh="true"    /*刷新按钮*/
                        /*分页相关*/
                        data-side-pagination="server"
                        data-pagination="true"      /*显示分页*/
                        data-page-size="10"         /*每页显示条数*/
                        /*移动端相关*/
                        data-mobile-responsive="true"
                        data-card-view="true"
                        data-show-columns="true"
                        /*radio or checkbox字段名称*/
                        data-select-item-name="id" >
                        <thead>
                        <tr>
                            <th data-field="code_name"
                                data-align="center"
                                data-sortable="true"
                                data-visible="true">编码名称</th>
                            <th data-field="code_value"
                                data-align="center"
                                data-sortable="true">编码值</th>
                        </tr>
                        </thead>
                        </table>
                    </div>
                    <div class="tab-pane " id="tab18">
                        <div id="toolbar18" class="btn-group" style="margin-top: 10px;margin-bottom: 10px;line-height: 34px;float: left;">
                            <button type="button" href="javascript:;" onclick="openWindow(18);" class="btn btn-default">
                                导入Excel
                            </button>
                        </div>
                        <table id="table18"
                        /*默认排序项*/
                        data-sort-name="id"
                        data-sort-order="desc"
                        /*工具栏相关*/
                        data-toolbar="#toolbar"
                        data-search="false"          /*搜索框*/
                        data-search-on-enter-key="true"
                        data-show-refresh="true"    /*刷新按钮*/
                        /*分页相关*/
                        data-side-pagination="server"
                        data-pagination="true"      /*显示分页*/
                        data-page-size="10"         /*每页显示条数*/
                        /*移动端相关*/
                        data-mobile-responsive="true"
                        data-card-view="true"
                        data-show-columns="true"
                        /*radio or checkbox字段名称*/
                        data-select-item-name="id" >
                        <thead>
                        <tr>
                            <th data-field="code_name"
                                data-align="center"
                                data-sortable="true"
                                data-visible="true">编码名称</th>
                            <th data-field="code_value"
                                data-align="center"
                                data-sortable="true">编码值</th>
                        </tr>
                        </thead>
                        </table>
                    </div>
                    <div class="tab-pane " id="tab19">
                        <div id="toolbar19" class="btn-group" style="margin-top: 10px;margin-bottom: 10px;line-height: 34px;float: left;">
                            <button type="button" href="javascript:;" onclick="openWindow2(19);" class="btn btn-default">
                                新增税号
                            </button>
                        </div>
                        <table id="table19"
                        /*默认排序项*/
                        data-sort-name="id"
                        data-sort-order="desc"
                        /*工具栏相关*/
                        data-toolbar="#toolbar"
                        data-search="false"          /*搜索框*/
                        data-search-on-enter-key="true"
                        data-show-refresh="true"    /*刷新按钮*/
                        /*分页相关*/
                        data-side-pagination="server"
                        data-pagination="true"      /*显示分页*/
                        data-page-size="10"         /*每页显示条数*/
                        /*移动端相关*/
                        data-mobile-responsive="true"
                        data-card-view="true"
                        data-show-columns="true"
                        /*radio or checkbox字段名称*/
                        data-select-item-name="id" >
                        <thead>
                        <tr>
                            <th data-field="hscode"
                                data-align="center"
                                data-sortable="true"
                                data-visible="true">税号</th>
                            <th data-field="name"
                                data-align="center"
                                data-sortable="true"
                                data-visible="true">品名及规格</th>
                            <th data-field="unit"
                                data-align="center"
                                data-sortable="true">单位</th>
                            <th data-field="price"
                                data-align="center"
                                data-sortable="true">完税价格(元)</th>
                            <th data-field="tax"
                                data-align="center"
                                data-sortable="true">税率</th>
                        </tr>
                        </thead>
                        </table>
                    </div>
                    <div class="tab-pane " id="tab20">
                        <div id="toolbar20" class="btn-group" style="margin-top: 10px;margin-bottom: 10px;line-height: 34px;float: left;">
<!--                            <button type="button" href="javascript:;" onclick="openWindow2(20);" class="btn btn-default">-->
<!--                                新增税号-->
<!--                            </button>-->
                        </div>
                        <table id="table20"
                        /*默认排序项*/
                        data-sort-name="id"
                        data-sort-order="desc"
                        /*工具栏相关*/
                        data-toolbar="#toolbar"
                        data-search="false"          /*搜索框*/
                        data-search-on-enter-key="true"
                        data-show-refresh="true"    /*刷新按钮*/
                        /*分页相关*/
                        data-side-pagination="server"
                        data-pagination="true"      /*显示分页*/
                        data-page-size="10"         /*每页显示条数*/
                        /*移动端相关*/
                        data-mobile-responsive="true"
                        data-card-view="true"
                        data-show-columns="true"
                        /*radio or checkbox字段名称*/
                        data-select-item-name="id" >
                        <thead>
                        <tr>
                            <th data-field="cate_name"
                                data-align="center"
                                data-sortable="true">品牌分类</th>
                            <th data-field="name"
                                data-align="center"
                                data-sortable="true"
                                data-visible="true">品牌中文名称</th>
                            <th data-field="name_en"
                                data-align="center"
                                data-sortable="true"
                                data-visible="true">品牌英文名称</th>
                            <th data-field="desc_text"
                                data-align="center"
                                data-sortable="true">品牌描述</th>
                        </tr>
                        </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var table;

    $(document).ready(function(){
        table = $('#table').bootstrapTable({
            url: "{:url('admin/basic/code_list')}&pa=1",
            queryParams: queryParams,
        });
        table2 = $('#table2').bootstrapTable({
            url: "{:url('admin/basic/code_list')}&pa=2",
            queryParams: queryParams,
        });
        table3 = $('#table3').bootstrapTable({
            url: "{:url('admin/basic/code_list')}&pa=3",
            queryParams: queryParams,
        });
        table4 = $('#table4').bootstrapTable({
            url: "{:url('admin/basic/code_list')}&pa=4",
            queryParams: queryParams,
        });
        table5 = $('#table5').bootstrapTable({
            url: "{:url('admin/basic/code_list')}&pa=5",
            queryParams: queryParams,
        });
        table6 = $('#table6').bootstrapTable({
            url: "{:url('admin/basic/code_list')}&pa=6",
            queryParams: queryParams,
        });
        table7 = $('#table7').bootstrapTable({
            url: "{:url('admin/basic/code_list')}&pa=7",
            queryParams: queryParams,
        });
        table8 = $('#table8').bootstrapTable({
            url: "{:url('admin/basic/code_list')}&pa=8",
            queryParams: queryParams,
        });
        table9 = $('#table9').bootstrapTable({
            url: "{:url('admin/basic/code_list')}&pa=9",
            queryParams: queryParams,
        });
        table10 = $('#table10').bootstrapTable({
            url: "{:url('admin/basic/code_list')}&pa=10",
            queryParams: queryParams,
        });
        table11 = $('#table11').bootstrapTable({
            url: "{:url('admin/basic/code_list')}&pa=11",
            queryParams: queryParams,
        });
        table12 = $('#table12').bootstrapTable({
            url: "{:url('admin/basic/code_list')}&pa=12",
            queryParams: queryParams,
        });
        table13 = $('#table13').bootstrapTable({
            url: "{:url('admin/basic/code_list')}&pa=13",
            queryParams: queryParams,
        });
        table14 = $('#table14').bootstrapTable({
            url: "{:url('admin/basic/code_list')}&pa=14",
            queryParams: queryParams,
        });
        table15 = $('#table15').bootstrapTable({
            url: "{:url('admin/basic/code_list')}&pa=15",
            queryParams: queryParams,
        });
        table16 = $('#table16').bootstrapTable({
            url: "{:url('admin/basic/code_list')}&pa=16",
            queryParams: queryParams,
        });
        table17 = $('#table17').bootstrapTable({
            url: "{:url('admin/basic/code_list')}&pa=17",
            queryParams: queryParams,
        });
        table18 = $('#table18').bootstrapTable({
            url: "{:url('admin/basic/code_list')}&pa=18",
            queryParams: queryParams,
        });
        table19 = $('#table19').bootstrapTable({
            url: "{:url('admin/basic/code_list')}&pa=19",
            queryParams: queryParams,
        });
        table20 = $('#table20').bootstrapTable({
            url: "{:url('admin/basic/code_list')}&pa=20",
            queryParams: queryParams,
        });

        $('.form-control').attr('placeholder','搜索商户名称');
    });

    queryParams = function (params) {
        var temp = {
            sort: params.sort,
            order: params.order,
            limit: params.limit,            //页面大小
            offset: params.offset,          //页码
            search: params.search,
        };
        return temp;
    };

    //操作栏的格式化
    function actionFormatter(value, row, index) {
        var id = row.id;
        var name = row.name;

        var result = "";

        result += '<button style="margin-right: 5px;" type="button" onclick="openWindow('+id+',\''+name+'\',\''+1+'\')" class="btn btn-primary btn-xs">商户信息</button>';
        result += '<button style="margin-right: 5px;" type="button" onclick="openWindow('+id+',\''+name+'\',\''+2+'\')" class="btn btn-info btn-xs">商户权限</button>';
        // result += '<button style="margin-right: 5px;" type="button" onclick="openWindow('+id+',\''+name+'\',\''+2+'\')" class="btn btn-danger btn-xs">删除用户</button>';
        return result;
    }

    function del(id,title){
        layer.confirm('确认删除该用户吗？',function(index){
            $.ajax({
                url: "<?php echo Url('centralize/managemenber/del_person'); ?>",
                data:{'id':id},
                type:'post',
                cache:false,
                dataType:'json',
                success:function(data){
                    if(data.code==1)
                    {
                        layer.msg(data.msg, {
                            icon: 1,
                            time: 2000
                        }, function(){
                            window.location.reload();
                        });
                        return true;
                    }else {
                        layer.msg(data.message, {icon:2, time:2000});
                        return false;
                    }
                },
                error:function() {
                    layer.msg('系统出错,请重试',{icon:2,time:1000});
                }
            });
        });
    }

    function openWindow(type){
        var index = layer.open({
            type: 2,
            title: '上传代码',
            area:['70%','60%'],
            content: "{:url('admin/basic/upload_code')}&type="+type
        });
    }

    function openWindow2(type){
        var index = layer.open({
            type: 2,
            title: '新增税号',
            area:['70%','60%'],
            content: "{:url('admin/basic/save_duty_paragraph')}&type="+type
        });
    }
</script>

</body>
</html>