* { margin: 0; padding: 0; }
body { padding: 0; margin: 0; /*background: #009ece url(../images/bj.jpg) center top no-repeat; background-size: 100% auto;*/ font-family:"microsoft yahei" min-width: 320px;
color: #2f3441; max-width: 750px; }
span, p, ul, li, h1, h2, h3, h4, h5, input { margin: 0; padding: 0; font-weight: normal }
h2, h3 { font-size: 0.7rem; line-height: 100% }
ul, li { list-style: none; }
img { border: none; margin: 0; padding: 0; }
a { text-decoration: none; }
a:focus { outline: none; }
.clear { clear: both }
.fl { float: left }
.fr { float: right }
.mar_b_60 { margin-bottom: 3rem; }
.mar_b_70 { margin-bottom: 3.5rem; }
.orgen_color { color: #40bb6b; }
.mt20 { margin-top: 1rem; }
.text_c { text-align: center; }
.c333 { color: #333; }
.c666 { color: #666; }
.c999 { color: #999; }
.f10 { font-size: 0.5rem; }
.f11 { font-size: 0.55rem; }
.f12 { font-size: 0.6rem; }
.f14 { font-size: 0.7rem; }
.f16 { font-size: 0.8rem; }
.f18 { font-size: 0.9rem; }
.fzc { font-style: normal; }
i { font-style: normal; }
.hide { display: none; }
/* 1.去除android a/button/input标签被点击时产生的边框 2.去除ios a标签被点击时产生的半透明灰色背景 */
a, span, button, input, li, ul { -webkit-tap-highlight-color: rgba(255,0,0,0); }
/*考试-----------------------------------------*/
.clear_wl:after { content: "."; height: 0; visibility: hidden; display: block; clear: both; }
.kasj_db_but { width: 35%; height: auto; background: #3399fe; text-align: center; overflow: hidden; margin: 0 auto; border-radius: 5px; margin-top: 0.6rem; margin-bottom: 3rem; /*box-shadow: 0 0.2rem #c48b2a;*/   }
.kasj_db_but a { width: 100%; display: block; float: left; text-align: center; color: #fff; line-height: 1.8rem; font-size: 0.7rem; /*text-shadow: 0 1px 1px #c78d2c; */}
/*移动后效果*/
.kasj_db_but:hover { /*box-shadow: 0 0.1rem #c48b2a; margin-top: 1.3rem;*/ }
/*点击后效果*/
.kasj_db_but:active { /*box-shadow: 0 0 #c48b2a; margin-top: 1.5rem;*/ }
.fix_but{ position:fixed; bottom:0; left:0; width:100%; border-radius:0;}


.h50 { height: 2.5rem; }
.kasj_db_but a.kasj_kszd_but { width: 100%; }
.kcks_title_ts { margin: 0 /*0.4rem*/; padding: 0 0.1rem 0.2rem; /*text-shadow: 0 1px 1px #fff;*/ /*border: 2px dotted #017c9e; border-radius: 1.2rem;*/ }
.kcks_title_ts .kctm_zzbt { font-size: 0.7rem; color: #333333; margin-bottom: 0.75rem; margin: 0.5rem; /*padding-left: 0.5rem;*/ /*margin-top: 0.5rem;*/ /*text-shadow: 0 1px 1px #fff; */}
.kcks_title_ts .kctm_zb { font-size: 0.7rem; color: #333333; margin-bottom: 0.75rem; margin-top: 0.5rem; padding: 0.3rem 0; border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; color: #1b1464; text-align: center;}

.dxt_box {margin: 0.5rem; /*margin-top: 0.5rem;*/ border: 1px solid #e6e6e6; }
.dxt_box li { overflow: hidden; height: auto; font-size: 0.7rem; /*margin-bottom: 0.5rem;*/ /*text-shadow: 0 1px 1px #fff;*/ color: #284690; border-bottom: 1px solid #e6e6e6;/*height: 40px;*/ }
.dxt_box li em { display: block; font-style: normal; height: 0.7rem; line-height: 0.7rem; margin-top: 0.4rem; border: 1px solid #99a4bf; color: #99a4bf; text-align: center; width: 0.7rem; border-radius: 50%; float: left; margin-left: 0.5rem; }
.dxt_box li span { display: block; margin-left: 0.2rem; float: left; line-height: 1.5rem; color: #666666; font-size: 0.7rem; }
.dxt_box li.on em { border: 1px solid #2b9ef9; background: #2b9ef9; /*color: #f05150;*/ }
.dxt_box li.on span { color: #666666; }
.dxt_box li:last-child{border-bottom: 0;}

.tm_db_tip { position: fixed; left: 0px; bottom: 2rem; width: 100%; height: auto; padding: 0.5rem 0; font-size: 0.55rem; color: #999; background: #f7f9fc; text-align: center; overflow: hidden; }
.tm_db_tip .dxdt_wen { float: left; margin-top: 0.25rem; margin-left: 0.5rem; }
.tm_db_tip .kstm_fx { float: right; margin-right: 0.5rem; }
.tm_db_tip .kstm_fx i { font-size: 0.9rem; padding-right: 0.25rem; color: #40bb6b; }
.ckda_box { margin-top: 1rem; }
.lxbg_tip .f11 { text-align: left; padding-left: 0.5rem; }
.nidedf_red { color: #f10303; font-size: 2.4rem; padding: 0.5rem 0; }
.nidedf_red i { font-size: 0.6rem; }
.nidedf_grenn { color: #40bb6b; font-size: 2.4rem; padding: 0.5rem 0; }
.nidedf_grenn i { font-size: 0.6rem; }
.ckda_box .ckdw_itrem { padding-top: 0.5rem; }
.zql_list { overflow: hidden; padding: 0.5rem 0; }
.zql_list li { font-size: 0.55rem; float: left; width: 33.33%; text-align: center; color: #284690; }
.zql_list li p { color: #333; padding-bottom: 0.55rem; }
.dtks_box { width: 100%; line-height: 0.9rem; font-size: 0.6rem; margin: 0 auto; color: #333; /*background: #FFF; border: 2px solid #014964; border-radius: 1.5rem;*/ }
.dts_con { margin: 0.4rem; padding: 0.2rem 0.4rem; text-shadow: 0 1px 1px #fff; border: 2px dotted #017c9e; border-radius: 1.2rem; }
.dts_con  strong{ font-weight:400; color:#f05150;}

.cxjh_bt { line-height: 1.2rem; background: #40bb6b; color: #fff; border: 1px solid #ddd; width: 94%; margin: 0.5rem auto; margin-bottom: 0; box-shadow: 0 0 2px #ddd; border-radius: 5px; }
.cxjh_bt span { line-height: 1.5rem; display: block; padding: 0.5rem; font-size: 1rem; }
.cxjh_bt span strong { color: #f9fe70; font-weight: 400; }
.dts_con p { margin-bottom: 1rem; }
.tinbt { font-size: 1.5rem; color: #40bb6b; font-weight: 400; padding: 1rem; margin-top: 1rem; }
.wjdt_title {color: #FFFFFF; margin-bottom: 3rem; /*padding: 0.5rem; padding-left:4rem; */}
.wjdt_title h3 { text-align: center; font-size: 1rem;position: relative;top: 0.5rem; }
.wjdt_title p { font-size: 0.7rem; color: #666; padding-top:0.5rem; }
/*弹框*/
.tck_box { display: none; position: fixed; top: 0; left: 0; z-index: 888; width: 100%; height: 100%; }
.tckk_bj { background: #000; opacity: 0.8; position: absolute; z-index: 444; width: 100%; height: 100%; }
.tck_box .tck_conn { position: absolute; z-index: 555; background: #FFF; box-shadow: 0 0 2px #ddd; border-radius: 3px; width: 90%; left: 50%; top: 8rem; margin-left: -45.5%; padding-bottom: 0.9rem; border: 2px solid #523b22; }
.tck_box .tck_conn h4 { font-size: 0.75rem; text-align: center; line-height: 2.5rem; }
.tck_box .tck_conn .qsx_shf li { float: left; width: 50%; height: 2.5rem; }
.tck_box .tck_conn .qsx_shf a { width: 85%; display: block; font-size: 0.7rem; text-align: center; border-radius: 3px; color: #fff; line-height: 2rem; background: #fab033; /*box-shadow: 0 0.2rem #c48b2a; *//*text-shadow: 0 1px 1px #c78d2c;*/ margin: 0 auto; }
.tck_box .tck_conn .qsx_shf a.sd { background: #ec631f; box-shadow: 0 0.2rem #bf511b; text-shadow: 0 1px 1px #bf511b; }
/*移动后效果*/
.tck_box .tck_conn .qsx_shf a:hover { box-shadow: 0 0.1rem #c48b2a; margin-top: 0.1rem; }
/*点击后效果*/
.tck_box .tck_conn .qsx_shf a:active { box-shadow: 0 0 #c48b2a; margin-top: 0.2rem; }
/*移动后效果*/
.tck_box .tck_conn .qsx_shf a.sd:hover { box-shadow: 0 0.1rem #bf511b; margin-top: 0.1rem; }
/*点击后效果*/
.tck_box .tck_conn .qsx_shf a.sd:active { box-shadow: 0 0 #bf511b; margin-top: 0.2rem; }
.bitr_box input { display: block; height: 2rem; border: 1px solid #ddd; width: 11.5rem; color: #333; padding-left: 0.5rem; margin-left: 0.5rem; margin-bottom: 0.5rem; background: #FFF; box-shadow: 0 0 2px #ccc; }
.bitr_box input:focus { box-shadow: 0 0 3px #000; }
.kcks_title_ts .jgyem_ck { font-size: 0.7rem; line-height: 1.15rem; padding: 0.5rem; }
.kcks_title_ts .jgyem_ck strong { font-weight: 400; color: #f05150; }
.kcks_title_ts .gzewm { text-align: center; font-size: 0.6rem; margin-top: 0rem; margin-bottom: 0.5rem; }
.kcks_title_ts .gzewm img { width: 7rem; box-shadow: 0 0 2px #ddd; }
.dts_con .qyjj_box { line-height: 0.7rem; padding-top: 0.25rem; color:#666; }
.kszt_one h4 { color: #ec631f; font-size: 0.65rem; text-align: center; line-height: 2rem; }
.kszt_one .qsx_shf li { float: left; width: 50%; height: 2.5rem; }
.kszt_one .qsx_shf a { width: 85%; display: block; font-size: 0.7rem; text-align: center; border-radius: 3px; color: #fff; line-height: 2rem; background: #fab033; /*box-shadow: 0 0.2rem #c48b2a; text-shadow: 0 1px 1px #c78d2c;*/ margin: 0 auto; }
.kszt_one .qsx_shf a.sd { background: #ec631f; box-shadow: 0 0.2rem #bf511b; text-shadow: 0 1px 1px #bf511b; }
/*移动后效果*/
.kszt_one .qsx_shf a:hover { box-shadow: 0 0.1rem #c48b2a; margin-top: 0.1rem; }
/*点击后效果*/
.kszt_one .qsx_shf a:active { box-shadow: 0 0 #c48b2a; margin-top: 0.2rem; }
/*移动后效果*/
.kszt_one .qsx_shf a.sd:hover { box-shadow: 0 0.1rem #bf511b; margin-top: 0.1rem; }
/*点击后效果*/
.kszt_one .qsx_shf a.sd:active { box-shadow: 0 0 #bf511b; margin-top: 0.2rem; }


.tatble_table{ border-left:1px solid #ddd;border-top:1px solid #ddd;}
.tatble_table td{ border-bottom:1px solid #ddd;border-right:1px solid #ddd;padding:0.15rem 0; padding-left:0.5rem;}
.tatble_table .bt td{ background:#eee; color:#333; padding:0.2rem 0; padding-left:0.5rem;}


.hqyzb_box { position:relative; z-index:1; }

.hqyzb_box .hqyzm_but{ position:absolute; right:0.9rem; top:0.25rem; display: block; height: 1.5rem; line-height:1.5rem;   width: 4rem; color: #333; text-align:center; background: #fab033 ; box-shadow: 0 0 2px #ccc;}

.header{ background:#2a9df8;/*background: url(../images/header_bg.jpg) no-repeat;*/ width: 100%; height: 2.2rem;/*background-size: 100% 100%;*/box-shadow: 1px 1px 5px rgb(0,0,0,0.5); color: white;}
.kctm_input{width: 100%; /*height: 40px; */line-height: 20px; border-radius: 5px; border: 0;}
.qiye{width: 100%;}
.qiye h3{font-size: 0.7rem; color: #ffffff; margin: 30px 0; background-color:#127ac7; padding: 10px 0; border-radius: 5px; font-weight: normal;}
.xxinput{width: 75%; height: 36px; line-height: 36px; border-radius: 5px; border: 1px solid #e6e6e6; margin-top: 5px;}

.qiye_db_but { width: 35%; height: auto; background: #fab033; text-align: center; overflow: hidden; margin: 0 auto; border-radius: 5px; margin-top: 1.3rem; /*box-shadow: 0 0.2rem #c48b2a;*/   }
.qiye_db_but a { width: 100%; display: block; float: left; text-align: center; color: #fff; line-height: 2rem; font-size: 0.7rem; /*text-shadow: 0 1px 1px #c78d2c; */}
/*移动后效果*/
.qiye_db_but:hover { /*box-shadow: 0 0.1rem #c48b2a; margin-top: 1.3rem;*/ }
/*点击后效果*/
.qiye_db_but:active { /*box-shadow: 0 0 #c48b2a; margin-top: 1.5rem;*/ }

.hui-wrap{width:100%; border: 1px solid #e6e6e6;}
/* 折叠面板 */
.hui-accordion{border-bottom: 1px solid #e6e6e6;}
.hui-accordion-title{width:100%; height:58px; line-height:58px; font-size:16px; background:#f3f3f3; padding:0px 10px; box-sizing:border-box; font-weight:400;}
.hui-accordion-title:after{content:"\e609"; float:right; font-family:"hui-font";}
.hui-accordion-title-up:after{content:"\e655"; font-family:"hui-font";}
.hui-accordion-content{width:100%; display:none;}
/* 列表 */
.hui-list{padding:0px; /*border:1px solid #E4E3E6;*/ border-left:0; border-right:0; background:#FFFFFF;}
.hui-list li{position:relative; display:flex; width:100%; overflow:hidden; height:50px;}
.hui-list li > a, .hui-list > a{display:flex; width:100%; height:50px; overflow:hidden;}
.hui-list li:active, .hui-list > a:active{background-color:#ECECEC;}
.hui-list-text{line-height:49px; height:49px; width:96%; margin-left:7px; border-bottom:1px solid #E4E3E6; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; display:flex; justify-content:space-between;}
.hui-list-text-content{width:100%; white-space:nowrap; text-overflow:ellipsis;}
.hui-list-icons{margin:14px 0px; width:40px; text-align:center; flex-shrink:0; font-size:25px; text-align:center; line-height:22px; color:#3388FF;}
.hui-list-icons img{width:22px; margin-left:12px;}
.hui-list-info{color:#999; float:right; padding-right:6px !important; font-size:13px; flex-shrink:0;}
.hui-list-info *{color:#999; font-size:13px;}
/*.hui-list li:last-child .hui-list-text, .hui-list > a:last-child .hui-list-text{border:0;}*/
.hui-list-text span{float: right;}


/* icons */
@font-face{font-family:"hui-font"; src:url('fonts/iconfont.eot'); src:url('fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('fonts/iconfont.woff') format('woff'), url('fonts/iconfont.ttf') format('truetype'), url('fonts/iconfont.svg#iconfont') format('svg');}
.hui-icons{font-family:"hui-font" !important; font-style:normal; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; padding-right:8px;}
.hui-icons-menu:before{content:"\e634";} .hui-icons-toast:before{content:"\e689";} .hui-icons-img:before{content:"\e620";}
.hui-icons-left:before{content:"\e6a5";} .hui-icons-right:before{content:"\e608";} .hui-icons-number:before{content:"\e604";}
.hui-icons-up:before{content:"\e649";}  .hui-icons-up2:before{content:"\e655";} .hui-icons-down:before{content:"\e744";} 
.hui-icons-down2:before{content:"\e609";} .hui-icons-progress:before{content:"\e615";}
.hui-icons-success:before{content:"\e632";} .hui-icons-error:before{content:"\e638";} .hui-icons-range:before{content:"\e613";}
.hui-icons-warn:before{content:"\e603";} .hui-icons-click:before{content:"\e75b";} .hui-icons-tab:before{content:"\e667";}
.hui-icons-loading:before{content:"\e647";} .hui-icons-form:before{content:"\e62c";} .hui-icons-picker:before{content:"\e923";}
.hui-icons-eyes:before{content:"\e63d";} .hui-icons-clear:before{content:"\e6a0";} .hui-icons-home:before{content:"\e611";}
.hui-icons-switch:before{content:"\e679";} .hui-icons-action-sheet:before{content:"\e605";} .hui-icons-news:before{content:"\e62e";}
.hui-icons-swipe:before{content:"\e699";} .hui-icons-media-list:before{content:"\e62d";} .hui-icons-my:before{content:"\e618";}
.hui-icons-forum:before{content:"\e602";} .hui-icons-shop:before{content:"\e67f";} .hui-icons-nav:before{content:"\e606";}
.hui-icons-menu-point:before{content:"\e60e";} .hui-icons-menu-point2:before{content:"\e625";} .hui-icons-star:before{content:"\e661";}
.hui-icons-msg:before{content:"\e60b";} .hui-icons-help:before{content:"\e652";} .hui-icons-water-fall:before{content:"\e60c";} 
.hui-icons-search:before{content:'\e714';} .hui-icons-img-cut:before{content:'\e612';} .hui-icons-register:before{content:'\e677';} 
.hui-icons-write:before{content:'\e646';} .hui-icons-logoff:before{content:'\e610';} .hui-icons-check:before{content:'\e866';} 
.hui-icons-loading2:before{content:"\e61e";} .hui-icons-insert:before{content:"\e6ee";} .hui-icons-clone:before{content:"\e6dc";} 
.hui-icons-remove:before{content:"\e656";} .hui-icons-edit:before{content:"\e600";} .hui-icons-like:before{content:"\e64a";} 
.hui-icons-pause:before{content:"\e96b";} .hui-icons-play:before{content:"\e6b1";} .hui-icons-stop:before{content:"\e61b";} 
.hui-icons-shopping-cart:before{content:"\e633";} .hui-icons-close:before{content:"\e617";}

.footer{width: 100%; position: fixed; bottom: 0; height: 2.2rem; line-height: 2.2rem; color: #666; text-align: center;font-size: 0.6rem; background: white; box-shadow: 1px 1px 5px rgb(0,0,0,0.5);}
.footer img{width: 2.5rem; position: relative; top: 0.2rem;}

.finish{width: 90%; margin: 4rem auto; text-align: center;}
.pic img{width: 7rem;}
.finish-txt h3{font-size: 0.8rem; margin: 0.5rem 0;}
.finish-txt p{font-size: 0.6rem; color: #666; line-height: 1rem;}

/* 遮罩层 */
#hui-mask{position:fixed; z-index:20; background:rgba(0,0,0, 0.5); width:100%; left:0px; top:0px; height:100%;}
.hui-button{-webkit-appearance:none; -moz-appearance:none; appearance:none; border-radius:3px; border:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; display:block; font-size:15px; height:42px; line-height:42px; outline:0; overflow: hidden; position:relative; text-align:center; /*color:#656B79; background-color:#F6F8F9; box-shadow:0 0 1px #B8BBBF; padding:0px 16px;*/}
/* 对话框 */
#hui-dialog{width:100%; position:fixed; z-index:21; left:50%; top:50%; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -o-transform:translate(-50%, -50%);}
#hui-dialog-in{width:300px; margin:0 auto; background:#FFFFFF; border-radius:1px;}
#hui-dialog-msg{padding:28px 15px; font-size:16px; text-align:center; line-height:32px; padding-bottom:22px;}
#hui-dialog-btn-line{height:48px; line-height:48px; color:#3388FF; border-top:1px solid #F4F5F6; text-align:center; font-size:16px;}
#hui-dialog-btn-line > div{width:50%; color:#FFFFFF; float:left; height:48px; line-height:48px; text-align:center; font-size:16px; background:#3388FF;}
#hui-dialog-btn-line > div:active{opacity:0.9;}
#hui-dialog-btn-line > div:first-child{color:#999999 !important; background:#FFFFFF;}
#hui-dialog-input-in{width:85%; padding:0px 2%; margin:0 auto; border:1px solid #D1D1D1; height:40px;}
#hui-dialog-input{width:100%; border:none; height:35px; line-height:35px;}
