<table class="table-b" border="0" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th colspan="11" style="border-right: 1px solid #1481c5;">Gogo購購網|跨境網 网购直邮进口<br>订单申报 {$config['etime']|date='Y-m-d',###} 日对账单</th>
    </tr>
    </thead>

    <tbody>

    <tr>
        <td>经营商户</td>
        <td colspan="3">{$config['uname']}</td>
        <td>电话</td>
        <td colspan="2">{$config['tel']}</td>
        <td>电邮</td>
        <td colspan="2">{$config['email']}</td>
    </tr>

    <tr>
        <td style="background:yellow;">批次编号</td>
        <td style="background:yellow;">海关</td>
        <td style="background:yellow;">票数</td>
        <td style="background:yellow;">申报货值</td>
        <td style="background:#de9a20;">身份验证</td>
        <td style="background:#de9a20;">交易支付</td>
        <td style="background:#de9a20;">订单申报</td>
        <td style="background:#de9a20;">应付金额</td>
        <td>操作</td>
    </tr>

    {volist name='datas' id='vo' key='k'}
    <tr>
        <td>{$vo.batch_num}</td>
        <td>{$vo.codes}</td>
        <td>{$vo.ticket}</td>
        <td>{$vo.decls}</td>
        <td>{$vo.identify}</td>
        <td>{$vo.payment}</td>
        <td>{$vo.order}</td>
        <td>{$vo.amount}</td>
        <td>
            <a href="{:Url('Financed/Dayexports')}&batch_num={$vo.batch_num}" class="confirmd">导出清单</a>
        </td>
    </tr>
    {/volist}


    <tr>
        <td style="background:yellow;">本日累计申报</td>
        <td colspan="2"> <label style="font-size: 16px;color: red;font-weight: bold;">{$config['ticketTotals']}</label></td>
        <td><label style="font-size: 16px;color: red;font-weight: bold;">{$config['declsTotals']}</label></td>
        <td><label style="font-size: 16px;color: red;font-weight: bold;">{$config['identifyTotals']}</label></td>
        <td><label style="font-size: 16px;color: red;font-weight: bold;">{$config['paymentTotals']}</label></td>
        <td><label style="font-size: 16px;color: red;font-weight: bold;">{$config['orderTotals']}</label></td>
        <td><label style="font-size: 16px;color: red;font-weight: bold;">{$config['amountTotals']}</label></td>
        <td>止账时间</td>
    </tr>

    <tr>
        <td style="background:#de9a20;">本日应付合计</td>
        <td colspan="7"><label style="font-size: 18px;font-weight: bold;color: red;">￥{$config['amountTotals']}</label></td>
        <td>{$config['etime']|date='Y-m-d H:i:s',###}</td>
    </tr>

    <tr>
        <td style="border-bottom: 0;">商户确认</td>
        <td colspan="4" style="border-bottom: 0;">
            无误，确认对账
        </td>

        <td colspan="2" style="border-bottom: 0;">确认人员</td>
        <td colspan="5" style="border-bottom: 0px;">
            {$checks[$config['checks']]}
        </td>
    </tr>

    </tbody>

</table>

<div id="pagesd" style="width: 100%;text-align: center;">

    <label onclick="prevs('{$prev_page_url}')">上一页</label>
    <label onclick="prevs('{$next_page_url}')">下一页</label>

</div>