<table class="table-b" border="0" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th colspan="11" style="border-right: 1px solid #1481c5;">Gogo購購網|跨境網<br>网购直邮进口申报日对账单</th>
    </tr>
    </thead>

    <tbody>

    <tr>
        <td>经营商户</td>
        <td colspan="6">{$config['uname']}</td>
        <td>电话</td>
        <td>{$config['tel']}</td>
        <td>电邮</td>
        <td>{$config['email']}</td>
    </tr>

    <tr>
        <td rowspan="2">申报批次</td>
        <td colspan="6">申报项目</td>
        <td colspan="3">申报详情</td>
        <td rowspan="2">申报清单</td>
    </tr>


    <tr>
        <td colspan="2">身份验证</td>
        <td colspan="2">交易支付</td>
        <td colspan="2">订单申报</td>
        <td>操作人员</td>
        <td>申报海关</td>
        <td>所属提单</td>
    </tr>

    {volist name='datas' id='vo' key='k'}
    <tr>
        <td>{$vo.batch_num}</td>
        <td>{$vo.idcount}</td>
        <td>{$vo.idfee}</td>
        <td>{$vo.paycount}</td>
        <td>{$vo.payfee}</td>
        <td>{$vo.ordercount}</td>
        <td>{$vo.orderfee}</td>
        <td>Admin</td>
        <td>{$vo.codes}</td>
        <td>{$vo.batch_num}</td>
        <td>
            <a href="{:Url('Financed/Dayexports')}&batch_num={$vo.batch_num}" onclick="exportsd('')" class="confirmd">导出清单</a>
        </td>
    </tr>
    {/volist}


    <tr>
        <td>当日统计</td>
        <td>{$config['idcounts']}</td>
        <td>{$config['idfees']}</td>
        <td>{$config['paycounts']}</td>
        <td>{$config['payfees']}</td>
        <td>{$config['ordercounts']}</td>
        <td>{$config['orderfees']}</td>
        <td>止账时间</td>
        <td colspan="3">{$config['etime']|date='Y-m-d H:i:s',###}</td>
    </tr>


    <tr>
        <td style="border-bottom: 0;">商户确认</td>
        <td colspan="6" style="border-bottom: 0;">
                无误，确认对账
        </td>

        <td style="border-bottom: 0;">确认人员</td>
        <td colspan="6" style="border-bottom: 0px;">
            {$checks[$config['checks']]}
        </td>
    </tr>

    </tbody>

</table>

<div id="pagesd" style="width: 100%;text-align: center;">

    <label onclick="prevs('{$prev_page_url}')">上一页</label>
    <label onclick="prevs('{$next_page_url}')">下一页</label>

</div>