<style type="text/css" media="all">
    .footer_menu{margin-bottom:10px;}
</style>
<!--================shortaddress-section-Start=================-->
<section>
    <div class="shortaddress-section">
        <div class="container">
            <div class="shortaddress-main">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="shortaddress">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <p>Phone  <span>{$basic['mobile']}</span> </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="shortaddress">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <p style="width:75%;">Address  <span>{$basic['address']}
<!--                                        <br>-->
<!--                                        XXX-->
                                    </span> </p>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="shortaddress padd-left-90">
                            <i><img src="static/img/icon/phone.png" alt="phone"></i>
                            <p>E-mail  <span>{$basic['email']}</span> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================shortaddress-section-End=================-->

<!--================底部栏开始 =================-->
<footer class="footer-section">
    <div class="footer_area">
        <div class="footer_widget">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12" style="display:none;">
                        <div class="footer-about">
                            <div class="f_title">
                                <h3>ABOUT US</h3>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad  laboris nisi ut aliquip ex ea commodo consequat. </p>
                            <div class="f_social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    {volist name="services_menu" key="idx" id="vo"}
                        {if $idx<5}
                        <div class="col-md-3 col-sm-3 col-xs-6 footer_menu">
                            <aside class="footer-widget padd-l-70">
                                <div class="f_title">
                                    <h3>{$vo.title}</h3>
                                </div>
                                <div class="footer-link">
                                    <ul>
                                        {volist name="vo.menu_child" id="vo2"}
                                        <li><a href="/collect_website/public/?s=index/detail&wid=<?php echo session('wid')?>&id={$vo2.id}">- {$vo2.title}</a></li>
                                        {/volist}
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        {/if}
                    {/volist}

                    <div class="col-md-2 col-sm-4 col-xs-6" style="display:none;">
                        <aside class="footer-widget">
                            <div class="f_title">
                                <h3>Quick Links</h3>
                            </div>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="blog-details.html">- Blog Details</a></li>
                                    <li><a href="#">- Gallery Classic</a></li>
                                    <li><a href="#">- Gallery Lightbox</a></li>
                                    <li><a href="#">- Team</a></li>
                                    <li><a href="#">- Faq</a></li>
                                    <li><a href="#">- Contact</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="col-md-3 col-sm-5 col-xs-12" style="display:none;">
                        <aside class="footer-address">
                            <div class="f_title">
                                <h3>News letter</h3>
                            </div>
                            <h4>Join our Newsletter list to get all the latest
                                offers, discounts and other benefits</h4>
                            <div class="subscribe-panel">
                                <form action="inc/sendemail.php">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="newsletter" name="name" placeholder="Your email Address">
                                    </div>
                                    <button type="submit" value="submit" class="theme-btn btn-lg">SUBSCRIBE</button>
                                </form>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_copyright">
            <div class="container">
                <div class="footer_copyright_inner">
                    {$basic['copyright']}
<!--                    <p>Copyright 2003 - 2023 購購網 版权所有&nbsp;<a href="http://beian.miit.gov.cn/" target="_blank" style="color: #777;text-decoration: none;">粤ICP备09003656号-35</a></p>-->
                </div>
            </div>
        </div>
    </div>
    <a href="javascript:void(0)" id="scroll" title="Scroll to Top">
        <span class="fa fa-angle-up"></span>
    </a>
</footer>
<!--================底部栏结束 =================-->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="static/js/jquery-2.2.4.js"></script>-->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="static/js/bootstrap.min.js"></script>
<!-- Rev slider js -->
<!--<script src="static/vendors/revolution/static/js/jquery.themepunch.tools.min.js"></script>-->
<!--<script src="static/vendors/revolution/static/js/jquery.themepunch.revolution.min.js"></script>-->
<!--<script src="static/vendors/revolution/static/js/extensions/revolution.extension.video.min.js"></script>-->
<!--<script src="static/vendors/revolution/static/js/extensions/revolution.extension.slideanims.min.js"></script>-->
<!--<script src="static/vendors/revolution/static/js/extensions/revolution.extension.layeranimation.min.js"></script>-->
<!--<script src="static/vendors/revolution/static/js/extensions/revolution.extension.navigation.min.js"></script>-->
<script src="static/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="static/vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="static/vendors/isotope/isotope.pkgd.min.js"></script>
<script src="static/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
<!--gmaps Js-->
<!--<script src="https://ditu.google.cn/maps/api/js?key="></script>-->
<script src="static/js/map-script.js"></script>
<script src="static/js/jquery.fancybox.pack.js"></script>
<script src="static/js/jquery.mixitup.min.js"></script>
<!--<script src="static/js/gallery.js"></script>-->
<script src="static/js/wow.min.js"></script>
<script src="static/js/theme.js"></script>
<script src="static/js/mobilemenu.js"></script>
<script src="static/dist/jquery-simple-mobilemenu.js?v=2312"></script>

<style>
    .copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
</style>
</body>

</html>