{include file="public/header_new"}
<style>
    img{ width:20px;height:20px;}
</style>
<body class="gray-bg">

<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <h3 style="text-align: center;">供应管理</h3>
                <div id="toolbar" class="btn-group" style="margin-top: 10px;margin-bottom: 10px;line-height: 34px;">

                </div>
                <table id="table"

                /*默认排序项*/
                data-sort-name="createtime"
                data-sort-order="desc"
                /*工具栏相关*/
                data-toolbar="#toolbar"
                data-search="true"          /*搜索框*/
                data-search-on-enter-key="false"
                data-show-refresh="true"    /*刷新按钮*/
                /*分页相关*/
                data-side-pagination="server"
                data-pagination="true"      /*显示分页*/
                data-page-size="10"         /*每页显示条数*/
                /*移动端相关*/
                data-mobile-responsive="true"
                data-card-view="true"
                data-show-columns="true"
                /*radio or checkbox字段名称*/
                data-select-item-name="id" >

                <thead>
                <tr>
                    <th data-field="checkbox"
                        data-align="center"
                        data-checkbox="true"></th>
                    <th data-field="id"
                        data-align="center"
                        data-sortable="true"
                        data-visible="true">ID</th>
                    <th data-field="user_name"
                        data-align="center"
                        data-sortable="true">商户名称</th>
                    <th data-field="reg_name"
                        data-align="center"
                        data-sortable="true">品牌名称</th>
                    <th data-field="gnum"
                        data-align="center"
                        data-sortable="true">产品编号</th>
                    <th data-field="gItemNo"
                        data-align="center"
                        data-sortable="true">产品货号</th>
                    <th data-field="status"
                        data-align="center"
                        data-sortable="true">状态</th>
                    <th data-field="manage"
                        data-align="center"
                        data-sortable="true"
                        data-formatter="actionFormatter">操作</th>
                </tr>
                </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var table;

    $(document).ready(function(){
        table = $('#table').bootstrapTable({
            url: "{:url('admin/supplier/index')}",
            queryParams: queryParams,
        });
        $('.form-control').attr('placeholder','搜索产品编号/产品货号');
    });

    queryParams = function (params) {
        var temp = {
            sort: params.sort,
            order: params.order,
            limit: params.limit,            //页面大小
            offset: params.offset,          //页码
            search: params.search,
        };
        return temp;
    };

    //操作栏的格式化
    function actionFormatter(value, row, index) {
        var id = row.id;
        var reg_name = row.reg_name;
        var result = "";
        result += '<button style="margin-right: 5px;" type="button" onclick="edit('+id+',\''+reg_name+'\')" class="btn btn-primary btn-xs">查看</button>';
        return result;
    }

    function edit(id,name){
        var index = layer.open({
            type: 2,
            title: '查看-'+name,
            area:['100%','100%'],
            content: "{:url('admin/supplier/info')}&id="+id
        });
        // layer.full(index);
    }


    function addBody(title) {
        var index = layer.open({
            type: 2,
            title: title,
            area:['600px','500px'],
            content: "{:url('admin/exportRisk/config_save')}"
        });
        // layer.full(index);
    }

</script>

</body>
</html>
