{template "parking/_header"}

<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">管理员</a>
        <a>
          <cite>列表</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so"  method="post" action="{php echo webUrl('parking/admin')}">
            <input type="text" name="search"  placeholder="请输入用户名" autocomplete="off" class="layui-input" value="">
            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <xblock>
        <!--<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>-->
        <button class="layui-btn" onclick='x_admin_show("添加用户","{php echo webUrl('parking/admin/adminUserAdd')}",600,400)'><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：{$all[0]['num']}条</span>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>编号</th>
            <th>用户名</th>
            <th>手机</th>
            <th>加入时间</th>
            <th>状态</th>
            <th>操作</th></tr>
        </thead>
        <tbody>
        {loop $participators $index $item}
        <tr>
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{$item['id']}</td>
            <td>{$item['numbering']}</td>
            <td>{$item['user']}</td>
            <td>{$item['phone']}</td>
            <td>{php echo date('Y-m-d H:i:s',$item['createtime'])}</td>

            <td class="td-status">
                {if $item['status']==10}
                <span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span>
                {else}
                <span class="layui-btn layui-btn-normal layui-btn-mini layui-btn-disabled">已停用</span>
                {/if}
            </td>
            <td class="td-manage">
                {if $item['status']==10}
                <a onclick="member_stop(this,{$item['id']})" href="javascript:;"  title="停用">
                    <i class="layui-icon">&#xe601;</i>
                </a>
                {else}
                <a onclick="member_stop(this,{$item['id']})" href="javascript:;"  title="启用">
                    <i class="layui-icon">&#xe62f;</i>
                </a>
                {/if}
                <a title="编辑"  onclick="x_admin_show('编辑','{php echo webUrl('parking/admin/editUserInformation')}&id={$item['id']}',600,400)" href="javascript:;">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除" onclick="member_del(this,{$item['id']})" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        {/loop}
        </tbody>
    </table>
    <div class="page">
        <div>
          {$pager}
        </div>
    </div>

</div>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

    /*用户-停用*/
    function member_stop(obj,id){
        layer.confirm('确认要更改状态吗？',function(index){

            if($(obj).attr('title')=='停用'){
                $.get("{php echo webUrl('parking/admin/updateUserStatus')}",{'id':id,'status':20},function (res) {
                    if(res.status=='1'){
                       console.log(res);
                    }
                })
                $(obj).attr('title','启用');
                $(obj).find('i').html('&#xe62f;');
                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});
                //发异步把用户状态进行更改
            }else{
                $.get("{php echo webUrl('parking/admin/updateUserStatus')}",{'id':id,'status':10},function (res) {
                    if(res.status=='1'){
                     console.log(res);
                    }
                })
                $(obj).attr('title','停用');
                $(obj).find('i').html('&#xe601;');
                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 6,time:1000});
            }

        });
    }

    /*用户-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            $.get("{php echo webUrl('parking/admin/delUser')}",{'id':id},function (res) {
                var status=JSON.parse(res);
                if(status.status==1){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                }
            });
        });
    }
//    function delAll (argument) {
//
//        var data = tableCheck.getData();
//
//        layer.confirm('确认要删除吗？'+data,function(index){
//            //捉到所有被选中的，发异步进行删除
//            layer.msg('删除成功', {icon: 1});
//            $(".layui-form-checked").not('.header').parents('tr').remove();
//        });
//    }
</script>
{template "parking/_footer"}
