{template "parking/_header"}
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">分类</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input type="text" name="username"  placeholder="请输入分类别" autocomplete="off" class="layui-input">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <!-- <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button> -->
        <button class="layui-btn" onclick="x_admin_show('添加','{php echo WebUrl('parking/category/add')}')"><i class="layui-icon"></i>添加</button>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <!-- <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th> -->
            <!-- <th>编号</th> -->
            <th>类别</th>
            <th>时段</th>
            <th>全天封顶</th>
            <th >操作</th>
            </tr>
        </thead>
        <tbody>
            {loop $participators $index $item}
            <tr>
            <input type="hidden" value="{$item['id']}" name="id"/>
            <td>{$item['ChargeClass']}</td>
            <td>
                {loop $item['payPeriod'] $indexs $items}
                {$items['starTime']}-{$items['endTime']}/收费标准：{$items['price']}元{$items['minute']}/分钟/免停：{$items['free']}分/最高限额：{$items['capped']}元/预付费时间跟收费标准：{$items['y_minute']}分-￥{$items['y_price']}元<br />
                {/loop}
            </td>
            <td>{$item['Allcapped']}</td>
              <td class="td-manage">
              <!-- <a title="查看"  onclick="x_admin_show('编辑','order-view.html')" href="javascript:;">
                <i class="layui-icon">&#xe63c;</i>
              </a> -->
              <a title="删除" onclick="member_del(this,{$item['id']})" href="javascript:;">
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
          </tr>
          {/loop}
        </tbody>
      </table>
      <div class="page">
        <div>
          {$pager}
        </div>
      </div>

    </div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $.get("{php echo WebUrl('parking/category/del')}",{'id':id},function(data){
                var st=JSON.parse(data);
                if(st.status=='1'){
                  $(obj).parents("tr").remove();
                  layer.msg('已删除!',{icon:1,time:1000});
                }
              })
          });
      }

    </script>

{template 'parking/_footer'}
