
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont icon-biaoqian"></i>
                    <div class="name">标签</div>
                    <div class="fontclass">.icon-biaoqian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wenzhang"></i>
                    <div class="name">文章</div>
                    <div class="fontclass">.icon-wenzhang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-msnui-article"></i>
                    <div class="name">文章</div>
                    <div class="fontclass">.icon-msnui-article</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-msnui-mic"></i>
                    <div class="name">录音</div>
                    <div class="fontclass">.icon-msnui-mic</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weibiaoti1"></i>
                    <div class="name">标注2</div>
                    <div class="fontclass">.icon-weibiaoti1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chakan"></i>
                    <div class="name">查看</div>
                    <div class="fontclass">.icon-chakan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-msnui-task-count"></i>
                    <div class="name">统计任务</div>
                    <div class="fontclass">.icon-msnui-task-count</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-kongwujiaoxing"></i>
                    <div class="name">空五角星</div>
                    <div class="fontclass">.icon-kongwujiaoxing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhishidian"></i>
                    <div class="name">知识点</div>
                    <div class="fontclass">.icon-zhishidian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-59"></i>
                    <div class="name">时间</div>
                    <div class="fontclass">.icon-59</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-guanbifuhao"></i>
                    <div class="name">关闭符号</div>
                    <div class="fontclass">.icon-guanbifuhao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bangzhu"></i>
                    <div class="name">帮助</div>
                    <div class="fontclass">.icon-bangzhu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-iconset0119"></i>
                    <div class="name">文档</div>
                    <div class="fontclass">.icon-iconset0119</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bangzhu1"></i>
                    <div class="name">帮助</div>
                    <div class="fontclass">.icon-bangzhu1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhuanxierizhi"></i>
                    <div class="name">撰写日志</div>
                    <div class="fontclass">.icon-zhuanxierizhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chakan1"></i>
                    <div class="name">查看</div>
                    <div class="fontclass">.icon-chakan1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shezhi"></i>
                    <div class="name">设置</div>
                    <div class="fontclass">.icon-shezhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjiaoxingtriangular30"></i>
                    <div class="name">三角形</div>
                    <div class="fontclass">.icon-sanjiaoxingtriangular30</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wendangdocument84"></i>
                    <div class="name">文档</div>
                    <div class="fontclass">.icon-wendangdocument84</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-2guanbi"></i>
                    <div class="name">关闭</div>
                    <div class="fontclass">.icon-2guanbi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-cuoti"></i>
                    <div class="name">错题</div>
                    <div class="fontclass">.icon-cuoti</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-biaoqian1"></i>
                    <div class="name">标签</div>
                    <div class="fontclass">.icon-biaoqian1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhishichanquanguanli"></i>
                    <div class="name">知识产权</div>
                    <div class="fontclass">.icon-zhishichanquanguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shijian"></i>
                    <div class="name">时间</div>
                    <div class="fontclass">.icon-shijian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-atistics"></i>
                    <div class="name">统计明细</div>
                    <div class="fontclass">.icon-atistics</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-circle"></i>
                    <div class="name">圆形</div>
                    <div class="fontclass">.icon-circle</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zheng-triangle"></i>
                    <div class="name">正三角形</div>
                    <div class="fontclass">.icon-zheng-triangle</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jibenxinxi"></i>
                    <div class="name">基本信息</div>
                    <div class="fontclass">.icon-jibenxinxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-changyonggongju2"></i>
                    <div class="name">常用工具2</div>
                    <div class="fontclass">.icon-changyonggongju2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bofang"></i>
                    <div class="name">播放</div>
                    <div class="fontclass">.icon-bofang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chakan2"></i>
                    <div class="name">查看</div>
                    <div class="fontclass">.icon-chakan2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dazuoye"></i>
                    <div class="name">答作业</div>
                    <div class="fontclass">.icon-dazuoye</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-maikefeng"></i>
                    <div class="name">麦克风</div>
                    <div class="fontclass">.icon-maikefeng</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tianxie"></i>
                    <div class="name">填写</div>
                    <div class="fontclass">.icon-tianxie</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shezhi2"></i>
                    <div class="name">设置 (2)</div>
                    <div class="fontclass">.icon-shezhi2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wujiaoxing"></i>
                    <div class="name">五角星</div>
                    <div class="fontclass">.icon-wujiaoxing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-biaoqian2"></i>
                    <div class="name">标签</div>
                    <div class="fontclass">.icon-biaoqian2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fangkuangxuanze"></i>
                    <div class="name">方框选择</div>
                    <div class="fontclass">.icon-fangkuangxuanze</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shezhi1"></i>
                    <div class="name">设置</div>
                    <div class="fontclass">.icon-shezhi1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wenzhang-copy"></i>
                    <div class="name">文章</div>
                    <div class="fontclass">.icon-wenzhang-copy</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xuexiao"></i>
                    <div class="name">28学校</div>
                    <div class="fontclass">.icon-xuexiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-ai08"></i>
                    <div class="name">停止</div>
                    <div class="fontclass">.icon-ai08</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiaolian1"></i>
                    <div class="name">老师</div>
                    <div class="fontclass">.icon-jiaolian1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-cuotiku"></i>
                    <div class="name">错题库</div>
                    <div class="fontclass">.icon-cuotiku</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zanting"></i>
                    <div class="name">暂停</div>
                    <div class="fontclass">.icon-zanting</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-icontag"></i>
                    <div class="name">标签</div>
                    <div class="fontclass">.icon-icontag</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjiaoxing-up"></i>
                    <div class="name">三角形-up</div>
                    <div class="fontclass">.icon-sanjiaoxing-up</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-cuowu"></i>
                    <div class="name">错误</div>
                    <div class="fontclass">.icon-cuowu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xierushujuku"></i>
                    <div class="name">写入数据库</div>
                    <div class="fontclass">.icon-xierushujuku</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhishiku"></i>
                    <div class="name">知识库</div>
                    <div class="fontclass">.icon-zhishiku</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-caiwu"></i>
                    <div class="name">财务</div>
                    <div class="fontclass">.icon-caiwu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-renshu"></i>
                    <div class="name">人数</div>
                    <div class="fontclass">.icon-renshu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zuoye"></i>
                    <div class="name">作业</div>
                    <div class="fontclass">.icon-zuoye</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-haofangtuo400iconfont2xuexiao"></i>
                    <div class="name">好房拓 4.0.0 iconfont 2_学校</div>
                    <div class="fontclass">.icon-haofangtuo400iconfont2xuexiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zuoye1"></i>
                    <div class="name">作业</div>
                    <div class="fontclass">.icon-zuoye1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhishiwenda"></i>
                    <div class="name">知识问答</div>
                    <div class="fontclass">.icon-zhishiwenda</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bangzhu2"></i>
                    <div class="name">帮助</div>
                    <div class="fontclass">.icon-bangzhu2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sousuo"></i>
                    <div class="name">搜索</div>
                    <div class="fontclass">.icon-sousuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xuexiao1"></i>
                    <div class="name">学校</div>
                    <div class="fontclass">.icon-xuexiao1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shuxie"></i>
                    <div class="name">书写</div>
                    <div class="fontclass">.icon-shuxie</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianhua"></i>
                    <div class="name">电话</div>
                    <div class="fontclass">.icon-dianhua</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jibenxinxi1"></i>
                    <div class="name">基本信息</div>
                    <div class="fontclass">.icon-jibenxinxi1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhishiku1"></i>
                    <div class="name">知识库</div>
                    <div class="fontclass">.icon-zhishiku1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-caiwuguanli"></i>
                    <div class="name">财务管理</div>
                    <div class="fontclass">.icon-caiwuguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouhouwuyou"></i>
                    <div class="name">售后无忧</div>
                    <div class="fontclass">.icon-shouhouwuyou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shezhi3"></i>
                    <div class="name">设置</div>
                    <div class="fontclass">.icon-shezhi3</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chakan3"></i>
                    <div class="name">查看</div>
                    <div class="fontclass">.icon-chakan3</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chengyuan"></i>
                    <div class="name">学生</div>
                    <div class="fontclass">.icon-chengyuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiantou"></i>
                    <div class="name">箭头</div>
                    <div class="fontclass">.icon-jiantou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-cuowuguanbiquxiao-xianxingfangkuang"></i>
                    <div class="name">304错误、关闭、取消-线性方框</div>
                    <div class="fontclass">.icon-cuowuguanbiquxiao-xianxingfangkuang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-cuowuguanbiquxiao-fangkuang"></i>
                    <div class="name">304错误、关闭、取消-方框</div>
                    <div class="fontclass">.icon-cuowuguanbiquxiao-fangkuang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhuzhuangtu"></i>
                    <div class="name">柱状图</div>
                    <div class="fontclass">.icon-zhuzhuangtu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-biaoqian3"></i>
                    <div class="name">符号-标签</div>
                    <div class="fontclass">.icon-biaoqian3</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wenben"></i>
                    <div class="name">符号-文本</div>
                    <div class="fontclass">.icon-wenben</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sousuo1"></i>
                    <div class="name">搜索</div>
                    <div class="fontclass">.icon-sousuo1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qunzu"></i>
                    <div class="name">群组</div>
                    <div class="fontclass">.icon-qunzu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-changyongfenlei"></i>
                    <div class="name">常用分类</div>
                    <div class="fontclass">.icon-changyongfenlei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-suo"></i>
                    <div class="name">符号-锁</div>
                    <div class="fontclass">.icon-suo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-loading-icon-round"></i>
                    <div class="name">符号-状态-加载</div>
                    <div class="fontclass">.icon-loading-icon-round</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-knowledge-base"></i>
                    <div class="name">知识库</div>
                    <div class="fontclass">.icon-knowledge-base</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fanye"></i>
                    <div class="name">符号-翻页</div>
                    <div class="fontclass">.icon-fanye</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dkw_tianxie"></i>
                    <div class="name">dkw_填写</div>
                    <div class="fontclass">.icon-dkw_tianxie</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-query-knowledge"></i>
                    <div class="name">查询知识库</div>
                    <div class="fontclass">.icon-query-knowledge</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhishikuguanli-"></i>
                    <div class="name">知识库管理-01</div>
                    <div class="fontclass">.icon-zhishikuguanli-</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zuoyezhidaoshu"></i>
                    <div class="name">作业指导书</div>
                    <div class="fontclass">.icon-zuoyezhidaoshu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zuoye2"></i>
                    <div class="name">作业</div>
                    <div class="fontclass">.icon-zuoye2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-danju-cuowu"></i>
                    <div class="name">单据-错误</div>
                    <div class="fontclass">.icon-danju-cuowu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-maikefeng-jingyin"></i>
                    <div class="name">麦克风-静音</div>
                    <div class="fontclass">.icon-maikefeng-jingyin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-maikefeng1"></i>
                    <div class="name">麦克风</div>
                    <div class="fontclass">.icon-maikefeng1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-maikefeng-jingyin-tianchongsvg"></i>
                    <div class="name">麦克风-静音</div>
                    <div class="fontclass">.icon-maikefeng-jingyin-tianchongsvg</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shijian-tianchong"></i>
                    <div class="name">时间</div>
                    <div class="fontclass">.icon-shijian-tianchong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tongji"></i>
                    <div class="name">统计</div>
                    <div class="fontclass">.icon-tongji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bangzhu3"></i>
                    <div class="name">帮助</div>
                    <div class="fontclass">.icon-bangzhu3</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shezhi4"></i>
                    <div class="name">设置</div>
                    <div class="fontclass">.icon-shezhi4</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-APP"></i>
                    <div class="name">APP</div>
                    <div class="fontclass">.icon-APP</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wujiaoxing1"></i>
                    <div class="name">五角星</div>
                    <div class="fontclass">.icon-wujiaoxing1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shijian1"></i>
                    <div class="name">时间</div>
                    <div class="fontclass">.icon-shijian1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wenjian"></i>
                    <div class="name">文件</div>
                    <div class="fontclass">.icon-wenjian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chakan4"></i>
                    <div class="name">查看</div>
                    <div class="fontclass">.icon-chakan4</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zuoyeanjian"></i>
                    <div class="name">作业案件</div>
                    <div class="fontclass">.icon-zuoyeanjian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zuoyegaishanfenxi"></i>
                    <div class="name">作业改善分析</div>
                    <div class="fontclass">.icon-zuoyegaishanfenxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zuoyejieguoduibi"></i>
                    <div class="name">作业结果对比</div>
                    <div class="fontclass">.icon-zuoyejieguoduibi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fuhao-"></i>
                    <div class="name">符号-@</div>
                    <div class="fontclass">.icon-fuhao-</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fuhao-jiesuo"></i>
                    <div class="name">符号-解锁</div>
                    <div class="fontclass">.icon-fuhao-jiesuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fuhao-huizhi"></i>
                    <div class="name">符号-绘制</div>
                    <div class="fontclass">.icon-fuhao-huizhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tongjihuizong"></i>
                    <div class="name">统计汇总</div>
                    <div class="fontclass">.icon-tongjihuizong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tubiaolunkuo-"></i>
                    <div class="name">扫码</div>
                    <div class="fontclass">.icon-tubiaolunkuo-</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">icon-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
