{include file="common/header_inner_new"}
<title>付款账号信息</title>
<style type="text/css">
    .layui-upload-img{width: 92px; height: 92px; margin: 0 10px 10px 0;}
    .layui-btn{background-color: #F7931E !important;}
    .layui-btn-primary{background-color: #fff !important;}
    .layui-btn-primary:hover {border-color: #F7931E !important;}
    .title{text-align: center;background: #F7931E;color: #fff;padding: 7px;box-sizing: border-box;margin-bottom: 10px;width:calc(100% - 45rem);}
    @media screen and (min-width: 992px){
        .layui-form-label {margin-left: 10px!important;}
        .layui-input-block{margin-left: 140px !important;}
        .yulan{width: 700px !important;}
        .layui-select-fs{width: 100%;}
        .layui-select-fscon{width: 735px !important;}
    }
    @media screen and (max-width: 450px){
        .layui-form-label {width: 75px!important;margin-left: 10px!important;}
        .layui-input-block{margin-left: 120px !important;}
        .layui-form-label{padding: 9px 5px;}
        .yulan{width: 72% !important;}
        .layui-select-fs{width: 100%;}
        .layui-select-fscon{width: 62%  !important;}
        .layui-form-item .layui-input-inline {display: block;float: none;left: 4px;width: auto;margin: 0 0 10px 95px;}
        .layui-form-item .layui-inline {margin-bottom:10px;}
        .layui-form-item{margin-bottom:0 !important;}
        .title{text-align: center;background: #F7931E;color: #fff;padding: 7px;box-sizing: border-box;margin-bottom: 10px;width:100%}
    }
    .cooperative_enterprise{border:1px solid #efefef;text-align:center;background:#d2d2d2;padding:10px;box-sizing:border-box;}
    .cooperative_enterprise .enter_title{margin-bottom:10px;font-weight: 600;}
    .cooperative_enterprise .enterprise_bg{background:#efefef;padding-top:10px;}
    html{background:#e0d7d7;}
    .tel,.email,.trade_money,.commission_amount,.connect_up,.view_up{display:none;}
</style>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">付款账号信息
        </div>
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" action="" lay-filter="component-form-group">
                
                <input type="hidden" name="id" value="{$id}">
                <input type="hidden" name="type" value="2">

                <div class="layui-form-item">
                    <label class="layui-form-label">账户类型</label>
                    <div class="layui-input-inline layui-select-fscon">
                        <select name="account_type" lay-verify="required">
                            <option value="1">私户</option>
                            <option value="2">公户</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">账户币种</label>
                    <div class="layui-input-inline layui-select-fscon">
                        <select name="currency" lay-verify="required" lay-search>
                            {volist name="currency" id="v"}
                                <option value="{$v['code_value']}">{$v['code_name']}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">账户名称</label>
                    <div class="layui-input-inline layui-select-fscon">
                        <input type="text" name="name" lay-verify="required" placeholder="请输入账户名称" autocomplete="off" class="layui-input" value="">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">银行名称</label>
                    <div class="layui-input-inline layui-select-fscon">
                        <select name="bank_id" lay-verify="required" lay-search>
                            {volist name="bank" id="v"}
                                <option value="{$v['id']}">{$v['bank_name']}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">分支机构</label>
                    <div class="layui-input-inline layui-select-fscon">
                        <input type="text" name="bank_branch" lay-verify="required" placeholder="请输入分支机构" autocomplete="off" class="layui-input" value="">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">银行卡账号</label>
                    <div class="layui-input-inline layui-select-fscon">
                        <input type="text" name="account" lay-verify="required" placeholder="请输入银行账号" autocomplete="off" class="layui-input" value="">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">银行卡类型</label>
                    <div class="layui-input-inline layui-select-fscon">
                        <select name="bank_type" lay-verify="required">
                            <option value="1">储蓄卡</option>
                            <option value="2">信用卡</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-inline layui-select-fscon">
                        <input type="text" name="desc" placeholder="请输入备注" autocomplete="off" class="layui-input" value="">
                    </div>
                </div>

                <div class="layui-form-item layui-layout-admin">
                    
                        <div class="" style="text-align:center;margin:15px 0;">
                            <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

<script>
layui.use(['layer','form','laydate'],function(){
        laydate = layui.laydate;
        layer = layui.layer;
        var form  = layui.form;
        $ = layui.jquery;

        form.render(null,'component-form-element1');

        /* 监听提交 */
        form.on('submit(component-form-demo1)', function (data) {
            $.ajax({
                url: "{:Url('admin/distribution/save_settlement')}",
                method: 'post',
                data: data.field,
                dataType: 'JSON',
                success: function (res) {
                    layer.msg(res.msg, {time: 2000}, function () {
                        if (res.code == 0) {
                            window.location.reload();
                        }
                    });
                },
                error: function (data) {
                    layer.msg('系统错误', {time: 2000});
                }
            });
            return false;
        });

        
    });
    
</script>
</body>
</html>
