{template 'common/header'}
<style>
    .l_tableWrap .l_table_tit .l_formBar {
        border: 0;
        float: left;
        font-size: 0;
    }
    .y_sele {
        display: inline-block;
        padding: 5px 0 12px 12px;
    }
    .y_sele_tit {
        font-size: 14px;
        padding: 0 0 0 10px;
    }
    .l_table_search{
        margin-left: 10px;
        margin-bottom: 5px;
    }
</style>
<div class="clearfix">
    <div class="panel panel-default">
        <div class="panel-heading">
            积分获取列表
        </div>

        <div class="table-responsive panel-body" style="overflow:visible;">

            <div class="l_table_tit clearfix">
                <form method="get" action="" name="frm" class="l_formBar" id="frm1">
                    <span class="y_sele_tit">手机号:</span>
                    <div class="y_sele y_size02">
                        <input type="text" class="form-control" name="mobile" value="{$_GPC['mobile']}">
                    </div>
                    <span class="y_sele_tit">类型:</span>
                    <div class="y_sele y_size02">
                        <select class="form-control" name="event_type">
                            <option value="0">不限</option>
                            {php foreach($eventTypes as $k=>$row) {}
                            <option value="{$k}" {if $_GPC['event_type']==$k}selected="selected"{/if}>{php echo $row}</option>
                            {php } }
                        </select>
                    </div>
                    <input type="hidden" name="c" value="{$_GPC['c']}" />
                    <input type="hidden" name="a" value="{$_GPC['a']}" />
                    <input type="hidden" name="eid" value="{$_GPC['eid']}" />
                    <div class="btn-group l_table_search">
                        <button type="submit" class="btn btn-success">搜 索</button> &nbsp;&nbsp;
                    </div>
                </form>
            </div>

            <table class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>手机号</th>
                    <th>转赠姓名</th>
                    <th>转赠手机号</th>
                    <th>操作类型</th>
                    <th>积分日志</th>
                    <th>积分数量</th>
                    <th>备注</th>
                    <th>发放时间</th>
                    <th>创建时间</th>
                </tr>
                {loop $list $row}
                <tr>
                    <td>
                        <p class="form-control-static">
                            {$row['id']}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {$row['fans_info']['username']}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {$row['fans_info']['mobile']}
                        </p>
                    </td>

                    <td>
                        <p class="form-control-static">
                            {if $row['event_type']==3}
                            {$row['pass_fans_info']['username']}
                            {/if}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {if $row['event_type']==3}
                            {$row['pass_fans_info']['mobile']}
                            {/if}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {$eventTypes[$row['event_type']]}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static" title="{$row['remark']}">
                            {$row['remark']}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {$row['num']}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static" title="{$row['event_desc']}">
                            {$row['event_desc']}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static" title="{php echo date('Y-m-d H:i:s',$row['send_time']);}">
                            {if $row['send_time']}
                            {php echo date('Y-m-d',$row['send_time']);}
                            {/if}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static" title="{php echo date('Y-m-d H:i:s',$row['create_at']);}">
                            {php echo date('Y-m-d',$row['create_at']);}
                        </p>
                    </td>
                </tr>
                {/loop}
            </table>
        </div>
        <input type="hidden" class="tmp_log_id" />
        <div class="panel-body text-right">
            {$pager}
        </div>
    </div>
</div>
<script>
            function work_check(log_id) {
            require(['jquery', 'util'], function ($, u) {
            var content = '<div class="panel panel-default text-center"><input type="text" id="scan_title" class="form-control span7 send_credit" placeholder="发放积分" name="credit"></div>';
                    var footer =
                    '<button type="button" class="btn btn-danger" onclick="send_update_ticket_credit(' + log_id + ',0)" >审核不通过</button>' +
                    '<button type="button" class="btn btn-success" onclick="send_update_ticket_credit(' + log_id + ',1)" >审核通过</button>' +
                    '<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>';
                    var diaobj = u.dialog('拍小票审核', content, footer);
                    diaobj.find('.btn-default').click(function () {
            diaobj.modal('hide');
            });
                    diaobj.modal('show');
            });
            }

    function send_update_ticket_credit(log_id, is_check) {
    var pars = {};
            pars.log_id = log_id;
            pars.is_check = is_check;
            var credit = $(".send_credit").val();
            pars.credit = credit;
            $.ajax({
            url: "{php echo $this->createWebUrl('ajax',array('sdo'=>'send_update_ticket_credit'))}",
                    type: "post",
                    dataType: "html",
                    data: pars,
                    success: function (res) {
                    $(".submit").attr("disabled", false);
                            if (res == "ok") {
                    alert("发放成功");
                            window.location.reload(true);
                    } else {
                    alert(res);
                    }
                    }
            })
    }
</script>
{template 'common/footer'}
