{template 'common/header'}
<style>
    .l_tableWrap .l_table_tit .l_formBar {
        border: 0;
        float: left;
        font-size: 0;
    }
    .y_sele {
        display: inline-block;
        padding: 5px 0 12px 12px;
    }
    .y_sele_tit {
        font-size: 14px;
        padding: 0 0 0 10px;
    }
    .l_table_search{
        margin-left: 10px;
        margin-bottom: 5px;
    }
</style>
<script>
    require(['jquery', 'util', 'datetimepicker'], function ($, u) {
        $('#order_time_start').datetimepicker({
            format: 'Y-m-d',
            language: 'zh-CN',
            pickDate: false,
            pickTime: false,
            hourStep: 1,
            autoclose: true,
            inputMask: true,
            minView: "month",
            timepicker: false,
        });
        $('#order_time_end').datetimepicker({
            format: 'Y-m-d',
            language: 'zh-CN',
            pickDate: false,
            pickTime: false,
            hourStep: 1,
            autoclose: true,
            inputMask: true,
            minView: "month",
            timepicker: false,
        });
    });
</script>
<div class="clearfix">
    <div class="panel panel-default">
        <div class="panel-heading">
            订单列表
        </div>
        <div class="table-responsive panel-body" style="overflow:visible;">
            <div class="l_table_tit clearfix">
                <form method="get" action="" name="frm" class="l_formBar" id="frm1">
                    <span class="y_sele_tit">用户手机号:</span>
                    <div class="y_sele y_size02">
                        <input type="text" class="form-control" name="mobile" value="{$_GPC['mobile']}">
                    </div>
                    <span class="y_sele_tit">支付类型:</span>
                    <div class="y_sele y_size02">
                        <select class="form-control" name="type">
                            <option value="0">不限</option>
                            {php foreach($orderTypes as $k=>$row) {}
                            <option value="{$k}" {if $_GPC['type']==$k}selected="selected"{/if}>{$row}</option>
                            {php } }
                        </select>
                    </div>
                    <span class="y_sele_tit">支付状态:</span>
                    <div class="y_sele y_size02">
                        <select class="form-control" name="status">
                            <option value="0">不限</option>
                            {php foreach($status as $k=>$row) {}
                            <option value="{$k}" {if $_GPC['status']==$k}selected="selected"{/if}>{$row}</option>
                            {php } }
                        </select>
                    </div>
                    <span class="y_sele_tit">注册时间:</span>
                    <div class="y_sele y_size02">
                        <input type="text" class="form-control" id="order_time_start" name="order_time_start" value="{$_GPC['order_time_start']}">
                    </div>
                    <input type="hidden" name="c" value="{$_GPC['c']}" />
                    <input type="hidden" name="a" value="{$_GPC['a']}" />
                    <input type="hidden" name="eid" value="{$_GPC['eid']}" />
                    <div class="y_sele y_size02">
                        <input type="text" class="form-control" id="order_time_end" name="order_time_end" value="{$_GPC['order_time_end']}">
                    </div>
                    <div class="btn-group l_table_search">
                        <button type="submit" class="btn btn-success">搜 索</button>
                    </div>
                </form>
            </div>

            <table class="table table-hover">
                <tr>
                    <th>id</th>
                    <th>商户流水</th>
                    <th>粉丝id</th>
                    <th>订单类型</th>
                    <th>订单状态</th>
                    <th>计费方式</th>
                    <th>消耗积分</th>
                    <th>订单总金额</th>
                    <th>实际支付金额</th>
                    <th>支付时间</th>
                    <th>创建时间</th>
                </tr>
                {loop $list $row}
                <tr>
                    <td>
                        <p class="form-control-static">
                            {$row['id']}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {$row['order_no']}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {$row['fans_id']}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {$orderTypes[$row['type']]}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {$status[$row['status']]}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {$park_pay_types[$row['park_pay_type']]}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {$row['credit']}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {php echo $row['money']/100;}
                        </p>
                    </td>
                    <td>
                        <p class="form-control-static">
                            {php echo $row['pay_money']/100;}
                        </p>
                    </td>
                    <td>
                        {if $row['status']==2}
                        <p class="form-control-static" title="{php echo date('Y-m-d H:i:s',$row['success_at']);}">
                            {php echo date('Y-m-d H:i:s',$row['success_at']);}
                        </p>
                        {/if}
                    </td>
                    <td>
                        <p class="form-control-static" title="{php echo date('Y-m-d H:i:s',$row['create_at']);}">
                            {php echo date('Y-m-d H:i:s',$row['create_at']);}
                        </p>
                    </td>
                </tr>
                {/loop}
            </table>
        </div>
        <div class="panel-body text-right">
            {$pager}
        </div>
    </div>
</div>
{template 'common/footer'}
