<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>订单详细</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  	<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/layui/css/layui.css"/>
	<script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>
</head>
<body style="padding: 10px;">
	
<form class="layui-form">
	
	<div class="layui-form-item">
		<label class="layui-form-label">商户号：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="partnerId" value="{$data.partnerId}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">外部订单号：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="orderId" value="{$data.orderId}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">订单提交时间：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="submitTime" value="{$data.submitTime}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">电子口岸代码：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="eportCode" value="{$data.eportCode}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">电商平台备案号：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="eCompanyCode" value="{$data.eCompanyCode}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">电商平台备案名称：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="eCompanyName" value="{$data.eCompanyName}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">支付币种：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="currCode" value="{$data.currCode}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">支付时间：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="payTimeStr" value="{$data.payTimeStr}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">证件类型：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="paperType" value="{$data.paperType}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">支付税款：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="payTaxAmount" value="{$data.payTaxAmount}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">支付运费：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="payFeeAmount" value="{$data.payFeeAmount}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">申报类型：</label>
		<div class="layui-input-block">
			{if condition="$data.declareType eq 1"}
				<input type="text" class="layui-input" maxlength="11" name="declareType" value="单向海关申报">
			{elseif condition="$data.declareType eq 2"}
				<input type="text" class="layui-input" maxlength="11" name="declareType" value="单向国检申报">
			{elseif condition="$data.declareType eq 3"/}
				<input type="text" class="layui-input" maxlength="11" name="declareType" value="海关、国检同时申报">
			{/if}		
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">进口类型：</label>
		<div class="layui-input-block">
			{if condition="$data.intype eq 1"}
				<input type="text" class="layui-input" maxlength="11" name="intype" value="保税进口">
			{else/}
				<input type="text" class="layui-input" maxlength="11" name="intype" value="直邮进口">
			{/if}
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">检验检疫币种：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="ciqCurrency" value="{$data.ciqCurrency}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">电商企业代码：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="cbeCode" value="{$data.cbeCode}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">检验检疫机构代码：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="ciqOrgCode" value="{$data.ciqOrgCode}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">海关关区代码：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="customsCode" value="{$data.customsCode}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">支付人姓名：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="payerName" value="{$data.payerName}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">支付人手机号：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="payerPhoneNumber" value="{$data.payerPhoneNumber}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">支付人证件号码：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="paperNumber" value="{$data.paperNumber}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">商户报关订单号：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="orderNo" value="{$data.orderNo}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">商品名称：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="goodsName" value="{$data.goodsName}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">商品数量：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="goodsCount" value="{$data.goodsCount}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">支付金额：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="payAmount" value="{$data.payAmount/100}">
		</div>
	</div>
	
	
	<div class="layui-form-item">
		<label class="layui-form-label">支付货款：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="payGoodsAmount" value="{$data.payGoodsAmount/100}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">支付交易号：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="payTransactionNo" value="{$data.payTransactionNo}">
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">报关结果：</label>
		<div class="layui-input-block">
			{if condition="$data.chkMark eq 2"}
				<input type="button" class="layui-btn layui-btn-sm" value="报关成功" />
			{elseif condition="$data.chkMark eq 3"/}
				<input type="button" class="layui-btn layui-btn-sm layui-btn-danger" value="报关失败" />
			{/if}
		</div>
	</div>
	
	<div class="layui-form-item">
		<label class="layui-form-label">报关信息：</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" maxlength="11" name="failInfo" value="{$data.failInfo}">
		</div>
	</div>
	
</form>

</body>
</html>