<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{php echo $this->module['config']['name'];}</title>
        <script src="{$modulePublic}shop/js/SetSize.js"></script>
        <script src="{$modulePublic}shop/js/template.js"></script>
        <script src="{$modulePublic}shop/js/common.js"></script>
        <meta name="screen-orientation" content="portrait/landscape">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <link href="{$modulePublic}shop/css/index.css" rel="stylesheet" type="text/css">
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <script src="{$modulePublic}shop/js/baidu.js"></script>
        <style>
            #header .logoField a::after {
                content: normal;
            }
        </style>
    </head>
    <body>
        <script>
            document.body.style.fontSize = SetSize.getScreenRatio() * 10 + 'px';
        </script>
        <script src="{$modulePublic}shop/js/svgPackage.js"></script>
        <header id="header" class="indexHeader_forNewYear">
            <div class="logoField">
                <a href="javascript:void(0)" class="btn">
                    <img src="{php echo $attach_url . '/'.$this->module['config']['logo_buy']}" alt=""></a>
                <!--<i class="logoField_logoDivideLine"><img src="{$modulePublic}shop/img/indexHead_forNewYear_logo_divide.png" alt/></i>-->
            </div>
            <div class="btnField" id="topsideBar">
                <a href="{php echo $this->createMobileUrl('user_msg')}" class="btn">
                    <i><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_message_1"></use></svg></i>
                    <span>消息</span>
                </a>
                <a href="{php echo $this->createMobileUrl('user_upLoad_ticket')}" class="btn">
                    <i><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_scan_1"></use></svg></i>
                    <span>扫小票</span>
                </a>
            </div>
        </header>
        <section id="main">
            <div class="bannerPanel_01">
                <div class="listField" style="cursor: -webkit-grab;">
                    <ul class="swiper-wrapper" style="width: 5376px; height: 300px; transform: translate3d(-3840px, 0px, 0px); transition-duration: 0.3s;">
                        {php foreach((array)$index_info['banners'] as $banner) { }
                        <li class="swiper-slide swiper-slide-duplicate" style="width: 768px; height: 300px;">
                            <a href="{$banner[1]}">
                                <img src="{php echo $attach_url . '/'.$banner[0]}" alt="">
                            </a>
                        </li>
                        {php } }
                    </ul>
                </div>
                <div class="controlField"><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span></div>
            </div>
            <div class="quickLinkPanel_01 ">
                <div class="listField" style="cursor: -webkit-grab;">
                    <ul class="swiper-wrapper" style="width: 768px; height: 360px;">
                        {if !$pageContents[9]['desc']}
                        <li class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 768px; height: 360px;">
                            <a href="{php echo $this->createMobileUrl('shop_activity_list')}" class="link link3">
                                <i><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_event_1"></use></svg></i>
                                <srtmapopan>活动</srtmapopan>
                            </a>
                            <a href="{php echo $this->createMobileUrl('index')}" class="link link5">
                                <i><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_member_1"></use></svg></i>
                                <srtmapopan>会员</srtmapopan>
                            </a>
                            <a href="{php echo $this->createMobileUrl('award_list')}"  class="link link11">
                                <i><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_gift_1"></use></svg></i>
                                <srtmapopan>积分商城</srtmapopan>
                            </a>
                            <a href="{php echo $this->createMobileUrl('shop_list')}" class="link link2">
                                <i><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_shop_1"></use></svg></i>
                                <srtmapopan>找店</srtmapopan>
                            </a>
                            <a href="{php echo $this->createMobileUrl('shop_list',array('category'=>'餐饮美食'))}" class="link link9">
                                <i><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_food_1"></use></svg></i>
                                <srtmapopan>美食</srtmapopan>
                            </a>
                            <a href="{php echo $this->createMobileUrl('page',array('t'=>'legal'))}"  class="link link10">
                                <i><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_register_1"></use></svg></i>
                                <srtmapopan>服务</srtmapopan>
                            </a>
                            <a href="{php echo $this->createMobileUrl('page',array('t'=>'traffic'))}"  class="link link5">
                                <i><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_map_1"></use></svg></i>
                                <srtmapopan>交通</srtmapopan>
                            </a>
                        </li>
                        {else}
                        {php foreach($pageContents[9]['desc'] as $i=>$pages) {}
                        <li class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 768px; height: 360px;">
                            {php foreach($pages as $i=>$page) {}
                            <a href="{$page['link']}"  class="link {$page['color']}">
                                <i><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{$page['icon']}"></use></svg></i>
                                <srtmapopan>{$page['title']}</srtmapopan>
                            </a>
                            {php } }
                        </li>
                        {php } }
                        {/if}
                    </ul>
                </div>
                <div class="controlField"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span></div>
            </div>


            <div class="brandListPanel_01 hasMarginBottom" {if !$index_info['shops']}style="display:none"{/if}>
                 <div class="titleField titleType_01">
                    <a href="{php echo $this->createMobileUrl('shop_list')}"><h2>热门品牌</h2></a>
                </div>
                <div class="listField">
                    <ul>
                        {php foreach((array)$index_info['shops'] as $row) { }
                        <li class="brand multiple">
                            <a href="{php echo $this->createMobileUrl('shop_detail',array('id'=>$row['id']))}">
                                <img style="width:100%;height:100%" alt="" src="{php echo $attach_url. '/'.$row['logo']}">
                            </a>
                        </li>
                        {php } }
                    </ul>
                    <!--<ul>
                    </ul>-->
                </div>
            </div>
            {php foreach((array)$index_info['advs'] as $adv) { }
            <div class="advPanel_02 miaoxingStyle hasMarginBottom">
                <a href="{$adv[1]}"><div class="img">
                        <img  src="{php echo $attach_url . '/'.$adv[0]}">
                    </div>
                </a>
            </div>
            {php } }
            <div class="favoratePanel_01 likeMiaoxing" {if !$index_info['shop_activitys']}style="display:none"{/if}>
                 <div class="titleField titleType_01">
                    <h2>推荐活动</h2>
                </div>
                <div class="listField">
                    <ul>
                        {php foreach($index_info['shop_activitys'] as $row) { }
                        <li>
                            <a href="{php echo $this->createMobileUrl('shop_activity_detail',array('id'=>$row['id']))}">
                                <div class="img">
                                    <img data-bg="http://file.capitaland.com.cn/webupload/1737-2/Activity/images/201612/201612231235417224.png" alt="" src="data:image/PNG;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg==" style="width: 100%; height: 100%; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; background-image: url(&quot;{php echo $attach_url . '/'.$row['img']}&quot;);">
                                </div>
                                <div class="detail">
                                    <p>
                                        <em>
                                            <!-- {$row['title']} -->
                                        </em>
                                        <!--<span class="location">
                                            <i><svg><use xlink:href="#icon_location_1" /></svg></i>
                                            
                                            L2/02-24
                                        </span>-->
                                    </p>
                                    <h2> <!-- {$row['sub_title']} --></h2>
                                </div>
                            </a>
                        </li>
                        {php } }
                    </ul>
                </div>
            </div>
            <footer id="footer"><div class="infoField">
                    <div class="detail">
                        <a href="tel:{$pageContents[2]['title']}"><i><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_telephone_1"></use></svg></i>服务热线：{$pageContents[2]['title']}</a>
                        <span><i><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_time_1"></use></svg></i>营业时间：{$pageContents[4]['title']}</span>
                    </div>
                    <div class="btns">
                        <!--<a href="#" class="btn"><i><svg><use xlink:href="#icon_sina_1" /></svg></i></a>-->
                        <!-- <a href="javascript:void(0)" class="btn"><i><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_weixin_1"></use></svg></i></a> -->
                    </div>
                </div>
                <div class="linkField">
                    <div class="links">
                        {loop $pageContents[3]['desc'] $row}
                        <a href="{$row['link']}">{$row['title']}</a>
                        {/loop}
                        <!--                        <a href="{php echo $this->createMobileUrl('page',array('t'=>'help'))}">商场实景</a>
                                                <a href="{php echo $this->createMobileUrl('page',array('t'=>'legal'))}">温馨服务</a>
                                                <a href="{php echo $this->createMobileUrl('page',array('t'=>'traffic'))}">如何到达</a>
                                                <a href="{php echo $this->createMobileUrl('page',array('t'=>'aboutup'))}">关于我们</a>-->
                        <a href="javascript:window.scrollTo(0,0);">回到顶部</a>
                    </div>
                </div>
                <div class="copyrightField">
                    <p>商场地址：{$pageContents[1]['title']}<br>咨询电话：{$pageContents[2]['title']}</p>
                </div>
            </footer>
            <nav id="nav" class="mainNav">
                <div class="linkField">
                    <ul>
                        <li>
                            <a href="{php echo $this->createMobileUrl('index2')}" class="current">
                                <i><svg><use xlink:href = "#icon_index_1"/></svg></i>
                                <span>逛商场</span>
                            </a>
                        </li>
                        <li >
                            <a href="{php echo $this->createMobileUrl('shop_activity_list')}">
                                <i><svg><use xlink:href = "#icon_star_1"/></svg></i>
                                <span>活动</span>
                            </a>
                        </li>

                        <li>
                            <a href="{php echo $this->createMobileUrl('award_list')}">
                                <i><svg><use xlink:href = "#icon_gift_1"/></svg></i>
                                <span>换礼品</span>
                            </a>
                        </li>

                        <li>
                            <a href="{php echo $this->createMobileUrl('index')}" >
                                <i><svg><use xlink:href = "#icon_user_2"/></svg></i>
                                <span>我</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>
    </body>
    <script src="{$modulePublic}shop/js/idangerous.swiper.min.js"></script>
    <script src="{$modulePublic}shop/js/LazyLoad.js"></script>
    <script>
            init();
            function init() {
                //添加左右切换
                (function () {
                    if (!arguments)
                        return;
                    for (var i in arguments) {
                        var addSwiper = new Swiper(arguments[i].dom, arguments[i].option || {});
                    }
                })({
                    dom: '.bannerPanel_01 .listField',
                    option: {
                        pagination: '.bannerPanel_01 .controlField',
                        loop: true,
                        grabCursor: true,
                        autoplay: 3000
                    }
                }, {
                    dom: '.quickLinkPanel_01 .listField',
                    option: {
                        pagination: '.quickLinkPanel_01 .controlField',
                        loop: false,
                        grabCursor: true
                    }
                });

                //添加惰性加载
                (function ($la) {
                    if (!$la || arguments.length < 2)
                        return;
                    var i = 1;
                    for (; i < arguments.length; i++) {

                        window.lazyImg = $la(arguments[i].img, arguments[i].option || {});
                    }
                })(LazyLoad, {
                    img: 'img',
                    option: {
                        preload: SetSize.getFontSize() * 10
                    }
                });



                //与样式表结合，自动排版
                (function ($, winSize) {
                    var adjustListField = $('.advPanel_01 .listField ul');
                    adjustListField.each(function () {
                        var listField = $(this),
                                elems = listField.find('li'),
                                showElems = [],
                                classList = {
                                    0: [{name: 'one', width: 1}],
                                    1: [{name: 'two', width: 0.5}],
                                    2: [{name: 'three3rd', width: 1 / 3}, {name: 'three1st', width: 0.5}, {name: 'three2nd', width: 0.5}]
                                },
                        classItem,
                                padding = 0.1,
                                parentWidth = winSize.getEmSize(listField.width()) - padding,
                                minHeight = 1000000,
                                maxHeight = 0,
                                tallHeight = 0,
                                tempTallHeight = 0,
                                tempShortHeight = 0,
                                tallObj = [],
                                shortObj = [],
                                heightGroup = [];
                        if (elems.length > 1) {
                            elems.each(function (i) {
                                var img = $(this).find('img'), src, size, width, height, data;
                                if (img.length != 1 || i >= 3) {
                                    $(this).hide();
                                } else {
                                    img = img.get(0);
                                    src = img.dataset.src || img.src;
                                    if (src.indexOf('?s=') != -1) {
                                        showElems.push(this);
                                        size = src.split('?s=')[1].split('x');
                                        width = parseInt(size[0]);
                                        height = parseInt(size[1]) * 100 / width;
                                        data = {
                                            elem: this,
                                            height: height
                                        }
                                        if (minHeight > height) {
                                            minHeight = height;
                                        }
                                        if (maxHeight < height) {
                                            maxHeight = height;
                                        }
                                        heightGroup.push(data);
                                    } else {
                                        $(this).hide();
                                    }
                                }
                            });
                            tallHeight = maxHeight;
                            if (heightGroup.length == 3 && maxHeight - minHeight > (maxHeight + minHeight) / 10) {
                                for (var i in heightGroup) {
                                    if (heightGroup[i].height - minHeight < (maxHeight + minHeight) / 10) {
                                        shortObj.push(heightGroup[i]);
                                    } else if (maxHeight - heightGroup[i].height < (maxHeight + minHeight) / 10) {
                                        if (heightGroup[i].height < tallHeight) {
                                            tallHeight = heightGroup[i].height;
                                        }
                                        tallObj.push(heightGroup[i]);
                                    }
                                }
                            }
                            if (heightGroup.length > 1) {
                                if (maxHeight - minHeight < (maxHeight + minHeight) / 10) {
                                    classItem = classList[heightGroup.length - 1][0];
                                    for (var i in heightGroup) {
                                        $(heightGroup[i].elem).css('height', getStyleHeight(classItem.width, minHeight) + padding + 'rem');
                                    }
                                } else if (maxHeight - minHeight * 2 < (maxHeight + minHeight) / 10 && maxHeight - minHeight * 2 > -(maxHeight + minHeight) / 20 && shortObj.length >= 2) {
                                    classItem = classList[2][1];

                                    if (getStyleHeight(classItem.width, maxHeight) > getStyleHeight(classItem.width, minHeight) * 2 + padding) {
                                        tempShortHeight = getStyleHeight(classItem.width, minHeight);
                                        tempTallHeight = tempShortHeight * 2 + padding;
                                    } else {
                                        tempTallHeight = getStyleHeight(classItem.width, maxHeight);
                                        tempShortHeight = (tempTallHeight - padding) / 2
                                    }
                                    for (var i in tallObj) {
                                        $(tallObj[i].elem).css('height', tempTallHeight + padding + 'rem');
                                    }
                                    for (var i in shortObj) {
                                        $(shortObj[i].elem).css('height', tempShortHeight + padding + 'rem').appendTo(listField);
                                    }
                                } else if (shortObj.length >= 2) {
                                    classItem = classList[2][2];

                                    for (var i in tallObj) {
                                        $(tallObj[i].elem).css('height', getStyleHeight(1, tallHeight) + padding + 'rem');
                                    }

                                    for (var i in shortObj) {
                                        $(shortObj[i].elem).css('height', getStyleHeight(classItem.width, minHeight) + padding + 'rem').appendTo(listField);
                                    }
                                } else if (tallObj.length >= 2) {
                                    classItem = classList[2][2];
                                    for (var i in tallObj) {
                                        $(tallObj[i].elem).css('height', getStyleHeight(classItem.width, tallHeight) + padding + 'rem').appendTo(listField);
                                    }
                                    for (var i in shortObj) {
                                        $(shortObj[i].elem).css('height', getStyleHeight(1, minHeight) + padding + 'rem');
                                    }
                                } else {
                                    classItem = classList[0][0];
                                }
                            } else {
                                classItem = classList[0][0];
                            }
                        } else {
                            classItem = classList[0][0];
                        }
                        listField.addClass(classItem.name);
                        function getStyleHeight(width, height) {
                            return Math.floor(height * (width * parentWidth - padding)) / 100;
                        }
                    });
                })(PRselector, SetSize);
            }
    </script>
    {template 'share'}
</html>
