{include file="common/header"}
<!--<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>-->
<!--<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>-->
<body>
<div class="layui-body" id="LAY_app_body">
    <div class="layadmin-tabsbody-item layui-show">
      <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form layui-form-pane" action="" lay-filter="component-form-group">
                    <div class="layui-form-item">
                        <label class="layui-form-label">月卡标识：</label>
                        <div class="layui-input-block">
                            <input type="text" name="mark" lay-verify="required" autocomplete="off" placeholder="A-Z 大写" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">方案名称：</label>
                        <div class="layui-input-block">
                            <input type="text" name="scheme_name" lay-verify="required" autocomplete="off" placeholder="请输入方案名称" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">方案期限</label>
                            <div class="layui-input-inline" style="width: 200px;">
                                <input type="text" name="total_time" id="public" lay-verify="required" placeholder="" autocomplete="off" class="layui-input" disabled>
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 200px;">
                                <input type="text" name="total_time2" id="public2" lay-verify="required" placeholder="" autocomplete="off" class="layui-input" disabled>
                            </div>
                            <div style="float:  right;margin-top: 9px;">其中：</div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">发行申请期</label>
                            <div class="layui-input-inline" style="width: 200px;">
                                <input type="text" name="apply" id="apl" lay-verify="required" placeholder="请选择范围" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 200px;">
                                <input type="text" name="apply2" id="apl2" lay-verify="required" placeholder="请选择范围" autocomplete="off" class="layui-input">
                            </div>
                            <div style="float:  right;margin-top: 9px;">停止发行，确定申请</div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">受理审核期</label>
                            <div class="layui-input-inline" style="width: 200px;">
                                <input type="text" name="accept" id="s" lay-verify="required" placeholder="请选择范围" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 200px;">
                                <input type="text" name="accept2" id="s2" lay-verify="required" placeholder="请选择范围" autocomplete="off" class="layui-input">
                            </div>
                            <div style="float:  right;margin-top: 9px;">停止受理，确定审核</div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">抽签缴费期</label>
                            <div class="layui-input-inline" style="width: 200px;">
                                <input type="text" name="lottery" id="lottery" lay-verify="required" placeholder="请选择范围" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 200px;">
                                <input type="text" name="lottery2" id="lottery2" lay-verify="required" placeholder="请选择范围" autocomplete="off" class="layui-input">
                            </div>
                            <div style="float:  right;margin-top: 9px;">停止确认，截止缴费</div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">生效注销期</label>
                            <div class="layui-input-inline" style="width: 200px;">
                                <input type="text" name="expir" id="pub" lay-verify="required" placeholder="请选择范围" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 200px;">
                                <input type="text" name="expir2" id="pub2" lay-verify="required" placeholder="请选择范围" autocomplete="off" class="layui-input">
                            </div>
                            <div style="float:  right;margin-top: 9px;">截止注销，停止生效</div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">月卡名称</label>
                            <div class="layui-input-inline" style="width: 200px;">
                                <input type="text" name="month_name" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">&nbsp;&nbsp;</div>
                            <label class="layui-form-label">月卡费用</label>
                            <div class="layui-input-inline" style="width: 200px;">
                                <input type="text" name="month_money" id="month_money" placeholder="请输入购买月卡费用" lay-verify="required|number" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">发行卡数</label>
                            <div class="layui-input-inline" style="width: 200px;">
                                <input type="text" name="month_num" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">+</div>
                            <label class="layui-form-label">候补卡数</label>
                            <div class="layui-input-inline" style="width: 200px;">
                                <input type="text" name="bup_num" lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item" style="width: 98%">
                        <label class="layui-form-label">月卡适用：</label>
                        <div class="layui-input-block" style="width: 59%;">
                            <select name="fit_type" lay-filter="fit_type">
                                <option value="" selected="">请选择</option>
                                <option value="0">区域</option>
                                <option value="1">路段</option>
                                <option value="2">泊位</option>
                                <option value="3">时段</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item" style="display: none;" id="road_rand">
                        <div class="layui-inline">
                            <label class="layui-form-label">路段</label>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" name="road_rand" placeholder="00000" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" name="road_rand1" placeholder="99999" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item" style="display: none;" id="park">
                        <div class="layui-inline">
                            <label class="layui-form-label">泊位范围：</label>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" name="park" placeholder="00000" value="000000" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" name="park1" placeholder="99999" value="999999" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>


                    <div class="layui-form-item" style="display: none;width:70%;" id="periods">
                        <label class="layui-form-label">时段：</label>
                        <div class="layui-input-block">
                            <input type="text" name="period" id="period"  placeholder="示例:00:00-02:00。英文双冒号" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item" style="display: none;" id="dizhi">
                        <label class="layui-form-label">起：</label>
                        <div class="layui-inline">
                            <select name="sheng" lay-filter="chengshi">
                                <option value="">请选择省</option>
                                {volist name="addr" id="vo"}
                                <option value="{$vo.id}">{$vo.name}</option>
                                {/volist}
                            </select>
                        </div>
                        <div class="layui-inline">
                            <select name="shi" id="shi" lay-filter="shi">
                                <option value="">请选择市</option>
                            </select>
                        </div>
                        <div class="layui-inline">
                            <select name="qu"  id="qu" lay-filter="qu">
                                <option value="">请选择县/区</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item" style="display: none;" id="dizhi2">
                        <label class="layui-form-label">止：</label>
                        <div class="layui-inline">
                            <select name="sheng2" lay-filter="chengshi2">
                                <option value="">请选择省</option>
                                {volist name="addr" id="vo"}
                                <option value="{$vo.id}">{$vo.name}</option>
                                {/volist}
                            </select>
                        </div>
                        <div class="layui-inline">

                            <select name="shi2"  id="shi2" lay-filter="shi2">
                                <option value="">请选择市</option>
                            </select>
                        </div>
                        <div class="layui-inline">
                            <select name="qu2" id="qu2" lay-filter="qu2">
                                <option value="">请选择县/区</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <div class="layui-footer">
                                <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    layui.use(['form', 'laydate'], function(){
        var $ = layui.$
            ,element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,form = layui.form;

        form.render(null, 'component-form-group');
        laydate.render({
            elem: '#apl'
            ,type:"datetime"
            ,done: function(value, date){ //监听日期被切换
               $('#public').val(value);
             }
        });
        laydate.render({
            elem: '#apl2'
            ,type:"datetime"
        });

        laydate.render({
            elem: '#s'
            ,type:"datetime"
        });
        laydate.render({
            elem: '#s2'
            ,type:"datetime"
        });
        laydate.render({
            elem: '#lottery'
            ,type:'datetime'
        });
        laydate.render({
            elem: '#lottery2'
            ,type:'datetime'
        });
        laydate.render({
            elem: '#public',
            type:"datetime"
        });
        laydate.render({
            elem: '#public2',
            type:"datetime"
        });
        laydate.render({
            elem: '#pay'
            , type:"datetime"
        });
        laydate.render({
            elem: '#pay2'
            , type:"datetime"
        });
        laydate.render({
            elem: '#pub'
            ,type:"datetime"
        });
        laydate.render({
            elem: '#pub2'
            ,type:"datetime"
            ,done:function (val,date) {
                $("#public2").val(val);
            }
        });
        laydate.render({
            elem: '#total_time'
            ,type:"datetime"
        });
        // laydate.render({
        //     elem: '#period'
        //     ,type:'time'
        //     ,range: true
        // });

        laydate.render({
            elem: '#expir'
            ,type:"datetime"
        });
        laydate.render({
            elem: '#expir2'
            ,type:"datetime"
        });
        form.on('select(fit_type)', function(data){
            var val = data.value;
            switch (val){
                case '0':
                   $("#dizhi").show();
                    $("#dizhi2").show();
                    $("#road_rand").hide();
                    $("#park").hide();
                    $("#periods").hide();
                    break;
                case '1':
                    $("#road_rand").show();
                    // $("#regions").hide();
                    $("#park").hide();
                    $("#periods").hide();
                    $("#dizhi").hide();
                    $("#dizhi2").hide();
                    break;
                case '2':
                    $("#park").show();
                    // $("#regions").hide();
                    $("#road_rand").hide();
                    $("#periods").hide();
                    $("#dizhi").hide();
                    $("#dizhi2").hide();
                    break;
                case '3':
                    $("#periods").show();
                    // $("#regions").hide();
                    $("#road_rand").hide();
                    $("#park").hide();
                    $("#dizhi").hide();
                    $("#dizhi2").hide();
                    break;
                default:;
            }
        });



        /* 监听提交 */
        form.on('submit(component-form-demo1)', function(data){
            submit_data(data.field);
            return false;
        });
        form.on("select(chengshi)",function (data) {
            axios.get("{:Url('month_card/getaddr')}&pid="+data.value).then(function (value) {
                var val = value.data.msg;
                var h ='<option value="">请选择</option>';
                for (var i=0;i<val.length;i++){
                    h+=' <option value="'+val[i].id+'">'+val[i].name+'</option>'
                }
                lay('#shi').html(h);
                form.render();
            }).catch(function (err) {
                console.log(err);
            });
        });
        form.on("select(chengshi2)",function (data) {
            axios.get("{:Url('month_card/getaddr')}&pid="+data.value).then(function (value) {
                var val = value.data.msg;
                var h='<option value="">请选择</option>';
                for (var i=0;i<val.length;i++){
                    h+=' <option value="'+val[i].id+'">'+val[i].name+'</option>'
                }
                lay('#shi2').html(h);
                form.render();
            }).catch(function (err) {
                console.log(err);
            });
        });
        form.on("select(shi)",function (data) {
            axios.get("{:Url('month_card/getaddr')}&pid="+data.value).then(function (value) {
                var val = value.data.msg;
                var h ='<option value="">请选择</option>';
                for (var i=0;i<val.length;i++){
                    h+=' <option value="'+val[i].id+'">'+val[i].name+'</option>'
                }
                lay('#qu').html(h);
                form.render();
            }).catch(function (err) {
                console.log(err);
            });
        });
        form.on("select(shi2)",function (data) {
            axios.get("{:Url('month_card/getaddr')}&pid="+data.value).then(function (value) {
                var val = value.data.msg;
                var h ='<option value="">请选择</option>';
                for (var i=0;i<val.length;i++){
                    h+=' <option value="'+val[i].id+'">'+val[i].name+'</option>'
                }
                lay('#qu2').html(h);
                form.render();
            }).catch(function (err) {
                console.log(err);
            });
        });
    });
    function submit_data(filed) {
        var index = layer.load(1, {
            shade: [0.1,'#fff'] //0.1透明度的白色背景
        });
        axios.post('{:Url("month_card/add")}',filed).then(function (repose) {
            console.log(repose);
            layer.close(index);
            if(repose.data.code == 0){
                layer.msg(repose.data.message);
                setTimeout(function () {
                    location.reload();
                },3000);
            }else{
                layer.msg(repose.data.message);
            }
        }).catch(function (error) {
            layer.msg(error, {icon: 5});
        });
    }
</script>
</html>