{include file="common/header_inner_new"}
<!--百度富文本-->
<script type="text/javascript" src="static/cklein/plugins/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="static/cklein/plugins/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" src="static/cklein/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
<style>
    .format1,.format2,.url,.seo_content,.other_link,.other_navbar{display:none;}
    .seo_content{border:1px solid #eee;padding:20px;box-sizing: border-box;}
</style>
<body style="padding: 10px;background-color: #f2f2f2;">
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <form class="layui-form" action="" method="post" lay-filter="component-form-element">
            <input type="text" style="display:none;" name="id" id="id" value="{$id}">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-form-item">
                            <div class="layui-form-label">拒绝原因</div>
                            <div class="layui-input-block">
                                <textarea name="check_remark" id="check_remark" class="layui-textarea" placeholder="请输入拒绝原因" lay-verify="required"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="margin-top: 25px;text-align: center;">
                <div>
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="component-form-element2">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script type="text/javascript">
    layui.use(['layer','form','laydate','upload','colorpicker'],function(){
        laydate = layui.laydate;
        layer = layui.layer;
        var form  = layui.form;
        $ = layui.jquery;
        var upload = layui.upload;
        var colorpicker = layui.colorpicker;

        form.on('select(type)',function(data){
            let val = data.value;
            if(val==1){
                $('.imgtxt').show();
                $('.social').hide();
            }else if(val==2){
                $('.imgtxt').hide();
                $('.social').show();
            }
        });

        form.on('submit(component-form-element2)', function(data){
            // JSON.stringify()
            // console.log(data.field);return false;

            // if(data.field['editorValue']==''){
            //     layer.msg('请输入内容！');
            //     return false;
            // }

            // if( $('#img_file-upload-list').children().length == 0 )
            // {
            //     layer.msg('请上传主图！');
            //     return false;
            // }

            $.ajax({
                url:"{:Url('centralize/index/reject_delaypay')}",
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    layer.msg(res.msg,{time:2000}, function () {
                        if(res.code == 0)
                        {
                            parent.location.reload();
                        }
                    });
                },
                error:function (data) {
                    layer.msg('系统错误',{time:2000});
                }
            });
            return false;
        });
    });
</script>
</body>
</html>
