{include file="common/header_inner_new"}
<style>
    .disf{display:flex;align-items: center;}
    .layui-card-header{background:#0a8ddf;color:#fff;}
    #service_ids{width:200px;}
    .addService,.delService{font-size:20px;}
</style>
<body style="padding: 10px;background-color: #f2f2f2;">
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <form class="layui-form" action="" method="post" lay-filter="component-form-element">
            <input type="text" style="display:none;" name="id" id="id" value="{$id}">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-form-item">
                            <div class="layui-form-label">选择模型</div>
                            <div class="layui-input-block">
                                <select name="model_id" id="model_id">
                                    {volist name="model" id="vo"}
                                    <option value="{$vo['id']}">{$vo['name']}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">优化器</div>
                            <div class="layui-input-block">
                                <select name="optimizer" id="optimizer">
                                    <option value="">请选择优化器</option>
                                    <option value="adamw_torch" {if $data['optimizer']=='adamw_torch'}selected{/if}>adamw_torch</option>
                                    <option value="adamw_bnb_8bit" {if $data['optimizer']=='adamw_bnb_8bit'}selected{/if}>adamw_bnb_8bit</option>
<!--                                    <option value="SGD" {if $data['optimizer']=='SGD'}selected{/if}>SGD</option>-->
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">学习率</div>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" lay-verify="required" name="learning_rate" id="learning_rate" value="{$data['learning_rate']}" placeholder="学习率">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">训练轮数</div>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" lay-verify="required" name="training_rounds" id="training_rounds" value="{$data['training_rounds']}" placeholder="训练轮数">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">批量大小</div>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" lay-verify="required" name="batch_size" id="batch_size" value="{$data['batch_size']}" placeholder="批量大小">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-label">同步时间</div>
                            <div class="layui-input-block">
                                <div class="disf">
                                    <div class="train_time">
                                        <select name="train_time" lay-filter="train_time">
                                            <option value="1" {if $data['train_time']==1}selected{/if}>现在</option>
                                            <option value="2" {if $data['train_time']==2}selected{/if}>定时</option>
                                        </select>
                                    </div>
                                    <div class="regular_time" style="display:{if $data['train_time']==2}block{else}none{/if}">
                                        <input type="text" class="layui-input" id="starttime" name="starttime" value="{$data['starttime']}" placeholder="同步时间">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="margin-top: 25px;text-align: center;">
                <div>
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="component-form-element2">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script src="./static/hadmin/assets/layui/xm-select.js"></script>
<script type="text/javascript">
    layui.use(['layer','form','laydate','upload','colorpicker'],function(){
        var laydate = layui.laydate,
            layer = layui.layer,
            form  = layui.form,
            $ = layui.jquery,
            upload = layui.upload,
            colorpicker = layui.colorpicker;

        laydate.render({
            elem: '#starttime',
            format: 'yyyy-MM-dd HH:mm:ss',
            min: '-0',
            type:'datetime'//指定元素
        });

        form.on('select(train_time)',function(data){
            let val = data.value;

            if(val==1){
                $(this).parents(':eq(3)').find('.regular_time').hide();
            }
            else if(val==2){
                $(this).parents(':eq(3)').find('.regular_time').show();
            }
        });

        form.on('submit(component-form-element2)', function(data){
            // JSON.stringify()
            // console.log(data.field);return false;
            layer.load();
            $.ajax({
                url:"{:Url('admin/model/save_package_setting')}",
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    layer.closeAll('loading');
                    layer.msg(res.msg,{time:2000}, function () {
                        if(res.code == 0)
                        {
                            parent.location.reload();
                        }
                    });
                },
                error:function (data) {
                    layer.msg('系统错误',{time:2000});
                }
            });
            return false;
        });
    });
</script>
</body>
</html>