<li {if $_GPC['do']=='config'}class="active"{/if}><a href="{php echo $this->createWebUrl('config');}">基本设置</a></li>
<li {if $_GPC['do']=='class'}class="active"{/if}><a href="{php echo $this->createWebUrl('class');}">分类设置</a></li>
<li {if $_GPC['do']=='viplevel'}class="active"{/if}><a href="{php echo $this->createWebUrl('viplevel');}">VIP设置</a></li>
<li {if $_GPC['do']=='slide'}class="active"{/if}><a href="{php echo $this->createWebUrl('slide');}">广告幻灯片</a></li>
<li {if $_GPC['do']=='notice'}class="active"{/if}><a href="{php echo $this->createWebUrl('notice');}">公告管理</a></li>
<!--<li {if $_GPC['do']=='menu'}class="active"{/if}><a href="{php echo $this->createWebUrl('menu');}">页栏目设置</a></li>-->