{include file='iot/header'}
<body style="background: url(./static/iot/images/index_bg.jpg) no-repeat fixed center; background-size: cover;">
<link rel="stylesheet" href="./static/iot/css/equip.css">
<div class="whole">
    <div class="header">
        <div class="toplogo"><img src="./static/iot/images/top-logo.png" alt=""></div>
        <h2 class="title">设备管理</h2>
    </div>
    <div class="content">
        <div class="index">
            <a href="{:Url('iot/devicelist')}">
                <div class="equip_bg">
                    <img src="./static/iot/images/icon_big03.png" alt="">
                    <div class="equip_text">门禁</div>
                </div>
            </a>
            <a href="#"  onclick="javascript:alert('等待上线');">
                <div class="equip_bg">
                    <img src="./static/iot/images/icon_big05.png" alt="">
                    <div class="equip_text">照明</div>
                </div>
            </a>
            <a href="#"  onclick="javascript:alert('等待上线');">
                <div class="equip_bg">
                    <img src="./static/iot/images/icon_big06.png" alt="">
                    <div class="equip_text">电器</div>
                </div>
            </a>
            <a href="#" onclick="javascript:alert('等待上线');">
                <div class="equip_bg">
                    <img src="./static/iot/images/icon_big07.png" alt="">
                    <div class="equip_text">电源</div>
                </div>
            </a>
        </div>
    </div>
</div>
{include file='iot/menu'}
</body>
</html>
