{include file='iot/header'}
<body style="background: url(./static/iot/images/index_bg.jpg) no-repeat fixed center; background-size: cover;">
<link rel="stylesheet" href="./static/iot/css/index.css">
<div class="whole">
    <div class="header">
        <div class="toplogo"><img src="./static/iot/images/top-logo.png" alt=""></div>
        <h2 class="title">首页</h2>
    </div>
    <div class="content">
        <div class="invite" style="margin-top: 20%;">
            <a href="{:Url('iot/devicecate')}">
                <div class="pic">
                    <img src="./static/iot/images/index_01.png" alt="">
                </div>
            </a>
            <a href="#" onclick="javascript:alert('等待上线');">
                <div class="pic">
                    <img src="./static/iot/images/index_02.png" alt="">
                </div>
            </a>
        </div>

    </div>
</div>
{include file='iot/menu'}
</body>
</html>
