<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Cache-Control" content="no-cache"/>
<title>{$title} - {$config['webtitle']}</title>
<meta http-equiv="description" content="" />
<meta name="renderer" content="webkit"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<meta name="description" content="" id="description"/>
<meta name="keywords" content=""/>

<link rel="stylesheet" href="{$templateurl}css/wap_css.css" type="text/css"/>
<script src="{$templateurl}js/jquery-1.8.0.min.js" language="javascript"></script>

<!--分页 start-->
<link rel="stylesheet" href="{$templateurl}css/pase.css" type="text/css"/>
<!--分页 end-->
</head>

<body>
<div class="banji">
	<div class="tiobgbj"><h1>{$srdb['titlename']}</h1><a href="{php echo $this->createMobileUrl('jz_theclass');}"> < 返回</a></div>
    
    
    <div class="banjifld">
          	<div style="overflow:scroll;">
          	<font>            
				<a href="{$urltk}" {if $op == '0'}class="active"{/if}>班级信息</a>
				<a href="{$urltk}&op=1" {if $op == '1'}class="active"{/if}>班级通知</a>
				<a href="{$urltk}&op=2" {if $op == '2'}class="active"{/if}>班级作业</a>
            </font>
            </div>
          </div>
          
          