<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Cache-Control" content="no-cache"/>
<title>{$titlename} - {$config['webtitle']}</title>
<meta http-equiv="description" content="" />
<meta name="renderer" content="webkit"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<meta name="description" content="" id="description"/>
<meta name="keywords" content=""/>
<link rel="stylesheet" href="{$templateurl}css/wap_css.css" type="text/css"/>

</head>

<body>
<div class="cuotidiankai">
	<div class="a1">
    <p style="text-align:center; font-size:16px;"><a href="{$urlt}" style="float:left;"><</a>组卷中心</p>
    </div>
	<script type="text/javascript">
	function checkinfo() {
		var titlename = document.getElementById("titlename").value;
		if (titlename == ""){
			alert("标题名称不能为空!");
			document.getElementById("titlename").focus();
			return false; 
		}
	}
	</script>
	<form name="formt" action="{$urlt}&tab=chongzuo" method="post" onSubmit="return checkinfo(this);" class="form">
	<input name="token" type="hidden" value="{$_W['token']}" />
	<input name="type" type="hidden" value="{$type}" />
	{if $type == 1}
    <div class="z1">
    	您将在本次作业的中抽取所有错题进行组卷重做，试卷可以在我的练习题中查看。
    </div>
	{else}
	<input name="parentid_all" type="hidden" value="{$parentid_all}" />
	<div class="z1">
    	您将在<strong>{$total_zsdid}</strong>个知识点中随机抽取题目进行组卷测验，试卷可以在我的练习题中查看。
    </div>
    <div class="z1">
    	<P>请选择每知识点抽取题目的最大数量</P>
        <select name="numbpl">
        	<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
			<option value="16">16</option>
			<option value="17">17</option>
			<option value="18">18</option>
			<option value="19">19</option>
			<option value="20">20</option>
        </select>
    </div>
	{/if}
    <div class="z1">
    	<P>请设定作业的标题名称</P>
       <input type="text" name="titlename" value="{$titlename}{php echo date('Y-m-d h:i:s', time());}" placeholder="例如：错题组卷2018-12-12" />
    </div>
	<input type="submit" name="add_submit" value="确定并开始做题" class="z1a">
	</form>
</div>
<div class="clear"></div>

</body>
</html>
