<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Cache-Control" content="no-cache"/>
<title>我的班级 - {$config['webtitle']}</title>
<meta http-equiv="description" content="" />
<meta name="renderer" content="webkit"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<meta name="description" content="" id="description"/>
<meta name="keywords" content=""/>
<link rel="stylesheet" href="{$templateurl}css/wap_css.css" type="text/css"/>
<script src="{$templateurl}js/jquery-1.8.0.min.js" language="javascript"></script>
<!--分页 start-->
<link rel="stylesheet" href="{$templateurl}css/pase.css" type="text/css"/>
<!--分页 end-->
</head>

<body>
<div class="banji">
	<div class="tiobgbj"><h1>我的班级管理</h1></div>
    
    
    <div class="banjifld">
       <div style="overflow:scroll;">
          	<font>            
            	<a href="{$urltk}" {if $xkid == '0'}class="active"{/if}>全部</a>
          		{loop $category $value}
            	<a href="{$urltk}&xkid={$value['cid']}" {if $xkid == $value['cid']}class="active"{/if}>{$value['name']}</a>
				{/loop}
            </font>
       </div>
    </div>
          
          
	<div class="banjine">
	    {if $list}
		{loop $list $key $value}
		<div class="a1">
			<a class="b1" href="{php echo $this->createMobileUrl('m_theclass_show');}&id={$value['id']}">
				<img src="{php echo tomedia($value[imgurl]);}" />
				<font><h2>{$category_nj[$value[njid]]['name']}{$category[$value[xkid]]['name']}-{$value['titlename']}-{$value['name']}老师班<br /><span>老师：{$value['name']}老师</span><span>{php echo date('Y年m月d日', $value['dateline']);}创建</span></h2></font>
				<h3><i class="iconfont">&#xe6b6;</i>{$xstotal[$value['id']]}</h3>
				<div class="clear"></div>
				<h4>班级编号：{$value['numberid']}</h4>
				<div class="clear"></div>
			</a>
			{loop $notice[$value['id']] $valuesd}
			<div class="b2"><a href="{php echo $this->createMobileUrl('notice_show');}&id={$valuesd['id']}">{$valuesd['titlename']}</a></div>
			{/loop}
            <div class="b2" style="text-align:right;"><a href="{php echo $this->createMobileUrl('m_problem');}&lsuid={$value['lsuid']}">我要提问</a></div>
		</div>
		{/loop}
		{else}
		<div class="a1" style="padding-top:20px;padding-bottom:20px; text-align:center;">抱歉！未找到相应班级！</div>
		{/if}
		<div style="text-align:center;">{$pager}</div>
		
	</div>
    
</div>
<div class="clear"></div>
<div class="clear"></div>

<!--footer strat-->
{template 'footer'}

</body>
</html>
