<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no">
<title>班级通知 - {$config['webtitle']}</title>

<script src="{$templateurl}js/jquery-1.8.0.min.js" language="javascript"></script>

<link rel="stylesheet" href="{$templateurl}css/wap_weui.min.css?v=2.0.8" />
<link rel="stylesheet" href="{$templateurl}css/font-awesome.min.css?v=2.0.8"/>
<link rel="stylesheet" href="{$templateurl}css/index.css?v=2.0.8"/>
</head>

<body>
<div class="tabbar tabbar_wrap page_wrap">
  <div class="weui_tab">
    <link href="{$templateurl}css/article.css?v=2.0.8" rel="stylesheet" />
    <div class="header-2 cbox"> <a href="javascript:history.go(-1);" class="ico go-back"></a>
      <div class="flex title">班级通知</div>
    </div>
    <div class="rich_primary">
      <div class="rich_title">{$srdb['titlename']}</div>
      <div class="rich_mate">
        <div class="rich_mate_text">{php echo date('Y-m-d', $srdb['dateline']);}</div>
        <div class="rich_mate_text"></div>
        <div class="rich_mate_text href">{$author['name']}</div>
	  </div>
      <div class="rich_content">{$infotext}</div>
    </div>
    
  </div>
</div>

<!--footer strat-->
{template 'footer'}

</body>
</html>