<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Cache-Control" content="no-cache"/>
<title>数据统计 - {$config['webtitle']}</title>
<meta http-equiv="description" content="" />
<meta name="renderer" content="webkit"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<meta name="description" content="" id="description"/>
<meta name="keywords" content=""/>
<link rel="stylesheet" href="{$templateurl}css/css.css" type="text/css"/>
<script src="{$templateurl}js/jquery-1.8.0.min.js" language="javascript"></script>
</head>
<body>
<div class="banji">
	<div class="tiobgbj"><h1>数据统计</h1><a href="javascript:history.go(-1);"> < 返回</a></div>
</div>

<div class="jlshum">
	<h1>当前班级总数：<strong>{$total_bjnum}</strong></h1>
	<h1>上传题目总数：<strong>{$total_qnum}</strong></h1>
	<h1>学生总人数：<strong>{$total_xsnum}</strong></h1>
	<h1>布置作业总数：<strong>{$total_zynum}</strong></h1>
</div>

<div class="clear"></div>

<!--footer strat-->
{template 't_footer'}

</body>
</html>
