{template 't_theclass_header'}            
          
<div class="banjine">
<div class="a3">
	<a class="b1" href="{$urltk}&op={$op}&ob=xssearch" style="background:#fcfcfc;">
		<img src="{$templateurl}images/1111.jpg" />
		<font><h2>添加学生</h2></font>
	</a>
</div>
{if $list}
	{loop $list $key $value}
	<div class="a3">
		<a href="{php echo $this->createMobileUrl('t_theclass_students', array('bjid'=>$id,'uid'=>$value['uid']));}" class="b1">
			{if $value[headimg]}
			<img src="{php echo tomedia($value[headimg]);}" />
			{else}
			<img src="{$templateurl}images/DP3JS3PQPPP3owJUHS8qGeHepGP3w3.png" />
			{/if}
			<font><h2>{$value[name]}</h2></font>
		</a>
	</div>
	{/loop}
	<div style="text-align:center;">{$pager}</div>
{/if}
</div>
    
{template 't_theclass_footer'} 