{template 't_theclass_header'}          
          
          <div class="banjine">
          	<div class="a1">
                <a class="b1">
                    <img src="{php echo tomedia($srdb[imgurl]);}" onerror="this.src='./resource/images/nopic.jpg'; this.title='缩略图片未上传.'" />
                    <font><h2>{$category_nj[$srdb[njid]]['name']}{$category[$srdb[xkid]]['name']}-{$srdb['titlename']}-{$srdb['name']}老师班<br /><span>{php echo date('Y年m月d日', $srdb['dateline']);}创建</span></h2></font>
                    <h4>班级编号：{$srdb['numberid']}</h4>
                    <div class="clear"></div>
                </a>
                <div class="b2" style="text-align:center;">班级二维码<br /><img src="../addons/{$_GPC['m']}/data/bjqrcode/{$_W['uniacid']}/{$qrcode_url}" /></div>
            </div>
            <div class="zhuanban" style=" margin-bottom:30px;"><a href="{$url_edit}">修改信息</a></div>
         </div>
    
{template 't_theclass_footer'} 