<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Cache-Control" content="no-cache"/>
<title>找回密码 - {$config['webtitle']}</title>
<meta content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
<meta name="MobileOptimized" content="240" />
<meta http-equiv="Expires" content="0" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<link rel="stylesheet" href="{$templateurl}css/yun_wap_member.css" type="text/css"/>
<link rel="stylesheet" href="{$templateurl}css/wap_css.css" type="text/css"/>
<script src="{$templateurl}js/jquery-1.8.0.min.js" language="javascript"></script>
</head>

<body>
<div class="body_wap">
<header>
  <div class="header_bg"> <a class="hd-lbtn" href="{$urlt}"><i class="header_top_l iconfont"></i></a>
    <div class="header_h1">验证身份</div>
  </div>
</header>




<div class="password_box">
  <div class="password">
    <div class="flowsteps flowsteps_jj">
      <ul>
        <li class="flowsfrist"><span><i>1</i><em>用户名</em></span></li>
        <li class="flowsfrist" id="nav2"><span><i>2</i><em>验证身份</em></span></li>
        <li id="nav3"><span><i>3</i><em>重置密码</em></span></li>
        <li class="" id="nav4"><span><i id="shensu_i">4</i><em id="shensu_e">修改成功</em></span></li>
      </ul>
    </div>
    <div class="clear"></div>
    
    
    
  <div class="password_cont " id="step3_email">
    <div class="password_list  m10">
      <div class="password_list_s"> 我们已经向您的注册邮箱：<span class="password_list_s_c" id="step3_email_halt">{$username}</span>发送验证码邮件</div>
    </div>
	<form action="{$urlt}" method="post" enctype="multipart/form-data" class="js-ajax-form" onSubmit="return email_ckd();">
	<input type="hidden" name="token" value="{$_W['token']}" />
	<input type="hidden" name="op" value="{$op}" />
	<input type="hidden" name="type" value="email" />
	<input id="email" name="email" type="hidden" value="{$username}" >
    <ul class="password_cont_box">
      <li class="password_cont_box_list"><span class="password_cont_box_list_s">验证码：</span>
        <div class="password_cont_box_p">
          <input type="text" value="" placeholder="请输入邮箱验证码" class="password_list_text_new " name="code_email" maxlength="6">
        </div>
      </li>
      <li class="password_cont_box_list">
        <div class="password_cont_box_p step3_email_timer">如需从新发送，请<a href="javascript:;" class="password_a_dj">点击免费获取</a></div>
      </li>
    </ul>
    <div class="password_list m15">
      <input name="uid" type="hidden" value="{$user['uid']}" />
      <input type="submit" name="do_submit" value="下一步" class="password_list_bth" >
    </div>
	</form>
  </div>
  
  
  
  <div class="password_tip">
    <div class="password_tip_t">温馨提示：</div>
    <div>如手机号码已丢失且未绑定邮箱</div>
    <div>请拨打全国统一服务热线</div>
    <div class="password_tip_tel">{$config['telephone']}</div>
	{if $config['telephone']}
    <div class="password_tip_tel_link"><a href="tel:{$config['telephone']}"><i class="password_tip_tel_link_tel"></i>拨打</a></div>
	{/if}
  </div>
</div>
</div>
</div>

</body>
</html>