{template 'common/header'}
<div id="js-wesite-article-display">
    <div class="pull-right menu-content-tips">
        <a href="{$_W['siteurl']}&act=category" class="btn btn-primary we7-padding-horizontal">分类管理</a>
		<a href="{$_W['siteurl']}&act=caseadd" class="btn btn-primary we7-padding-horizontal">添加案例</a>
    </div>
    <br />

    <table class="table we7-table table-hover article-list vertical-middle">
        <col/>
        <col/>
        <col/>
        <tr>
            <th>ID</th>
            <th class="text-left">标题</th>
            <th class="text-left">分类</th>
            <th class="text-right">操作</th>
        </tr>
        {loop $lists $list}
        <tr>
            <td>{$list['id']}</td>
            <td class="text-left">{$list['title']}</td>
            <td class="text-left">{$list['categoryname']}</td>
            <td>
                <div class="link-group">
                    <a href="{$_W['siteurl']}&act=edit&mid={$list['id']}">编辑</a>
                    <a href="{$_W['siteurl']}&act=delete&mid={$list['id']}" class="del">删除</a>
                </div>
            </td>
        </tr>
        {/loop}
    </table>
    <div class="text-right we7-margin-top">
        {$pager}
    </div>
</div>
{template 'common/footer'}