{template 'common/header'}
<div id="js-wesite-article-display">
    <div class="pull-right menu-content-tips">
        <a href="{php echo str_replace('&act=category','',$_W['siteurl'])}&act=categoryadd" class="btn btn-primary we7-padding-horizontal">添加分类</a>
    </div>
    <br />

    <table class="table we7-table table-hover article-list vertical-middle">
        <col/>
        <col/>
        <col/>
        <tr>
            <th>ID</th>
            <th class="text-left">分类名</th>
            <th class="text-left">排序</th>
            <th class="text-right">操作</th>
        </tr>
        {loop $lists $list}
        <tr>
            <td>{$list['id']}</td>
            <td class="text-left">{$list['categoryname']}</td>
            <td class="text-left">{$list['ord']}</td>
            <td>
                <div class="link-group">
                    <a href="{php echo str_replace('&act=category','',$_W['siteurl'])}&act=categoryedit&mid={$list['id']}">编辑</a>
                    <a href="{php echo str_replace('&act=category','',$_W['siteurl'])}&act=categorydel&mid={$list['id']}" class="del">删除</a>
                </div>
            </td>
        </tr>
        {/loop}
    </table>
    <div class="text-right we7-margin-top">
        {$pager}
    </div>
</div>
{template 'common/footer'}