{template 'common/header'}

<form action="" method="post" class="article-post" enctype="multipart/form-data">
    <input type="hidden" name="mid" value="{$mid}">
	
    <div class="form-group">
        <label for="" class="control-label col-sm-2">标题</label>
        <div class="form-controls col-sm-8">
            <input type="text" class="form-control" name="title" value="{$list['title']}">
        </div>
    </div>
	<div class="form-group">
        <label for="" class="control-label col-sm-2">简介</label>
        <div class="form-controls col-sm-8">
            <input type="text" class="form-control" name="abstract" value="{$list['abstract']}">
        </div>
    </div>
	
	<div class="form-group">
        <label class="col-sm-2 control-label" style="text-align:left;">图片</label>
        <div class="form-controls col-sm-8">
			大小:46*46
            {php echo tpl_form_field_image('image', $list['image'], '');}
        </div>
    </div>
   
	
	
    <input name="submit" value="发布" class="btn btn-primary btn-submit" type="submit">
    <input type="hidden" name="token" value="{$_W['token']}" />
</form>
{template 'common/footer'}