{template 'common/header'}

<form action="" method="post" class="article-post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{$id}">
	
    <div class="form-group">
        <label for="" class="control-label col-sm-2">域名</label>
        <div class="form-controls col-sm-8">
			请不要输入http，只输入即可
            <input type="text" class="form-control" name="domain" value="{$list['domain']}">
        </div>
    </div>
	<div class="form-group">
        <label for="" class="control-label col-sm-2">用户名</label>
        <div class="form-controls col-sm-8">
			代理商用户名
			<input type="text" class="form-control" name="username" value="{$list['username']}">
        </div>
    </div>
	
    <input name="submit" value="发布" class="btn btn-primary btn-submit" type="submit">
    <input type="hidden" name="token" value="{$_W['token']}" />
	{if $_GPC['act']=="edit"}
	<input type="hidden" name="url" value="{php echo str_replace('&act=edit&mid='.$_GPC['mid'],'',$_W['siteurl'])}" />
	{else}
	<input type="hidden" name="url" value="{php echo str_replace('&act=solveadd','',$_W['siteurl'])}" />
	{/if}
</form>
{template 'common/footer'}